<div style="margin-bottom: 10px;font-weight: 500;text-align: right;">Tổng số lượng vật tư: <span class="text-danger">{{appCommon.fMoney(outData?.count)}}</span> tổng thành tiền <span class="text-danger">{{appCommon.fMoney(outData?.sum)}}</span></div>

<div class="tParentLoading">
  <div *ngIf="isProcess.listDataTable" class="tloading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
      <div class="loader">Loading...</div>
    </div>
  </div>
  <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
    <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
        <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
          {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="suppliesId">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>export-bill-item.suppliesId</span></th>
        <td mat-cell *matCellDef="let element"> <span class="text-name">({{element.supplies?.code}}) {{element.supplies?.name}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>supplies.unit</span></th>
        <td mat-cell *matCellDef="let element"> <span>{{element.supplies?.unit}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>export-bill-item.count</span></th>
        <td mat-cell *matCellDef="let element">
          <strong class="text-danger">{{appCommon.formatMoney(element.count,0,3)}}</strong>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>export-bill-item.price</span></th>
        <td mat-cell *matCellDef="let element"><strong class="text-danger">{{appCommon.formatMoney(element.price,0,3)}}</strong> </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>export-bill-item.total</span></th>
        <td mat-cell *matCellDef="let element"> <strong class="text-danger">{{appCommon.formatMoney(element.total,0,3)}}</strong> </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th width="110" mat-header-cell *matHeaderCellDef>
          <button (click)="search()" mat-raised-button class="m-1 btn-grid">
            <mat-icon class="icon-sm icon-btn">refresh</mat-icon>
          </button>
          <button roles-is="182" *ngIf="isEdit" (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-1 btn-grid">
            <mat-icon class="icon-sm icon-btn">add</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button roles-is="182" *ngIf="isEdit" (click)="exportBillItemDelete(element)" mat-raised-button color="warn" class="m-1 btn-grid">
            <mat-icon class="icon-sm">close</mat-icon>
          </button>

          <button roles-is="182" *ngIf="isEdit" (click)="openEditDialog(element)" mat-raised-button color="primary" class="m-1 btn-grid">
            <mat-icon class="icon-sm">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div #paginator_rec>
    <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>