<div class="header-t">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>Xem log API APP</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>Danh sách log</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh">
        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Hệ thống</mat-label>
              <mat-select [(value)]="params.systemType" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="'0'"><span translate>API APP</span></mat-option>
                <mat-option [value]="'1'"><span translate>API Backend</span></mat-option>
                <mat-option [value]="'2'"><span translate>Service Dock</span></mat-option>
                <mat-option [value]="'3'"><span translate>Service Controls</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Error/debug</mat-label>
              <mat-select [(value)]="params.isExeption" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="'true'"><span translate>Error</span></mat-option>
                <mat-option [value]="'false'"><span translate>Debug</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Loại log</mat-label>
              <mat-select [(value)]="params.type" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="'0'"><span translate>Bắt đầu</span></mat-option>
                <mat-option [value]="'1'"><span translate>Trong tiến trình</span></mat-option>
                <mat-option [value]="'2'"><span translate>Kết thúc</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label><span translate>Tài khoản khách hàng</span></mat-label>
              <mat-select [(value)]="params.accountId" placeholder="Tất cả">
                <mat-option>
                  <ngx-mat-select-search [formControl]="accountKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'" [searching]="isProcess.accountSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                </mat-option>
                <mat-option value="">Tất cả</mat-option>
                <mat-option *ngFor="let item of accounts; index as i;" [value]="item.id">
                  <strong>{{item.fullName}}</strong> | SĐT: {{item.phone}} | RFID: {{item.rfid}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Request ID</mat-label>
              <input matInput [(ngModel)]="params.logKey" autocomplete="off" placeholder="Request ID" type="text">
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Device key</mat-label>
              <input matInput [(ngModel)]="params.deviceKey" autocomplete="off" placeholder="Device key" type="text">
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Chức năng</mat-label>
              <input matInput [(ngModel)]="params.functionName" autocomplete="off" placeholder="Chức năng" type="text">
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Ngày thực hiện từ</mat-label>
              <input [(ngModel)]="params.date" matInput [matDatepicker]="pickerFrom">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="primary" (click)="search()" class="m-5px">
              <mat-icon class="icon-sm icon-btn">search</mat-icon>
            </button>
          </div>

        </div>
        <div class="tParentLoading">
          <div *ngIf="isProcess.listDataTable" class="tloading">
            <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
              <div class="loader">Loading...</div>
            </div>
          </div>
          <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
            <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                  {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="createTime">
                <th   mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Thời gian</span></th>
                <td mat-cell *matCellDef="let element" class="text-name"> {{element.createTime}} </td>
              </ng-container>

              <ng-container matColumnDef="accountId">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Tài khoản</span></th>
                <td mat-cell *matCellDef="let element"> {{element.accountId}} </td>
              </ng-container>

              <ng-container matColumnDef="logKey">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Request ID / DeviceKey</span></th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-danger">{{element.logKey}}</div>
                  <div class="text-info">{{element.deviceKey}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="functionName">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Chức năng</span></th>
                <td mat-cell *matCellDef="let element"> {{element.functionName}} </td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Loại log</span></th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.type == 0" class="text-danger">Bắt đầu</span>
                  <span *ngIf="element.type == 1" class="text-warning">Trong tiến trình</span>
                  <span *ngIf="element.type == 2" class="text-success">Kết thúc</span>
              </ng-container>

              <ng-container matColumnDef="content">
                <th style="width:600px;" mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Nội dung</span></th>
                <td mat-cell *matCellDef="let element">
                  <div style="width:600px; overflow-x: auto;">
                    {{element.content}}
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div #paginator_rec>
            <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>