<div>
  <div class="tParentLoading">
    <div *ngIf="isProcess.listDataTable" class="tloading">
      <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
        <div class="loader"><span translate>button.loading</span></div>
      </div>
    </div>

    <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow-y: auto;">
      <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">
        <ng-container matColumnDef="stt">
          <th #headTable_re mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"> <span translate>base.order</span> </th>
          <td [class.td_success]="element.status" [class.td_danger]="!element.status" mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
            {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear> <span translate>customer-group.name</span> </th>
          <td mat-cell *matCellDef="let element"> <span class="text-name">{{element.name}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear> <span translate>customer-group.note</span> </th>
          <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th width="120" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>customer-group.status</span></th>
          <td mat-cell *matCellDef="let element">
            <span class="text-danger" *ngIf="element.status == 0">Không sử dụng</span>
            <span class="text-success" *ngIf="element.status == 1">Sử dụng</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="isDefault">
          <th width="140" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>customer-group.isDefault</span></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="text-success" *ngIf="element.isDefault">check</mat-icon>
            <mat-icon class="text-danger" *ngIf="!element.isDefault">close</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th width="140" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>customer-group.createdDate</span></th>
          <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd/MM/yyyy HH:mm'}} </td>
        </ng-container>

        <ng-container matColumnDef="updatedDate">
          <th width="140" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>customer-group.updatedDate</span></th>
          <td mat-cell *matCellDef="let element"> {{element.updatedDate | date: 'dd/MM/yyyy HH:mm'}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th width="160" mat-header-cell *matHeaderCellDef>
            <button (click)="search()" mat-raised-button class="m-1 btn-grid">
              <mat-icon class="icon-sm icon-btn">refresh</mat-icon>
            </button>
            <button (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-1 btn-grid">
              <mat-icon class="icon-sm icon-btn">add</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let element">

            <button matTooltio="Cập nhật nội dung Tiếng Anh" (click)="openEditLanguageDialog(element.id, 'en')" mat-raised-button color="green" class="m-1 btn-grid">
              <mat-icon class="icon-sm">language</mat-icon>
          </button>
          
            <button (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
              <mat-icon class="icon-sm">edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div #paginator_rec>
      <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

<div *ngIf="isProcess.dialogOpen" class="pageLoadding">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader"><span translate>button.loading</span></div>
  </div>
</div>