<h1 mat-dialog-title><span translate>THÔNG TIN DỰ ÁN - <span class="text-danger">{{data.project.name}}</span></span></h1>
<a (click)="close()" title="Đóng cửa sổ" class="close btnclose-t">
	<span aria-hidden="true">×</span>
</a>
<div mat-dialog-content class="mat-dialog-content-full">
	<div class="body-modal">

		<mat-tab-group [selectedIndex]="viewType" (selectedTabChange)="matTabGroupChange($event,cg,ta,log)">
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">description</mat-icon>
					<span> Thông tin đơn vị</span>
				</ng-template>
				<div style="height: 15px;"></div>
				<div id="fix_detail"></div>
				<div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
					<div>
						<div class="row">
							<div class="col-md-6">
								<span class="label-note">
									<span translate>Thông tin dự án</span>
									<button (click)="openCustomersEditDialog()" title="Chỉnh sửa" mat-raised-button color="primary" class="m-1 btn-grid fixbutton-label">
										<mat-icon class="icon-sm">edit</mat-icon> <span translate>button.edit</span>
									</button>

									<button style="right:68px !important;" matTolltip="Cập nhật vị trí nhà điều hành" (click)="openHeadquarterDialog()" mat-raised-button color="green" class="m-1 btn-grid fixbutton-label">
										<mat-icon class="icon-sm">map</mat-icon> <span translate>Cập nhật vị trí trung tâm</span>
									</button>
								</span>

								<mat-form-field floatLabel="always" appearance="outline">
									<mat-label translate>project.name</mat-label>
									<input [disabled]="true" matInput [(ngModel)]="data.project.name">
								</mat-form-field>

								<mat-form-field floatLabel="always" appearance="outline">
									<mat-label translate>project.code</mat-label>
									<input [disabled]="true" matInput [(ngModel)]="data.project.code" placeholder="" type="text" maxlength="1000">
								</mat-form-field>

								<mat-form-field floatLabel="always" appearance="outline">
									<mat-label translate>project.status</mat-label>
									<input style="color: darkgreen;" *ngIf="data.project.status == 1" [disabled]="true" matInput value="Sử dụng">
									<input style="color: red;" *ngIf="data.project.status == 0" [disabled]="true" matInput value="Không sử dụng">
								</mat-form-field>

								<mat-form-field floatLabel="always" appearance="outline">
									<mat-label translate>project.description</mat-label>
									<textarea [disabled]="true" rows="5" matInput [(ngModel)]="data.project.description"></textarea>
								</mat-form-field>

								<div class="row">
									<div class="col-md-6">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>project.createdDate</mat-label>
											<input [disabled]="true" matInput value="{{data.project.createdDate | date:	'dd/MM/yyyy HH:mm'}}" type="text" maxlength="1000">
										</mat-form-field>
									</div>
									<div class="col-md-6">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>project.updatedDate</mat-label>
											<input [disabled]="true" matInput value="{{data.project.updatedDate | date:	'dd/MM/yyyy HH:mm'}}" type="text" maxlength="1000">
										</mat-form-field>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<span class="label-note">
									<span translate>Thông tin</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">supervised_user_circle</mat-icon>
					<span>Nhóm khách hàng</span>
				</ng-template>
				<div style="height: 15px;"></div>
				<div id="fix_detail"></div>
				<div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
					<div><app-projects-customer-groups #cg [project]="data.project" (isCommit)="refeshData()"></app-projects-customer-groups></div>
				</div>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">supervisor_account</mat-icon>
					<span> Khách hàng được phân nhóm trong dự án</span>
				</ng-template>
				<div style="height: 15px;"></div>
				<div id="fix_detail"></div>
				<div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
					<div>
						<app-projects-accounts #ta [project]="data.project"></app-projects-accounts>
					</div>
				</div>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">attach_money</mat-icon>
					<span> Bảng giá</span>
				</ng-template>
				<div style="height: 15px;"></div>
				<div id="fix_detail"></div>

				<div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
					<div *ngIf="isProcess.initData == false">
						<div *ngFor="let item of customerGroups">
							<span class="label-note">
								<span [class.text-success]="item.isDefault" translate>{{item.name}}</span>
							</span>
							<app-projects-ticket-prices [project]="data.project" [customerGroup]="item"></app-projects-ticket-prices>
						</div>
					</div>
				</div>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">event</mat-icon>
					<span> Lịch sử cập nhật</span>
				</ng-template>
				<div style="height: 15px;"></div>
				<div id="fix_detail"></div>
				<div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
					<div>
						<app-projects-log #log [project]="data.project"></app-projects-log>
					</div>
				</div>
			</mat-tab>

			<!-- <mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">lock</mat-icon>
					<span> Danh sách khóa</span>
				</ng-template>
				<div style="height: 15px;"></div>
				<div id="fix_detail"></div>
				<div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
					<div>
						<div class="row">
						
						</div>
					</div>
				</div>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">directions_bike</mat-icon>
					<span> Danh sách xe</span>
				</ng-template>
				<div style="height: 15px;"></div>
				<div id="fix_detail"></div>
				<div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
					<div>
						<div class="row">
						
						</div>
					</div>
				</div>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">beenhere</mat-icon>
					<span> Danh sách trạm</span>
				</ng-template>
				<div style="height: 15px;"></div>
				<div id="fix_detail"></div>
				<div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
					<div>
						<div class="row">
						
						</div>
					</div>
				</div>
			</mat-tab> -->

		</mat-tab-group>
	</div>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
	<div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
		<div class="loader"><span translate>button.loading</span></div>
	</div>
</div>