<div fxLayout="column" class="p-1" fxLayoutAlign="space-between none">
    <!-- XE THUÊ NHIỀU NHẤT -->
    <div class="chart-container">
        <span class="label-note" style="padding:0 10px;">Top 20 xe có số giờ thuê nhiều nhất</span>
        <ngx-charts-line-chart [view]="maxChart.view" [scheme]="maxChart.colorScheme" [legend]="maxChart.legend"
            [legendTitle]="maxChart.legendTitle" [showXAxisLabel]="maxChart.showXAxisLabel"
            [showYAxisLabel]="maxChart.showYAxisLabel" [xAxis]="maxChart.xAxis" [yAxis]="maxChart.yAxis"
            [xAxisLabel]="maxChart.xAxisLabel" [yAxisLabel]="maxChart.yAxisLabel" [timeline]="maxChart.timeline"
            [results]="maxChart.results" (select)="maxChart.onSelect($event)" (activate)="maxChart.onActivate($event)"
            (deactivate)="maxChart.onDeactivate($event)">
        </ngx-charts-line-chart>

    </div>

    <!-- XE THUÊ ÍT NHẤT -->
    <div class="chart-container">
        <span class="label-note" style="padding:0 10px;">Top 20 xe có số giờ thuê ít nhất</span>
        <ngx-charts-line-chart [view]="minChart.view" [scheme]="minChart.colorScheme" [legend]="minChart.legend"
            [legendTitle]="minChart.legendTitle" [showXAxisLabel]="minChart.showXAxisLabel"
            [showYAxisLabel]="minChart.showYAxisLabel" [xAxis]="minChart.xAxis" [yAxis]="minChart.yAxis"
            [xAxisLabel]="minChart.xAxisLabel" [yAxisLabel]="minChart.yAxisLabel" [timeline]="minChart.timeline"
            [results]="minChart.results" (select)="minChart.onSelect($event)" (activate)="minChart.onActivate($event)"
            (deactivate)="minChart.onDeactivate($event)">
        </ngx-charts-line-chart>

    </div>
</div>