<div class="header-t">
    <div fxLayout="row wrap">
        <div fxFlex="100" class="flex-p-15">
            <div class="breadcrumb_title" translate>dock.title</div>
            <ol class="breadcrumb">
                <li><a routerLink="/" translate>base.home</a></li>
                <li class="active" translate>dock.title-l</li>
            </ol>
        </div>
    </div>
</div>

<div class="can-page">
    <div fxLayout="column">
        <div class="flex-p-15 fix-page">
            <div class="box-sh">
                <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>bike.projectId</mat-label>
                            <mat-select [(ngModel)]="params.projectId" [(value)]="params.projectId"
                                placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option *ngFor="let item of categoryData.projects; index as i;"
                                    [value]="item.id.toString()">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>dock.connectionStatus</mat-label>
                            <mat-select [(ngModel)]="params.connectionStatus" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option [value]="'true'">Đang kết nối</mat-option>
                                <mat-option [value]="'false'">Không kết nối</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>dock.bookingStatus</mat-label>
                            <mat-select [(ngModel)]="params.bookingStatus" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option [value]="'0'">Chưa thuê</mat-option>
                                <mat-option [value]="'2'">Đang thuê</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>dock.status</mat-label>
                            <mat-select [(ngModel)]="params.status" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option [value]="0"><span translate>dock.status-0</span></mat-option>
                                <mat-option [value]="1"><span translate>dock.status-1</span></mat-option>
                                <mat-option [value]="2"><span translate>dock.status-2</span></mat-option>
                                <mat-option [value]="3"><span translate>dock.status-3</span></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>dock.charging-label</mat-label>
                            <mat-select [(ngModel)]="params.charging" placeholder="Tất cả">
                                <mat-option value="">Tất cả</mat-option>
                                <mat-option [value]="true">Đang sạc</mat-option>
                                <mat-option [value]="false">Không sạc</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>dock.producerId</mat-label>
                            <mat-select [(ngModel)]="params.producerId" placeholder="Tất cả">
                                <mat-option value="">Tất cả</mat-option>
                                <mat-option *ngFor="let item of categoryData.producers; index as i;" [value]="item.id">
                                    {{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                    <!-- <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>dock.modelId</mat-label>
                            <mat-select [(ngModel)]="params.modelId" placeholder="Tất cả">
                                <mat-option value="">Tất cả</mat-option>
                                <mat-option *ngFor="let item of categoryData.models | modelFilter: { producerId: params.producerId }; index as i;" [value]="item.id">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>Lượng pin nhỏ hơn hoặc bằng</mat-label>
                            <input matInput [(ngModel)]="params.battery" autocomplete="off"
                                placeholder="Lượng pin còn nhỏ hơn hoặc bằng" type="number">
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>Trạng thái khóa</mat-label>
                            <mat-select [(ngModel)]="params.lockStatus" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option [value]="true"><span translate>Đang khóa</span></mat-option>
                                <mat-option [value]="false"><span translate>Đang mở</span></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>base.searchKey</mat-label>
                            <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off"
                                placeholder="Từ khóa tìm kiếm IMEI, Serie, số đt" type="text">
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
                        <button mat-raised-button color="primary" (click)="search()" class="m-5px">
                            <mat-icon class="icon-sm icon-btn">search</mat-icon>
                        </button>
                        <button roles-is="48" (click)="openEditDialog(null)" mat-raised-button color="blue"
                            class="m-5px">
                            <mat-icon class="icon-sm icon-btn">add</mat-icon>
                        </button>
                        <button mat-raised-button color="warn" class="m-5px" (click)="export()"
                            [disabled]="isProcess.export">
                            <mat-icon *ngIf="isProcess.export" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                            <mat-icon *ngIf="!isProcess.export" class="icon-sm icon-btn">print</mat-icon>
                        </button>
                    </div>

                </div>
                <div class="tParentLoading">
                    <div *ngIf="isProcess.listDataTable" class="tloading">
                        <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
                            <div class="loader">Loading...</div>
                        </div>
                    </div>
                    <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]"
                        style="overflow: auto;">
                        <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData"
                            (matSortChange)="handleSortData($event)">

                            <ng-container matColumnDef="stt">
                                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
                                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                                    {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} 
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>dock.id</span></th>
                                <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                            </ng-container>

                            <ng-container matColumnDef="modelId">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Hãng SX / Mẫu mã</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div>{{ appCommon.getObj(categoryData.producers, element.producerId)}}</div>
                                    <div>{{ appCommon.getObj(categoryData.models, element.modelId)}}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="stationId">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>dock.stationId</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div>{{ appCommon.getObj(categoryData.stations, element.stationId) }}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="projectId">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Dự án / Đơn vị  đầu tư</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div title="Dự án">{{ appCommon.getObj(categoryData.projects, element.projectId)}}</div>
                                    <div title="Đơn vị đầu tư">{{ appCommon.getObj(categoryData.investors, element.investorId)}}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="bikeId">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>dock.bikeId</span></th>
                                <td mat-cell *matCellDef="let element"><span class="text-danger text-500">{{ element.bike?.plate }}</span></td>
                            </ng-container>

                            <ng-container matColumnDef="iMEI">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>QRCode / IMEI</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div title="QRCode" class="text-warning text-500">{{ element.serialNumber }} </div>
                                    <div title="IMEI" class="text-name">{{ element.imei }} </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="sim">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span  translate>dock.sim</span></th>
                                <td mat-cell *matCellDef="let element"> {{element.sim}} </td>
                            </ng-container>

                            <ng-container matColumnDef="model">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>dock.model</span></th>
                                <td mat-cell *matCellDef="let element"> {{element.model}} </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span  translate>dock.status</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.status == 0" class="text-warning" translate>bike.status-0</span>
                                    <span *ngIf="element.status == 1" class="text-success" translate>bike.status-1</span>
                                    <span title="{{element.warehouse?.name}}" *ngIf="element.status == 2"  class="text-danger" translate>bike.status-2</span>
                                    <span title="{{element.warehouse?.name}}" *ngIf="element.status == 3" class="text-danger" translate>bike.status-3</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="lockStatus">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear>TT khóa</th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-icon class="text-danger" *ngIf="element.lockStatus">lock</mat-icon>
                                    <mat-icon class="text-success" *ngIf="!element.lockStatus">lock_open</mat-icon>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="connectionStatus">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>dock.connectionStatus</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-icon class="text-success" *ngIf="element.connectionStatus">wifi</mat-icon>
                                    <mat-icon class="text-danger" *ngIf="!element.connectionStatus">wifi_off</mat-icon>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="battery">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span  translate>dock.battery</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <strong class="text-danger" *ngIf="element.battery < 10">{{element.battery}}</strong>
                                    <strong class="text-warning" *ngIf="element.battery <= 50 && element.battery >= 10">{{element.battery}}</strong>
                                    <strong class="text-success" *ngIf="element.battery > 50">{{element.battery}}</strong>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="charging">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span  translate>dock.charging</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-icon class="text-success" *ngIf="element.charging">battery_charging_full</mat-icon>
                                    <mat-icon class="text-info" *ngIf="!element.charging">battery_full</mat-icon>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="lastConnectionTime">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span  translate>dock.lastConnectionTime</span></th>
                                <td mat-cell *matCellDef="let element"> {{element.lastConnectionTime | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="bookingStatus">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>dock.bookingStatus</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="text-info" *ngIf="element.bookingStatus == 0 || element.bookingStatus == null">Chưa thuê</span>
                                    <span class="text-danger" *ngIf="element.bookingStatus == 2">Đang thuê</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="createdDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>ticket-prepaid.createdUser</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div><span class="text-500">{{element.createdUserObject?.displayName}}</span></div>
                                    <div><span class="">{{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="updatedDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span  translate>ticket-prepaid.updatedUser</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div><span class="text-500">{{element.updatedUserObject?.displayName}}</span></div>
                                    <div><span class="">{{element.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="note">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>dock.note</span></th>
                                <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th width="130" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <button roles-is="50" title="Gửi lệnh điều khiển khóa" (click)="openLockDialog(element)" mat-raised-button color="primary"  class="m-1 btn-grid">
                                        <mat-icon class="icon-sm">lock_open</mat-icon>
                                    </button>

                                    <button roles-is="48" (click)="openEditDialog(element)" mat-raised-button
                                        color="warn" class="m-1 btn-grid">
                                        <mat-icon class="icon-sm">edit</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div #paginator_rec>
                        <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)"
                            [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>