<div fxLayout="column" class="p-1" fxLayoutAlign="space-between none">

    <div fxLayout="row" fxFlex="100" class="p-0" fxLayoutAlign="start none">
        <mat-card fxFlex="50" fxLayout="row" class="p-0" fxLayoutAlign="start none"
            style="border-radius:5px !important;">
            <div fxFlex="none" class="bg-primary" fxLayout="row" fxLayoutAlign="space-around center"
                style="width:150px">
                <div style="font-weight: 400;">Khách hàng đăng ký</div>
            </div>
            <div fxFlex="75" fxLayout="row" class="p-1">
                <div fxFlex="50">
                    Tổng:
                    <span class="text-success"
                        style="font-size: 18px;font-weight: 500;">{{appCommon.formatMoney(commonInfo.new_customer_quantity,0,3)}}</span>
                </div>
                <div fxFlex="50">
                    <span>Trung bình/ngày: </span>
                    <span class="text-danger" style="font-size: 18px;font-weight: 500;">
                        {{appCommon.formatMoney(commonInfo.new_customer_quantity_avg,0,3)}}</span>
                </div>
            </div>
        </mat-card>
    </div>

    <!-- TỔNG LƯỢNG TÀI KHOẢN -->
    <div class="chart-container bar-chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ tổng số tài khoản</span>
        <div class="chart-wraper">
            <ngx-charts-bar-vertical [view]="totalChartConfig.view" [scheme]="totalChartConfig.colorScheme"
                [showDataLabel]="totalChartConfig.showDataLabel" [results]="totalChartConfig.results"
                [gradient]="totalChartConfig.gradient" [xAxis]="totalChartConfig.showXAxis"
                [yAxis]="totalChartConfig.showYAxis" [legend]="totalChartConfig.showLegend"
                [showXAxisLabel]="totalChartConfig.showXAxisLabel" [showYAxisLabel]="totalChartConfig.showYAxisLabel"
                [xAxisLabel]="totalChartConfig.xAxisLabel" [yAxisLabel]="totalChartConfig.yAxisLabel">
            </ngx-charts-bar-vertical>
        </div>

    </div>

    <!-- TRUNG BÌNH TÀI KHOẢN -->
    <!-- <div class="chart-container bar-chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ trung bình tài khoản trên ngày</span>

        <div class="chart-wraper">
            <ngx-charts-bar-vertical [view]="avgChartConfig.view" [scheme]="avgChartConfig.colorScheme"
                [showDataLabel]="avgChartConfig.showDataLabel" [results]="avgChartConfig.results"
                [gradient]="avgChartConfig.gradient" [xAxis]="avgChartConfig.showXAxis"
                [yAxis]="avgChartConfig.showYAxis" [legend]="avgChartConfig.showLegend"
                [showXAxisLabel]="avgChartConfig.showXAxisLabel" [showYAxisLabel]="avgChartConfig.showYAxisLabel"
                [xAxisLabel]="avgChartConfig.xAxisLabel" [yAxisLabel]="avgChartConfig.yAxisLabel"
                (select)="avgChartConfig.onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
    </div> -->

    <!-- XU HƯỚNG NGÀY TRONG TUẦN -->
    <div class="chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ thống kê theo ngày trong tuần</span>

        <ngx-charts-bar-vertical [view]="dayTrendChartConfig.view" [scheme]="dayTrendChartConfig.colorScheme"
            [showDataLabel]="dayTrendChartConfig.showDataLabel" [results]="dayTrendChartConfig.results"
            [gradient]="dayTrendChartConfig.gradient" [xAxis]="dayTrendChartConfig.showXAxis"
            [yAxis]="dayTrendChartConfig.showYAxis" [legend]="dayTrendChartConfig.showLegend"
            [showXAxisLabel]="dayTrendChartConfig.showXAxisLabel" [showYAxisLabel]="dayTrendChartConfig.showYAxisLabel"
            [xAxisLabel]="dayTrendChartConfig.xAxisLabel" [yAxisLabel]="dayTrendChartConfig.yAxisLabel">
        </ngx-charts-bar-vertical>
    </div>

    <!-- XU HƯỚNG GIỚI TÍNH -->
    <div class="chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ xu hướng giới tính</span>

        <ngx-charts-area-chart-stacked [view]="sexTrendChartConfig.view" [scheme]="sexTrendChartConfig.colorScheme"
            [legend]="sexTrendChartConfig.legend" [legendTitle]="sexTrendChartConfig.legendTitle"
            [showXAxisLabel]="sexTrendChartConfig.showXAxisLabel" [showYAxisLabel]="sexTrendChartConfig.showYAxisLabel"
            [xAxis]="sexTrendChartConfig.xAxis" [yAxis]="sexTrendChartConfig.yAxis"
            [xAxisLabel]="sexTrendChartConfig.xAxisLabel" [yAxisLabel]="sexTrendChartConfig.yAxisLabel"
            [timeline]="sexTrendChartConfig.timeline" [results]="sexTrendChartConfig.results">
        </ngx-charts-area-chart-stacked>
    </div>

    <!-- XU HƯỚNG ĐỘ TUỔI -->
    <div class="chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ xu hướng độ tuổi</span>

        <ngx-charts-area-chart-stacked [view]="ageTrendChartConfig.view" [scheme]="ageTrendChartConfig.colorScheme"
            [legend]="ageTrendChartConfig.legend" [legendTitle]="ageTrendChartConfig.legendTitle"
            [showXAxisLabel]="ageTrendChartConfig.showXAxisLabel" [showYAxisLabel]="ageTrendChartConfig.showYAxisLabel"
            [xAxis]="ageTrendChartConfig.xAxis" [yAxis]="ageTrendChartConfig.yAxis"
            [xAxisLabel]="ageTrendChartConfig.xAxisLabel" [yAxisLabel]="ageTrendChartConfig.yAxisLabel"
            [timeline]="ageTrendChartConfig.timeline" [results]="ageTrendChartConfig.results">
        </ngx-charts-area-chart-stacked>
    </div>

</div>