<div class="header-t">
    <div fxLayout="row wrap">
        <div fxFlex="100" class="flex-p-15">
            <div class="breadcrumb_title" translate>project.title</div>
            <ol class="breadcrumb">
                <li><a routerLink="/" translate>base.home</a></li>
                <li class="active" translate>project.title-l</li>
            </ol>
        </div>
    </div>
</div>

<div class="can-page">
    <div fxLayout="column">
        <div class="flex-p-15 fix-page">
            <div class="box-sh">
                <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

                    <div fxFlex="15" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>dock.status</mat-label>
                            <mat-select [(ngModel)]="params.status" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option [value]="'1'">Sử dụng</mat-option>
                                <mat-option [value]="'0'">Không sử dụng</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>base.searchKey</mat-label>
                            <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off" placeholder="Tìm theo tên và mã" type="text">
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
                        <button mat-raised-button color="primary" (click)="search()" class="m-5px">
                            <mat-icon class="icon-sm icon-btn">search</mat-icon>
                        </button>
                        <button (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-5px">
                            <mat-icon class="icon-sm icon-btn">add</mat-icon>
                        </button>
                        <button mat-raised-button color="warn" class="m-5px" (click)="export()" [disabled]="isProcess.export">
                            <mat-icon *ngIf="isProcess.export" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                            <mat-icon *ngIf="!isProcess.export" class="icon-sm icon-btn">print</mat-icon>
                        </button>
                    </div>

                </div>
                <div class="tParentLoading">
                    <div *ngIf="isProcess.listDataTable" class="tloading">
                        <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
                            <div class="loader">Loading...</div>
                        </div>
                    </div>
                    <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
                        <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

                            <ng-container matColumnDef="stt">
                                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
                                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                                    {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="id">
                                <th width="100" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>
                                    <span translate>project.id</span>
                                </th>
                                <td mat-cell *matCellDef="let element"> <strong class="text-info">{{
                                        appCommon.pad(element.id, 6) }}</strong> </td>
                            </ng-container>

                            <ng-container matColumnDef="code">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>project.code</span></th>
                                <td mat-cell *matCellDef="let element"> <span class="text-warning">{{element.code}}</span> </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>project.name</span></th>
                                <td mat-cell *matCellDef="let element"><span class="text-name">{{element.name}}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>project.description</span></th>
                                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                            </ng-container>

                            <ng-container matColumnDef="isPrivate">
                                <th width="120" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>
                                    <span translate>project.isPrivate</span>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <strong class="text-danger" *ngIf="element.isPrivate">Nội bộ</strong>
                                    <strong class="text-info" *ngIf="!element.isPrivate">Mở rộng</strong>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th width="120" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>
                                    <span translate>project.status</span>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="text-danger" *ngIf="element.status == 0">Không sử dụng</span>
                                    <span class="text-success" *ngIf="element.status == 1">Sử dụng</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="createdDate">
                                <th width="140" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>
                                    <span translate>project.createdDate</span>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd/MM/yyyy
                                    HH:mm'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="updatedDate">
                                <th width="140" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>
                                    <span translate>project.updatedDate</span>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.updatedDate | date: 'dd/MM/yyyy
                                    HH:mm'}} </td>
                            </ng-container>


                            <ng-container matColumnDef="createdUser">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>project.createdUser</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <span>{{element.createdUserObject?.displayName}}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="updatedUser">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>project.updatedUser</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <span>{{element.updatedUserObject?.displayName}}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th width="200" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
                                <td mat-cell *matCellDef="let element">

                                    <button matTooltio="Cập nhật nội dung Tiếng Anh" (click)="openEditLanguageDialog(element.id, 'en')" mat-raised-button color="green" class="m-1 btn-grid">
                                        <mat-icon class="icon-sm">language</mat-icon>
                                    </button>

                                    <button (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
                                        <mat-icon class="icon-sm">edit</mat-icon>
                                    </button>

                                    <button matTolltip="Cập nhật vị trí nhà điều hành" (click)="openHeadquarterDialog(element)" mat-raised-button color="green" class="m-1 btn-grid">
                                        <mat-icon class="icon-sm">map</mat-icon>
                                    </button>

                                    <button (click)="openDetailsDialog(element)" title="Chi tiết" mat-raised-button color="accent" class="m-1 btn-grid">
                                        <mat-icon class="icon-sm">list</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div #paginator_rec>
                        <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>