<h1 mat-dialog-title><span translate>CHUYỂN ĐIỂM TỪ TÀI KHOẢN NÀY ĐẾN TÀI KHOẢN KHÁC</span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" role="form">



                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label><span translate>Tài khoản gửi</span></mat-label>
                        <mat-select required formControlName="giftFromAccountId" placeholder="Chọn khách hàng">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="accountFromKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'" [searching]="isProcess.accountFromSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option>Chọn</mat-option>
                            <mat-option *ngFor="let item of accountsFrom; index as i;" [value]="item.id">
                                <strong>{{item.fullName}}</strong> | GT: 
                                <strong *ngIf = "item.sex == 0">Nữ</strong>
                                <strong *ngIf = "item.sex == 1">Nam</strong>
                                <strong *ngIf = "item.sex == 2">Khác</strong>
                                | SĐT: {{item.phone}} | RFID: {{item.rfid}}
                                | Loại TK: <span translate *ngIf="item.type == 0">account.type-0</span><span translate *ngIf="item.type == 1">account.type-1</span><span translate *ngIf="item.type == 2">account.type-2</span>
                                | TT: <span translate class="text-warning" *ngIf="item.status == 0">account.status-0</span><span translate class="text-success" *ngIf="item.status == 1">account.status-1</span><span translate class="text-danger" *ngIf="item.status == 2">account.status-2</span>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.giftFromAccountId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label><span translate>Tài khoản nhận</span></mat-label>
                        <mat-select required formControlName="giftToAccountId" placeholder="Chọn khách hàng">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="accountToKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'" [searching]="isProcess.accountToSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option>Chọn</mat-option>
                            <mat-option *ngFor="let item of accountsTo; index as i;" [value]="item.id">
                                <strong>{{item.fullName}}</strong> | GT: 
                                <strong *ngIf = "item.sex == 0">Nữ</strong>
                                <strong *ngIf = "item.sex == 1">Nam</strong>
                                <strong *ngIf = "item.sex == 2">Khác</strong>
                                | SĐT: {{item.phone}} | RFID: {{item.rfid}}
                                | Loại TK: <span translate *ngIf="item.type == 0">account.type-0</span><span translate *ngIf="item.type == 1">account.type-1</span><span translate *ngIf="item.type == 2">account.type-2</span>
                                | TT: <span translate class="text-warning" *ngIf="item.status == 0">account.status-0</span><span translate class="text-success" *ngIf="item.status == 1">account.status-1</span><span translate class="text-danger" *ngIf="item.status == 2">account.status-2</span>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.giftToAccountId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label><span translate>Loại điểm</span></mat-label>
                        <mat-select required formControlName="pointType" placeholder="Chọn khách hàng">
                            <mat-option [value]="0">Điểm</mat-option>
                            <mat-option [value]="1">Điểm khuyến mãi</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.pointType.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Số điểm</mat-label>
                        <input required currencyMask [options]="appCommon.moneyInputFormat()" class="money-style" matInput formControlName="amount" placeholder="" type="text" min="5000" max="10000000">
                        <mat-error *ngIf="form.controls.amount.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.amount.hasError('min')" translate [translateParams]="{n: '5000'}">validate.min</mat-error>
                        <mat-error *ngIf="form.controls.amount.hasError('max')" translate [translateParams]="{n: '10000000'}">validate.max</mat-error>
                    </mat-form-field>
                  
                    <app-file-upload-attached [accept]="categoryData.imagesType" (outData) = "getOutPut($event)" [multiple] = "true" [apiUpload]="pathUpload" [curentFiles] ="[]"></app-file-upload-attached>
                    
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>wallet-transaction.note</mat-label>
                        <textarea rows="10" required matInput formControlName="note" placeholder="Ghi chú thông tin bắt buộc" type="text" maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.note.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>