﻿@{
    Layout = null;
}
<style>
    .allPage
    {
        width:100%;
        text-align:center;
        padding-top:20px;
    }
    .allPage h1
    {

    }
</style>
<div class="allPage">
    <h1>NẠP TIỀN THẤT BẠI</h1>
    <div>Click quay lại và thử lại các bước</div>
</div>