﻿@model TN.Domain.Model.AccountModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý tài khoản khách hàng";
    Layout = null;
}
<form class="ajaxValidateForm usergroup" asp-action="Edit">
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title"><i class="material-icons">edit</i> CẬP NHẬT TÀI KHOẢN KHÁCH HÀNG</h4>
    </div>
    <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        <div class="divmodal p-t-0 p-b-0">
            <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-t" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#tab1" data-toggle="tab">
                            <i class="material-icons">face</i> Thông tin chung
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="labelinfo-t bg-info mb-10">
                                    Ảnh đại diện
                                </div>
                                <div class="thumbnail imgfull avatar m-b-10">
                                    <div class="image">
                                        <img alt="avatar" onerror="this.onerror=null;this.src = '/Content/Admin/images/no-avatar.jpg';" src="@(Model.Avatar??" ")" class="img-responsive imgAvatar">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Tên khách hàng</label>
                                            <div class="controls">
                                                <input type="text" disabled="disabled" class="form-control input-sm form-control-t" value="@Model.LastName  @Model.FirstName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label" asp-for="Birthday"></label>
                                            <div class="controls">
                                                <input type="text" disabled="disabled" class="form-control input-sm form-control-t" value="@Model.Birthday?.ToShortDateString()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="form-label" asp-for="Sex"></label>
                                            <div class="controls">
                                                <input type="text" disabled="disabled" class="form-control input-sm form-control-t" value="@Model.Sex">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" asp-for="Username"></label>
                                            <div class="controls">
                                                <input type="text" disabled="disabled" class="form-control input-sm form-control-t" value="@Model.Username">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" asp-for="Etag"></label> <strong class="col-red">*</strong> <span asp-validation-for="Etag"></span>
                                            <div class="controls">
                                                <input type="text" class="form-control input-sm form-control-t" asp-for="Etag">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" asp-for="Email"></label>
                                            <div class="controls">
                                                <input type="text" disabled="disabled" class="form-control input-sm form-control-t" value="@Model.Email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" asp-for="Phone"></label>
                                            <div class="controls">
                                                <input type="text" disabled="disabled" class="form-control input-sm form-control-t" value="@Model.Phone">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="Address"></label>
                                    <div class="controls">
                                        <textarea type="text" disabled="disabled" class="form-control input-sm form-control-t" rows="2" asp-for="Address"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="Type"></label>
                                    <div>
                                        @if (Model.Type == TN.Domain.Model.Account.EAccountType.Diamond)
                                        {
                                            <span class="label bg-light-green">Kim cương</span>
                                        }
                                        @if (Model.Type == TN.Domain.Model.Account.EAccountType.Gold)
                                        {
                                            <span class="label bg-amber">Vàng</span>
                                        }
                                        @if (Model.Type == TN.Domain.Model.Account.EAccountType.Normal)
                                        {
                                            <span class="label bg-grey">Thường</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="Status"></label>
                                    <div>
                                        @if (Model.Status == TN.Domain.Model.Account.EStatus.Active)
                                        {
                                            <span class="label bg-green">Online</span>
                                        }
                                        @if (Model.Status == TN.Domain.Model.Account.EStatus.Inactive)
                                        {
                                            <span class="label bg-grey">Offline</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a class="close" data-dismiss="modal" style="display:none;"></a>
        <a class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Đóng</span></a>
        <button data-checked data-role-32 data-action="@Url.Action("Delete",new { id = Model.Id})" data-returnurl="@TN.Extensions.Functions.FormatReturnUrl(Context.Request.Query["returnurl"], Url.Action("Index"))" data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Xóa</span>" type="button" class="btn btn-icon  btn-p-t  btn-danger waves-effect btndelete"><i class="material-icons">delete_forever</i> <span>Xóa</span></button>
        <a data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" class="btn btn-icon bg-indigo waves-effect ajaxSubmit"><i class="material-icons">save</i> <span>Lưu thay đổi</span></a>
    </div>
</form>
<script>
    initAjaxSubmit(function (rs) {
        alertify.notify(rs.message, rs.type, 5);
        if (rs.output == 1) {
            $(".close").click();
            reGetDataGrid();
        }
    });
    initAjaxDelete();
</script>
