﻿@model TN.Domain.Model.BaseSearchModel<List<TN.Domain.Model.Account>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    int i = 1;
}
@if (Model.TotalRows == 0)
{
    <tr>
        <td colspan="999">Không tìm thấy bản ghi nào</td>
    </tr>
}
@foreach (var item in Model.Data)
{
    <tr>
        <td class="text-center trcheck"><input type="checkbox" id="item_@i" class="filled-in chk-col-indigo" /><label for="item_@i"></label></td>
        <td>
            <img onerror="this.onerror=null;this.src = '/Content/Admin/images/no-avatar.jpg';" src="@(item.Avatar??"#")" width="30" />
        </td>
        <td><span class="text-primary text-name">@item.Username</span> </td>
        <td>@item.FirstName @item.LastName</td>
        <td>@item.Etag</td>
        <td>@item.Email</td>
        <td>@item.Phone</td>
        <td>
            @if (item.Type == TN.Domain.Model.Account.EAccountType.Normal)
            {
                <span class="label bg-grey">Normal</span>
            }
            else if (item.Type == TN.Domain.Model.Account.EAccountType.Gold)
            {
                <span class="label bg-amber">Vàng</span>
            }
            else if (item.Type == TN.Domain.Model.Account.EAccountType.Diamond)
            {
                <span class="badge bg-light-green">Kim cương</span>
            }
        </td>
        <td>
            @if (item.Status == TN.Domain.Model.Account.EStatus.Active)
            {
                <span class="badge bg-green">Online</span>
            }
            else if (item.Status == TN.Domain.Model.Account.EStatus.Inactive)
            {
                <span class="badge bg-grey">Offline</span>
            }
        </td>
        <td data-checked data-role-31>
            <div class="btn-group">
                <div class="btn-group btn- group-sm" role="group">
                    <a data-checked data-role-31 asp-route-returnurl="@Model.ReturnUrl" data-namemodal="#myModal" asp-action="Edit" asp-route-id="@item.Id" title="Cập nhật tài khoản" class="btn bg-indigo waves-effect btnPopup btncontrolgrid"><i class="material-icons iconcontrol">edit</i></a>
                </div>
            </div>
        </td>
    </tr>
    i++;
}
<script>
    initPopup();
    bindPagination("#bindPagination", "getDataGrid", @Model.Page, @Model.TotalRows, @Model.Limit);
    bindNumRow("#showNumRow", @Model.Page, @Model.TotalRows, @Model.Limit);
</script>