<div class="header-export">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>Báo cáo quản lý danh mục</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>Danh sách báo cáo</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">

      <div class="box-sh mb-20">

        <span class="label-export"><span translate="" ng-reflect-translate="">DỰ ÁN</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('project')"
              [disabled]="isProcess.project">
              <mat-icon *ngIf="isProcess.project" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.project" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>
      </div>

      <div class="box-sh mb-20">

        <span class="label-export"><span translate="" ng-reflect-translate="">ĐƠN VỊ ĐẦU TƯ</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('investor')"
              [disabled]="isProcess.investor">
              <mat-icon *ngIf="isProcess.investor" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.investor" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>
      </div>

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">MÃ MÀU</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('color')"
              [disabled]="isProcess.color">
              <mat-icon *ngIf="isProcess.color" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.color" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>

      </div>

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">MẪU THIẾT BỊ</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('model')"
              [disabled]="isProcess.model">
              <mat-icon *ngIf="isProcess.model" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.model" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>

      </div>

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">NHÀ SẢN XUẤT</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('producer')"
              [disabled]="isProcess.producer">
              <mat-icon *ngIf="isProcess.producer" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.producer" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>

      </div>

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">CẤU HÌNH ĐỔI ĐIỂM</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('redeemPoint')"
              [disabled]="isProcess.redeemPoint">
              <mat-icon *ngIf="isProcess.redeemPoint" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.redeemPoint" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>