<h1  mat-dialog-title><span translate>Xử lý nghi vấn giao dịch</span> - 
    <span class="text-warning" *ngIf="data.status == 1" translate>booking-fail.status-1</span>
    <span class="text-success" *ngIf="data.status == 2" translate>booking-fail.status-2</span>
    <span class="text-danger" *ngIf="data.status == 3" translate>booking-fail.status-3</span>
    <span class="text-danger" *ngIf="data.status == 4" translate>booking-fail.status-4</span>
</h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Biển số</mat-label>
                            <input [disabled]="true" class="text-name text-500" matInput value="{{ data.bike?.plate }}">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>QR Code</mat-label>
                            <input [disabled]="true" class="text-danger text-500" matInput value="{{ data.bike?.dock?.serialNumber }}">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Tên khách hàng</mat-label>
                            <input [disabled]="true" matInput value="{{data.account?.fullName}}">
                        </mat-form-field>
                        
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Số dư tài khoản chính</mat-label>
                            <input class="money-style" [disabled]="true" matInput value="{{ appCommon.fMoney(data.wallet?.balance) }}">
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Mã giao dịch</mat-label>
                            <input [disabled]="true" class="text-500" style="color: #283593;" matInput value="{{ data.transactionCode }}">
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Thời bắt đầu chuyến đi</mat-label>
                            <input [disabled]="true" matInput value="{{ data.createdDate | date: 'dd/MM/yyyy HH:mm:ss' }}">
                        </mat-form-field>

                    </div>

                    <div class="col-md-6">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>SĐT</mat-label>
                            <input [disabled]="true" matInput value="{{data.account?.phone}}">
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Số dư tài khoản khuyến mãi</mat-label>
                            <input class="money-style" [disabled]="true" matInput value="{{ appCommon.fMoney(data.wallet?.subBalance) }}">
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Tổng số phút đi ước tính</mat-label>
                            <input [disabled]="true" matInput value="{{ data.totalMinutes }}">
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Chi phí ước tính</mat-label>
                            <input class="money-style" [disabled]="true" matInput value="{{ appCommon.fMoney(data.totalPrice) }}">
                        </mat-form-field>
                    </div>
                </div>

                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label translate>Loại vé</mat-label>
                    <textarea [disabled]="true" matInput rows="3" placeholder="">{{data.ticketPrice_Note}}</textarea>
                </mat-form-field>

                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Ghi chú</mat-label>
                        <textarea required matInput rows="5" formControlName="note" placeholder="" maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.note.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('minlength')" translate [translateParams]="{n: '5'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button roles-is="248" *ngIf="data.status == 1" type="button" (click)="save(4)" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">close</mat-icon>
        <span translate>Hủy nghi vấn này</span>
    </button>
    <button roles-is="248" *ngIf="data.status == 1" type="button" (click)="save(2)" mat-raised-button color="green" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">add</mat-icon>
        <span translate> Tạo giao dịch</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>