<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>import-bill-item.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>import-bill-item.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <div *ngIf="data.id==0">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label><span translate>Vật tư</span></mat-label>
                            <mat-select required formControlName="suppliesId" placeholder="Tất cả">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="suppliesKey"
                                        [placeholderLabel]="'Tìm kiếm theo mã, tên vật tư'"
                                        [searching]="isProcess.suppliesSearching"
                                        [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let item of supplies; index as i;" [value]="item.id">
                                    <strong>{{item.code}} | </strong>
                                    <strong>{{item.name}}</strong>
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls.suppliesId.errors?.required" translate>validate.required
                            </mat-error>
                        </mat-form-field>
                    </div>


                    <div *ngIf="data.id>0">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>import-bill-item.suppliesId</mat-label>
                            <input readonly matInput required value="{{data.supplies.name}}" placeholder="" type="text">
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>import-bill-item.count</mat-label>
                                <input matInput currencyMask [options]="appCommon.moneyInputFormat()"
                                    class="money-style" required formControlName="count" placeholder="" type="text"
                                    maxlength="1000000">
                                <mat-error *ngIf="form.controls.count.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>import-bill-item.price</mat-label>
                                <input matInput currencyMask [options]="appCommon.moneyInputFormat()"
                                    class="money-style" required formControlName="price" placeholder="" type="text"
                                    maxlength="1000000000">
                                <mat-error *ngIf="form.controls.price.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <app-file-upload-attached [viewPath]="importBillsService.viewPath()" [params]="{ isPrivate: true }"
                        [accept]="categoryData.imagesType" (outData)="getOutPut($event)" [multiple]="true"
                        [apiUpload]="importBillsService.uploadPath()" [curentFiles]="uploadFileOut">
                    </app-file-upload-attached>


                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>import-bill-item.note</mat-label>
                        <textarea matInput formControlName="note" placeholder="" rows="5" maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate
                            [translateParams]="{ n: '1000' }">validate.maxlength</mat-error>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="dialog-footer">
    <button *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1"
        [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1"
        [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>