<h1 mat-dialog-title><span translate>role.modal-create</span></h1>
<a (click)="close()" title="Đóng cửa sổ" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="p-0">
            <form [formGroup]="form"  fxLayout="row wrap" class="user-form p-1" role="form">
                <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>role.name</mat-label>
                        <input required matInput autocomplete="off" placeholder="Tên quyền" formControlName="name" type="text">
                        <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('minlength')" translate
                        [translateParams]="{n: '5'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate
                        [translateParams]="{n: '100'}">validate.maxlength</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>role.type</mat-label>
                        <mat-select [(value)]="data.type" required formControlName="type" placeholder="Chọn">
                            <mat-option *ngFor="let item of roletypes; index as i;" [value]="item.value">
                                {{item.text}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.type.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>
                </div>
                
                <div fxFlex="100">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>role.description</mat-label>
                        <textarea rows="3" matInput placeholder="Mô tả" formControlName="description"></textarea>
                        <mat-error *ngIf="form.controls.description.hasError('maxlength')" translate
                        [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="dialog-footer">
        <button type="button" (click)="save()" mat-raised-button color="primary"
        [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>
