.loader {
    margin: 100px auto;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 0.5s infinite ease;
    animation: load5 0.5s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #0080ff, 1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2),
            2.5em 0em 0 0em rgba(0, 128, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 128, 255, 0.2),
            0em 2.5em 0 0em rgba(0, 128, 255, 0.2), -1.8em 1.8em 0 0em rgba(0, 128, 255, 0.2),
            -2.6em 0em 0 0em rgba(0, 128, 255, 0.5), -1.8em -1.8em 0 0em rgba(0, 128, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 128, 255, 0.7), 1.8em -1.8em 0 0em #0080ff,
            2.5em 0em 0 0em rgba(0, 128, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 128, 255, 0.2),
            0em 2.5em 0 0em rgba(0, 128, 255, 0.2), -1.8em 1.8em 0 0em rgba(0, 128, 255, 0.2),
            -2.6em 0em 0 0em rgba(0, 128, 255, 0.2), -1.8em -1.8em 0 0em rgba(0, 128, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 128, 255, 0.5), 1.8em -1.8em 0 0em rgba(0, 128, 255, 0.7),
            2.5em 0em 0 0em #0080ff, 1.75em 1.75em 0 0em rgba(0, 128, 255, 0.2), 0em 2.5em 0 0em rgba(0, 128, 255, 0.2),
            -1.8em 1.8em 0 0em rgba(0, 128, 255, 0.2), -2.6em 0em 0 0em rgba(0, 128, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 128, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 128, 255, 0.5),
            2.5em 0em 0 0em rgba(0, 128, 255, 0.7), 1.75em 1.75em 0 0em #0080ff, 0em 2.5em 0 0em rgba(0, 128, 255, 0.2),
            -1.8em 1.8em 0 0em rgba(0, 128, 255, 0.2), -2.6em 0em 0 0em rgba(0, 128, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 128, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2),
            2.5em 0em 0 0em rgba(0, 128, 255, 0.5), 1.75em 1.75em 0 0em rgba(0, 128, 255, 0.7), 0em 2.5em 0 0em #0080ff,
            -1.8em 1.8em 0 0em rgba(0, 128, 255, 0.2), -2.6em 0em 0 0em rgba(0, 128, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 128, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2),
            2.5em 0em 0 0em rgba(0, 128, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 128, 255, 0.5),
            0em 2.5em 0 0em rgba(0, 128, 255, 0.7), -1.8em 1.8em 0 0em #0080ff, -2.6em 0em 0 0em rgba(0, 128, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 128, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2),
            2.5em 0em 0 0em rgba(0, 128, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 128, 255, 0.2),
            0em 2.5em 0 0em rgba(0, 128, 255, 0.5), -1.8em 1.8em 0 0em rgba(0, 128, 255, 0.7), -2.6em 0em 0 0em #0080ff,
            -1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 128, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2),
            2.5em 0em 0 0em rgba(0, 128, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 128, 255, 0.2),
            0em 2.5em 0 0em rgba(0, 128, 255, 0.2), -1.8em 1.8em 0 0em rgba(0, 128, 255, 0.5),
            -2.6em 0em 0 0em rgba(0, 128, 255, 0.7), -1.8em -1.8em 0 0em #0080ff;
    }
}
@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #0080ff, 1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2),
            2.5em 0em 0 0em rgba(0, 128, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 128, 255, 0.2),
            0em 2.5em 0 0em rgba(0, 128, 255, 0.2), -1.8em 1.8em 0 0em rgba(0, 128, 255, 0.2),
            -2.6em 0em 0 0em rgba(0, 128, 255, 0.5), -1.8em -1.8em 0 0em rgba(0, 128, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 128, 255, 0.7), 1.8em -1.8em 0 0em #0080ff,
            2.5em 0em 0 0em rgba(0, 128, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 128, 255, 0.2),
            0em 2.5em 0 0em rgba(0, 128, 255, 0.2), -1.8em 1.8em 0 0em rgba(0, 128, 255, 0.2),
            -2.6em 0em 0 0em rgba(0, 128, 255, 0.2), -1.8em -1.8em 0 0em rgba(0, 128, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 128, 255, 0.5), 1.8em -1.8em 0 0em rgba(0, 128, 255, 0.7),
            2.5em 0em 0 0em #0080ff, 1.75em 1.75em 0 0em rgba(0, 128, 255, 0.2), 0em 2.5em 0 0em rgba(0, 128, 255, 0.2),
            -1.8em 1.8em 0 0em rgba(0, 128, 255, 0.2), -2.6em 0em 0 0em rgba(0, 128, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 128, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 128, 255, 0.5),
            2.5em 0em 0 0em rgba(0, 128, 255, 0.7), 1.75em 1.75em 0 0em #0080ff, 0em 2.5em 0 0em rgba(0, 128, 255, 0.2),
            -1.8em 1.8em 0 0em rgba(0, 128, 255, 0.2), -2.6em 0em 0 0em rgba(0, 128, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 128, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2),
            2.5em 0em 0 0em rgba(0, 128, 255, 0.5), 1.75em 1.75em 0 0em rgba(0, 128, 255, 0.7), 0em 2.5em 0 0em #0080ff,
            -1.8em 1.8em 0 0em rgba(0, 128, 255, 0.2), -2.6em 0em 0 0em rgba(0, 128, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 128, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2),
            2.5em 0em 0 0em rgba(0, 128, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 128, 255, 0.5),
            0em 2.5em 0 0em rgba(0, 128, 255, 0.7), -1.8em 1.8em 0 0em #0080ff, -2.6em 0em 0 0em rgba(0, 128, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 128, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2),
            2.5em 0em 0 0em rgba(0, 128, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 128, 255, 0.2),
            0em 2.5em 0 0em rgba(0, 128, 255, 0.5), -1.8em 1.8em 0 0em rgba(0, 128, 255, 0.7), -2.6em 0em 0 0em #0080ff,
            -1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 128, 255, 0.2), 1.8em -1.8em 0 0em rgba(0, 128, 255, 0.2),
            2.5em 0em 0 0em rgba(0, 128, 255, 0.2), 1.75em 1.75em 0 0em rgba(0, 128, 255, 0.2),
            0em 2.5em 0 0em rgba(0, 128, 255, 0.2), -1.8em 1.8em 0 0em rgba(0, 128, 255, 0.5),
            -2.6em 0em 0 0em rgba(0, 128, 255, 0.7), -1.8em -1.8em 0 0em #0080ff;
    }
}

.mat-table {
    width: 100%;
    // border: 1px solid #ddd;
    border-collapse: collapse;
}
.mat-table thead th {
    font-weight: 600;
    color: #333 !important;
    background: #eee !important;
}
.mat-table td {
    padding: 2px 10px !important;
    border: 1px solid #ddd;
}
.mat-table th {
    padding: 2px 10px !important;
    border: 1px solid #ddd;
    border-top: none;
}
tr.mat-footer-row,
tr.mat-row {
    height: 35px !important;
}
tr.mat-header-row {
    height: 35px !important;
}
.mat-cell,
.mat-footer-cell {
    font-size: 13px !important;
}

.menu-item .mat-button-wrapper {
    font-size: 13px;
    font-weight: 500;
}

.tParentLoading {
    position: relative;
    overflow: hidden;
}
.tParentLoading .tloading {
    position: absolute;
    // background: rgba(238, 238, 238, 0.2);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999;
}

.card-content-table {
    padding: 0 !important;
    margin: 0;
}
.loading-t {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #33333317;
}
.tloading .user-spinner {
    margin-top: 10%;
}
.card-table .mat-card-title h3 {
    font-size: 13px;
    font-weight: 400;
}
.mat-card {
    border-radius: 0px !important;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9 !important;
}

.table-control {
    padding: 10px;
}
.mat-raised-button {
    border-radius: 2px !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 32px !important;
    padding: 0 12px !important;
}
.btn-grid {
    min-width: 35px !important;
    line-height: 25px !important;
    padding: 0 8px !important;
}

// .app.indigo-light .mat-input-element {
//     caret-color: #283593;
//     border: 1px solid #ddd !important;
//     padding: 5px 10px !important;
//     font-size: 13px !important;
// }

.paginator-table {
    border: 1px solid #ddd;
    border-top: none;
}
.box-sh {
    box-shadow: 1px 1px 10px rgba(66, 66, 66, 0.2);
}
.mat-progress-spinner svg {
    width: 40px !important;
    height: 40px !important;
}
.mat-progress-spinner {
    width: 40px !important;
    height: 40px !important;
}
.text-name {
    color: #283593;
    font-weight: 500;
}
input.form-control {
    border-radius: 0 !important;
    height: 32px !important;
    font-size: 13px;
}
textarea.form-control {
    border-radius: 0 !important;
    font-size: 13px;
}
.input-group-addon {
    border-radius: 0;
}
.form-search {
    padding: 10px 10px 8px 10px;
    border-bottom: 1px solid #ddd;
    background: #fefefe;
    border-radius: 3px 3px 0px 0;
}
.icon-btn {
    position: relative;
    top: -2px;
}
.mat-green {
    background-color: green !important;
    color: #fff !important;
    font-weight: 500;
}
.mat-blue {
    background-color: #1976d2 !important;
    color: #fff !important;
    font-weight: 500;
}
.inner-sidenav-content {
    padding: 0px !important;
}
.can-page {
    margin-top: 80px;
    z-index: 9;
}
.header-t {
    background: #1976d2;
    height: 200px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 0;
    border-top: 1px solid #4b9def73;
}
.flex-p-15 {
    padding: 15px 20px !important;
}
.breadcrumb_title {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.breadcrumb-t {
    box-shadow: none !important;
    background: none !important;
    padding: 0 !important;
}
.breadcrumb-title {
    margin-left: 5px;
    color: #fff;
}
.fix-page {
    z-index: 9;
}
.input-group-addon {
    font-weight: 500;
    font-size: 13px;
}
.app.indigo-light .mat-toolbar-row,
.app.indigo-light .mat-toolbar-single-row {
    height: 40px !important;
}
.app.indigo-light .mat-toolbar {
    padding: 0 8px;
    min-height: 40px !important;
}
.inner-sidenav-content {
    top: 40px !important;
}

.breadcrumb {
    background: none;
    padding-left: 0 !important;
}
.breadcrumb a {
    color: #fff !important;
    font-size: 13px;
}
.breadcrumb li.active {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
}
//     mat-toolbar.flex-p-x.mat-toolbar.mat-primary.mat-toolbar-single-row
//     {
//         // background: #fff !important;
//     }
//     mat-toolbar.flex-p-x.mat-toolbar.mat-primary.mat-toolbar-single-row .mat-icon-no-color
//     {
// // color: #333;
//     }
.inline-block {
    display: inline-block;
}
.mat-dialog-content {
    margin: 0;
    padding: 0;
}
.mat-dialog-container {
    background: #fefefe;
    padding: 8px 10px 0px 10px !important;
}
.body-modal {
    border: 1px solid #ddd;
    padding: 15px 15px;
    background: #fff;
    box-shadow: 1px 5px 5px #ddd;
}
.app.indigo-light .mat-dialog-container {
    background: #f5f5f5;
}
.mat-dialog-title {
    margin: 0 !important;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}
.mat-dialog-container {
    overflow: inherit !important;
}
// .mat-error
// {
//     border: 1px solid #ffe5e5;
//     background: #c60909 !important;
//     padding: 2px 10px !important;
//     border-radius: 4px !important;
//     position: absolute;
//     display: inline-block !important;
//     box-shadow: 3px 3px 7px #aaa;
//     top: -11px;
//     color: #fff !important;
//     right: 20px;
//     white-space: nowrap;
//     font-size: 12px;
//     z-index: 9999999;
//     font-size: 11px;
// }
// .mat-error:before {
//     content: '';
//     width: 0;
//     height: 0;
//     border-left: 8px solid transparent;
//     border-right: 8px solid transparent;
//     border-top: 10px solid #c51244;
//     position: absolute;
//     bottom: -10px;
//     right: 6px;
// }
.dialog-default {
    width: 900px;
}
.control-label {
    font-size: 13px !important;
    font-weight: 500 !important;
}
// .error-input
// {
//     border-color:red;
// }
.mat-select {
    border-radius: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
}
.btnclose-t {
    display: inline-block !important;
    border: 1px solid #ccc !important;
    padding: 4px 9px !important;
    border-radius: 100px !important;
    background-color: #fff !important;
    position: absolute !important;
    top: -13px !important;
    right: -12px !important;
    opacity: 1 !important;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.mat-dialog-container {
    position: relative;
}
.dialog-footer {
    text-align: center;
    padding: 5px 0 10px 0;
    background: #eee;
}
.icon-spin {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.required {
    color: red;
}
body .pageLoadding {
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999999;
}
.pageLoadding .user-spinner {
    margin-top: 20%;
}
.dialog-confirmation {
    background: #fff;
}
.user-block.show {
    height: 74px !important;
}
.user-block img {
    width: 54px !important;
}
.user-block .user-info-wrapper .user-info .name {
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #283593 !important;
}
.user-block .user-info-wrapper {
    margin: 10px 0 !important;
}
.user-block .user-info-wrapper .user-info {
    text-align: left !important;
}
.icon-td {
    font-size: 22px !important;
    line-height: 22px !important;
    height: 22px !important;
    width: 22px !important;
}
.icon-btn {
    top: 0px !important;
}
.dialog-lg {
    width: 100%;
}
// .cdk-overlay-pane
// {
//     max-width: 96vw !important;
// }
.label-note {
    display: block;
    padding: 8px 10px;
    background: #eee;
    font-weight: 500;
    border-left: 4px solid #283593;
    margin-bottom: 15px;
    position: relative;
}

.label-note-red {
    border-left: 4px solid red;
}
.label-note-green {
    border-left: 4px solid green;
}
.mat-radio-group {
    margin-top: 4px;
    display: inline-block;
}
.mat-radio-label {
    margin-right: 10px;
}
.input-group-addon-t {
    padding: 1px 7px !important;
}
// .form-group
// {
//     margin-bottom: 20px !important;
// }
.can-checkbox {
    position: relative;
    top: 5px;
}
.mat-datepicker-toggle-default-icon {
    width: 18px;
}
.input-group-addon-t .mat-icon-button {
    width: 27px !important;
    height: 27px !important;
    line-height: 27px !important;
}
.bl-none {
    border-left: none;
}
.user-form .mat-form-field {
    width: 100%;
    margin-bottom: -0.2em;
}
mat-form-field.mat-form-field.mat-form-field-appearance-outline
    > div.mat-form-field-wrapper
    > div.mat-form-field-flex
    > div.mat-form-field-infix {
    padding: 0.2em 0px 0.6em 0px;
}
mat-form-field.mat-form-field.mat-form-field-appearance-outline
    > div.mat-form-field-wrapper
    > div.mat-form-field-flex
    > div.mat-form-field-infix
    > span.mat-form-field-label-wrapper {
    top: -1.5em;
    font-weight: bold;
    font-size: 15px;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
}
.mat-form-field-hide-placeholder .mat-form-field-label {
    font-weight: 500;
    font-size: 13px;
    top: 2em;
}
.mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 3px 0 0 3px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 3px 3px 0 !important;
}
.mat-form-field-subscript-wrapper {
    top: calc(100% - 2em) !important;
}
.mat-form-field-wrapper {
    padding-bottom: 1.1em !important;
}
.form-button {
    width: 100%;
    background: #f3f3f3;
    padding: 10px;
    text-align: center;
}
.p-search .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}
.mat-form-field {
    width: 100%;
}
.form-input-wrap {
    padding: 6px 0;
}
.canCheckbox {
    position: relative;
    left: 10px;
    top: 7px;
}
.can-checkbox-form-t {
    line-height: 40px;
}

.mat-input-table .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    margin: 0 !important;
}
.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
    line-height: 2.5em !important;
    height: 2.5em !important;
}
.mat-form-field-label-wrapper .ng-star-inserted {
    color: #333;
}
.mat-input-element {
    font-size: 13px !important;
}
.mat-select-value-text .ng-star-inserted {
    font-size: 13px !important;
}
.mat-option-text {
    font-size: 13px !important;
}
.m-5px {
    margin: 5px !important;
}

.mat-dialog-content {
    max-height: 80vh !important;
}
.box-lich-su-benh {
    padding: 15px;
    border: #eee 1px solid;
    box-shadow: 0px 0px 8px #eee;
}
.box-lich-su-benh .can-checkbox-form {
    margin-bottom: 5px;
}
.mat-tab-body-content {
    overflow: hidden !important;
}

.mat-option .mat-icon {
    font-size: 16px;
}
.mat-select-search-inside-mat-option .mat-select-search-clear {
    top: 4px !important;
    line-height: 31px !important;
    width: 31px !important;
    height: 31px !important;
}
.can-checkbox-form-2 {
    line-height: 55px;
    position: relative;
    top: -8px;
}
.can-radio-form {
    line-height: 55px;
    position: relative;
    top: -8px;
}

.md-check-default .mat-radio-outer-circle {
    border-color: #ccc !important;
}
.md-check-default .mat-radio-inner-circle {
    background-color: #ccc !important;
}

.md-check-green .mat-radio-outer-circle {
    border-color: green !important;
}
.md-check-green .mat-radio-inner-circle {
    background-color: green !important;
}

.md-check-red .mat-radio-outer-circle {
    border-color: red !important;
}
.md-check-red .mat-radio-inner-circle {
    background-color: red !important;
}

.md-check-blue .mat-radio-outer-circle {
    border-color: blue !important;
}
.md-check-blue .mat-radio-inner-circle {
    background-color: blue !important;
}

.md-check-gold .mat-radio-outer-circle {
    border-color: orangered !important;
}
.md-check-gold .mat-radio-inner-circle {
    background-color: orangered !important;
}

.md-check-blueviolet .mat-radio-outer-circle {
    border-color: blueviolet !important;
}
.md-check-blueviolet .mat-radio-inner-circle {
    background-color: blueviolet !important;
}

.td-default {
    border-left: 6px solid #333 !important;
}

.td-green {
    border-left: 6px solid #3c763d !important;
}

.td-gold {
    border-left: 6px solid orangered !important;
}

.td-blue {
    border-left: 6px solid blue !important;
}

.td-blueviolet {
    border-left: 6px solid blueviolet !important;
}

.ngx-timepicker {
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    height: 36px !important;
    border-radius: 3px;
    position: relative;
    top: 3px;
}
.ngx-material-timepicker-toggle svg {
    position: relative;
    top: 4px;
}
.ngx-timepicker-control__input {
    font-size: 13px !important;
}
.text-default {
    color: #333;
}

.text-green {
    color: green;
}

.text-gold {
    color: orange;
}

.text-blue {
    color: blue;
}

.text-green {
    color: green;
}
.text-red {
    color: red;
}

.text-blueviolet {
    color: blueviolet;
}
.mat-dialog-content-full {
    max-height: 98vh !important;
}
.fixbutton-label {
    position: absolute !important;
    right: 3px !important;
    top: 2px !important;
}
.can-radio-form-label {
    position: relative;
    top: 3px;
    font-weight: 500;
    margin-right: 10px;
}
.app.indigo-light .mat-input-element:disabled,
.app.indigo-light .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: #333;
}
.mat-select-disabled .ng-star-inserted {
    color: #333;
}
.dialog-full {
    max-width: 100vw !important;
    max-height: 100vh !important;
    height: 100% !important;
    width: 100% !important;
}
.dialog-full .mat-dialog-container {
    border-radius: 0;
}
.dialog-full .btnclose-t {
    top: 2px !important;
    right: 2px !important;
}
.format-so-tien {
    margin-right: 10px;
    font-size: 14px;
}

.mat-standard-chip {
    min-height: 16px !important;
    font-size: 13px !important;
    padding: 10px 12px !important;
}
.mat-chip-input {
    margin: 0 !important;
    line-height: 24.5px !important;
    padding-left: 4px !important;
}
.mat-chip-list-wrapper .mat-standard-chip {
    margin: 2px 4px 2px 4px !important;
}
.text-success {
    color: #3c763d !important;
}
.text-danger {
    color: #a31c1c !important;
}
.text-warning {
    color: #c97b14 !important;
}
.format-so-tien-2 {
    margin-top: 10px;
    display: block;
    text-align: right;
}

.text-500 {
    font-weight: 500 !important;
}

.GJXF1JNDLTB {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    border-radius: 2px;
    cursor: zoom-in;
    background-color: #ddd;
    margin-bottom: 25px;
    border: 1px solid #ddd;
}
// .mat-dialog{ transition: none; }
.pageLoadding .icon-spin {
    font-size: 40px !important;
    line-height: 40px !important;
    height: 40px !important;
    width: 40px !important;
    color: #283593 !important;
}

.hiddent {
    visibility: initial;
    opacity: 1;
    transition: visibility 0s 2s, opacity 2s linear;
}
.cal-event-title {
    text-decoration: none !important;
}
.cal-event-title:hover {
    text-decoration: none !important;
}
.cal-month-view .cal-open-day-events {
    background: #fff;
    color: #333;
    box-shadow: inset 0 0 15px 0 rgb(232, 37, 37);
}
.cal-event-action i {
    color: #283593;
}
.cal-event-action:hover i {
    color: #333;
}
.badge-default {
    background: silver;
}

.badge-blueviolet {
    background: blueviolet;
}

.badge-gold {
    background: gold;
}

.badge-blue {
    background: blue;
}

.badge-green {
    background: green;
}

.badge-red {
    background: red;
}
.cell-totals .badge {
    margin-left: 2px;
    margin-right: 2px;
}
.cal-day-number {
    color: #000 !important;
    opacity: 1 !important;
}
.app.indigo-light .cal-month-view .cal-cell.cal-has-events.cal-ope {
    background-color: rgb(255, 146, 183) !important;
}
.bg-default {
    background: #eee;
}
.day-view-column-header {
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    border: none;
    margin: 1px;
    font-size: 9px;
    font-weight: 500;
}
.day-view-column-headers {
    margin-top: 5px;
    margin-bottom: 5px;
}
.dialog-loading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.2;
}
.dialog-loading .user-spinner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0.01;
        width: 100%;
        height: 100%;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 0.2;
    }
    25% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.2;
    }
    75% {
        opacity: 0.1;
    }
    99% {
        opacity: 0.01;
        width: 100%;
        height: 100%;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.hidden-loading {
    -webkit-animation: fadeOut 0.1s;
    animation: fadeOut 0.1s;
    animation-fill-mode: forwards;
}
.format-so-tien-3 {
    position: absolute;
    right: 0;
    top: 10px;
    margin-right: 0;
}
.cancel-status *,
.cancel-status {
    text-decoration: line-through;
}
.style-action {
    color: #333;
}
.mat-menu-item {
    line-height: 38px !important;
    height: 38px !important;
}
.btn-action-calenda {
    line-height: 30px !important;
    height: 30px !important;
    width: 20px !important;
}
.canstatus {
    position: absolute;
    top: 6px;
    right: 7px;
}
span.cal-event {
    display: none !important;
}
.can-status-2 {
    position: relative;
    top: -1px;
}
.cal-event {
    border-width: 2px !important;
}
.money-style {
    color: red !important;
    font-weight: 500 !important;
}
.td_success {
    border-left: 3px solid green !important;
}
.td_danger {
    border-left: 3px solid red !important;
}
.td_info {
    border-left: 3px solid #1976d2 !important;
}
.td_warning {
    border-left: 3px solid orange !important;
}
.dialog-lg-max-height {
    max-width: 80vw !important;
    // max-height: 80vh !important;
    // height: 80% !important;
    width: 80% !important;
}
.mat-cell .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    padding-top: 7px !important;
}
.dialog-1100 {
    width: 1100px;
}
.dialog-500 {
    width: 500px;
}

.dialog-600 {
    width: 600px;
}
.dialog-700 {
    width: 700px;
}

.dialog-1200 {
    width: 1200px;
}
.td_add {
    background: rgba(135, 234, 225, 0.10196078431372549) !important;
}
.td_edit {
    background: rgba(222, 16, 16, 0.05) !important;
}
.dropdowStatus {
    padding: 5px 4px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 3px;
}
.checkbox-table {
    top: 8px;
    position: relative;
}
.chip-note {
    width: 100%;
    margin: 3px;
    background: #efefefa1;
    padding: 2px 10px;
    font-size: 12px;
}
.chip-note-default {
    border-left: 2px solid #333;
}
.chip-note-success {
    border-left: 2px solid #3c763d;
}
.label-tab {
    margin-left: 7px;
}
.mat-tab-label-active .mat-icon,
.mat-tab-label-active .label-tab {
    color: #283593 !important;
}
.mat-select-search-inside-mat-option .mat-select-search-input {
    height: 2.6em !important;
    line-height: 2.6em !important;
}

.GJXF1JNDPSB {
    border: 2px dashed #dcdee3;
    border-radius: 3px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145px;
    box-sizing: border-box;
    color: #3bb85d;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 0 5px 0 rgba(0, 0, 0, 0.16);
    position: relative;
    margin-bottom: 25px;
}

.GJXF1JNDPSB.fillImage {
    margin-bottom: 17px !important;
}

.GJXF1JNDPSB input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.GJXF1JNDPSB:hover {
    border-color: #3bb85d;
}
.GJXF1JNDLTB {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    border-radius: 2px;
    cursor: zoom-in;
}
.can-status-2 {
    font-size: 12px !important;
}
.cal-event-title {
    font-size: 13px !important;
}
.mat-tab-label {
    height: 36px !important;
    padding: 0 20px !important;
}
.group-tab-list {
    background: #fff;
}
.mat-select-search-spinner svg {
    height: 16px !important;
    width: 16px !important;
}
.mat-select-search-spinner {
    width: 16px !important;
    height: 16px !important;
}

.md-check-draft .mat-radio-outer-circle {
    border-color: darkred !important;
}
.md-check-draft .mat-radio-inner-circle {
    background-color: darkred !important;
}
.text-draft {
    color: darkred;
}
.canEditor {
    margin-bottom: 20px;
}

.ck.ck-content {
    max-height: 400px;
    min-height: 400px;
}

.ck-content {
    min-height: 400px;
}

.select-option-default {
    color: #333 !important;
}

.select-option-green {
    color: green !important;
}

.select-option-red {
    color: red !important;
}

.select-option-blue {
    color: blue !important;
}

.select-option-gold {
    color: orangered !important;
}

.select-option-blueviolet {
    color: blueviolet !important;
}

.select-option-draft {
    color: darkred !important;
}
.mat-option[aria-disabled="true"] {
    color: #eee !important;
}
.label-buttn-fix {
    margin-left: 5px;
}
.mat-stroked-button {
    line-height: 31px !important;
}
.listHepl {
    list-style: none;
}
.listHepl li {
    color: red($color: #000000);
}
.canpotential {
    position: absolute;
    top: 3px;
    right: 16px;
}
.customer-name {
    color: #333;
}
.msviewAll a {
    display: block;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.msviewAll a:hover {
    cursor: pointer;
    background: #efefef;
}

.msXemThem a {
    display: block;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #aaa;
    background: #efefef;
}

.msXemThem a:hover {
    cursor: pointer;
    background: #eee;
    color: #333;
}

.mat-menu-panel {
    max-width: 360px !important;
}
.countMSG {
    background: red;
    position: absolute;
    display: inline-block;
    line-height: initial;
    padding: 2px;
    font-size: 11px;
    border-radius: 6px;
    right: -3px;
    top: 2px;
}
.classSeen {
    color: #ddd;
}
.messages .mat-button {
    border-bottom: 1px solid #eee;
}
.cantextmsg {
    margin-right: 0px;
}
.count-email {
    background: green;
    position: absolute;
    display: inline-block;
    line-height: initial;
    padding: 4px;
    font-size: 11px;
    border-radius: 5px;
    right: -21px;
    color: #fff;
    top: -9px;
}

.count-email-red {
    background: green;
    position: absolute;
    display: inline-block;
    line-height: initial;
    padding: 4px;
    font-size: 11px;
    border-radius: 5px;
    right: -11px;
    color: #fff;
    top: -9px;
}
.canpickUpAirport {
    position: absolute;
    top: 3px;
    right: 32px;
}
.canpickUp {
    position: absolute;
    top: 3px;
    right: 48px;
}
.icon-sm,
.mat-icon.icon-sm-2 {
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    width: 10px;
    vertical-align: middle;
}

.input-button-st .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}
.list-div-data div {
    margin: 8px 10px;
}
.table-info {
    width: 100%;
    border: none;
    padding: 5px 0 !important;
}

.table-info td {
    border: none;
    padding: 3px 5px !important;
}

.title-form-name {
    text-transform: uppercase;
    color: #0080ff;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    .flex-p-15 {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}

.urlRole,
.urlRole ul,
.urlRole ul li,
.urlRole ul ul,
.urlRole ul ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
// .urlRole
// {
//     font-weight: 600;
//     text-transform: uppercase;
//     color: red;
// }
// .urlRole > li > ul
// {
//     margin-left: 20px;
// }
// .urlRole > li > ul  > li >  ul
// {
//     margin-left: 20px;
// }

// .urlRole >ul
// {
//     text-transform: inherit;
//     color:#283593;
// }

.agm-info-window-content {
    font-size: 12px;
}
.gm-style .gm-style-iw-c {
    padding: 6px !important;
    border-radius: 1px !important;
    padding-bottom: 0px !important;
}
.left-map {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 300px;
    background: #fff;
    z-index: 2000;
    box-shadow: -1px 0px 10px #eee;
}
.left-map-search {
    padding: 10px;
    padding-bottom: 0px;
}
.left-map-list {
    padding: 5px;
    overflow-y: auto;
    padding-top: 0px;
}

.left-map-list .ul-list {
    list-style: none;
    cursor: pointer;
}

.left-map-list .ul-list li {
    padding: 6px 10px;
    background: rgb(206 217 228 / 20%);
    font-size: 13px;
}

.left-map-list .ul-list li:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.left-map-list .ul-list li.active {
    background: rgb(40 53 147);
    color: #fff;
}

.right-map-info {
    background: #fff;
    padding: 5px;
}

.ui-list-bike {
    list-style: none;
    cursor: pointer;
}

.ui-list-bike li {
    padding: 6px 10px;
    background: #ecf3ff;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 500;
}
.li-bike-icon {
    font-size: 20px !important;
    height: 20px !important;
    width: 20px !important;
    top: 4px;
    position: relative;
    font-weight: 600;
}

.ui-list-bike li.active {
    background: #28359333;
}
.btn-group-control {
    padding: 4px 10px !important;
}

.select-option-data {
    padding: 8px 14px 7px 14px;
    border: 1px solid #ddd;
    background: #dfdfdf;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    font-size: 13px;
}

.select-option-data.active {
    border: 1px solid #b5b5b5;
}

.select-option-data .btn-grid {
    position: absolute;
    right: 0px;
    top: 0px;
}
.table-dasb tr {
    cursor: pointer;
}
.table-dasb tr .active {
    background: rgb(0 128 255 / 20%);
}

.fs13 {
    font-size: 13px !important;
}

.icon-file-action {
    font-size: 14px;
    cursor: pointer;
    height: 14px !important;
    width: 14px !important;
    position: relative !important;
    top: 3px;
    font-weight: 600;
    margin-right: 5px;
}

.ctr-password {
    position: relative;
}

.ctr-password .canCheckbox {
    position: absolute;
    top: 10px;
    right: 22px;
    width: 20px;
    left: inherit;
}
.fileUpload .fillImage {
    margin-bottom: 2px !important;
}
.fileUpload .GJXF1JNDPSB {
    height: 300px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start {
    border-width: 1px !important;
    border-color: #80bdff;
}

.app.indigo-light .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #ced4da;
}

.form-export {
    padding: 10px 10px 8px 10px;
    border-bottom: 1px solid #ddd;
    background: #fefefe;
}

.header-export {
    background: #1976d2;
    height: 80px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 0;
    border-top: 1px solid #4b9def73;
}

.label-export {
    display: block;
    padding: 8px 10px;
    background: #dddd;
    font-weight: 500;
    position: relative;
}

.mb-20 {
    margin-bottom: 20px !important;
}
.mat-placeholder-required {
    color: red !important;
    font-weight: bold !important;
}
.dialog-footer {
    position: relative;
}

.valid-status {
    position: absolute;
    right: 10px;
    top: 6px;
    font-weight: 500;
    font-size: 13px;
}

.valid-status .mat-icon {
    height: 24px;
    width: 24px;
    top: 7px;
    position: relative;
    font-size: 24px;
}
.text-note-bill {
    margin-top: 5px;
    color: red;
}
.scroll-table {
    background: #fff;
}

.sidenav-menu-outer.user-block-show .ps {
    height: calc(100% - 120px) !important;
}

.mat-dialog-title span {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: -3px;
}

.simple-notification .sn-content {
    font-size: 13px !important;
    line-height: 18px !important;
}

.simple-notification.has-icon .sn-content,
.simple-notification.has-icon .sn-html,
.simple-notification.has-icon .sn-title {
    padding: 0 30px 0 0 !important;
}

.simple-notification .icon svg {
    fill: #fff;
    width: 100% !important;
    height: 100% !important;
}

.simple-notification {
    padding: 8px 12px !important;
    box-shadow: 3px 3px 9px #333 !important;
}

.simple-notification .icon {
    width: 50px !important;
    height: 100% !important;
}
.gm-style-iw-d {
    padding: 0 !important;
    overflow: inherit !important;
}
.map-table-info {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

.blink-danger {
    animation: blinker 0.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    to {
        opacity: 0.2;
    }
}

.waitingForConnection2 {
    animation: blinker2 0.6s cubic-bezier(1, 0, 0, 1) infinite alternate;
}
@keyframes blinker2 {
    to {
        opacity: 0;
    }
}

.waitingForConnection3 {
    animation: blinker3 1s ease-in-out infinite alternate;
}
@keyframes blinker3 {
    to {
        opacity: 0;
    }
}
.data-content {
    padding: 3px 10px;
    border: 1px solid #ddd;
    background: #efefef;
}

.container-see {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.btn-link {
    text-decoration: none;
    cursor: pointer;
}

.btn-link:hover {
    text-decoration: none;
}

.data-content .ng-star-inserted:nth-child(2n) .btn-link {
    color: #99680f;
    font-weight: 500;
}

.btn-data {
    display: inline-block;
    margin: 0 2px 0 2px;
}

//   .show-see  {
//     overflow: visible;
//     height: auto;
//   }
.padding-control .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.div_row {
    background: rgb(238, 235, 235);
    margin-bottom: 1px;
    padding-left: 2px;
}
.full-width {
    width: 100% !important;
}

svg.ngx-charts {
    overflow: visible !important;
}

text.textDataLabel {
    transform: unset !important;
    font-size: 14px !important;
    font-weight: 500;
}

.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
    margin-bottom: 2px !important;
    max-width: 400px !important;
}