﻿@model TN.Domain.Model.ChangePasswordViewModel
@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<form class="ajaxValidateForm usergroup" asp-action="ChangePassword">
    @Html.AntiForgeryToken()
    <div class="block-header">
        <h2><i class="material-icons">person</i> ĐỔI MẬT KHẨU TÀI KHOẢN <span class="label label-primary label-t">Cập nhật</span></h2>
        <ol class="breadcrumb breadcrumb-t">
            <li>
                <a href="/Admin">
                    <i class="material-icons">home</i> Trang điều khiển
                </a>
            </li>
            <li class="active">
                Đổi mật khẩu tài khoản
            </li>
        </ol>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card card-t">
                <div class="header bg-indigo">
                    <h4 class="num-t m-l-20  fb tt">
                        Thông tin yêu cầu
                    </h4>
                    <ul class="header-dropdown m-r--5 header-dropdown-t">
                        <li class="dropdown">
                            <a href="javascript:void(0);">
                                <i class="material-icons">edit</i>
                            </a>
                        </li>
                    </ul>
                    <ul class="header-dropdown m-r--5 header-dropdown-t2">
                        <li class="dropdown">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1">
                                <i class="material-icons">import_export</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="in" id="collapse1">
                        <div class="form-group">
                            <label class="form-label" asp-for="OldPassword"></label> <strong class="text-danger">*</strong> <span asp-validation-for="OldPassword"></span>
                            <div class="controls">
                                <input type="password" class="form-control input-sm form-control-t" placeholder="Mật khẩu cũ của bạn" asp-for="OldPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="NewPassword"></label> <strong class="text-danger">*</strong> <span asp-validation-for="NewPassword"></span>
                            <div class="controls">
                                <input type="password" class="form-control input-sm form-control-t" placeholder="Mật khẩu mới" asp-for="NewPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="ConfirmPassword"></label> <strong class="text-danger">*</strong> <span asp-validation-for="ConfirmPassword"></span>
                            <div class="controls">
                                <input type="password" class="form-control input-sm form-control-t" placeholder="Nhập lại mật khẩu mới" asp-for="ConfirmPassword">
                            </div>
                        </div>
                        <div style="text-align:center;padding-bottom:10px;">
                            <button data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" type="button" class="btn  btn-p-t  btn-icon bg-indigo waves-effect ajaxSubmit"><i class="material-icons">save</i> <span>Lưu thay đổi</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="canmotkhoang">
    </div>
    <input type="hidden" name="ids" id="ids" />
    <input type="hidden" name="isChange" id="isChange" value="false" />
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        initAjaxSubmit(function (rs, $this) {
            alertify.notify(rs.message, rs.type, 5);
            setTimeout(function () {
                $this.button('reset');
            }, 300);
        });
        initAjaxDelete();
        intitFileUpload(function (rs, $this) {
            alertify.notify(rs.message, rs.type, 5);
            if (rs.output == 1) {
                var newSrc = rs.data + "?v=" + Math.random();
                $(".imgAvatar").attr("src", newSrc);
            }
            setTimeout(function () {
                $this.button('reset');
            }, 300);
        });
    </script>
}
