﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using TN.Domain.Model
@model LoginViewModel
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SignInManager

@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewData["Title"] = "Đăng nhập";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<style>
    .card .body
    {
        padding-top:35px;
    }
    .field-validation-error {
        border: 1px solid #ffe5e5;
        background: #c60909 !important;
        padding: 2px 10px !important;
        border-radius: 0 !important;
        position: absolute;
        display: inline-block !important;
        box-shadow: 3px 3px 7px #aaa;
        top: -7px;
        color: #fff;
        right: 5px;
        z-index: 9;
        white-space: nowrap;
        font-size: 12px;
    }

        .field-validation-error:before {
            content: '';
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 10px solid #c51244;
            position: absolute;
            bottom: -10px;
            right: 6px;
        }
    .card .body {
        padding-top: 35px;
        padding-bottom: 30px;
    }
    .login-page {
        margin: 9% auto;
        background-color: #00bcd4;
        background-image: url('/content/admin/images/bacvn.jpg');
    }
    .login-box {
        width: 350px;
    }
    .login-page .login-box a
    {
        color:#333;
        font-weight:500;
        font-size:13px;
    }
</style>
<div class="login-box">
    <div class="card">
        <div class="body">
            <form method="post">
                @Html.AntiForgeryToken()
                <div>
                    <h1 style="text-align: center;
                                font-size: 22px;
                                margin-top: 8px;
                                margin-bottom: 19px;
                                font-weight: 600;">ĐĂNG NHẬP</h1>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" asp-for="Email" class="form-control" placeholder="Tài khoản">
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" asp-for="Password" placeholder="Mật khẩu" class="form-control" size="20">
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p-t-5">
                        <input type="checkbox" id="rememberMe" asp-for="RememberMe" class="filled-in chk-col-red">
                        <label for="rememberMe">Ghi nhớ đăng nhập!</label>
                    </div>
                    <div class="col-xs-12">
                        <button style="padding-top: 8px !important;padding-bottom: 8px !important;" class="btn btn-block bg-indigo waves-effect btn-login" type="submit">ĐĂNG NHẬP</button>
                    </div>
                </div>
                <div class="row m-b--20">
                    <div class="col-xs-6">
                        @*<a href="#">Đăng ký!</a>*@
                    </div>
                    <div class="col-xs-6 align-right">
                        <a asp-action="ForgotPassword">Quên mật khẩu?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{ 
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}