﻿@model TN.Domain.Model.UserProfileModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý tài khoản quản trị";
    Layout = "~/Views/Shared/_Admin.cshtml";

}
<form class="ajaxValidateForm usergroup" asp-action="Profile">
    @Html.AntiForgeryToken()
    <div class="block-header">
        <h2><i class="material-icons">person</i> THÔNG TIN TÀI KHOẢN <span class="label label-primary label-t">Cập nhật</span></h2>
        <ol class="breadcrumb breadcrumb-t">
            <li>
                <a href="/Admin">
                    <i class="material-icons">home</i> Trang điều khiển
                </a>
            </li>
            <li class="active">
                    Thông tin tài khoản
            </li>
        </ol>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card card-t">
                <div class="header bg-indigo">
                    <h4 class="num-t m-l-20  fb tt">
                        Thông tin chung
                    </h4>
                    <ul class="header-dropdown m-r--5 header-dropdown-t">
                        <li class="dropdown">
                            <a href="javascript:void(0);">
                                <i class="material-icons">edit</i>
                            </a>
                        </li>
                    </ul>
                    <ul class="header-dropdown m-r--5 header-dropdown-t2">
                        <li class="dropdown">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1">
                                <i class="material-icons">import_export</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="in" id="collapse1">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="labelinfo-t bg-info mb-10">
                                    Ảnh đại diện
                                </div>
                                <div class="thumbnail imgfull avatar m-b-10">
                                    <div class="image">
                                        <img alt="avatar" onerror="this.onerror=null;this.src = '/Content/Admin/images/no-avatar.jpg';" src="@(Model.Avatar??" ")" class="img-responsive imgAvatar">
                                    </div>
                                </div>
                                <div>
                                    <button  data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Chọn file ảnh</span>" type="button" onclick="document.getElementById('file').click()" id="btnChosefile" class="btn btn-primary btn-sm"><i class="material-icons">file_upload</i> <span>Chọn file ảnh</span></button>
                                    <input data-url="@Url.Action("UploadAvatar",new { id=Model.Id})" data-id="@Model.Id" type="file" name="dbFile" id="file" class="inputfile hide chosefileupload" />
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="form-label" asp-for="UserName"></label> <strong class="text-danger">*</strong> <span asp-validation-for="UserName"></span>
                                    <div class="controls">
                                        <input type="text" disabled="disabled" class="form-control input-sm form-control-t" placeholder="Tên tài khoản" asp-for="UserName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="DisplayName"></label> <strong class="text-danger">*</strong> <span asp-validation-for="DisplayName"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control input-sm form-control-t" placeholder="Tên hiển thị" asp-for="DisplayName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="PhoneNumber"></label>  <span asp-validation-for="PhoneNumber"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control input-sm form-control-t" placeholder="Số điện thoại" asp-for="PhoneNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="Note"></label> <span asp-validation-for="Note"></span>
                                    <div class="controls">
                                        <textarea type="text" class="form-control input-sm form-control-t" rows="3" placeholder="Đôi nét" asp-for="Note"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align:center;padding-bottom:10px;">
                                <button data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" type="button" class="btn  btn-p-t  btn-icon bg-indigo waves-effect ajaxSubmit"><i class="material-icons">save</i> <span>Lưu thay đổi</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="canmotkhoang">
    </div>
    <input type="hidden" name="ids" id="ids" />
    <input type="hidden" name="isChange" id="isChange" value="false" />
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        initAjaxSubmit(function (rs, $this) { 
            alertify.notify(rs.message, rs.type, 5);
            setTimeout(function () {
                $this.button('reset');
            }, 300);
        });
        intitFileUpload(function (rs, $this) {
            alertify.notify(rs.message, rs.type, 5);
            if (rs.output == 1) {
                var newSrc = rs.data + "?v=" + Math.random();
                $(".imgAvatar").attr("src", newSrc);
            }
            setTimeout(function () {
                $this.button('reset');
            }, 300);
        });
    </script>
}