<div class="header-t">
    <div fxLayout="row wrap">
        <div fxFlex="100" class="flex-p-15">
            <div class="breadcrumb_title" translate>bike.title</div>
            <ol class="breadcrumb">
                <li><a routerLink="/" translate>base.home</a></li>
                <li class="active" translate>bike.title-l</li>
            </ol>
        </div>
    </div>
</div>

<div class="can-page">
    <div fxLayout="column">
        <div class="flex-p-15 fix-page">
            <div class="box-sh">
                <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">
                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>bike.projectId</mat-label>
                            <mat-select [(ngModel)]="params.projectId" [(value)]="params.projectId"
                                placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option *ngFor="let item of categoryData.projects; index as i;"
                                    [value]="item.id.toString()">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>dock.connectionStatus</mat-label>
                            <mat-select [(ngModel)]="params.connectionStatus" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option [value]="'true'">Đang kết nối</mat-option>
                                <mat-option [value]="'false'">Không kết nối</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>bike.type</mat-label>
                            <mat-select [(ngModel)]="params.type" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option [value]="0" translate><span translate>bike.type-0</span></mat-option>
                                <mat-option [value]="1" translate><span translate>bike.type-1</span></mat-option>
                                <mat-option [value]="2" translate><span translate>bike.type-2</span></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>dock.charging-label</mat-label>
                            <mat-select [(ngModel)]="params.charging" placeholder="Tất cả">
                                <mat-option value="">Tất cả</mat-option>
                                <mat-option [value]="true">Đang sạc</mat-option>
                                <mat-option [value]="false">Không sạc</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>dock.producerId</mat-label>
                            <mat-select [(ngModel)]="params.producerId" placeholder="Tất cả">
                                <mat-option value="">Tất cả</mat-option>
                                <mat-option *ngFor="let item of categoryData.producers; index as i;" [value]="item.id">
                                    {{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>dock.modelId</mat-label>
                            <mat-select [(ngModel)]="params.modelId" placeholder="Tất cả">
                                <mat-option value="">Tất cả</mat-option>
                                <mat-option *ngFor="let item of categoryData.models | modelFilter: { producerId: params.producerId }; index as i;" [value]="item.id">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>dock.bookingStatus</mat-label>
                            <mat-select [(ngModel)]="params.bookingStatus" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option [value]="'0'">Chưa thuê</mat-option>
                                <mat-option [value]="'2'">Đang thuê</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>bike.status</mat-label>
                            <mat-select [(ngModel)]="params.status" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option [value]="0"><span translate>bike.status-0</span></mat-option>
                                <mat-option [value]="1"><span translate>bike.status-1</span></mat-option>
                                <mat-option [value]="2"><span translate>bike.status-2</span></mat-option>
                                <mat-option [value]="3"><span translate>bike.status-3</span></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>dock.warehouseId</mat-label>
                            <mat-select [(ngModel)]="params.warehouseId" placeholder="Tất cả">
                                <mat-option value="">Tất cả</mat-option>
                                <mat-option *ngFor="let item of categoryData.warehouses; index as i;" [value]="item.id">
                                    {{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>base.searchKey</mat-label>
                            <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off"
                                placeholder="Tìm biển số, barcode khóa, serie khóa" type="text">
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
                        <button mat-raised-button color="primary" (click)="search()" class="m-5px">
                            <mat-icon class="icon-sm icon-btn">search</mat-icon>
                        </button>
                        <button roles-id="44" (click)="openEditDialog(null)" mat-raised-button color="blue"
                            class="m-5px">
                            <mat-icon class="icon-sm icon-btn">add</mat-icon>
                        </button>
                        <button mat-raised-button color="warn" class="m-5px" (click)="export()"
                            [disabled]="isProcess.export">
                            <mat-icon *ngIf="isProcess.export" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                            <mat-icon *ngIf="!isProcess.export" class="icon-sm icon-btn">print</mat-icon>
                        </button>
                    </div>

                </div>
                <div class="tParentLoading">
                    <div *ngIf="isProcess.listDataTable" class="tloading">
                        <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
                            <div class="loader">Loading...</div>
                        </div>
                    </div>
                    <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]"
                        style="overflow: auto;">
                        <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData"
                            (matSortChange)="handleSortData($event)">

                            <ng-container matColumnDef="stt">
                                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span
                                        translate>base.order</span></th>
                                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                                    {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="serialNumber">
                                <th style="width: 150px;" mat-header-cell *matHeaderCellDef mat-sort-header
                                    matSortDisableClear><span translate>bike.plate</span> </th>
                                <td mat-cell *matCellDef="let element">

                                    <div class="text-name">{{element.plate}}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="dockId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>Khóa
                                    QRCode/IMEI</th>
                                <td mat-cell *matCellDef="let element">
                                    <div title="QRCode" class="text-warning txt-500">{{element.dock?.serialNumber}}
                                    </div>
                                    <div title="IMEI" class="text-info">{{element.dock?.imei}}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="bookingStatus">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span
                                        translate>dock.bookingStatus</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="text-info"
                                        *ngIf="element.bookingStatus == 0 || element.bookingStatus == null">Chưa
                                        thuê</span>
                                    <span class="text-danger" *ngIf="element.bookingStatus == 2">Đang thuê</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span
                                        translate>bike.type</span></th>
                                <td style="width: 90px;" mat-cell *matCellDef="let element">
                                    <span *ngIf="element.type == 0" translate>bike.type-0</span>
                                    <span *ngIf="element.type == 1" translate>bike.type-1</span>
                                    <span *ngIf="element.type == 2" translate>bike.type-2</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="colorId">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span
                                        translate>bike.colorId</span></th>
                                <td mat-cell *matCellDef="let element"> {{ appCommon.getObj(categoryData.colors,
                                    element.colorId)}}</td>
                            </ng-container>

                            <ng-container matColumnDef="investorId">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span
                                        translate>bike.projectId</span> / <span translate>bike.investorId</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div>{{ appCommon.getObj(categoryData.projects, element.projectId)}}</div>
                                    <div>{{ appCommon.getObj(categoryData.investors, element.investorId)}}</div>

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="producerId">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span
                                        translate>bike.producerId</span> / <span translate>bike.modelId</span></th>
                                <td mat-cell *matCellDef="let element"> {{ appCommon.getObj(categoryData.producers,
                                    element.producerId)}} / {{ appCommon.getObj(categoryData.models, element.modelId)}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="battery">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span
                                        translate>dock.battery</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="position: relative;">
                                        <mat-icon class="text-success" *ngIf="element.dock?.charging" title="Đang sạc">
                                            battery_charging_full
                                        </mat-icon>
                                        <mat-icon class="text-info" *ngIf="!element.dock?.charging" title="Không sạc">
                                            battery_full
                                        </mat-icon>
                                        <strong style="position: absolute;top:6px;"
                                            class="text-danger" *ngIf="element.dock?.battery < 10">
                                            {{element.dock?.battery}}
                                        </strong>
                                        <strong style="position: absolute;top:6px;" class="text-warning" *ngIf="element.dock?.battery <= 50 && element.dock?.battery >= 10">
                                            {{element.dock?.battery}}
                                        </strong>
                                        <strong style="position: absolute;top:6px;"
                                            class="text-success" *ngIf="element.dock?.battery > 50">
                                            {{element.dock?.battery}}
                                        </strong>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th style="width: 90px;" mat-header-cell *matHeaderCellDef matSortDisableClear><span
                                        translate>bike.status</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.status == 0" class="text-warning" translate>bike.status-0</span>
                                    <span *ngIf="element.status == 1" class="text-success" translate>bike.status-1</span>
                                    <span title="{{element.warehouse?.name}}" *ngIf="element.status == 2" class="text-danger" translate>bike.status-2</span>
                                    <span title="{{element.warehouse?.name}}" *ngIf="element.status == 3"  class="text-danger" translate>bike.status-3</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="createdDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                                        translate>ticket-prepaid.createdUser</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div><span class="text-500">{{element.createdUserObject?.displayName}}</span></div>
                                    <div><span class="">{{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="updatedDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                                        translate>ticket-prepaid.updatedUser</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div><span class="text-500">{{element.updatedUserObject?.displayName}}</span></div>
                                    <div><span class="">{{element.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="lockStatus">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear>TT khóa</th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-icon class="text-danger" *ngIf="element.dock?.lockStatus">lock</mat-icon>
                                    <mat-icon class="text-success" *ngIf="!element.dock?.lockStatus">lock_open
                                    </mat-icon>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="connectionStatus">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span
                                        translate>dock.connectionStatus</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-icon class="text-success" *ngIf="element.dock?.connectionStatus">wifi
                                    </mat-icon>
                                    <mat-icon class="text-danger" *ngIf="!element.dock?.connectionStatus">wifi_off
                                    </mat-icon>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="warehouseId">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span
                                        translate>bike.warehouseId</span></th>
                                <td mat-cell *matCellDef="let element"> {{ appCommon.getObj(categoryData.warehouses, element.warehouseId)}}</td>
                            </ng-container>

                            <ng-container matColumnDef="projectId">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span
                                        translate>bike.projectId</span></th>
                                <td mat-cell *matCellDef="let element"> {{ appCommon.getObj(categoryData.projects, element.projectId)}}</td>
                            </ng-container>

                            <ng-container matColumnDef="stationId">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span
                                        translate>dock.stationId</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div>{{ appCommon.getObj(categoryData.stations, element.stationId) }}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th width="200" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
                                <td mat-cell *matCellDef="let element">

                                    <button [disabled]= "!element.dock" roles-is="268" title="Gửi lệnh điều khiển khóa" (click)="openLockDialog(element)" mat-raised-button color="primary"  class="m-1 btn-grid">
                                        <mat-icon class="icon-sm">lock_open</mat-icon>
                                    </button>

                                    <button title="Xem GPS" roles-id="44" (click)="openViewmapDialog(element)"
                                        mat-raised-button color="green" class="m-1 btn-grid">
                                        <mat-icon class="icon-sm">map</mat-icon>
                                    </button>

                                    <button roles-id="174" title="Cập nhật vị trí" roles-id="44"
                                        (click)="openEditLocationDialog(element)" mat-raised-button color="green"
                                        class="m-1 btn-grid">
                                        <mat-icon class="icon-sm">edit_location</mat-icon>
                                    </button>

                                    <button roles-id="44" (click)="openEditDialog(element)" mat-raised-button
                                        color="warn" class="m-1 btn-grid">
                                        <mat-icon class="icon-sm">edit</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div #paginator_rec>
                        <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)"
                            [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>