<h1 mat-dialog-title><span translate>THÔNG TIN GIAO DỊCH</span></h1>
<a (click)="close()" title="Đóng cửa sổ" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content class="mat-dialog-content-full">
    <div class="body-modal">

        <mat-tab-group [selectedIndex]="viewType" (selectedTabChange)="matTabGroupChange($event)">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">assignment_ind</mat-icon>
                    <span> Thông tin giao dịch</span>
                </ng-template>
                <div style="height: 15px;"></div>
                <div id="fix_detail"></div>
                <div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="label-note">
									<span translate>Chi tiết giao dịch</span>
                                </span>
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.transactionCode</mat-label>
                                            <input [disabled]="true" hidden matInput [(ngModel)]="data.booking.transactionCode" placeholder="" type="text" maxlength="1000">
                                            <span class="text-info">{{data.booking.transactionCode}}</span>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.status</mat-label>
                                            <input [disabled]="true" matInput hidden value="">
                                            <span class="text-info fs13" *ngIf="data.booking.status == 0" translate>booking.status-0</span>
                                            <span class="text-danger fs13" *ngIf="data.booking.status == 1" translate>booking.status-1</span>
                                            <span class="text-success fs13" *ngIf="data.booking.status == 2" translate>booking.status-2</span>
                                            <span class="text-warning fs13" *ngIf="data.booking.status == 3" translate>booking.status-3</span>
                                            <span class="text-warning fs13" *ngIf="data.booking.status == 4" translate>booking.status-4</span>
                                            <span class="text-success fs13" *ngIf="data.booking.status == 5" translate>booking.status-5</span>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.customerGroupId</mat-label>
                                            <input [disabled]="true" matInput value="{{data.booking.customerGroup?.name}}" placeholder="#" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.stationIn</mat-label>
                                            <input [disabled]="true" matInput value="{{ appCommon.getStation(categoryData.stations, data.booking.stationIn)}}" placeholder="#">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.stationOut</mat-label>
                                            <input [disabled]="true" matInput value="{{ appCommon.getStation(categoryData.stations, data.booking.stationOut)}}" placeholder="#">
                                        </mat-form-field>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.startTime</mat-label>
                                            <input [disabled]="true" matInput value="{{data.booking.startTime | date: 'HH:mm dd/MM/yyyy'}}" placeholder="#" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.endTime</mat-label>
                                            <input [disabled]="true" matInput value="{{data.booking.endTime | date:	'HH:mm dd/MM/yyyy'}}" placeholder="#">

                                        </mat-form-field>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.bikeId</mat-label>
                                            <input [disabled]="true" matInput [(ngModel)]="data.booking.bike.plate" placeholder="37">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.investorId</mat-label>
                                            <input [disabled]="true" matInput value="{{ appCommon.getTenant(categoryData.investors, data.booking.investorId)}}" placeholder="" type="text" maxlength="1000">

                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.projectId</mat-label>
                                            <input [disabled]="true" matInput value="{{ appCommon.getTenant(categoryData.projects, data.booking.projectId)}}" placeholder="37">
                                        </mat-form-field>
                                    </div>
                                </div>
                                
                                <span class="label-note">
                                    <span translate>Thông tin tính phí</span>
                                </span>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.totalPrice</mat-label>
                                            <input [disabled]="true" hidden matInput value="{{appCommon.formatMoney(data.booking.totalPrice,0,3)}}" placeholder="#">
                                            <span class="text-info fs13">{{appCommon.formatMoney(data.booking.totalPrice,0,3)}}</span>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.chargeInAccount</mat-label>
                                            <input [disabled]="true" hidden matInput value="{{appCommon.formatMoney(data.booking.chargeInAccount,0,3)}}" placeholder="#">
                                            <span class="text-success fs13">{{appCommon.formatMoney(data.booking.chargeInAccount,0,3)}}</span>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.chargeInSubAccount</mat-label>
                                            <input [disabled]="true" hidden matInput value="{{appCommon.formatMoney(data.booking.chargeInSubAccount,0,3)}}" placeholder="#">
                                            <span class="text-danger fs13">{{appCommon.formatMoney(data.booking.chargeInSubAccount,0,3)}}</span>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.totalMinutes</mat-label>
                                            <input [disabled]="true" matInput value="{{appCommon.formatMoney(data.booking.totalMinutes,0,3)}}" placeholder="#">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.ticketPrice_TicketType</mat-label>
                                            <input [disabled]="true" matInput value="{{data.booking.ticketPrice?.name}}" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>booking.ticketPrice_TicketValue</mat-label>
                                            <input [disabled]="true" matInput value="{{appCommon.formatMoney(data.booking.ticketPrice?.ticketValue,0,3)}}" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>data.ticketPrice_Note</mat-label>
                                    <textarea style="font-size: 13px;" matInput rows="3"   disabled>{{data.booking.ticketPrice_Note}}</textarea>
                                </mat-form-field>

                                <span class="label-note">
                                    <span translate>Thông tin khách hàng</span>
                                </span>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>Tên khách hàng</mat-label>
                                            <input [disabled]="true" matInput value="{{data.booking.account?.fullName}}" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>Số điện thoại</mat-label>
                                            <input [disabled]="true" matInput value="{{data.booking.account?.phone}}" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>Mã RFID</mat-label>
                                            <input [disabled]="true" matInput value="{{data.booking.account?.rfid}}" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="col-md-6">
                                <span class="label-note">
                                    <span translate>Bản đồ di chuyến</span>
                                </span>
                               <div>
                                <agm-map [styles]="mapStyle" minZoom="8" [style.height.px]="700" [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="location.zoom">

                                    <agm-marker [iconUrl]="marker.iconUrl" *ngFor="let marker of location.markers" [latitude]="marker.lat" [longitude]="marker.lng">
                                    </agm-marker>
                    
                                    <agm-polyline [strokeWeight] = "7" [strokeOpacity] ="0.5" [strokeColor]="'blue'">
                                        <ng-container *ngFor="let item of polylines">
                                            <agm-polyline-point [latitude]="item.lat" [longitude]="item.long"></agm-polyline-point>
                                        </ng-container>
                                    </agm-polyline>
                    
                                </agm-map>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader"><span translate>button.loading</span></div>
    </div>
</div>