<h1 mat-dialog-title><span translate>Xác nhận thông tin tài khoản</span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.identificationPhotoFront</mat-label>
                                <img style="width: 100%;" src="{{data.identificationPhotoFront == null ? './assets/img/app/no-image.png' : data.identificationPhotoFront}}" />
                                <input formControlName="identificationPhotoFront" matInput type="text" style="display: none;">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.identificationPhotoBackside</mat-label>
                                <img style="width: 100%;" src="{{data.identificationPhotoBackside == null ? './assets/img/app/no-image.png' : data.identificationPhotoBackside}}" />
                                <input formControlName="identificationPhotoBackside"  matInput type="text" style="display: none;">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.identificationType</mat-label>
                                <mat-select formControlName="identificationType">
                                    <mat-option [value]="0"><span translate>account.identificationType-0</span></mat-option>
                                    <mat-option [value]="1"><span translate>account.identificationType-1</span></mat-option>
                                    <mat-option [value]="2"><span translate>account.identificationType-2</span></mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.identificationType.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.identificationID</mat-label>
                                <input matInput formControlName="identificationID" placeholder="" type="text" maxlength="200">
                                <mat-error *ngIf="form.controls.identificationID.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                         </div>
                    </div>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>account.verifyNote</mat-label>
                        <textarea rows="5" matInput formControlName="verifyNote" placeholder="" type="text" maxlength="2000"></textarea>
                        <mat-error *ngIf="form.controls.verifyNote.hasError('maxlength')" translate [translateParams]="{n: '2000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>account.verifyStatus</mat-label>
                        <mat-select formControlName="verifyStatus">
                            <mat-option [value]="0"><span translate>account.verifyStatus-0</span></mat-option>
                            <mat-option [value]="1"><span translate>account.verifyStatus-1</span></mat-option>
                            <mat-option [value]="2"><span translate>account.verifyStatus-2</span></mat-option>
                            <mat-option [value]="3"><span translate>account.verifyStatus-3</span></mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.verifyStatus.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>