<div style="background-color:#fff;border-color:#f0efef;border-style:solid;border-width:1px;margin-left:auto;margin-right:auto;width:600px">
    <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td style="background-image:url(https://api-backend.tngo.vn/Data/System/img_bg3.png);background-position:bottom;background-repeat:no-repeat;background-size:600px auto;color:#fff" background="https://ci6.googleusercontent.com/proxy/l88SxmjyFVJu56a0jKL8Wbb3Wslnx8RspG_pqjuxGPP7xhMibFupFzUl95_7-cSCLqDbQ5diggoBMq83MuCImt1x9kd89R8jILryMR3qrfRpZgO3J2NbYNg=s0-d-e1-ft#https://myteksi.s3-ap-southeast-1.amazonaws.com/gpns/email/img_bg3.png" bgcolor="#2f5eab">
                    <table style="color:#fff" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                            <tr>
                                <td align="left" style="font-weight:600;padding:24px;color:#fff;font-size:18px;white-space:nowrap" width="1"><div style="white-space:nowrap">TNGO</div></td>
                                <td align="right" style="padding:24px" width="600">
                                    <img alt="TNGO" src="https://api-backend.tngo.vn/Data/System/logoft.png" style="border:0;line-height:100%;vertical-align:middle" width="48">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="color:#fff" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                            <tr><td></td></tr>
                            <tr>
                                <td align="left" valign="top" width="312">
                                    <div style="padding-left:24px;padding-right:24px;padding-bottom:12px;color:#fff">
                                        <div style="font-weight:600;line-height:38px;margin-bottom:8px;min-width:280px;color:#fff;font-size:32px">Chúc bạn có chuyến đi an lành!</div>
                                        <div style="font-weight:300;padding-bottom:40px;font-size:12px">
                                            <div style="color:#fff">Thời gian: {{PadTime}}</div>
                                            <div style="color:#fff;white-space:nowrap">Mã giao dịch: <strong>{{OrderIdRef}}</strong></div>
                                            <div style="color:#fff">Loại giao dịch: {{TransactionType}}</div>
                                            <div style="color:#fff">Mã khách hàng: {{CustomerCode}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td align="right" valign="bottom">
                                    <div style="padding-left:24px;padding-right:24px;padding-bottom:14px">
                                        <img src="https://api-backend.tngo.vn/Data/System/station.png" style="border:0;line-height:100%;vertical-align:middle;min-width:216px" width="216" tabindex="0"><div dir="ltr" style="opacity: 0.01; left: 980px; top: 216.453px;"><div id=":ys" role="button" tabindex="0"><div><div></div></div></div></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr><td height="24"></td></tr>
            <tr>
                <td style="padding-left:24px;padding-right:24px">
                    <div style="padding-top:16px;padding-bottom:16px">
                        <table style="font-weight:600" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                            <tbody>
                                <tr>
                                    <td align="left" style="color:#1c1c1c" width="100%">
                                        Tổng giá trị thanh toán
                                    </td>
                                    <td align="right" style="padding-left:24px;color:#1c1c1c;font-size:32px;white-space:nowrap" width="1">
                                        <div style="white-space:nowrap">VND {{Price}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="border-color:#2f5eab;border-style:solid;border-width:0;border-top-width:1px;padding-top:16px;color:#1c1c1c;font-size:12px">
                        Cảm ơn vì đã đi cùng <span style="color:#2f5eab">{{CustomerName}}</span>.
                    </div>
                    <div style="height:20px;"></div>
                    <table style="font-size:12px" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                            <tr>
                                <td align="left" valign="top" style="padding-right:12px" width="50%">
                                    <div style="margin-bottom:12px">
                                        <div style="color:#9a9a9a">Người dùng</div>
                                        <div style="color:#1c1c1c">{{CustomerName}}</div>
                                    </div>

                                    <div style="margin-bottom:12px">
                                        <div style="color:#9a9a9a">Hình thức thanh toán</div>
                                        <div style="color:#1c1c1c"><strong>{{PaymentGroup}}</strong></div>
                                    </div>
                                </td>
                                <td align="left" valign="top" style="padding-left:12px" width="50%">
                                    <div style="margin-bottom:12px">
                                        <div style="color:#9a9a9a">Điểm nhận được</div>
                                        <div style="color:#1c1c1c"><strong>{{Amount}}</strong></div>
                                    </div>

                                    <div style="margin-bottom:12px">
                                        <div style="color:#9a9a9a">Điểm khuyến mãi nhận được</div>
                                        <div style="color:#1c1c1c"><strong>{{SubAmount}}</strong></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="border-color:#f0efef;border-style:solid;border-width:0;border-top-width:1px">
                        <table style="margin-top:24px" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                            <tbody>
                                <tr>
                                    <td align="left" style="padding-bottom:24px;color:#1c1c1c" width="100%">Tổng cộng điểm nhận được</td>
                                    <td align="right" style="padding-bottom:24px;padding-left:24px;color:#1c1c1c;white-space:nowrap" width="1">
                                        <div style="white-space:nowrap"><strong>{{TotalAmount}}</strong> điểm</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--<div class="m_4414124283910589762sm-pt-40" style="padding-top:24px">
                        <div style="padding-bottom:24px;font-size:12px">Price on apps already deducted 30% VAT as Resolution 406/NQ-UBTVQH15 on 19/10/2021</div>
                    </div>-->
                </td>
            </tr>
            <tr>
                <td align="center" style="text-align:center;font-size:12px">
                    <div style="border-color:#f0efef;border-style:solid;border-width:0;border-top-width:1px;margin-left:24px;margin-right:24px;padding-top:24px;padding-bottom:24px;color:#1c1c1c">
                        Nếu có vấn đề? Đã có chúng tôi hỗ trợ cho bạn
                    </div>
                    <table style="margin-bottom:16px;text-align:center;font-size:12px" width="100%" align="center" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                            <tr>
                                <td style="padding-bottom:24px" width="25%">
                                    <a href="#" style="display:inline-block;color:#1c1c1c;text-decoration:none" target="_blank">
                                        <div>
                                            <img alt="Lost Item" src="https://api-backend.tngo.vn/Data/System/icon_lost_blue.png" style="border:0;line-height:100%;vertical-align:middle;display:block;margin:auto" height="40" class="CToWUd">
                                        </div>
                                        <div style="font-weight:600;margin-top:4px;padding-left:4px;padding-right:4px;color:#00a5cf">Không nạp được điểm</div>
                                    </a>
                                </td>
                                <td style="padding-bottom:24px" width="1">
                                    <div style="border-color:#f0efef;border-style:solid;border-width:0;border-right-width:1px;height:20px"></div>
                                </td>
                                <td style="padding-bottom:24px" width="25%">
                                    <a href="#" style="display:inline-block;color:#1c1c1c;text-decoration:none" target="_blank">
                                        <div>
                                            <img alt="Incorrect Trip" src="https://api-backend.tngo.vn/Data/System/icon_mystery_trip_blue.png" style="border:0;line-height:100%;vertical-align:middle;display:block;margin:auto" height="40" class="CToWUd">
                                        </div>
                                        <div style="font-weight:600;margin-top:4px;padding-left:4px;padding-right:4px;color:#00a5cf">Chuyến đi không chính xác</div>
                                    </a>
                                </td>
                                <td style="padding-bottom:24px" width="1">
                                    <div style="border-color:#f0efef;border-style:solid;border-width:0;border-right-width:1px;height:20px"></div>
                                </td>
                                <td style="padding-bottom:24px" width="25%">
                                    <a href="#" style="display:inline-block;color:#1c1c1c;text-decoration:none" target="_blank">
                                        <div>
                                            <img alt="Incorrect Fare" src="https://api-backend.tngo.vn/Data/System/icon_overcharged_blue.png" style="border:0;line-height:100%;vertical-align:middle;display:block;margin:auto" height="40" class="CToWUd">
                                        </div>
                                        <div style="font-weight:600;margin-top:4px;padding-left:4px;padding-right:4px;color:#00a5cf">Giá vé không chính xác</div>
                                    </a>
                                </td>
                                <td style="padding-bottom:24px" width="1">
                                    <div style="border-color:#f0efef;border-style:solid;border-width:0;border-right-width:1px;height:20px"></div>
                                </td>
                                <td style="padding-bottom:24px" width="25%">
                                    <a href="#" style="display:inline-block;color:#1c1c1c;text-decoration:none" target="_blank">
                                        <div>
                                            <img alt="Nhận hỗ trợ" src="https://api-backend.tngo.vn/Data/System/icon_call_support_blue.png" style="border:0;line-height:100%;vertical-align:middle;display:block;margin:auto" height="40" class="CToWUd">
                                        </div>
                                        <div style="font-weight:600;margin-top:4px;padding-left:4px;padding-right:4px;color:#00a5cf">Nhận hỗ trợ</div>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td style="font-weight:300;padding-top:24px;padding-bottom:24px;padding-left:24px;padding-right:24px;color:#fff;font-size:12px" bgcolor="#1c1c1c">
                    <div style="margin-bottom:16px">
                        <img alt="TNGO" src="https://api-backend.tngo.vn/Data/System/logoft.png" style="border:0;line-height:100%;vertical-align:middle" width="60">
                        <img alt="TNGO" src="https://api-backend.tngo.vn/Data/System/vts.png" style="border:0;line-height:100%;vertical-align:middle;margin-left:10px" height="40">
                    </div>
                    <table style="font-weight:300;margin-bottom:40px;color:#fff;font-size:12px" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                            <tr>
                                <td width="50%">
                                    <div style="margin-bottom:2px;color:#fff">
                                        Công ty Cổ phần dịch vụ Vận tải số Trí Nam <br>
                                        11A Vũ Huy Tấn <br>
                                        Phường 3, Quận Bình Thạnh<br>
                                        TP. Hồ Chí Minh
                                    </div>
                                    <div>Hotline: 1900 633 548</div>
                                </td>
                                <td style="padding-left:52px" width="50%">
                                    <div style="color:#fff">Follow us</div>
                                    <div style="margin-top:8px;font-size:0;white-space:nowrap">

                                        <a href="https://www.facebook.com/TNGOvantaiso" style="display:inline-block;margin-right:8px" target="_blank">
                                            <img alt="facebook" src="https://api-backend.tngo.vn/Data/System/icon-fb.png" style="border:0;line-height:100%;vertical-align:middle" width="40" height="40" class="CToWUd">
                                        </a>

                                        <a href="#" style="display:inline-block;margin-right:8px" target="_blank">
                                            <img alt="twitter" src="https://api-backend.tngo.vn/Data/System/icon-twitter.png" style="border:0;line-height:100%;vertical-align:middle" width="40" height="40" class="CToWUd">
                                        </a>

                                        <a href="#" style="display:inline-block;margin-right:8px" target="_blank">
                                            <img alt="instagram" src="https://api-backend.tngo.vn/Data/System/icon-instagram.png" style="border:0;line-height:100%;vertical-align:middle" width="40" height="40" class="CToWUd">
                                        </a>

                                        <a href="#" style="display:inline-block;margin-right:8px" target="_blank">
                                            <img alt="linkedin" src="https://api-backend.tngo.vn/Data/System/icon-linkedin.png" style="border:0;line-height:100%;vertical-align:middle" width="40" height="40" class="CToWUd">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="border-color:#f0efef;border-style:solid;border-width:0;border-top-width:1px;margin-bottom:24px;opacity:.2"></div>
                    <div style="text-align:center;color:#fff">© <span>TNGO</span>  2021</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>