<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>news.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>news.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>news.name</mat-label>
                        <input matInput formControlName="name" placeholder="" type="text" maxlength="1000">
                        <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required
                        </mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate
                            [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>news.description</mat-label>
                        <textarea matInput formControlName="description" placeholder="" rows="2"
                            maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.description.errors?.required" translate>validate.required
                        </mat-error>
                        <mat-error *ngIf="form.controls.description.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.description.hasError('maxlength')" translate
                            [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <!-- <div class="row">
                        <div class="col-xs-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>news.projectId</mat-label>
                                <mat-select formControlName="projectId" [(value)]="data.projectId"
                                    placeholder="Chọn dự án">
                                    <mat-option *ngFor="let item of categoryData.projects; index as i;"
                                        [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.projectId.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>news.campaignId</mat-label>
                                <mat-select formControlName="campaignId" [(value)]="data.campaignId"
                                    placeholder="Chọn chiến dịch">
                                    <mat-option [value]="1">Chiến dịch 1</mat-option>
                                    <mat-option [value]="2">Chiến dịch 2</mat-option>
                                    <mat-option [value]="3">Chiến dịch 3</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.campaignId.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div> -->

                    <div class="row">

                        <div class="col-xs-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>news.author</mat-label>
                                <input matInput formControlName="author" placeholder="" type="text" maxlength="1000">
                                <mat-error *ngIf="form.controls.author.errors?.required" translate>validate.required
                                </mat-error>
                                <mat-error *ngIf="form.controls.author.hasError('minlength')" translate
                                    [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.author.hasError('maxlength')" translate
                                    [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
    
                        <div class="col-xs-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>news.publicDate</mat-label>
                                <input matInput formControlName="publicDate" [matDatepicker]="pickerPublicDate">
                                <mat-datepicker-toggle matSuffix [for]="pickerPublicDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerPublicDate></mat-datepicker>
                                <mat-error *ngIf="form.controls.publicDate.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xs-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>news.type</mat-label>
                                <mat-select formControlName="type" [(value)]="data.type"
                                    placeholder="Chọn loại bản tin">
                                    <mat-option [value]="0"><span translate>news.type-0</span></mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.type.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xs-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>news.languageId</mat-label>
                                <mat-select formControlName="languageId" [(value)]="data.languageId"
                                    placeholder="Chọn ngôn ngữ">
                                    <mat-option *ngFor="let item of categoryData.languages; index as i;"
                                        [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.languageId.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </div>

                </form>

                <ckeditor [(ngModel)]="model.editorData" [editor]="Editor"></ckeditor>

            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">

    <button roles-is="114" *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1"
        [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>

    <button roles-is="113" type="button" (click)="save()" mat-raised-button color="primary" class="m-1"
        [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>

</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>