<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>ticket-prepaid.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>ticket-prepaid.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>ticket-prepaid.projectId</mat-label>
                        <mat-select required formControlName="projectId" [(value)]="data.projectId" placeholder="Chọn dự án">
                            <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.projectId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>ticket-prepaid.ticketPriceId</mat-label>
                        <mat-select required formControlName="ticketPriceId" [(value)]="data.ticketPriceId" placeholder="Chọn loại vé, vui lòng chọn dự án và tài khoản khách hàng trước">
                            <mat-option value="">Chọn loại vé, vui lòng chọn dự án và tài khoản khách hàng trước</mat-option>
                            <mat-optgroup *ngFor="let item of customerGroups; index as i;" [label]="item.name">
                                <mat-option *ngFor="let itemTicket of item.ticketPrices; index as i;" [value]="itemTicket.id">
                                    <span class="text-name">{{itemTicket.name}}</span> | Loại vé:
                                    <span class="text-warning" *ngIf = "itemTicket.ticketType == 1" translate>ticket-price.ticketType-1</span>
                                    <span class="text-danger" *ngIf = "itemTicket.ticketType == 2" translate>ticket-price.ticketType-2</span>
                                    <span class="text-info" *ngIf = "itemTicket.ticketType == 3" translate>ticket-price.ticketType-3</span>
                                    | Giá vé: <span class="text-danger">{{appCommon.formatMoney(itemTicket.ticketValue,0,3)}}</span>
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                        <mat-error *ngIf="form.controls.ticketPriceId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Mô tả loại vé</mat-label>
                        <textarea  matInput formControlName="noteTicket" rows="3"></textarea>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-prepaid.ticketValue</mat-label>
                                <input currencyMask [options]="appCommon.moneyInputFormat()" matInput class="money-style" matInput formControlName="ticketValue" placeholder="" type="text">
                                <mat-error *ngIf="form.controls.ticketValue.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-prepaid.code</mat-label>
                                <input matInput formControlName="code" placeholder="" type="text" maxlength="1000">
                                <mat-error *ngIf="form.controls.code.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.code.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.code.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-prepaid.dateOfPayment</mat-label>
                                <input  matInput formControlName="dateOfPayment" [matDatepicker]="pickerDateOfPayment">
                                <mat-datepicker-toggle matSuffix [for]="pickerDateOfPayment"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDateOfPayment></mat-datepicker>
                                <mat-error *ngIf="form.controls.dateOfPayment.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-prepaid.startDate</mat-label>
                                <input matInput formControlName="startDate" [matDatepicker]="pickerStartDate">
                                <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerStartDate></mat-datepicker>
                                <mat-error *ngIf="form.controls.startDate.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-prepaid.endDate</mat-label>
                                <input matInput formControlName="endDate" [matDatepicker]="pickerEndDate">
                                <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerEndDate></mat-datepicker>
                                <mat-error *ngIf="form.controls.endDate.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>ticket-prepaid.note</mat-label>
                        <textarea  matInput formControlName="note" rows="3"></textarea>
                    </mat-form-field>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>