<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>project.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>project.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>

<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>project.name</mat-label>
                        <input matInput formControlName="name" type="text" minlength="1" maxlength="200">
                        <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>project.code</mat-label>
                        <input matInput formControlName="code" placeholder="" type="text" maxlength="20">
                        <mat-error *ngIf="form.controls.code.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.code.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.code.hasError('maxlength')" translate [translateParams]="{n: '20'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>project.description</mat-label>
                        <textarea matInput formControlName="description" rows="15"></textarea>
                        <mat-error *ngIf="form.controls.description.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.description.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>project.status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option [value]="0">Không sử dụng</mat-option>
                            <mat-option [value]="1">Sử dụng</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <div class="col-md-6">
                <div style="padding-bottom: 10px;">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Tìm kiếm trên map</mat-label>
                        <input matInput type="text" placeholder="Nhập từ khóa" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                    </mat-form-field>
                    <agm-map style="height: 400px;" [latitude]="location.latitude" (zoomChange)="zoomChange($event)" [longitude]="location.longitude" [zoom]="location.zoom" (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
                        <agm-marker *ngFor="let marker of location.markers" [latitude]="marker.lat" [label]="marker.label" [longitude]="marker.lng" (markerClick)="selectMarker($event)" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
                        </agm-marker>
                    </agm-map>
                </div>
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>station.lat</mat-label>
                                <input matInput formControlName="lat" placeholder="" type="text" maxlength="1000">
                                <mat-error *ngIf="form.controls.lat.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.lat.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.lat.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>station.lng</mat-label>
                                <input matInput formControlName="lng" placeholder="" type="text" maxlength="1000">
                                <mat-error *ngIf="form.controls.lng.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.lng.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.lng.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>Zoom mặc định</mat-label>
                                <input matInput formControlName="defaultZoom" placeholder="" type="number" min="0" maxlength="20">
                                <mat-error *ngIf="form.controls.lng.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.lng.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.lng.hasError('maxlength')" translate [translateParams]="{n: '20'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>