<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>logwork.modal-create</span></h1>

<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>logwork.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>logwork.shift</mat-label>
                        <mat-select required formControlName="shift" [(value)]="data.shift" placeholder="Chọn ca">
                            <mat-option [value]="0"><span translate>logwork.shift-0</span></mat-option>
                            <mat-option [value]="1"><span translate>logwork.shift-1</span></mat-option>
                            <mat-option [value]="2"><span translate>logwork.shift-2</span></mat-option>
                            <mat-option [value]="3"><span translate>logwork.shift-3</span></mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.shift.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>logwork.log-title</mat-label>
                        <input required matInput formControlName="title" placeholder="">
                        <mat-error *ngIf="form.controls.title.errors?.required" translate>validate.required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>logwork.description</mat-label>
                        <textarea rows="4" matInput formControlName="description" placeholder=""
                            maxlength="2000"></textarea>
                        <mat-error *ngIf="form.controls.description.errors?.required" translate>validate.required
                        </mat-error>
                        <mat-error *ngIf="form.controls.description.hasError('minlength')" translate
                            [translateParams]="{n: '1'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.description.hasError('maxlength')" translate
                            [translateParams]="{n: '2000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <app-file-upload-attached [viewPath]="logworkService" [accept]="categoryData.imagesType"
                        (outData)="getOutPut($event)" [multiple]="true" [apiUpload]="logworkService.uploadPath()"
                        [curentFiles]="[]">
                    </app-file-upload-attached>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1"
        [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>