<div fxLayout="column" class="p-1">

    <div fxFlex="100" fxFlex.gt-sm="30" fxLayout="row">

        <div fxFlex="20" class="flex-p">
            <mat-card class="p-0" style="border-radius:5px !important;">
                <div class="bg-transaction p-2" fxLayout="column" fxLayoutAlign="space-between end">
                    <h1 style="font-weight: 700;">{{appCommon.formatMoney(boxInfo.total_customer,0,3)}}</h1>
                    <div class="fw-400">Khách hàng</div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="20" class="flex-p">
            <mat-card class="p-0" style="border-radius:5px !important;">
                <div class="bg-customer p-2" fxLayout="column" fxLayoutAlign="space-between end">
                    <h1 style="font-weight: 700;">{{appCommon.formatMoney(boxInfo.total_hour,0,3)}}</h1>
                    <div class="fw-400">Giờ đã đi</div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="20" class="flex-p">
            <mat-card class="p-0" style="border-radius:5px !important;">
                <div class="bg-bike p-2" fxLayout="column" fxLayoutAlign="space-between end">
                    <h1 style="font-weight: 700;">{{appCommon.formatMoney(boxInfo.total_km,0,3)}}</h1>
                    <div class="fw-400">Km đã đi</div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="20" class="flex-p">
            <mat-card class="p-0" style="border-radius:5px !important;">
                <div class="bg-dock p-2" fxLayout="column" fxLayoutAlign="space-between end">
                    <h1 style="font-weight: 700;">{{appCommon.formatMoney(boxInfo.max_km,0,3)}}</h1>
                    <div class="fw-400">Km trong chuyến đi xa nhất</div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="20" class="flex-p">
            <mat-card class="p-0" style="border-radius:5px !important;">
                <div class="bg-cash-flow p-2" fxLayout="column" fxLayoutAlign="space-between end">
                    <h1 style="font-weight: 700;">{{appCommon.formatMoney(boxInfo.max_minute,0,3)}}</h1>
                    <div class="fw-400">Phút trong chuyến đi lâu nhất</div>
                </div>
            </mat-card>
        </div>

    </div>

    <div fxFlex="100" fxFlex.gt-sm="30" fxLayout="row">
        <div fxFlex="20" class="flex-p">
            <mat-card class="p-0" style="border-radius:5px !important;">
                <div class="bg-cyan p-2" fxLayout="column" fxLayoutAlign="space-between end">
                    <h1 style="font-weight: 700;">{{appCommon.formatMoney(boxInfo.wallet_balance_sum,0,3)}}</h1>
                    <div class="fw-400">Số dư tài khoản chính</div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="20" class="flex-p">
            <mat-card class="p-0" style="border-radius:5px !important;">
                <div class="bg-blue p-2" fxLayout="column" fxLayoutAlign="space-between end">
                    <h1 style="font-weight: 700;">{{appCommon.formatMoney(boxInfo.wallet_subbalance_sum,0,3)}}</h1>
                    <div class="fw-400">Số dư tài khoản khuyến mại</div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="20" class="flex-p">
            <mat-card class="p-0" style="border-radius:5px !important;">
                <div class="bg-orange p-2" fxLayout="column" fxLayoutAlign="space-between end">
                    <h1 style="font-weight: 700;">{{appCommon.formatMoney(boxInfo.recharge_sum,0,3)}}</h1>
                    <div class="fw-400">Tiền nạp</div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="20" class="flex-p">
            <mat-card class="p-0" style="border-radius:5px !important;">
                <div class="bg-deep-orange p-2" fxLayout="column" fxLayoutAlign="space-between end">
                    <h1 style="font-weight: 700;">{{appCommon.formatMoney(boxInfo.rent_sum,0,3)}}</h1>
                    <div class="fw-400">Tiêu trong chuyến đi</div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="20" class="flex-p">
            <mat-card class="p-0" style="border-radius:5px !important;">
                <div class="bg-pink p-2" fxLayout="column" fxLayoutAlign="space-between end">
                    <h1 style="font-weight: 700;">{{appCommon.formatMoney(boxInfo.balance_gift_sum,0,3)}}</h1>
                    <div class="fw-400">Tiền thưởng tài khoản chính</div>
                </div>
            </mat-card>
        </div>

    </div>

    <div class="flex-p">
        <mat-card class="p-0" style="border-radius:5px !important;">
            <div class="bg-primary p-1" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="icon-md">trending_up</mat-icon>
                <div style="font-weight: 400; margin-left: 5px;">BIỂU ĐỒ PHÂN TÍCH</div>
            </div>
            <div class="p-1" fxLayout="row" fxLayoutAlign="space-between center">

                <div fxFlex="100" fxLayout="column">

                    <div fxFlex="100" fxLayout="row" fxLayoutGap="10px">
                        <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label>Dự án</mat-label>
                                <mat-select [formControl]="ctrlProjectId">
                                    <mat-option [value]="">Tất cả</mat-option>
                                    <mat-option *ngFor="let item of categoryData.projects; index as i;"
                                        [value]="item.id.toString()">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label>Chế độ xem</mat-label>
                                <mat-select [(value)]="typeTimeView" (selectionChange)="typeTimeViewChange($event)">
                                    <mat-option value="day">Ngày</mat-option>
                                    <mat-option value="month">Tháng</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label>Từ ngày</mat-label>
                                <input [(ngModel)]="fromDate" matInput [matDatepicker]="pickerFromDate"
                                    [min]="minFromDate" [max]="maxFromDate" placeholder="Ngày/Tháng/Năm">
                                <mat-datepicker-toggle matSuffix [for]="pickerFromDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerFromDate></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>Đến ngày</mat-label>
                                <input [(ngModel)]="toDate" matInput [matDatepicker]="pickerToDate" [min]="minToDate"
                                    [max]="maxToDate" placeholder="Ngày/Tháng/Năm">
                                <mat-datepicker-toggle matSuffix [for]="pickerToDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerToDate></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>
                    <div fxFlex="100" style="line-height: 32px !important">

                        <mat-tab-group [selectedIndex]="viewType">

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <span>Tăng trưởng chung</span>
                                </ng-template>
                                <div style="height: 5px;"></div>
                                <app-chart-growth [fromDate]="fromDate" [toDate]="toDate"
                                    [projectId]="ctrlProjectId.value" [typeTimeView]="typeTimeView">
                                </app-chart-growth>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <span>Khách hàng</span>
                                </ng-template>
                                <div style="height: 5px;"></div>
                                <app-chart-customer [fromDate]="fromDate" [toDate]="toDate"
                                    [projectId]="ctrlProjectId.value" [typeTimeView]="typeTimeView">
                                </app-chart-customer>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <span>Tài chính</span>
                                </ng-template>
                                <div style="height: 5px;"></div>
                                <app-chart-finance [fromDate]="fromDate" [toDate]="toDate"
                                    [projectId]="ctrlProjectId.value" [typeTimeView]="typeTimeView">
                                </app-chart-finance>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <span>Chuyến đi</span>
                                </ng-template>
                                <div style="height: 5px;"></div>
                                <app-chart-transaction [fromDate]="fromDate" [toDate]="toDate"
                                    [projectId]="ctrlProjectId.value" [typeTimeView]="typeTimeView">
                                </app-chart-transaction>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <span>Trạm</span>
                                </ng-template>
                                <div style="height: 5px;"></div>
                                <app-chart-station [fromDate]="fromDate" [toDate]="toDate"
                                    [projectId]="ctrlProjectId.value" [typeTimeView]="typeTimeView">
                                </app-chart-station>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <span>Xe</span>
                                </ng-template>
                                <div style="height: 5px;"></div>
                                <app-chart-bike [fromDate]="fromDate" [toDate]="toDate"
                                [projectId]="ctrlProjectId.value" [typeTimeView]="typeTimeView">
                                </app-chart-bike>
                            </mat-tab>

                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

</div>