.fw-400 {
  font-weight: 400;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

.chart-container {
  margin-top: 10px;
  background-color: beige;
}

.bar-chart-container {
  height: 620px;
}

.chart-wraper {
  margin-top: 45px;
}

.bg-revenue {
  background: rgb(233, 30, 99);
  color: rgba(255, 255, 255, 0.87);
}

.bg-transaction {
  background: rgb(76, 175, 80);
  color: rgba(255, 255, 255, 0.87);
}

.bg-customer {
  background: rgb(0, 150, 136);
  color: rgba(255, 255, 255, 0.87);
}

.bg-cash-flow {
  background: rgb(63, 81, 181);
  color: rgba(255, 255, 255, 0.87);
}

.bg-bike {
  background: rgb(156, 39, 176);
  color: rgba(255, 255, 255, 0.87);
}

.bg-dock {
  background: rgb(103, 58, 183);
  color: rgba(255, 255, 255, 0.87);
}

.bg-red {
  background: rgb(244, 67, 54);
  color: rgba(255, 255, 255, 0.87);
}

.bg-pink {
  background: rgb(233, 30, 99);
  color: rgba(255, 255, 255, 0.87);
}

.bg-purple {
  background: rgb(156, 39, 176);
  color: rgba(255, 255, 255, 0.87);
}

.bg-deep-purple {
  background: rgb(103, 58, 183);
  color: rgba(255, 255, 255, 0.87);
}

.bg-indigo {
  background: rgb(63, 81, 181);
  color: rgba(255, 255, 255, 0.87);
}

.bg-blue {
  background: rgb(33, 150, 243);
  color: rgba(255, 255, 255, 0.87);
}

.bg-light-blue {
  background: rgb(3, 169, 244);
  color: rgba(255, 255, 255, 0.87);
}

.bg-cyan {
  background: rgb(0, 188, 212);
  color: rgba(255, 255, 255, 0.87);
}

.bg-teal {
  background: rgb(0, 150, 136);
  color: rgba(255, 255, 255, 0.87);
}

.bg-green {
  background: rgb(76, 175, 80);
  color: rgba(255, 255, 255, 0.87);
}

.bg-light-green {
  background: rgb(139, 195, 74);
  color: rgba(255, 255, 255, 0.87);
}

.bg-lime {
  background: rgb(205, 220, 57);
  color: rgba(255, 255, 255, 0.87);
}

.bg-yellow {
  background: rgb(255, 235, 59);
  color: rgba(255, 255, 255, 0.87);
}

.bg-amber {
  background: rgb(255, 193, 7);
  color: rgba(255, 255, 255, 0.87);
}

.bg-orange {
  background: rgb(255, 152, 0);
  color: rgba(255, 255, 255, 0.87);
}

.bg-deep-orange {
  background: rgb(255, 87, 34);
  color: rgba(255, 255, 255, 0.87);
}

.bg-brown {
  background: rgb(121, 85, 72);
  color: rgba(255, 255, 255, 0.87);
}

.bg-grey {
  background: rgb(158, 158, 158);
  color: rgba(255, 255, 255, 0.87);
}

.bg-blue-grey {
  background: rgb(96, 125, 139);
  color: rgba(255, 255, 255, 0.87);
}