<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>banner-group.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>banner-group.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">

</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>