<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>language.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>language.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>language.name</mat-label>
                        <input matInput formControlName="name" placeholder="" type="text" maxlength="1000">

                        <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required</mat-error>

                        <mat-error *ngIf="form.controls.name.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate
                            [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>language.code1</mat-label>
                        <input matInput formControlName="code1" placeholder="" type="text" maxlength="1000">

                        <mat-error *ngIf="form.controls.code1.errors?.required" translate>validate.required</mat-error>

                        <mat-error *ngIf="form.controls.code1.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.code1.hasError('maxlength')" translate
                            [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>language.code2</mat-label>
                        <input matInput formControlName="code2" placeholder="" type="text" maxlength="1000">

                        <mat-error *ngIf="form.controls.code2.errors?.required" translate>validate.required</mat-error>

                        <mat-error *ngIf="form.controls.code2.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.code2.hasError('maxlength')" translate
                            [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>language.flag1</mat-label>
                        <input matInput formControlName="flag1" placeholder="" type="text" maxlength="1000">

                        <mat-error *ngIf="form.controls.flag1.errors?.required" translate>validate.required</mat-error>

                        <mat-error *ngIf="form.controls.flag1.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.flag1.hasError('maxlength')" translate
                            [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>language.flag2</mat-label>
                        <input matInput formControlName="flag2" placeholder="" type="text" maxlength="1000">

                        <mat-error *ngIf="form.controls.flag2.errors?.required" translate>validate.required</mat-error>

                        <mat-error *ngIf="form.controls.flag2.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.flag2.hasError('maxlength')" translate
                            [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1"
        [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1"
        [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>