<div class="header-export">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>Báo cáo doanh thu tiền nạp</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>Danh sách báo cáo</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh mb-20">

        <span class="label-export"><span translate="" ng-reflect-translate="">DOANH THU TIỀN NẠP</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">
      
          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Từ ngày</mat-label>
              <input [(ngModel)]="revenue.from" matInput [matDatepicker]="pickerRevenueFrom"
                placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerRevenueFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerRevenueFrom></mat-datepicker>
            </mat-form-field>
          </div>
      
          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Đến ngày</mat-label>
              <input [(ngModel)]="revenue.to" matInput [matDatepicker]="pickerRevenueTo" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerRevenueTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerRevenueTo></mat-datepicker>
            </mat-form-field>
          </div>
      
          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('revenue')"
              [disabled]="isProcess.revenue">
              <mat-icon *ngIf="isProcess.revenue" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.revenue" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>
      
        </div>
      
      </div>

    </div>
  </div>
</div>