<mat-sidenav-container>
  
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
        <div fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
            <mat-card class="p-0 mat-elevation-z24 box">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                    ĐANG CHUYÊN HƯỚNG XIN ĐỢI
                </div>
            </mat-card>
          </div>    
  </div>

</mat-sidenav-container>