<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>discount-code.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>discount-code.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <div class="can-checkbox-form">
                        <mat-checkbox matInput formControlName="public" [value]="data.public"> <span>Chia sẻ công khai</span></mat-checkbox>
                    </div>

                    <div style="height: 15px;"></div>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>discount-code.customerGroupId</mat-label>
                        <mat-select required formControlName="customerGroupId" [(value)]="data.customerGroupId" placeholder="Chọn nhóm khách hàng">
                            <mat-option *ngIf="form.get('projectId').value == 0" [value] = "0">Tất cả tài khoản đều có thể kích hoạt</mat-option>
                            <mat-option *ngIf="form.get('projectId').value > 0" [value] = "0">Tất cả tài khoản trong dự án</mat-option>
                            <mat-option *ngFor="let item of customerGroups; index as i;" [value]="item.id">{{item.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.customerGroupId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>discount-code.provisoType</mat-label>
                        <mat-select required formControlName="provisoType" [(value)]="data.provisoType" placeholder="Chọn điều kiện khuyến mãi">
                            <mat-option [value]="0"><span translate>campaign.provisoType-0</span></mat-option>
                            <mat-option [value]="1"><span translate>campaign.provisoType-1</span></mat-option>
                            <mat-option [value]="2"><span translate>campaign.provisoType-2</span></mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div *ngIf="form.get('provisoType').value == 2">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label><span translate>discount-code.beneficiaryAccountId</span></mat-label>
                            <mat-select required [(value)]="data.beneficiaryAccountId" formControlName="beneficiaryAccountId" placeholder="Chọn khách hàng">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="accountKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'" [searching]="isProcess.accountSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option value="0">Không chọn</mat-option>
                                <mat-option *ngFor="let item of accounts; index as i;" [value]="item.id">
                                    Họ & tên: <strong>{{item.fullName}}</strong> | Giới tính: 
                                    <strong *ngIf = "item.sex == 0">Nữ</strong>
                                    <strong *ngIf = "item.sex == 1">Nam</strong>
                                    <strong *ngIf = "item.sex == 2">Khác</strong>
                                    | SĐT: {{item.phone}} | RFID: {{item.rfid}}
                                    | TT: <span translate class="text-warning" *ngIf="item.status == 0">account.status-0</span><span translate class="text-success" *ngIf="item.status == 1">account.status-1</span><span translate class="text-danger" *ngIf="item.status == 2">account.status-2</span>
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls.beneficiaryAccountId.errors?.required" translate>validate.required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <div class="col-md-6" *ngIf="data.id > 0">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>discount-code.code</mat-label>
                                <input required matInput formControlName="code" placeholder="" type="text" min="5" maxlength="20">
                                <mat-error *ngIf="form.controls.code.hasError('minlength')" translate [translateParams]="{n: '5'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.code.hasError('maxlength')" translate [translateParams]="{n: '20'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>discount-code.limit</mat-label>
                                <input required matInput formControlName="limit" placeholder="Từ 1 đến 500" type="number" min="1" max="10000">
                                <mat-error *ngIf="form.controls.limit.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.limit.hasError('min')" translate [translateParams]="{n: '1'}">validate.min</mat-error>
                                <mat-error *ngIf="form.controls.limit.hasError('max')" translate [translateParams]="{n: '10000'}">validate.max</mat-error>
                            </mat-form-field>
                        </div>
                     
                    </div>

                    <div class="row">
                        
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>discount-code.type</mat-label>
                                <mat-select formControlName="type" [(value)]="data.type" placeholder="Loại">
                                    <mat-option [value]="0">Giảm theo điểm cố định</mat-option>
                                    <mat-option [value]="1">Giảm theo tỉ lệ %</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6" *ngIf="form.get('type').value == 0">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>discount-code.point</mat-label>
                                <input currencyMask [options]="appCommon.moneyInputFormat()" matInput class="money-style" required formControlName="point" min="1000" max="10000000" placeholder="Ví dụ: 20000" type="text">
                                <mat-error *ngIf="form.controls.point.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.point.hasError('min')" translate [translateParams]="{n: '1000'}">validate.min</mat-error>
                                <mat-error *ngIf="form.controls.point.hasError('max')" translate [translateParams]="{n: '10000000'}">validate.max</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6" *ngIf="form.get('type').value == 1">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>discount-code.percent</mat-label>
                                <input matInput required formControlName="percent" min="1" max="100" placeholder="Ví dụ: 20 tương đương 20%" type="number">
                                <mat-error *ngIf="form.controls.percent.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button roles-is="25" *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button roles-is="24" type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>