<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>tenant-account.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>tenant-account.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                    <div class="row" *ngIf="data.id  == 0">
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.phone</mat-label>
                                <input matInput formControlName="phone" placeholder="" type="text">
                                <mat-error *ngIf="form.controls.phone.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <button style="position: relative;top: 4px;" type="button" (click)="search()" mat-raised-button color="warn" [disabled]="isProcess.searchProcess">
                                <mat-icon *ngIf="isProcess.searchProcess" class="icon-sm mat-icon icon-spin">autorenew
                                </mat-icon>
                                <mat-icon *ngIf="!isProcess.searchProcess" class="icon-sm icon-btn">search</mat-icon>
                                <span translate>Tìm kiếm</span>
                            </button>
                        </div>
                    </div>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>account.customerGroupId</mat-label>
                        <mat-select formControlName="customerGroupId" [(value)]="data.customerGroupId" placeholder="Chọn nhóm khách hàng">
                            <mat-option *ngFor="let item of customerGroups; index as i;" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.customerGroupId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>
                </form>
                <div *ngIf="account  != null && account != undefined">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>account.id</mat-label>
                        <input *ngIf="form.get('accountId').value != null" [disabled]="true" matInput value="{{ appCommon.pad(form.get('accountId').value, 9) }}" placeholder="" type="text">
                        <input *ngIf="form.get('accountId').value == null" [disabled]="true" matInput placeholder="" type="text">
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.fullName</mat-label>
                                <input [disabled]="true" matInput [(ngModel)]="account.fullName" placeholder="" type="text">
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.sex</mat-label>
                                <input *ngIf="account.sex == 1" [disabled]="true" matInput value="Nam">
                                <input *ngIf="account.sex == 0" [disabled]="true" matInput value="Nữ">
                                <input *ngIf="account.sex == 2" [disabled]="true" matInput value="Khác">
                                <input *ngIf="account.sex == null" [disabled]="true" matInput value="Khác">
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.birthday</mat-label>
                                <input [disabled]="true" matInput value="{{ account.birthday | date:'dd/MM/yyyy' }}" type="text">
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.phone</mat-label>
                                <input [disabled]="true" matInput [(ngModel)]="account.phone" placeholder="">
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.rfid</mat-label>
                                <input [disabled]="true" matInput [(ngModel)]="account.rfid" placeholder="">
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.email</mat-label>
                                <input [disabled]="true" matInput [(ngModel)]="account.email" placeholder="" type="text">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>