<div class="tParentLoading">
  <div *ngIf="isProcess.listDataTable" class="tloading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
      <div class="loader">Loading...</div>
    </div>
  </div>
  <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
    <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
        <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
          {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="customerGroupId">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>deposit-event.customerGroupId</span>/Mã sự kiện</th>
        <td mat-cell *matCellDef="let element"> 
          <div class="text-info">{{ appCommon.getCustomerGroup(categoryData.customerGroups ,element.customerGroupId) }}</div>
          <div class="text-name">{{ element.transactionCode }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="startAmount">
        <th mat-header-cell *matHeaderCellDef  matSortDisableClear><span translate>deposit-event.startAmount</span></th>
        <td mat-cell *matCellDef="let element">
          <strong class="text-danger">{{appCommon.formatMoney(element.startAmount,0,3)}}</strong>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef  matSortDisableClear><span translate>deposit-event.type</span></th>
        <td mat-cell *matCellDef="let element"> 
            <span translate *ngIf="element.type == 0">deposit-event.type-0</span>
            <span translate *ngIf="element.type == 1">deposit-event.type-1</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef  matSortDisableClear><span translate>Nội dung</span></th>
        <td mat-cell *matCellDef="let element"> 
            <div  *ngIf="element.type == 0">
                Nhận được {{appCommon.formatMoney(element.point)}} điểm, {{appCommon.formatMoney(element.subPoint)}} điểm khuyến mãi
            </div>
            <div  *ngIf="element.type == 1">
                Nhận được {{element.percent}}% điểm, {{element.subPercent}}% điểm khuyến mãi, tối đa số điểm nhận được {{appCommon.formatMoney(element.maxAmount)}} điểm            
            </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="subPointExpiry">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>deposit-event.subPointExpiry</span></th>
        <td mat-cell *matCellDef="let element"> 
          <div>{{ element.subPointExpiry }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="limit">
        <th mat-header-cell *matHeaderCellDef  matSortDisableClear><span translate>deposit-event.limit</span></th>
        <td mat-cell *matCellDef="let element"> {{ element.limit - element.used }}/{{ element.limit }} </td>
      </ng-container>
      
      <ng-container matColumnDef="provisoType">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>deposit-event.provisoType</span></th>
        <td mat-cell *matCellDef="let element">
          <span translate>campaign.provisoType-{{element.provisoType}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th width="110" mat-header-cell *matHeaderCellDef>
          <button (click)="search()" mat-raised-button class="m-1 btn-grid">
            <mat-icon class="icon-sm icon-btn">refresh</mat-icon>
          </button>
          <button roles-is="24" (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-1 btn-grid">
            <mat-icon class="icon-sm icon-btn">add</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button roles-is="24" (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
            <mat-icon class="icon-sm">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div #paginator_rec>
    <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>