<div class="header-t">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title"><span translate>user.title</span></div>
      <ol class="breadcrumb">
        <li><a routerLink="/"><span translate>base.home</span></a></li>
        <li class="active"><span translate>user.title-l</span></li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh">
        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>user.roleId</mat-label>
              <mat-select [(value)]="params.roleId" placeholder="Tất cả">
                <mat-option value=""><span translate>base.all</span></mat-option>
                <mat-option *ngFor="let item of roles; index as i;" [value]="item.id.toString()">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Trạng thái làm việc</mat-label>
              <mat-select [(value)]="params.isRetired" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="'true'"><span translate>Đã nghỉ việc</span></mat-option>
                <mat-option [value]="'false'"><span translate>Đang làm việc</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Mã nhân viên</mat-label>
              <input title="" matInput [(ngModel)]="params.code" (keyup.enter)="search()" autocomplete="off" placeholder="Tìm theo mã nhân viên" type="text">
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>base.keyword</mat-label>
              <input title="Tìm theo tên hiển thị, username, họ tên, CMTND" matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off" placeholder="Tìm theo tên hiển thị, username, họ tên, CMTND" type="text">
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="primary" (click)="search()" class="m-5px">
              <mat-icon class="icon-sm icon-btn">search</mat-icon>
            </button>
            <button (click)="openCreateDialog(null)" mat-raised-button color="blue" class="m-5px">
              <mat-icon class="icon-sm icon-btn">add</mat-icon>
            </button>
          </div>
        </div>

        <div class="tParentLoading">

          <div *ngIf="isProcess.listDataTable" class="tloading">
            <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
              <div class="loader">loading</div>
            </div>
          </div>

          <div id="can_scroll_table"></div>
          <div id="scroll_table" class="scroll-table" [style.height.px]="[heightTable]" style="overflow-y: auto; overflow-x: hidden;">
            <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"> <span translate>base.order</span> </th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                  {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear> <span translate>user.userName</span>/<span translate>user.displayName</span></th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-name">{{element.userName}}</div>
                  <div class="text-500">{{element.displayName}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear> <span translate>user.email</span>/<span translate>user.phoneNumber</span> </th>
                <td mat-cell *matCellDef="let element">
                  <div>{{ (element.email == null ? '---' : element.email)}}</div>
                  <div class="text-danger">{{ (element.phoneNumber == null ? '---' : element.phoneNumber)}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear> <span translate>user.address</span> </th>
                <td mat-cell *matCellDef="let element">
                  <div>{{ (element.address == null ? '---' : element.address) }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="fullName">
                <th style="width: 150px;" mat-header-cell *matHeaderCellDef matSortDisableClear> <span translate>user.fullName</span>/<span translate>user.sex</span></th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-danger">{{element.fullName}}</div>
                  <div>
                    <span *ngIf="element.sex == 0">Nữ</span>
                    <span *ngIf="element.sex == 1">Nam</span>
                    <span *ngIf="element.sex == 2">Khác</span>
                    - {{ (element.birthday == null ? '---' : (element.birthday | date: 'dd/MM/yyyy'))}}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="identificationID">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear> <span>CMTND</span>/<span translate>user.identificationSupplyDate</span></th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-info text-500">{{ (element.identificationID == null ? '---' : element.identificationID)}}</div>
                  <div>{{ (element.identificationSupplyDate == null ? '---' : element.identificationSupplyDate | date: 'dd/MM/yyyy')}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="roles">
                <th mat-header-cell *matHeaderCellDef> <span translate>user.roleId</span> </th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-500 text-info"><span *ngFor="let item of element.roles">{{item.name}}</span></div>
                  <div *ngIf="element.managerUser !=null">Quản lý: {{element.managerUser?.fullName}}</div>
                  <div *ngIf="element.roleType == 11">{{appCommon.getObjString(appStogate.getCategoryData().investors,element.objectIds)}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th style="width: 140px;" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>ticket-prepaid.createdUser</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.createdUserObject?.displayName}}</span></div>
                  <div><span class="">{{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="updatedDate">
                <th style="width: 140px;" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>ticket-prepaid.updatedUser</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.updatedUserObject?.displayName}}</span></div>
                  <div><span class="">{{ element.updatedDate | date: 'dd/MM/yyyy HH:mm' }}</span></div>
                </td>
              </ng-container>

              <ng-container matColumnDef="isRetired">
                <th mat-header-cell *matHeaderCellDef width="120"> <span translate>TT làm việc/Mã NV</span> </th>
                <td mat-cell *matCellDef="let element">
                  <div>
                    <span class="text-success" *ngIf="!element.isRetired"><span>Đang làm việc</span></span>
                    <span class="text-danger" *ngIf="element.isRetired"><span>Đã nghỉ việc</span></span>
                  </div>
                  <div>
                    <span class="text-500">{{ element.code }}</span>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="isLock">
                <th mat-header-cell *matHeaderCellDef width="120"> <span translate>user.isLock</span>/RFID </th>
                <td mat-cell *matCellDef="let element">
                  <div>
                    <span class="text-danger" *ngIf="element.isLock"><span translate>base.lock</span></span>
                    <span class="text-success" *ngIf="!element.isLock"><span translate>base.unlock</span></span>
                  </div>
                  <div>
                    <span class="text-500">{{ element.rfid }}</span>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th width="90" mat-header-cell *matHeaderCellDef> <span translate>base.action</span> </th>
                <td mat-cell *matCellDef="let element">
                  <button (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
                    <mat-icon class="icon-sm">edit</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>