<h1 mat-dialog-title><span translate>Xem đính kèm</span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <img src="{{pathView}}" style="width: 100%; min-height: 300px;background-color: darkgray;">
    </div>
</div>
<div class="dialog-footer">
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>