﻿@model TN.Domain.Model.BaseLogModel<TN.Domain.Model.AccountModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}


<form class="ajaxValidateForm usergroup" asp-action="Details">
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title"><i class="material-icons">update</i> CHI TIẾT LOG </h4>
    </div>
    <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        @{
            await Html.RenderPartialAsync("~/Areas/Log/Views/LogManager/Profile.cshtml", Model.Log);
        }
    </div>
    <div class="modal-body">
        <div class="divmodal">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-t">
                    <tr>
                        <th>Tên trường</th>
                        <th>Giá trị trước</th>
                        <th>Giá trị sau</th>
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Mã thẻ Etag</th>
                        <td>@Model.DataBefore?.Etag</td>
                        @if (@Model.DataBefore?.Etag != @Model.DataAfter?.Etag)
                        {
                            <td class="col-red">@Model.DataAfter?.Etag</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.Etag</td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a class="close" data-dismiss="modal" style="display:none;"></a>
        <a class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Quay lại</span></a>
    </div>
</form>