﻿@model TN.Domain.Model.Log
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<form class="ajaxValidateForm usergroup" asp-action="Details">
    <div class="modal-header">
        <h4 class="modal-title"><i class="material-icons">update</i> CHI TIẾT LOG </h4>
    </div>
    <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        @{ 
           await  Html.RenderPartialAsync("~/Areas/Log/Views/LogManager/Profile.cshtml",Model);
        }
    </div>
    <div class="modal-body">
        <div class="divmodal">
            <div class="row">
                <div class="col-md-6">
                    <div class="labelinfo-t bg-info mb-10">
                        Giá trị trước
                    </div>
                    <pre>
                         @Model.ValueAfter
                    </pre>
                </div>
                <div class="col-md-6">
                    <div class="labelinfo-t bg-info mb-10">
                        Giá trị sau
                    </div>
                    <pre>
                        @Model.ValueBefore
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a class="close" data-dismiss="modal" style="display:none;"></a>
        <a class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Quay lại</span></a>
    </div>
</form>