﻿@model TN.Domain.Model.BaseLogModel<TN.Domain.Model.DockModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<form class="ajaxValidateForm usergroup" asp-action="Details">
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title"><i class="material-icons">update</i> CHI TIẾT LOG </h4>
    </div>
    <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        @{
        await Html.RenderPartialAsync("~/Areas/Log/Views/LogManager/Profile.cshtml", Model.Log);
        }
    </div>
    <div class="modal-body">
        <div class="divmodal">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-t">
                    <tr>
                        <th>Tên trường</th>
                        <th>Giá trị trước</th>
                        <th>Giá trị sau</th>
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Id</th>
                        <td>@Model.DataBefore?.Id</td>
                        <td>@Model.DataAfter?.Id</td>
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Số IMEI</th>
                        <td>@Model.DataBefore?.IMEI</td>
                        @if (@Model.DataBefore?.IMEI != @Model.DataAfter?.IMEI)
                        {
                            <td class="col-red">@Model.DataAfter?.IMEI</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.IMEI</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Số Serial</th>
                        <td>@Model.DataBefore?.SerialNumber</td>
                        @if (@Model.DataBefore?.SerialNumber != @Model.DataAfter?.SerialNumber)
                        {
                            <td class="col-red">@Model.DataAfter?.SerialNumber</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.SerialNumber</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Model</th>
                        <td>@Model.DataBefore?.Model</td>
                        @if (@Model.DataBefore?.Model != @Model.DataAfter?.Model)
                        {
                            <td class="col-red">@Model.DataAfter?.Model</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.Model</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">ID Trạm</th>
                        <td>@Model.DataBefore?.StationId</td>
                        @if (@Model.DataBefore?.StationId != @Model.DataAfter?.StationId)
                        {
                            <td class="col-red">@Model.DataAfter?.StationId</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.StationId</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Thứ tự trong trạm</th>
                        <td>@Model.DataBefore?.OrderNumber</td>
                        @if (@Model.DataBefore?.OrderNumber != @Model.DataAfter?.OrderNumber)
                        {
                            <td class="col-red">@Model.DataAfter?.OrderNumber</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.OrderNumber</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Trạng thái sử dụng</th>
                        <td>@Model.DataBefore?.Status</td>
                        @if (@Model.DataBefore?.Status != @Model.DataAfter?.Status)
                        {
                            <td class="col-red">@Model.DataAfter?.Status</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.Status</td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a class="close" data-dismiss="modal" style="display:none;"></a>
        <a class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Quay lại</span></a>
    </div>
</form>