﻿@model TN.Domain.Model.BaseSearchModel<List<TN.Domain.Model.Log>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    int i = 1;
    var listController = (List<TN.Domain.Model.RoleController>)ViewData["ListController"];
}
@if (Model.TotalRows == 0)
{
    <tr>
        <td colspan="999">Không tìm thấy bản ghi nào</td>
    </tr>
}
@foreach (var item in Model.Data)
{
    <tr>
        <td class="text-center trcheck"><input type="checkbox" id="item_@i" class="filled-in chk-col-blue" /><label for="item_@i"></label></td>
        <td>@item.Action</td>
        <td>@listController.FirstOrDefault(m => m.Id == item.ObjectType)?.Name</td>
        <td>@item.SystemUser.Split(",").LastOrDefault()</td>
        <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
        <td>
            @if (item.Type == TN.Domain.Model.LogType.Normal)
            {
                <span class="label label-default">Normal</span>
            }
            else if (item.Type == TN.Domain.Model.LogType.Warning)
            {
                <span class="label label-warning">Warning</span>
            }
            else if (item.Type == TN.Domain.Model.LogType.Danger)
            {
                <span class="label label-danger">Danger</span>
            }
        </td>
        <td data-checked data-role-12>
            <div class="btn-group">
                <div class="btn-group btn- group-sm" role="group">
                    <a data-namemodal="#myModal" asp-action="Details" asp-route-id="@item.Id" title="Chi tiết" class="btn bg-indigo waves-effect btnPopup btncontrolgrid"><i class="material-icons iconcontrol">search</i></a>
                </div>
            </div>
        </td>
    </tr>
}
<script>
    initPopup();
    bindPagination("#bindPagination", "getDataGrid", @Model.Page, @Model.TotalRows, @Model.Limit);
    bindNumRow("#showNumRow", @Model.Page, @Model.TotalRows, @Model.Limit);
</script>