﻿@model TN.Domain.Model.Log
@{
    Layout = null;
}
<div class="divmodal form-horizontal form-detail-log" style="padding-top:10px;padding-bottom:10px;">
    <div class="row">
        <div class="form-group">
            <label class="col-sm-3 control-label">Tên người dùng:</label>
            <div class="col-sm-9">
                <p class="form-control-static form-control-static-t">@Model.SystemUser.Split(",").FirstOrDefault() (@Model.SystemUser.Split(",").LastOrDefault())</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Hành động:</label>
            <div class="col-sm-9">
                <p class="form-control-static form-control-static-t">@Model.Action - @Model.ObjectType</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Thời điểm thực hiện:</label>
            <div class="col-sm-9">
                <p class="form-control-static form-control-static-t"> @DateTime.FromBinary(Model.Timestamp).ToString("dd/MM/yyyy HH:mm:ss")</p>
            </div>
        </div>
    </div>
</div>