﻿@model TN.Domain.Model.BaseLogModel<TN.Domain.Model.StationConfigModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}


<form class="ajaxValidateForm usergroup" asp-action="Details">
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title"><i class="material-icons">update</i> CHI TIẾT LOG </h4>
    </div>
    <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        @{
        await Html.RenderPartialAsync("~/Areas/Log/Views/LogManager/Profile.cshtml", Model.Log);
        }
    </div>
    <div class="modal-body">
        <div class="divmodal">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-t">
                    <tr>
                        <th>Tên trường</th>
                        <th>Giá trị trước</th>
                        <th>Giá trị sau</th>
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Id</th>
                        <td>@Model.DataBefore?.Id</td>
                        <td>@Model.DataAfter?.Id</td>
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Tên cấu hình</th>
                        <td>@Model.DataBefore?.Name</td>
                        @if (@Model.DataBefore?.Name != @Model.DataAfter?.Name)
                        {
                            <td class="col-red">@Model.DataAfter?.Name</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.Name</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Server IP</th>
                        <td>@Model.DataBefore?.ServerIP</td>
                        @if (@Model.DataBefore?.ServerIP != @Model.DataAfter?.ServerIP)
                        {
                            <td class="col-red">@Model.DataAfter?.ServerIP</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.ServerIP</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Server Port</th>
                        <td>@Model.DataBefore?.ServerPort</td>
                        @if (@Model.DataBefore?.ServerPort != @Model.DataAfter?.ServerPort)
                        {
                            <td class="col-red">@Model.DataAfter?.ServerPort</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.ServerPort</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Mô tả</th>
                        <td>@Model.DataBefore?.Note</td>
                        @if (@Model.DataBefore?.Note != @Model.DataAfter?.Note)
                        {
                            <td class="col-red">@Model.DataAfter?.Note</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.Note</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Mặc định</th>
                        <td>@Model.DataBefore?.IsDefault</td>
                        @if (@Model.DataBefore?.IsDefault != @Model.DataAfter?.IsDefault)
                        {
                            <td class="col-red">@Model.DataAfter?.IsDefault</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.IsDefault</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Trạng thái sử dụng</th>
                        <td>@Model.DataBefore?.Status</td>
                        @if (@Model.DataBefore?.Status != @Model.DataAfter?.Status)
                        {
                            <td class="col-red">@Model.DataAfter?.Status</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.Status</td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a class="close" data-dismiss="modal" style="display:none;"></a>
        <a class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Quay lại</span></a>
    </div>
</form>