﻿@model TN.Domain.Model.BaseLogModel<TN.Domain.Model.UserEditManagerModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}


<form class="ajaxValidateForm usergroup" asp-action="Details">
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title"><i class="material-icons">update</i> CHI TIẾT LOG </h4>
    </div>
    <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        @{
            await Html.RenderPartialAsync("~/Areas/Log/Views/LogManager/Profile.cshtml", Model.Log);
        }
    </div>
    <div class="modal-body">
        <div class="divmodal">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-t">
                    <tr>
                        <th>Tên trường</th>
                        <th>Giá trị trước</th>
                        <th>Giá trị sau</th>
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Id</th>
                        <td>@Model.DataBefore?.Id</td>
                        @if (@Model.DataBefore?.Id != @Model.DataAfter?.Id)
                        {
                            <td class="col-red">@Model.DataAfter?.Id</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.Id</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Tên người dùng</th>
                        <td>@Model.DataBefore?.DisplayName</td>
                        @if (@Model.DataBefore?.DisplayName != @Model.DataAfter?.DisplayName)
                        {
                            <td class="col-red">@Model.DataAfter?.DisplayName</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.DisplayName</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Tài khoản</th>
                        <td>@Model.DataBefore?.UserName</td>
                        @if (@Model.DataBefore?.UserName != @Model.DataAfter?.UserName)
                        {
                            <td class="col-red">@Model.DataAfter?.UserName</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.UserName</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Avatar</th>
                        <td>@Model.DataBefore?.Avatar</td>
                        @if (@Model.DataBefore?.Avatar != @Model.DataAfter?.Avatar)
                        {
                            <td class="col-red">@Model.DataAfter?.Avatar</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.Avatar</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Số điện thoại</th>
                        <td>@Model.DataBefore?.PhoneNumber</td>
                        @if (@Model.DataBefore?.PhoneNumber != @Model.DataAfter?.PhoneNumber)
                        {
                            <td class="col-red">@Model.DataAfter?.PhoneNumber</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.PhoneNumber</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Trạng thái</th>
                        @if (Model.DataBefore?.IsLock == true)
                        {
                            <td>Khóa</td>
                        }
                        else
                        {
                            <td>Mở khóa</td>
                        }
                        @if (Model.DataAfter?.IsLock == true)
                        {
                            @if (Model.DataAfter?.IsLock != Model.DataBefore?.IsLock)
                            {
                                <td class="col-red">Khóa</td>
                            }
                            else
                            {
                                <td>Khóa</td>
                            }
                        }
                        else
                        {
                            @if (Model.DataAfter?.IsLock != Model.DataBefore?.IsLock)
                            {
                                <td class="col-red">Mở khóa</td>
                            }
                            else
                            {
                                <td>Mở khóa</td>
                            }
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Lý do khóa tài khoản</th>
                        <td>@Model.DataBefore?.NoteLock</td>
                        @if (@Model.DataBefore?.NoteLock != @Model.DataAfter?.NoteLock)
                        {
                            <td class="col-red">@Model.DataAfter?.NoteLock</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.NoteLock</td>
                        }
                    </tr>
                    <tr>
                        <th class="text-primary text-name">Nhóm quyền</th>
                        <td>@Model.DataBefore?.Roles</td>
                        @if (@Model.DataBefore?.Roles != @Model.DataAfter?.Roles)
                        {
                            <td class="col-red">@Model.DataAfter?.Roles</td>
                        }
                        else
                        {
                            <td>@Model.DataAfter?.Roles</td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a class="close" data-dismiss="modal" style="display:none;"></a>
        <a class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Quay lại</span></a>
    </div>
</form>