<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>voucher-code.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>voucher-code.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <!-- <div class="can-checkbox-form">
                        <mat-checkbox matInput formControlName="stacked" [value]="data.stacked"> <span>Chọn thì mã này là duy nhất có thể sử dụng nhiều lần (ngược lại sẽ tự sinh ra số mã theo số lượng, mỗi mã dùng được 1 lần)</span></mat-checkbox>
                        <div style="height: 5px;"></div>
                    </div> -->

                    <div class="can-checkbox-form">
                        <mat-checkbox matInput formControlName="public" [value]="data.public"> <span>Chia sẻ công khai</span></mat-checkbox>
                    </div>
                    <div style="height: 15px;"></div>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>voucher-code.customerGroupId</mat-label>
                        <mat-select required formControlName="customerGroupId" [(value)]="data.customerGroupId" placeholder="Chọn nhóm khách hàng">
                            <mat-option *ngIf="form.get('projectId').value == 0" [value] = "0">Tất cả tài khoản đều có thể kích hoạt</mat-option>
                            <mat-option *ngIf="form.get('projectId').value > 0" [value] = "0">Tất cả tài khoản trong dự án</mat-option>
                            <mat-option *ngFor="let item of customerGroups; index as i;" [value]="item.id">{{item.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.customerGroupId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>voucher-code.provisoType</mat-label>
                        <mat-select required formControlName="provisoType" [(value)]="data.provisoType" placeholder="Chọn điều kiện khuyến mãi">
                            <mat-option [value]="0"><span translate>campaign.provisoType-0</span></mat-option>
                            <mat-option [value]="1"><span translate>campaign.provisoType-1</span></mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="row">

                        <div class="col-md-6" *ngIf="(form.get('stacked').value == true && data.id == 0) || data.id > 0">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>voucher-code.code</mat-label>
                                <input required matInput formControlName="code" placeholder="" type="text" min="5" maxlength="20">
                                <mat-error *ngIf="form.controls.code.hasError('minlength')" translate [translateParams]="{n: '5'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.code.hasError('maxlength')" translate [translateParams]="{n: '20'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>voucher-code.type</mat-label>
                                <mat-select formControlName="type" [(value)]="data.type" placeholder="Loại">
                                    <mat-option [value]="1">Tặng điểm</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>voucher-code.limit</mat-label>
                                <input required matInput formControlName="limit" placeholder="Từ 1 đến 500" type="number" min="1" max="10000">
                                <mat-error *ngIf="form.controls.limit.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.limit.hasError('min')" translate [translateParams]="{n: '1'}">validate.min</mat-error>
                                <mat-error *ngIf="form.controls.limit.hasError('max')" translate [translateParams]="{n: '10000'}">validate.max</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="form.get('type').value == 1">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>voucher-code.point</mat-label>
                                <input currencyMask [options]="appCommon.moneyInputFormat()" matInput class="money-style" required formControlName="point" min="1000" max="10000000" placeholder="Ví dụ: 20000" type="text">
                                <mat-error *ngIf="form.controls.point.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.point.hasError('min')" translate [translateParams]="{n: '1000'}">validate.min</mat-error>
                                <mat-error *ngIf="form.controls.point.hasError('max')" translate [translateParams]="{n: '10000000'}">validate.max</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button roles-is="25" *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button roles-is="24" type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>