<h1 mat-dialog-title><span translate>Mở khóa</span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>QR Code</mat-label>
                            <input [disabled]="true" class="text-danger text-500" matInput value="{{ data.serialNumber }}">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>IMEI</mat-label>
                            <input [disabled]="true" class="text-500" matInput value="{{ data.imei }}">
                        </mat-form-field>
                    </div>
                </div>

                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Loại hành động</mat-label>
                        <mat-select required formControlName="commandType" [(value)]="data.commandType" placeholder="Chọn loại hành động">
                            <mat-option [value]="0"><span translate>open-lock-history.commandType-0</span></mat-option>
                            <mat-option [value]="1"><span translate>open-lock-history.commandType-1</span></mat-option>
                            <mat-option [value]="2"><span translate>open-lock-history.commandType-2</span></mat-option>
                            <mat-option [value]="3"><span translate>open-lock-history.commandType-3</span></mat-option>
                            <mat-option [value]="4"><span translate>open-lock-history.commandType-4</span></mat-option>
                            <mat-option [value]="5"><span translate>open-lock-history.commandType-5</span></mat-option>
                            <mat-option [value]="6"><span translate>open-lock-history.commandType-6</span></mat-option>
                            <mat-option [value]="7"><span translate>open-lock-history.commandType-7</span></mat-option>
                            <mat-option [value]="8"><span translate>open-lock-history.commandType-8</span></mat-option>
                            <mat-option [value]="9"><span translate>open-lock-history.commandType-9</span></mat-option>
                            <mat-option [value]="10"><span translate>open-lock-history.commandType-10</span></mat-option>
                            <mat-option [value]="11"><span translate>open-lock-history.commandType-11</span></mat-option>
                            <mat-option [value]="12"><span translate>open-lock-history.commandType-12</span></mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Lý do thực hiện</mat-label>
                        <textarea  required matInput rows="3" formControlName="note" placeholder="Lý do thực hiện" maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.note.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                    </mat-form-field>
                </form>
                
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label translate>Hệ thống phản hồi thống báo</mat-label>
                    <textarea readonly matInput rows="5" placeholder="Lý do thực hiện" maxlength="1000">{{noteOut}}</textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">lock_open</mat-icon>
        <span translate> Thực hiện hành động</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>