<div class="tParentLoading">
  <div *ngIf="isProcess.listDataTable" class="tloading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
      <div class="loader">Loading...</div>
    </div>
  </div>
  <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
    <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

      <ng-container matColumnDef="stt">
        <th #headTable_re mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
        <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
          {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} 
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>account.id</span></th>
        <td mat-cell *matCellDef="let element"> {{ appCommon.pad(element.accountId, 8) }} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.address</span></th>
        <td mat-cell *matCellDef="let element"> {{element.account?.address}} </td>
      </ng-container>

      <ng-container matColumnDef="birthday">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.birthday</span></th>
        <td mat-cell *matCellDef="let element"> {{element.account?.birthday | date : 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>account.createdDate</span></th>
        <td mat-cell *matCellDef="let element"> {{element.account?.createdDate | date : 'HH:mm dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="customerGroupId">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.customerGroupId</span></th>
        <td mat-cell *matCellDef="let element"> {{ appCommon.getCustomerGroup(categoryData.customerGroups, element.customerGroupId)}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.email</span></th>
        <td mat-cell *matCellDef="let element"> {{element.account?.email}} </td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.fullName</span></th>
        <td mat-cell *matCellDef="let element"> {{element.account?.fullName}} </td>
      </ng-container>

      <ng-container matColumnDef="rfid">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.rfid</span></th>
        <td mat-cell *matCellDef="let element"> <span class="text-danger">{{element.account?.rfid}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.phone</span></th>
        <td mat-cell *matCellDef="let element"> <span class="text-name">{{element.account?.phone}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.sex</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.account?.sex == 0">Nữ</span>
          <span *ngIf="element.account?.sex == 1">Nam</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.status</span></th>
        <td mat-cell *matCellDef="let element">
          <span class="text-warning" *ngIf="element.account?.status == 0" translate>account.status-0</span>
          <span class="text-success" *ngIf="element.account?.status == 1" translate>account.status-1</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.type</span></th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.account?.type == 0" translate>account.type-0</span>
          <span *ngIf="element.account?.type == 1" translate>account.type-1</span>
          <span *ngIf="element.account?.type == 2" translate>account.type-2</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.language</span></th>
        <td mat-cell *matCellDef="let element"> {{element.account?.language}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th width="110" mat-header-cell *matHeaderCellDef>
          <button (click)="search()" mat-raised-button class="m-1 btn-grid">
            <mat-icon class="icon-sm icon-btn">refresh</mat-icon>
          </button>
          <!-- <button (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-1 btn-grid">
            <mat-icon class="icon-sm icon-btn">add</mat-icon>
          </button> -->
        </th>
        <td mat-cell *matCellDef="let element">
          <!-- <button (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
            <mat-icon class="icon-sm">edit</mat-icon>
          </button> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div #paginator_rec>
    <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>