<h1 mat-dialog-title><span>Ảnh sự cố</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-12">
                <img src="{{bikeReportsService.apiUrl()}}{{data.file}}" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
</div>