<div class="header-t">
  <div fxLayout="row wrap">


    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>ticket-prepaid.title</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>ticket-prepaid.title-l</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh">
        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">
          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>ticket-prepaid.projectId</mat-label>
              <mat-select [(ngModel)]="params.projectId" [(value)]="params.projectId" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id.toString()">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="30" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label><span translate>transaction.customerGroupId</span></mat-label>
              <mat-select [(ngModel)]="params.customerGroupId" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option *ngFor="let item of categoryData.customerGroups | customerGroupsByProjectFilter: { projectId: params.projectId }; index as i;" [value]="item.id.toString()">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>ticket-price.ticketType</mat-label>
              <mat-select [(ngModel)]="params.ticketPrice_TicketType" [(value)]="params.ticketPrice_TicketType" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="'2'"><span translate>ticket-price.ticketType-2</span></mat-option>
                <mat-option [value]="'3'"><span translate>ticket-price.ticketType-3</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Ngày bán từ</mat-label>
              <input [(ngModel)]="params.sellStart" matInput [matDatepicker]="pickerFrom">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Ngày bán đến hết ngày</mat-label>
              <input [(ngModel)]="params.sellEnd" matInput [matDatepicker]="pickerTo">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label><span translate>ticket-prepaid.accountId</span></mat-label>
              <mat-select [(ngModel)]="params.accountId" [(value)]="params.accountId" placeholder="Tất cả">
                <mat-option>
                  <ngx-mat-select-search [formControl]="accountKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'" [searching]="isProcess.accountSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                </mat-option>
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option *ngFor="let item of accounts; index as i;" [value]="item.id">
                  <strong>{{item.fullName}}</strong> | {{item.phone}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>base.searchKey</mat-label>
              <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off" placeholder="Tìm kiếm theo mã vé" type="text">
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="primary" (click)="search()" class="m-5px">
              <mat-icon class="icon-sm icon-btn">search</mat-icon>
            </button>
            <!-- <button roles-is="32" (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-5px">
              <mat-icon class="icon-sm icon-btn">add</mat-icon>
            </button> -->
            <button mat-raised-button color="warn" class="m-5px" (click)="export()" [disabled]="isProcess.export">
              <mat-icon *ngIf="isProcess.export" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.export" class="icon-sm icon-btn">print</mat-icon>
          </button>
          </div>

        </div>
        <div class="tParentLoading">
          <div *ngIf="isProcess.listDataTable" class="tloading">
            <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
              <div class="loader">Loading...</div>
            </div>
          </div>
          <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
            <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                  {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="accountId">
                <th width="150" mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-prepaid.accountId</span></th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-info">{{element.account?.phone}}</div>
                  <div class="text-info" style="font-weight: 500;"> {{element.account?.fullName}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="customerGroupId">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-prepaid.customerGroupId</span></th>
                <td mat-cell *matCellDef="let element"> {{element.customerGroup?.name}} </td>
              </ng-container>

              <ng-container matColumnDef="startDate">
                <th width="150" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Hiệu lực</span></th>
                <td mat-cell *matCellDef="let element">
                  <div>Từ: <span class="text-500 text-success">{{element.startDate | date: 'dd/MM/yyyy'}}</span></div>
                  <div>Đến hết: <span class="text-500 text-danger">{{element.endDate | date: 'dd/MM/yyyy'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="ticketValue">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-prepaid.ticketValue</span></th>
                <td mat-cell *matCellDef="let element">
                  <strong class="text-danger">{{appCommon.formatMoney(element.ticketValue,0,3)}}</strong>
                </td>
              </ng-container>

              <ng-container matColumnDef="exp">
                <th  mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Đã sử dụng</span></th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-success"> {{appCommon.formatMoney(element.minutesSpent,0,3)}}/{{appCommon.formatMoney(element.ticketPrice_LimitMinutes,0,3)}} phút</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="dateOfPayment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>ticket-prepaid.dateOfPayment</span></th>
                <td mat-cell *matCellDef="let element"> {{element.dateOfPayment | date: 'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>ticket-prepaid.createdUser</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.createdUserObject?.displayName}}</span></div>
                  <div><span class="">{{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="updatedDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>ticket-prepaid.updatedUser</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.updatedUserObject?.displayName}}</span></div>
                  <div><span class="">{{element.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="projectId">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-prepaid.projectId</span></th>
                <td mat-cell *matCellDef="let element"> {{ appCommon.getObj(categoryData.projects, element.projectId)}} </td>
              </ng-container>

              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-prepaid.code</span></th>
                <td mat-cell *matCellDef="let element">
                  <div matTooltip ="{{element.ticketTypeNote}}">Loại vé:
                    <span class="text-danger" translate *ngIf="element.ticketPrice_TicketType == 1">ticket-price.ticketType-1</span>
                    <span class="text-success" translate *ngIf="element.ticketPrice_TicketType == 2">ticket-price.ticketType-2</span>
                    <span class="text-warning" translate *ngIf="element.ticketPrice_TicketType == 3">ticket-price.ticketType-3</span>
                  </div>
                  <div title="{{element.ticketTypeNote}}" class="text-name">{{element.code}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th width="90" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
                <td mat-cell *matCellDef="let element">
                  <button roles-is="32" (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
                    <mat-icon class="icon-sm">edit</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div #paginator_rec>
            <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>