<div fxLayout="column" style="font-size: 12px;">

    <div *ngIf="isAdmin" class="p-0" style="margin-bottom: 5px !important;">
        <div class="bg-primary p-1" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon class="icon-md" matTooltip="Doanh thu" matTooltipPosition="right">attach_money</mat-icon>
        </div>
        <div fxFlex="100" fxLayout="column" style="padding-top: 2px;">

            <div *ngFor="let item of analyticRevenueData" fxFlex="100">
                <mat-card class="p-0" style="padding:5px 10px !important;">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="fw-400">{{item.item1}}</div>
                        <div>
                            <strong class="text-primary">{{appCommon.formatMoney(item.item2,0,3)}}</strong>
                        </div>
                    </div>
                </mat-card>
            </div>

        </div>
    </div>

    <div *ngIf="isAdmin" class="p-0" style="margin-bottom: 5px;">
        <div class="bg-primary p-1" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon class="icon-md" matTooltip="Cổng thanh toán" matTooltipPosition="right">account_balance</mat-icon>
        </div>
        <div fxFlex="100" fxLayout="column">

            <div *ngFor="let item of analyticCashFlowData" fxFlex="100">
                <mat-card class="p-0" style="padding:5px 10px !important;">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div>{{item.item1}} (<strong class="text-danger"
                                matTooltip="{{appCommon.formatMoney(item.item2,0,3)}} giao dịch"
                                matTooltipPosition="right">{{appCommon.formatMoney(item.item2,0,3)}}</strong>)</div>
                        <div>
                            <strong class="text-primary">{{appCommon.formatMoney(item.item3,0,3)}}</strong>
                        </div>
                    </div>
                </mat-card>
            </div>

        </div>
    </div>

    <div class="p-0" style="margin-bottom: 5px;">
        <div class="bg-primary p-1" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon class="icon-md" matTooltip="Chuyến đi" matTooltipPosition="right">directions_bike</mat-icon>
        </div>
        <div fxFlex="100" fxLayout="column" style="padding-top: 2px;">

            <div *ngFor="let item of analyticTransactionData" fxFlex="100">
                <mat-card class="p-0" style="padding:5px 10px !important;">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="fw-400">{{item.item1}}</div>
                        <div>
                            <strong class="text-primary">{{item.item2}}</strong>
                        </div>
                    </div>
                </mat-card>
            </div>

        </div>
    </div>

    <div class="p-0" style="margin-bottom: 5px;">
        <div class="bg-primary p-1" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon class="icon-md" matTooltip="Khách hàng" matTooltipPosition="right">supervisor_account</mat-icon>
        </div>
        <div fxFlex="100" fxLayout="column">

            <div *ngFor="let item of analyticCustomerData" fxFlex="100">
                <mat-card class="p-0" style="padding:5px 10px !important;">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="fw-400">{{item.item1}}</div>
                        <div>
                            <strong class="text-primary">{{item.item2}}</strong>
                        </div>
                    </div>
                </mat-card>
            </div>

        </div>
    </div>

    <div class="p-0" style="margin-bottom: 5px;">
        <div class="bg-primary p-1" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon class="icon-md" matTooltip="Xe đạp" matTooltipPosition="right">pedal_bike</mat-icon>
        </div>
        <div fxFlex="100" fxLayout="column">

            <div *ngFor="let item of analyticBikeData" fxFlex="100">
                <mat-card class="p-0" style="padding:5px 10px !important;">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="fw-400">{{item.item1}}</div>
                        <div>
                            <strong class="text-primary">{{item.item2}}</strong>
                        </div>
                    </div>
                </mat-card>
            </div>

        </div>
    </div>

    <div class="p-0" style="margin-bottom: 5px;">
        <div class="bg-primary p-1" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon class="icon-md" matTooltip="Khóa | Sim" matTooltipPosition="right">lock</mat-icon>
        </div>
        <div fxFlex="100" fxLayout="column">

            <div *ngFor="let item of analyticDockData" fxFlex="100">
                <mat-card class="p-0" style="padding:5px 10px !important;">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="fw-400">{{item.item1}}</div>
                        <div>
                            <strong class="text-primary">{{item.item2}}</strong>
                        </div>
                    </div>
                </mat-card>
            </div>

        </div>
    </div>

</div>