<div class="header-t">
    <div fxLayout="row wrap">
        <div fxFlex="100" class="flex-p-15">
            <div class="breadcrumb_title" translate>booking.title</div>
            <ol class="breadcrumb">
                <li><a routerLink="/" translate>base.home</a></li>
                <li class="active" translate>booking.title-l</li>
            </ol>
        </div>
    </div>
</div>

<div class="can-page">
    <div fxLayout="column">
        <div class="flex-p-15 fix-page">
            <div class="box-sh">

                <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>transaction.projectId</mat-label>
                            <mat-select [(ngModel)]="params.projectId" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id.toString()">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="30" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label><span translate>transaction.customerGroupId</span></mat-label>
                            <mat-select [(ngModel)]="params.customerGroupId" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option *ngFor="let item of categoryData.customerGroups | customerGroupsByProjectFilter: { projectId: params.projectId }; index as i;" [value]="item.id.toString()">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>transaction.investorId</mat-label>
                            <mat-select [(ngModel)]="params.investorId" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option *ngFor="let item of categoryData.investors; index as i;" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>Bắt đầu chuyến đi từ</mat-label>
                            <input [(ngModel)]="params.from" matInput [matDatepicker]="pickerFrom" placeholder="Ngày/Tháng/Năm">
                            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFrom></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>Bắt đầu chuyến đi đến</mat-label>
                            <input [(ngModel)]="params.to" matInput [matDatepicker]="pickerTo" placeholder="Ngày/Tháng/Năm">
                            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTo></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>transaction.stationIn</mat-label>
                            <mat-select [(ngModel)]="params.stationIn" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option *ngFor="let item of categoryData.stations; index as i;" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label><span translate>Tài khoản khách hàng</span></mat-label>
                            <mat-select [(value)]="params.accountId" placeholder="Tất cả">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="accountKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'" [searching]="isProcess.accountSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option value="">Tất cả</mat-option>
                                <mat-option *ngFor="let item of accounts; index as i;" [value]="item.id">
                                    <strong>{{item.fullName}}</strong> | SĐT: {{item.phone}} | RFID: {{item.rfid}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>transaction.ticketPrice_TicketType</mat-label>
                            <mat-select [(ngModel)]="params.ticketPrice_TicketType" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option [value]="'1'"><span translate>ticket-price.ticketType-1</span></mat-option>
                                <mat-option [value]="'2'"><span translate>ticket-price.ticketType-2</span></mat-option>
                                <mat-option [value]="'3'"><span translate>ticket-price.ticketType-3</span></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>base.searchKey</mat-label>
                            <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off" placeholder="Từ theo mã giao dịch, biển số, mã QR" type="text">
                        </mat-form-field>
                    </div>

                    <div fxFlex="5" fxFlex.sm="30" fxLayoutAlign="start center" class="p-search">
                        <button mat-raised-button color="primary" (click)="search()" class="m-5px">
                            <mat-icon class="icon-sm icon-btn">search</mat-icon>
                        </button>
                    </div>

                    <div fxFlex="5" fxFlex.sm="30" fxLayoutAlign="start center" class="p-search">
                        <button mat-raised-button color="warn" class="m-5px" (click)="export()" [disabled]="isProcess.export">
                            <mat-icon *ngIf="isProcess.export" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                            <mat-icon *ngIf="!isProcess.export" class="icon-sm icon-btn">print</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="tParentLoading">
                    <div *ngIf="isProcess.listDataTable" class="tloading">
                        <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
                            <div class="loader">Loading...</div>
                        </div>
                    </div>
                    <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
                        <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

                            <ng-container matColumnDef="stt">
                                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
                                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                                    {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>transaction.id</span></th>
                                <td mat-cell *matCellDef="let element"> <strong class="text-info">{{
                                        appCommon.pad(element.id, 6) }}</strong> </td>
                            </ng-container>

                            <ng-container matColumnDef="station">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear>
                                    <span translate>transaction.station</span>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ appCommon.getObj(categoryData.stations, element.stationIn)}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="bikeId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Phương tiện</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div title="Biển số" class="text-info text-500">{{element.bike?.plate}}</div>
                                    <div title="QR code" class="text-danger text-500">
                                        {{element.bike?.dock?.serialNumber}}</div>
                                    <div title="IMEI" class="text-warning text-500">{{element.bike?.dock?.imei}}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="accountId">
                                <th style="width:150px;" mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>transaction.accountId</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="text-info">{{element.account?.phone}}</div>
                                    <div class="text-danger">{{element.account?.fullName}}</div>
                                    <div>
                                        NKH: <strong>{{element.customerGroup?.name}}</strong>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="customerGroupId">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>transaction.customerGroupId</span></th>
                                <td mat-cell *matCellDef="let element"> {{element.customerGroup?.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="transactionCode">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>transaction.transactionCode</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div>
                                        <span matTooltip="{{ element.isOpenRFID ? 'Mở bằng RFID' : '' }} {{ element.isEndRFID ? ' Đóng bằng RFID' : '' }}, mã RFID  {{element.rfid}}" *ngIf="element.isOpenRFID || element.isEndRFID" class="text-danger text-500">{{element.transactionCode}}</span>
                                        <span *ngIf="!element.isOpenRFID && !element.isEndRFID" class="text-name">{{element.transactionCode}}</span>
                                    </div>
                                    <div title="Người thực hiện: {{ element.updatedUserObject?.displayName }}, lý do: {{ element.feedback}}">
                                        TT:
                                        <strong class="text-info" *ngIf="element.status == 0" translate>transaction.status-0</strong>
                                        <strong class="text-danger" *ngIf="element.status == 1" translate>transaction.status-1</strong>
                                        <strong class="text-success" *ngIf="element.status == 2" translate>transaction.status-2</strong>
                                        <strong class="text-warning" *ngIf="element.status == 3" translate>transaction.status-3</strong>
                                        <strong class="text-warning" *ngIf="element.status == 4" translate>transaction.status-4</strong>
                                        <strong class="text-success" *ngIf="element.status == 5" translate>transaction.status-5</strong>
                                    </div>
                                    <div> Loại vé:
                                        <span class="text-success" *ngIf="element.ticketPrice_TicketType == 1" translate>ticket-price.ticketType-1</span>
                                        <span class="text-danger" *ngIf="element.ticketPrice_TicketType == 2" translate>ticket-price.ticketType-2</span>
                                        <span class="text-info" *ngIf="element.ticketPrice_TicketType == 3" translate>ticket-price.ticketType-3</span>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.status</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="text-info" *ngIf="element.status == 0" translate>transaction.status-0</span>
                                    <span class="text-danger" *ngIf="element.status == 1" translate>transaction.status-1</span>
                                    <span class="text-success" *ngIf="element.status == 2" translate>transaction.status-2</span>
                                    <span class="text-warning" *ngIf="element.status == 3" translate>transaction.status-3</span>
                                    <span class="text-warning" *ngIf="element.status == 4" translate>transaction.status-4</span>
                                    <span class="text-success" *ngIf="element.status == 5" translate>transaction.status-5</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="time">
                                <th style="width: 150px;" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>Thời gian bắt đầu/(số phút)</th>
                                <td mat-cell *matCellDef="let element">
                                    <div>
                                        {{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}
                                    </div>
                                    <div>
                                        (<strong class="text-danger">{{element.totalMinutes}}</strong>)
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="ticketDetail">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>transaction.ticketDetail</span></th>
                                <td mat-cell *matCellDef="let element"><span>{{element.ticketPrice_Note}}</span></td>
                            </ng-container>

                            <ng-container matColumnDef="ticketPriceId">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>transaction.ticketPrice_TicketType</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="text-success" *ngIf="element.ticketPrice_TicketType == 0" translate>ticket-price.ticketType-0</span>
                                    <span class="text-danger" *ngIf="element.ticketPrice_TicketType == 1" translate>ticket-price.ticketType-1</span>
                                    <span class="text-info" *ngIf="element.ticketPrice_TicketType == 2" translate>ticket-price.ticketType-2</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="investorId">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear>
                                    <span translate>transaction.investorId</span>
                                </th>
                                <td mat-cell *matCellDef="let element">

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="projectId">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear>Dự án / đơn vị đầu tư</th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="text-warning">{{ appCommon.getStation(categoryData.projects, element.projectId) }}</div>
                                    <div class="text-info">{{appCommon.getStation(categoryData.investors, element.investorId)}}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="startTime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.startTime</span></th>
                                <td mat-cell *matCellDef="let element"> {{element.startTime | date: 'HH:mm dd/MM/yyyy'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="isDockNotOpen">
                                <th style="width: 80px;" mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>transaction.isDockNotOpen</span></th>
                                <td (click)="selectBooking(element)" [class.active]="currentBookingMarker?.booking?.id == element.id" mat-cell *matCellDef="let element">
                                    <span *ngIf="element.isDockNotOpen" class="blink-danger">
                                        <span matTooltip="Khách hàng mở khóa thất bại khi bắt đầu chuyến đi" class="text-danger" translate>
                                            <mat-icon>warning</mat-icon>
                                        </span>
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th width="90" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <button (click)="openDetailsDialog(element)" title="Chi tiết giao dịch" mat-raised-button color="accent" class="m-1 btn-grid">
                                        <mat-icon class="icon-sm">tab</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div #paginator_rec>
                        <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
        <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
            <div class="loader">Loading...</div>
        </div>
    </div>