<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>dock.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>dock.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <mat-tab-group [selectedIndex]="data.tabIndex" (selectedTabChange)="matTabGroupChange($event,log)">
                    <mat-tab>
                        <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">info</mat-icon> <span class="label-tab">Thông tin chung</span>
                            </ng-template>
                            <div style="height: 15px;"></div>

                            <span class="label-note" style="padding: 4px 10px;">
                                <span translate>Thông tin khóa</span>
                            </span>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field floatLabel="always" appearance="outline">
                                        <mat-label translate>dock.serialNumber</mat-label>
                                        <input required matInput formControlName="serialNumber" placeholder="" type="text" maxlength="50">
                                        <mat-error *ngIf="form.controls.serialNumber.errors?.required" translate>validate.required</mat-error>
                                        <mat-error *ngIf="form.controls.serialNumber.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                        <mat-error *ngIf="form.controls.serialNumber.hasError('maxlength')" translate [translateParams]="{n: '50'}">validate.maxlength</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field floatLabel="always" appearance="outline">
                                        <mat-label translate>dock.imei</mat-label>
                                        <input required matInput formControlName="imei" placeholder="" type="text" maxlength="50">
                                        <mat-error *ngIf="form.controls.imei.errors?.required" translate>validate.required</mat-error>
                                        <mat-error *ngIf="form.controls.imei.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                                        <mat-error *ngIf="form.controls.imei.hasError('maxlength')" translate [translateParams]="{n: '50'}">validate.maxlength</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field floatLabel="always" appearance="outline">
                                        <mat-label translate>dock.producerId</mat-label>
                                        <mat-select formControlName="producerId" [(value)]="data.producerId" placeholder="Chọn nhà sản xuất">
                                            <mat-option value="0">Chọn nhà sản xuất</mat-option>
                                            <mat-option *ngFor="let item of categoryData.producers; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field floatLabel="always" appearance="outline">
                                        <mat-label translate>dock.modelId</mat-label>
                                        <mat-select formControlName="modelId" [(value)]="data.modelId" placeholder="Chọn mẫu mã">
                                            <mat-option value="0">Chọn mẫu mã</mat-option>
                                            <mat-option *ngFor="let item of categoryData.models | modelFilter: { producerId: form.get('producerId').value }; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field floatLabel="always" appearance="outline">
                                        <mat-label translate>dock.sim</mat-label>
                                        <input matInput formControlName="sim" placeholder="Ví dụ: 0987265582" type="text" maxlength="20">
                                        <mat-error *ngIf="form.controls.sim.errors?.required" translate>validate.required</mat-error>
                                        <mat-error *ngIf="form.controls.sim.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                                        <mat-error *ngIf="form.controls.sim.hasError('maxlength')" translate [translateParams]="{n: '50'}">validate.maxlength</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field floatLabel="always" appearance="outline">
                                        <mat-label><span translate>dock.bikeId</span></mat-label>
                                        <input style="display: none;" matInput type="text">
                                        <div class="mat-input-element" *ngIf="data.bike != null">
                                            Biển số: <strong class="text-name">{{data.bike?.plate}}</strong> | Serial: <strong class="text-danger">{{data.bike?.serialNumber}}</strong> | Trạng thái:
                                            <span translate *ngIf="data.bike?.status == 0">bike.status-0</span>
                                            <strong translate *ngIf="data.bike?.status == 1">bike.status-1</strong>
                                            <strong translate *ngIf="data.bike?.status == 2">bike.status-2</strong>
                                            <span translate *ngIf="data.bike?.status == 3">bike.status-3</span>
                                        </div>
                                        <div class="mat-input-element text-danger" *ngIf="data.bike == null">
                                            Khóa này chưa gắn trên xe nào
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>

                            <span class="label-note" style="padding: 4px 10px;">
                                <span translate>Thông tin quản lý</span>
                            </span>

                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>dock.projectId</mat-label>
                                <mat-select formControlName="projectId" [(value)]="data.projectId" placeholder="Chọn dự án">
                                    <mat-option value="0">Chọn dự án</mat-option>
                                    <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.projectId.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>

                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>dock.investorId</mat-label>
                                <mat-select formControlName="investorId" [(value)]="data.investorId" placeholder="Chọn đơn vị đầu tư">
                                    <mat-option value="0">Chọn đơn vị đầu tư</mat-option>
                                    <mat-option *ngFor="let item of categoryData.investors; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.projectId.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                            
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>Ghi chú</mat-label>
                                <textarea matInput formControlName="note" rows="5" placeholder="" type="text" maxlength="1000"></textarea>
                                <mat-error *ngIf="form.controls.note.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.note.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                            </mat-form-field>

                            <span class="label-note" style="padding: 4px 10px;">
                                <span translate>Thông tin cấu hình</span>
                            </span>

                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label><span translate>dock.stationId</span> (cần chọn dự án)</mat-label>
                                <mat-select formControlName="stationId" [(value)]="data.stationId" placeholder="Chọn dự án">
                                    <mat-option value="0">Không chọn trạm</mat-option>
                                    <mat-option *ngFor="let item of categoryData.stations ; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field floatLabel="always" appearance="outline">
                                        <mat-label translate>dock.status</mat-label>
                                        <mat-select formControlName="status">
                                            <mat-option [value]="0"><span translate>dock.status-0</span></mat-option>
                                            <mat-option [value]="1"><span translate>dock.status-1</span></mat-option>
                                            <mat-option [value]="2"><span translate>dock.status-2</span></mat-option>
                                            <mat-option [value]="3"><span translate>dock.status-3</span></mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <div *ngIf="form.get('status').value == 3 || form.get('status').value == 2">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label class="text-danger" translate>dock.warehouseId</mat-label>
                                            <mat-select formControlName="warehouseId" [(value)]="data.warehouseId" placeholder="Chọn kho">
                                                <mat-option value="0">Chọn kho</mat-option>
                                                <mat-option *ngFor="let item of categoryData.warehouses; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="text-danger">
                                Chú ý: nếu khóa đã được đặt trên xe thì trạng thái, trạm, kho sẽ đính theo xe đó.
                            </div>
                        </form>
                    </mat-tab>

                    <mat-tab [disabled]="data.id == 0">
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">event</mat-icon>
                            <span> Lịch sử cập nhật</span>
                        </ng-template>
                        <div style="height: 15px;"></div>
                        <div id="fix_detail"></div>
                        <div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
                            <div>
                                <app-docks-log #log [bike]="data"></app-docks-log>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>

<div class="dialog-footer">
    <button roles-is="49" *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button roles-is="48" type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>