<div>
  <div class="tParentLoading">
    <div *ngIf="isProcess.listDataTable" class="tloading">
      <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
        <div class="loader">Loading...</div>
      </div>
    </div>
    <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
      <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span>
          </th>
          <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
            {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th style="width: 190px;" mat-header-cell *matHeaderCellDef matSortDisableClear>Thời gian giao dịch/kiểu nạp/loại giao dịch</th>
          <td mat-cell *matCellDef="let element">
            <div title="{{element.padTime}}" [class.text-warning]="element.isWarningHistory" [class.text-tư]="!element.isWarningHistory" class="text-500">
              {{element.createdDate | date : 'dd/MM/yyyy HH:mm:ss'}}
            </div>
            <div>
              <div class="text-500 text-warning">
                <span translate *ngIf="element.paymentGroup == 0">wallet-transaction.paymentGroup-0</span>
                <span translate *ngIf="element.paymentGroup == 1">wallet-transaction.paymentGroup-1</span>
                <span translate *ngIf="element.paymentGroup == 2">wallet-transaction.paymentGroup-2</span>
                <span translate *ngIf="element.paymentGroup == 3">wallet-transaction.paymentGroup-3</span>
                <span translate *ngIf="element.paymentGroup == 4">wallet-transaction.paymentGroup-4</span>
              </div>
            </div>

            <div>
              <span translate>wallet-transaction.type-{{element.type}}</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="transactionCode">
          <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>wallet-transaction.transactionCode</span>/mã đơn hàng</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf = "element.type == 0 || element.type == 1 || element.type == 8" class="text-danger">Số tiền: <strong>{{appCommon.formatMoney(element.price,0,3)}} VNĐ</strong></div>
            <div class="text-danger">{{ (element.transactionCode == null ? '---' : element.transactionCode) }}</div>
            <div class="text-info">{{element.orderIdRef}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef matSortDisableClear>Điểm/điểm KM/điểm chuyến đi</th>
          <td mat-cell *matCellDef="let element">
            <div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
              <strong *ngIf="element.type != 1 && element.type != 2 && element.type != 6 && element.type != 9 && element.type != 11 && element.type != 12 && element.type != 14" class="text-success">+{{appCommon.formatMoney(element.amount,0,3)}}</strong>
              <strong *ngIf="element.type == 1 || element.type == 2 || element.type == 6 || element.type == 9 || element.type == 11 || element.type == 12 || element.type == 14" class="text-danger">-{{appCommon.formatMoney(element.amount,0,3)}}</strong>
            </div>
            <div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
              <strong *ngIf="element.type != 1 && element.type != 2 && element.type != 6&& element.type != 9 && element.type != 11 && element.type != 12 && element.type != 14" class="text-success">+{{appCommon.formatMoney(element.subAmount,0,3)}}</strong>
              <strong *ngIf="element.type == 1 || element.type == 2 || element.type == 6 || element.type == 9 || element.type == 11 || element.type == 12 || element.type == 14" class="text-danger">-{{appCommon.formatMoney(element.subAmount,0,3)}}</strong>
            </div>
            <div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
              <strong *ngIf="element.type != 7" class="text-success">+{{appCommon.formatMoney(element.tripPoint,0,3)}}</strong>
              <strong *ngIf="element.type == 7"  class="text-danger">-{{appCommon.formatMoney(element.tripPoint,0,3)}}</strong>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="wallet">
          <th mat-header-cell *matHeaderCellDef matSortDisableClear>Tài khoản trước biến động (Điểm/điểm KM/điểm chuyến đi)</th>
          <td mat-cell *matCellDef="let element">
            <div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
              <strong>{{appCommon.formatMoney(element.wallet_Balance,0,3)}}</strong>
            </div>
            <div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
              <strong>{{appCommon.formatMoney(element.wallet_SubBalance,0,3)}}</strong>
            </div>
            <div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
              <strong>{{appCommon.formatMoney(element.wallet_TripPoint,0,3)}}</strong>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>wallet-transaction.status</span></th>
          <td mat-cell *matCellDef="let element">
            <span translate class="text-warning" *ngIf="element.status == 0">wallet-transaction.status-0</span>
            <span translate class="text-success" *ngIf="element.status == 1">wallet-transaction.status-1</span>
            <span translate class="text-danger" *ngIf="element.status == 2">wallet-transaction.status-2</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="account">
          <th style="width: 150px;" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Khách hàng/số điện thoại/RFID</span></th>
          <td mat-cell *matCellDef="let element">
            <div>{{element.account?.fullName}}</div>
            <div class="text-name">{{element.account?.phone}}</div>
            <div *ngIf="element.account?.rfid!=null" class="text-500 text-danger">{{element.account?.rfid}}</div>
            <div *ngIf="element.account?.rfid==null" class="text-500 text-danger">---</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="campaignId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Chương trình khuyến mãi</span></th>
          <td mat-cell *matCellDef="let element"> {{element.campaign?.name}} </td>
        </ng-container>

        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>wallet-transaction.note</span></th>
          <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>

        <ng-container matColumnDef="adminNote">
          <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>wallet-transaction.adminNote</span></th>
          <td mat-cell *matCellDef="let element">
            <div class="text-danger">{{element.adminNote}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>ticket-prepaid.createdUser</span></th>
          <td mat-cell *matCellDef="let element">
            <div><span class="text-500">{{element.createdUserObject?.displayName}}</span></div>
            <div><span class="">{{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="updatedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>ticket-prepaid.updatedUser</span></th>
          <td mat-cell *matCellDef="let element">
            <div><span class="text-500">{{element.updatedUserObject?.displayName}}</span></div>
            <div><span class="">{{element.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="files">
          <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Số đính kèm</span></th>
          <td mat-cell *matCellDef="let element">
            {{getFilesCount(element.files)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th width="50" mat-header-cell *matHeaderCellDef>
            <button (click)="search()" mat-raised-button class="m-1 btn-grid">
              <mat-icon class="icon-sm icon-btn">refresh</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div #paginator_rec>
      <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>