<div mat-dialog-content style="padding-top: 10px;">
    {{message}}
</div>
<div style="text-align: center;text-align: center;margin-top: 13px;">
    <button mat-button (click)="onClick(false)" mat-raised-button  class="m-1" cdkFocusInitial>Không</button>
    <button (click)="onClick(true)" mat-raised-button color="warn" class="m-1" >Đồng ý</button>
</div>