<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>redeem-point.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>redeem-point.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>redeem-point.name</mat-label>
                        <input required matInput formControlName="name" placeholder="" type="text" maxlength="100">
                        <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate
                            [translateParams]="{n: '100'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>redeem-point.tripPoint</mat-label>
                                <input required matInput formControlName="tripPoint" placeholder="" type="number"
                                    min="1">
                                <mat-error *ngIf="form.controls.tripPoint.errors?.required" translate>validate.required
                                </mat-error>
                                <mat-error *ngIf="form.controls.tripPoint.hasError('min')" translate
                                    [translateParams]="{n: '1'}">validate.min</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>redeem-point.toPoint</mat-label>
                                <input required matInput formControlName="toPoint" placeholder="" type="number" min="1">
                                <mat-error *ngIf="form.controls.toPoint.errors?.required" translate>validate.required
                                </mat-error>
                                <mat-error *ngIf="form.controls.toPoint.hasError('min')" translate
                                    [translateParams]="{n: '1'}">validate.min</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>redeem-point.note</mat-label>
                        <textarea matInput formControlName="note" placeholder="" rows="4" maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate
                            [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1"
        [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1"
        [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>