<h1 mat-dialog-title><span translate>user.modal-create</span></h1>
<a (click)="close()" title="Đóng cửa sổ" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" role="form">
                    <span class="label-note" translate>Thông tin tài khoản</span>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.displayName</mat-label>
                                <input required matInput formControlName="displayName" type="text" minlength="4" maxlength="30">
                                <mat-error *ngIf="form.controls.displayName.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.displayName.hasError('minlength')" translate [translateParams]="{n: '4'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.displayName.hasError('maxlength')" translate [translateParams]="{n: '30'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>Mã nhân viên</mat-label>
                                <input value="Hệ thống tự sinh" readonly matInput formControlName="id" type="text">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.userName</mat-label>
                                <input required matInput minlength="4" maxlength="15" formControlName="username" type="text">
                                <mat-error *ngIf="form.controls.username.errors?.required" translate>validate.required
                                </mat-error>
                                <mat-error *ngIf="form.controls.username.hasError('minlength')" translate [translateParams]="{n: '4'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.username.hasError('maxlength')" translate [translateParams]="{n: '20'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6 ctr-password">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.password</mat-label>
                                <input maxlength="12" autocomplete="none" matInput formControlName="password" type="password">
                                <mat-error *ngIf="form.controls.password.hasError('maxlength')" translate [translateParams]="{n: '6'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.password.hasError('maxlength')" translate [translateParams]="{n: '12'}">validate.maxlength</mat-error>
                                <mat-error *ngIf="form.get('password').hasError('invalidPasswordStrong')">Mật khẩu 6 - 12 ký tự, phải chứa 1 ký tự viết hoa, ký tự đặc biệt và số</mat-error>
                            </mat-form-field>
                            <div class="canCheckbox" title="check để đổi mật khẩu">
                                <mat-checkbox color="primary" formControlName="isChangePassword"><span translate>&nbsp;</span></mat-checkbox>
                            </div>
                        </div>
                    </div>

                    <div class="can-checkbox-form">
                        <mat-checkbox matInput formControlName="isLock" [value]="data.isLock"><span translate>user.isLock</span></mat-checkbox>
                    </div>
                    <div style="padding-bottom: 10px;"></div>
                    <span class="label-note" translate>Thông tin cá nhân</span>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.fullName</mat-label>
                                <input required matInput formControlName="fullName" type="text" minlength="5" maxlength="100">
                                <mat-error *ngIf="form.controls.fullName.errors?.required" translate> validate.required</mat-error>
                                <mat-error *ngIf="form.controls.fullName.hasError('minlength')" translate [translateParams]="{n: '5'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.fullName.hasError('maxlength')" translate [translateParams]="{n: '100'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.sex</mat-label>
                                <mat-select required formControlName="sex">
                                    <mat-option [value]="0"><span translate>Nữ</span></mat-option>
                                    <mat-option [value]="1"><span translate>Nam</span></mat-option>
                                    <mat-option [value]="2"><span translate>Khác</span></mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.sex.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.birthday</mat-label>
                                <input required matInput formControlName="birthday" [matDatepicker]="pickerBirthday">
                                <mat-datepicker-toggle matSuffix [for]="pickerBirthday"></mat-datepicker-toggle>
                                <mat-datepicker #pickerBirthday></mat-datepicker>
                                <mat-error *ngIf="form.controls.birthday.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.address</mat-label>
                                <input required matInput maxlength="200" formControlName="address" type="text">
                                <mat-error *ngIf="form.controls.address.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.address.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.email</mat-label>
                                <input required matInput formControlName="email" type="text">
                                <mat-error *ngIf="form.controls.email.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.email.errors?.email" translate>validate.format</mat-error>
                                <mat-error *ngIf="form.controls.email.hasError('minlength')" translate [translateParams]="{n: '10'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.email.hasError('maxlength')" translate [translateParams]="{n: '50'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.phoneNumber</mat-label>
                                <input required matInput autocomplete="off" formControlName="phoneNumber" type="text">
                                <mat-error *ngIf="form.controls.phoneNumber.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.phoneNumber.hasError('maxlength')" translate [translateParams]="{n: '50'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.education</mat-label>
                                <input  matInput autocomplete="off" formControlName="education" type="text">
                                <mat-error *ngIf="form.controls.education.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <span class="label-note" translate>Thông tin CMTND/CCCD/HC</span>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.identificationID</mat-label>
                                <input matInput maxlength="50" formControlName="identificationID" type="text">
                                <mat-error *ngIf="form.controls.identificationID.hasError('maxlength')" translate [translateParams]="{n: '50'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.identificationSupplyDate</mat-label>
                                <input matInput formControlName="identificationSupplyDate" [matDatepicker]="identificationSupplyDate">
                                <mat-datepicker-toggle matSuffix [for]="identificationSupplyDate"></mat-datepicker-toggle>
                                <mat-datepicker #identificationSupplyDate></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.identificationSupplyAdress</mat-label>
                                <input matInput maxlength="200" formControlName="identificationSupplyAdress" type="text">
                                <mat-error *ngIf="form.controls.identificationSupplyAdress.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.identificationAdress</mat-label>
                                <input matInput maxlength="200" formControlName="identificationAdress" type="text">
                                <mat-error *ngIf="form.controls.identificationAdress.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.identificationAdress.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.identificationAdress.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.identificationPhotoFront</mat-label>
                                <app-file-upload [accept]="appStogate.imagesType" class="fileUpload" (outData)="form.get('identificationPhotoFront').setValue($event.data?.path);data.identificationPhotoFront = $event.data?.path" [multiple]="false" [defaultSrc]="data.identificationPhotoFront==null? '../assets/img/app/no-image.png' : getFullUrl(data.identificationPhotoFront)" [apiUpload]="collaboratorsService.uploadImage()"></app-file-upload>
                                <input class="hide" matInput formControlName="identificationPhotoFront" type="text">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.identificationPhotoBackside</mat-label>
                                <app-file-upload [accept]="appStogate.imagesType" class="fileUpload" (outData)="form.get('identificationPhotoBackside').setValue($event.data?.path);data.identificationPhotoBackside = $event.data?.path" [multiple]="false" [defaultSrc]="data.identificationPhotoBackside==null? '../assets/img/app/no-image.png' : getFullUrl(data.identificationPhotoBackside)" [apiUpload]="collaboratorsService.uploadImage()"></app-file-upload>
                                <input class="hide" matInput formControlName="identificationPhotoBackside" type="text">
                            </mat-form-field>
                        </div>
                    </div>

                    <span class="label-note" translate>Thông tin nhân viên</span>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.workingDateFrom</mat-label>
                                <input matInput formControlName="workingDateFrom" [matDatepicker]="workingDateFrom">
                                <mat-datepicker-toggle matSuffix [for]="workingDateFrom"></mat-datepicker-toggle>
                                <mat-datepicker #workingDateFrom></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>user.workingDateTo</mat-label>
                                <input matInput formControlName="workingDateTo" [matDatepicker]="workingDateTo">
                                <mat-datepicker-toggle matSuffix [for]="workingDateTo"></mat-datepicker-toggle>
                                <mat-datepicker #workingDateTo></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="can-checkbox-form">
                        <mat-checkbox color="warn" matInput formControlName="isRetired" [value]="data.isRetired"><span translate>Đã nghỉ việc</span></mat-checkbox>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button roles-is="249" type="button" (click)="save()" mat-raised-button color="primary" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>

    <div class="valid-status">
        <span (click)="onGetRequired()" *ngIf="!form.valid" class="text-danger">Chưa nhập đủ trường thông tin <mat-icon>info</mat-icon></span>
        <span *ngIf="form.valid" class="text-success">Nhập đủ trường thông tin <mat-icon>check_circle</mat-icon></span>
    </div>
</div>
