<div class="header-export">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>BÁO CÁO QUẢN LÝ NHÂN VIÊN - CTV</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>Danh sách báo cáo</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">


      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">NHÂN VIÊN VTS</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Từ ngày</mat-label>
              <input [(ngModel)]="nvvts.from" matInput [matDatepicker]="pickernvvtsFrom"
                placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickernvvtsFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickernvvtsFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Đến ngày</mat-label>
              <input [(ngModel)]="nvvts.to" matInput [matDatepicker]="pickernvvtsTo" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickernvvtsTo"></mat-datepicker-toggle>
              <mat-datepicker #pickernvvtsTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('nvvts')"
              [disabled]="isProcess.nvvts">
              <mat-icon *ngIf="isProcess.nvvts" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.nvvts" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>

      </div>

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">CỘNG TÁC VIÊN VTS</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Từ ngày</mat-label>
              <input [(ngModel)]="ctvvts.from" matInput [matDatepicker]="pickerctvvtsFrom"
                placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerctvvtsFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerctvvtsFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Đến ngày</mat-label>
              <input [(ngModel)]="ctvvts.to" matInput [matDatepicker]="pickerctvvtsTo"
                placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerctvvtsTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerctvvtsTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('ctvvts')"
              [disabled]="isProcess.ctvvts">
              <mat-icon *ngIf="isProcess.ctvvts" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.ctvvts" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>