<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>warehouse.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>warehouse.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>warehouse.name</mat-label>
                        <input required matInput formControlName="name" placeholder="" type="text" maxlength="1000">
                        <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>warehouse.type</mat-label>
                        <mat-select required formControlName="type" (selectionChange)="onChangeWarehouseType($event.value)">
                            <mat-option [value]="0"><span translate>warehouse.type-0</span></mat-option>
                            <mat-option [value]="1"><span translate>warehouse.type-1</span></mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.type.errors?.required" translate>validate.required
                        </mat-error>
                    </mat-form-field>

                    <div *ngIf="data.type==1">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label><span translate>warehouse.employeeId</span></mat-label>
                            <mat-select required formControlName="employeeId" placeholder="Tất cả">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="employeeKey" [placeholderLabel]="'Tìm kiếm theo mã, tên'" [searching]="isProcess.employeeSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngIf="data.id>0 && data.employee" [value]="data.employee?.id">
                                    <strong>{{data.employee?.displayName}}</strong> | Mã NV:
                                    <strong>{{data.employee?.code}}</strong>
                                </mat-option>
                                <mat-option *ngFor="let item of employees; index as i;" [value]="item.id">
                                    <strong>{{item.displayName}}</strong> | Mã NV: <strong>{{item.code}}</strong>
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls.employeeId.errors?.required" translate>validate.required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>warehouse.address</mat-label>
                        <textarea matInput formControlName="address" placeholder="" rows="5" maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.address.errors?.required" translate>validate.required
                        </mat-error>
                        <mat-error *ngIf="form.controls.address.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.address.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button roles-is="123" *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button roles-is="122" type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>