.fw-400{
  font-weight: 400;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

.bg-revenue{
  background: rgb(233, 30, 99);
  color: rgba(255, 255, 255, 0.87);
}

.bg-transaction{
  background: rgb(76, 175, 80);
  color: rgba(255, 255, 255, 0.87);
}

.bg-customer{
  background: rgb(0, 150, 136);
  color: rgba(255, 255, 255, 0.87);
}

.bg-cash-flow{
  background: rgb(63, 81, 181);
  color: rgba(255, 255, 255, 0.87);
}

.bg-bike{
  background: rgb(156, 39, 176);
  color: rgba(255, 255, 255, 0.87);
}

.bg-dock{
  background: rgb(103, 58, 183);
  color: rgba(255, 255, 255, 0.87);
}