<div fxLayout="column" class="p-1">
    <!--     
    <div fxLayout="row">

        <div fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="20" class="flex-p">
            <mat-card style="border-radius:5px !important;padding: 25px 15px;height: 100%;">
                <div fxFlex="100" fxLayout="column">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label class="text-danger" translate>Dự án</mat-label>
                        <mat-select [formControl]="ctrlProjectId">
                            <mat-option [value]="">Tất cả</mat-option>
                            <mat-option *ngFor="let item of categoryData.projects; index as i;"
                                [value]="item.id.toString()">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Từ ngày</mat-label>
                        <input [(ngModel)]="fromDate" matInput [matDatepicker]="pickerFromDate"
                            placeholder="Ngày/Tháng/Năm">
                        <mat-datepicker-toggle matSuffix [for]="pickerFromDate"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFromDate></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Đến ngày</mat-label>
                        <input [(ngModel)]="toDate" matInput [matDatepicker]="pickerToDate"
                            placeholder="Ngày/Tháng/Năm">
                        <mat-datepicker-toggle matSuffix [for]="pickerToDate"></mat-datepicker-toggle>
                        <mat-datepicker #pickerToDate></mat-datepicker>
                    </mat-form-field>

                </div>
            </mat-card>
        </div>

        <div fxFlex.sm="100" fxFlex.md="70" fxFlex.lg="80" class="flex-p" fxLayout="column">
            <mat-card style="border-radius:5px !important;line-height: normal !important">

                <mat-tab-group [selectedIndex]="viewType" (selectedTabChange)="matTabGroupChange($event)">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span>Mức nạp</span>
                        </ng-template>
                        <div style="height: 5px;"></div>
                        <app-chart-level-recharge [fromDate]="fromDate" [toDate]="toDate"
                            [projectId]="ctrlProjectId.value"></app-chart-level-recharge>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span> Khung giờ nạp</span>
                        </ng-template>
                        <div style="height: 5px;"></div>
                        <app-chart-time-recharge [fromDate]="fromDate" [toDate]="toDate"
                            [projectId]="ctrlProjectId.value"></app-chart-time-recharge>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span> Kênh nạp</span>
                        </ng-template>
                        <div style="height: 5px;"></div>
                        <app-chart-pay-gate [fromDate]="fromDate" [toDate]="toDate" [projectId]="ctrlProjectId.value">
                        </app-chart-pay-gate>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span> Độ tuổi nạp</span>
                        </ng-template>
                        <div style="height: 5px;"></div>
                        <app-chart-age-recharge [fromDate]="fromDate" [toDate]="toDate"
                            [projectId]="ctrlProjectId.value"></app-chart-age-recharge>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span> Khung giờ thuê</span>
                        </ng-template>
                        <div style="height: 5px;"></div>
                        <app-chart-time-rent [fromDate]="fromDate" [toDate]="toDate" [projectId]="ctrlProjectId.value">
                        </app-chart-time-rent>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span> Độ tuổi thuê</span>
                        </ng-template>
                        <div style="height: 5px;"></div>
                        <app-chart-age-rent [fromDate]="fromDate" [toDate]="toDate" [projectId]="ctrlProjectId.value">
                        </app-chart-age-rent>
                    </mat-tab>

                </mat-tab-group>
            </mat-card>
        </div>

    </div> -->

    <div fxFlex="100" fxFlex.gt-sm="30" fxLayout="row">

        <div fxFlex="20" class="flex-p">
            <mat-card class="p-0" style="border-radius:5px !important;">
                <div class="bg-transaction p-2" fxLayout="column" fxLayoutAlign="space-between end">
                    <h1 style="font-weight: 700;">{{appCommon.formatMoney(boxInfo.item1,0,3)}}</h1>
                    <div class="fw-400">Khách hàng</div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="20" class="flex-p">
            <mat-card class="p-0" style="border-radius:5px !important;">
                <div class="bg-customer p-2" fxLayout="column" fxLayoutAlign="space-between end">
                    <h1 style="font-weight: 700;">{{appCommon.formatMoney(boxInfo.item2,0,3)}}</h1>
                    <div class="fw-400">Giờ đã đi</div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="20" class="flex-p">
            <mat-card class="p-0" style="border-radius:5px !important;">
                <div class="bg-bike p-2" fxLayout="column" fxLayoutAlign="space-between end">
                    <h1 style="font-weight: 700;">{{appCommon.formatMoney(boxInfo.item3,0,3)}}</h1>
                    <div class="fw-400">Km đã đi</div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="20" class="flex-p">
            <mat-card class="p-0" style="border-radius:5px !important;">
                <div class="bg-dock p-2" fxLayout="column" fxLayoutAlign="space-between end">
                    <h1 style="font-weight: 700;">{{appCommon.formatMoney(boxInfo.item4,0,3)}}</h1>
                    <div class="fw-400">Km trong chuyến đi xa nhất</div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="20" class="flex-p">
            <mat-card class="p-0" style="border-radius:5px !important;">
                <div class="bg-cash-flow p-2" fxLayout="column" fxLayoutAlign="space-between end">
                    <h1 style="font-weight: 700;">{{appCommon.formatMoney(boxInfo.item5,0,3)}}</h1>
                    <div class="fw-400">Phút trong chuyến đi lâu nhất</div>
                </div>
            </mat-card>
        </div>

    </div>

    <div class="flex-p">
        <mat-card class="p-0" style="border-radius:5px !important;">
            <div class="bg-primary p-1" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="icon-md">pie_chart</mat-icon>
                <div style="font-weight: 400; margin-left: 5px;">BIỂU ĐỒ PHÂN TÍCH THỊ PHẦN</div>
            </div>
            <div class="p-1" fxLayout="row" fxLayoutAlign="space-between center">

                <div fxFlex="100" fxLayout="column">

                    <div fxFlex="100" fxLayout="row" fxLayoutGap="10px">
                        <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label class="text-danger" translate>Dự án</mat-label>
                                <mat-select [formControl]="ctrlProjectId">
                                    <mat-option [value]="">Tất cả</mat-option>
                                    <mat-option *ngFor="let item of categoryData.projects; index as i;"
                                        [value]="item.id.toString()">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>Từ ngày</mat-label>
                                <input [(ngModel)]="fromDate" matInput [matDatepicker]="pickerFromDate"
                                    placeholder="Ngày/Tháng/Năm">
                                <mat-datepicker-toggle matSuffix [for]="pickerFromDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerFromDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>Đến ngày</mat-label>
                                <input [(ngModel)]="toDate" matInput [matDatepicker]="pickerToDate"
                                    placeholder="Ngày/Tháng/Năm">
                                <mat-datepicker-toggle matSuffix [for]="pickerToDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerToDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!-- <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label class="text-danger">Chế độ xem</mat-label>
                    <mat-select [(ngModel)]="type" placeholder="Tất cả">
                        <mat-option [value]="'day'">Ngày</mat-option>
                        <mat-option [value]="'week'">Tuần</mat-option>
                        <mat-option [value]="'month'">Tháng</mat-option>
                        <mat-option [value]="'quarter'">Quý</mat-option>
                        <mat-option [value]="'year'">Năm</mat-option>
                    </mat-select>
                </mat-form-field> -->
                    </div>
                    <div fxFlex="100" style="line-height: 32px !important">

                        <mat-tab-group [selectedIndex]="viewType" (selectedTabChange)="matTabGroupChange($event)">
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <span>Mức nạp</span>
                                </ng-template>
                                <div style="height: 5px;"></div>
                                <app-chart-level-recharge [fromDate]="fromDate" [toDate]="toDate"
                                    [projectId]="ctrlProjectId.value"></app-chart-level-recharge>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <span> Khung giờ nạp</span>
                                </ng-template>
                                <div style="height: 5px;"></div>
                                <app-chart-time-recharge [fromDate]="fromDate" [toDate]="toDate"
                                    [projectId]="ctrlProjectId.value"></app-chart-time-recharge>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <span> Kênh nạp</span>
                                </ng-template>
                                <div style="height: 5px;"></div>
                                <app-chart-pay-gate [fromDate]="fromDate" [toDate]="toDate"
                                    [projectId]="ctrlProjectId.value"></app-chart-pay-gate>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <span> Độ tuổi nạp</span>
                                </ng-template>
                                <div style="height: 5px;"></div>
                                <app-chart-age-recharge [fromDate]="fromDate" [toDate]="toDate"
                                    [projectId]="ctrlProjectId.value"></app-chart-age-recharge>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <span> Khung giờ thuê</span>
                                </ng-template>
                                <div style="height: 5px;"></div>
                                <app-chart-time-rent [fromDate]="fromDate" [toDate]="toDate"
                                    [projectId]="ctrlProjectId.value"></app-chart-time-rent>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <span> Độ tuổi thuê</span>
                                </ng-template>
                                <div style="height: 5px;"></div>
                                <app-chart-age-rent [fromDate]="fromDate" [toDate]="toDate"
                                    [projectId]="ctrlProjectId.value"></app-chart-age-rent>
                            </mat-tab>

                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

<!-- 
    <div class="flex-p">
        <mat-card class="p-0" style="border-radius:5px !important;">
            <div class="bg-primary p-1" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="icon-md">trending_up</mat-icon>
                <div style="font-weight: 400; margin-left: 5px;">BIỂU ĐỒ PHÂN TÍCH TĂNG TRƯỞNG</div>
            </div>
            <div class="p-1" fxLayout="row" fxLayoutAlign="space-between center">

                <div fxFlex="100" fxLayout="column">

                    <div fxFlex="100" fxLayout="row" fxLayoutGap="10px">
                        <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label class="text-danger" translate>Dự án</mat-label>
                                <mat-select [formControl]="ctrlProjectId">
                                    <mat-option [value]="">Tất cả</mat-option>
                                    <mat-option *ngFor="let item of categoryData.projects; index as i;"
                                        [value]="item.id.toString()">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>Từ ngày</mat-label>
                                <input [(ngModel)]="fromDate" matInput [matDatepicker]="pickerFromDate"
                                    placeholder="Ngày/Tháng/Năm">
                                <mat-datepicker-toggle matSuffix [for]="pickerFromDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerFromDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>Đến ngày</mat-label>
                                <input [(ngModel)]="toDate" matInput [matDatepicker]="pickerToDate"
                                    placeholder="Ngày/Tháng/Năm">
                                <mat-datepicker-toggle matSuffix [for]="pickerToDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerToDate></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>
                    <div fxFlex="100" style="line-height: 32px !important">

                        <mat-tab-group [selectedIndex]="viewType" (selectedTabChange)="matTabGroupChange($event)">
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <span>Doanh thu</span>
                                </ng-template>
                                <div style="height: 5px;"></div>
                                <app-stacked-area-chart></app-stacked-area-chart>
                            </mat-tab>

                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </mat-card>
    </div> -->

</div>