<div class="tParentLoading">
  <div *ngIf="isProcess.listDataTable" class="tloading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
      <div class="loader">Loading...</div>
    </div>
  </div>
  <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
    <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

      <ng-container matColumnDef="stt">
        <th #headTable_re mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span>
        </th>
        <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
          {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="actionAd">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>log.action</span></th>
        <td mat-cell *matCellDef="let element"> {{ element.action }} </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>log.createdDate</span></th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate | date : 'dd/MM/yyyy HH:mm:ss'}} </td>
      </ng-container>

      <ng-container matColumnDef="systemUserId">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>log.systemUserId</span></th>
        <td mat-cell *matCellDef="let element"> {{element.systemUserObject?.userName}} / {{element.systemUserObject?.displayName}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>log.type</span></th>
        <td mat-cell *matCellDef="let element">
          <span class="text-info" *ngIf="element.type == 0">Khác</span>
          <span class="text-warning" *ngIf="element.type == 1">Thêm mới</span>
          <span class="text-success" *ngIf="element.type == 2">Cập nhật</span>
          <span class="text-danger" *ngIf="element.type == 3">Xóa</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th width="50" mat-header-cell *matHeaderCellDef>
          <button (click)="search()" mat-raised-button class="m-1 btn-grid">
            <mat-icon class="icon-sm icon-btn">refresh</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div #paginator_rec>
    <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>