<h1 *ngIf ="data.id == 0" mat-dialog-title><span translate>Thêm mới tài khoản khách hàng</span></h1>
<h1 *ngIf ="data.id > 0" mat-dialog-title><span translate>Cập nhật tài khoản khách hàng</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12" *ngFor="let item of projectAccount">
                <span class="label-note">
                    <span translate>Dự án: {{appCommon.getObj(categoryData.projects,item.projectId)}}</span>
                </span>
                <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                    <mat-label ><span translate>transaction.customerGroupId</span></mat-label>
                    <mat-select [(value)] = "item.customerGroupId" [(ngModel)]="item.customerGroupId" placeholder="Chọn nhóm khách hàng">
                        <mat-option [value] = "0">
                            <span translate>Chọn nhóm khách hàng</span>
                        </mat-option>
                        <mat-option *ngFor="let item of categoryData.customerGroups | customerGroupsByProjectFilter: { projectId: item.projectId }; index as i;" [value]="item.id">
                            <span [class.text-success] = "item.isDefault">{{item.name}}</span> <span *ngIf ="item.status == 0">(không sử dụng)</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>