<h1 *ngIf="data.id == 0" mat-dialog-title>
    <span translate>Lập yêu cầu vật tư</span>
</h1>

<h1 *ngIf="data.id > 0 && data.status == 0" mat-dialog-title>
    <span translate>Lập yêu cầu vật tư</span> - <span class="text-name" translate>export-bill.status-0</span>
</h1>

<h1 *ngIf="data.id > 0 && data.status == 1" mat-dialog-title>
    <span translate>Phiếu yêu cầu vật tư</span> - <span class="text-name" translate>export-bill.status-1</span>
</h1>

<h1 *ngIf="data.id > 0 && data.status == 2" mat-dialog-title>
    <span translate>Phiếu yêu cầu vật tư</span> - <span class="text-name" translate>export-bill.status-2</span>
</h1>

<h1 *ngIf="data.id > 0 && data.status == 3" mat-dialog-title>
    <span translate>Phiếu yêu cầu vật tư</span> - <span class="text-name" translate>export-bill.status-3</span>
</h1>

<h1 *ngIf="data.id > 0 && data.status == 4" mat-dialog-title>
    <span translate>Phiếu xuất kho</span> - <span class="text-name" translate>export-bill.status-4</span>
</h1>

<h1 *ngIf="data.id > 0 && data.status == 5" mat-dialog-title>
    <span translate>Phiếu xuất kho</span> - <span class="text-name" translate>export-bill.status-5</span>
</h1>

<h1 *ngIf="data.id > 0 && data.status == 6" mat-dialog-title>
    <span translate>Phiếu xuất kho</span> - <span class="text-name" translate>export-bill.status-6</span>
</h1>

<h1 *ngIf="data.id > 0 && data.status == 7" mat-dialog-title>
    <span translate>Phiếu xuất kho</span> - <span class="text-name" translate>export-bill.status-7</span>
    - <span class="text-info" *ngIf="data.completeStatus == 0" translate>export-bill.completeStatus-0</span>
        <span class="text-success" *ngIf="data.completeStatus == 1" translate>export-bill.completeStatus-1</span>
        <span class="text-warning" *ngIf="data.completeStatus == 2" translate>export-bill.completeStatus-2</span>
        <span class="text-danger" *ngIf="data.completeStatus == 3" translate>export-bill.completeStatus-3</span>
</h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" P autocomplete="new-password" role="form">
                    <span class="label-note">Thông tin phiếu </span>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>export-bill.dateBill</mat-label>
                                <input  required matInput formControlName="dateBill" [matDatepicker]="pickerDateBill" />
                                <mat-datepicker-toggle matSuffix [for]="pickerDateBill"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDateBill></mat-datepicker>
                                <mat-error *ngIf="form.controls.dateBill.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>export-bill.code</mat-label>
                                <input   matInput formControlName="code" placeholder="" type="text" maxlength="50" />
                                <mat-error *ngIf="form.controls.code.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.code.hasError('minlength')" translate [translateParams]="{ n: '0' }">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.code.hasError('maxlength')" translate [translateParams]="{ n: '50' }">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>export-bill.warehouseId</mat-label>
                                <mat-select  required formControlName="warehouseId" [(value)]="data.warehouseId" placeholder="Chọn kho">
                                    <mat-option *ngFor="let item of warehousesT; index as i" [value]="item.id">{{ item.name }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.warehouseId.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>export-bill.toWarehouseId</mat-label>
                                <mat-select readonly required formControlName="toWarehouseId" [(value)]="data.toWarehouseId" placeholder="Chọn kho">
                                    <mat-option *ngFor="let item of warehousesDF; index as i" [value]="item.id">{{ item.name }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.toWarehouseId.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <app-file-upload-attached #exportBillItems [viewPath]="exportBillsService.viewPath()" [params]="{ isPrivate: true }"  [accept]="categoryData.imagesType" (outData)="getOutPut($event)" [multiple]="true" [apiUpload]="exportBillsService.uploadPath()" [curentFiles]="uploadFileOut"></app-file-upload-attached>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>export-bill.note</mat-label>
                        <textarea  matInput formControlName="note" placeholder="" rows="3" maxlength="2000"></textarea>
                        <mat-error *ngIf="form.controls.note.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('minlength')" translate [translateParams]="{ n: '0' }">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate [translateParams]="{ n: '2000' }">validate.maxlength</mat-error>
                    </mat-form-field>

                    <div class="text-center" style="padding-bottom: 10px;">
                        <button *ngIf ="isSaveData && data.id"  type="button" (click)="save()" mat-raised-button color="green" class="m-1"  [disabled]="isProcess.saveProcess || !form.valid">
                            <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                            <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
                            <span> Cập nhật nội dung</span>
                        </button>
                    </div>

                    <span class="label-note">Thông tin trang thiết bị trong phiếu</span>
                    <span *ngIf="data.id == 0">Vui lòng tạo phiếu để sử dụng chức năng này</span>
                    <div *ngIf="data.id > 0">
                        <app-export-bill-items [changing]="changingValue" [exportBill]="data"></app-export-bill-items>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="dialog-footer">
    <div *ngIf="data.status != 0 && data.status != 7">
        <!-- NV điều phối -->
        <div *ngIf="accountInfo.roleType == 6">
            <button title="Hủy yêu cầu vật tư" *ngIf="data.id > 0 && data.status == 1" type="button" (click)="cancel()" mat-raised-button color="warn" class="m-1">
                <mat-icon *ngIf="isProcess.cancelProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                <mat-icon *ngIf="!isProcess.cancelProcess" class="icon-sm icon-btn">close</mat-icon>
                <span> Hủy yêu cầu</span>
            </button>
        
            <button  *ngIf="data.id == 0" type="button" (click)="save()" mat-raised-button color="green" class="m-1"  [disabled]="isProcess.saveProcess || !form.valid">
                <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">check</mat-icon>
                <span> Lập nháp yêu cầu vật tư</span>
            </button>

            <button  *ngIf="data.id > 0 && data.status == 1" type="button" (click)="approve(2)" mat-raised-button color="green" class="m-1"  [disabled]="isProcess.approveProcess || !form.valid">
                <mat-icon *ngIf="isProcess.approveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                <mat-icon *ngIf="!isProcess.approveProcess" class="icon-sm icon-btn">check</mat-icon>
                <span> Xác nhận gửi yêu cầu vật tư</span>
            </button>
            <div class="text-note-bill" *ngIf="data.id == 0">Thao tác '<strong>Lập nháp yêu cầu vật tư</strong>' nhân viên điều phối nhập liệu và chưa gửi đến kế toán VTS</div>
            <div class="text-note-bill" *ngIf="data.id > 0 && data.status == 1">Thao tác '<strong>Xác nhận gửi yêu cầu vật tư</strong>' nhân viên điều phối xác nhận trình cho kế toán VTS xử lý</div>
        </div>

        <!-- kế toán VTS -->
        <div *ngIf="accountInfo.roleType == 3">
            <button *ngIf="data.id > 0 && data.status == 2" title="Từ chối" type="button" (click)="refuse()" mat-raised-button color="warn" class="m-1">
                <mat-icon *ngIf="isProcess.cancelProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                <mat-icon *ngIf="!isProcess.cancelProcess" class="icon-sm icon-btn">close</mat-icon>
                <span> Từ chối yêu cầu</span>
            </button>
            <button  *ngIf="data.id > 0 && data.status == 2" type="button" (click)="approve(3)" mat-raised-button color="green" class="m-1"  [disabled]="isProcess.approveProcess || !form.valid">
                <mat-icon *ngIf="isProcess.approveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                <mat-icon *ngIf="!isProcess.approveProcess" class="icon-sm icon-btn">check</mat-icon>
                <span > Xác nhận lập lệnh xuất kho</span>
            </button>
            <div class="text-note-bill" *ngIf="data.id > 0 && data.status == 2">Thao tác '<strong>Xác nhận lập lệnh xuất kho</strong>' nhân viên kế toán VTS xác nhận lập lệnh xuất kho cho thủ kho</div>
        </div>

        <!-- thủ kho VTS -->
        <div *ngIf="accountInfo.roleType == 10">

            <button *ngIf="data.id > 0 && (data.status == 3 || data.status == 6)" title="Từ chối" type="button" (click)="refuse()" mat-raised-button color="warn" class="m-1">
                <mat-icon *ngIf="isProcess.cancelProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                <mat-icon *ngIf="!isProcess.cancelProcess" class="icon-sm icon-btn">close</mat-icon>
                <span> Từ chối yêu cầu</span>
            </button>

            <button  *ngIf="data.id > 0 && data.status == 3" type="button" (click)="approve(4)" mat-raised-button color="green" class="m-1"  [disabled]="isProcess.approveProcess || !form.valid">
                <mat-icon *ngIf="isProcess.approveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                <mat-icon *ngIf="!isProcess.approveProcess" class="icon-sm icon-btn">check</mat-icon>
                <span> Xác nhận lập phiếu xuất</span>
            </button>
            <div class="text-note-bill" *ngIf="data.id > 0 && data.status == 3">Thao tác '<strong>Xác nhận lập phiếu xuất</strong>' thủ kho lập phiếu xuất và gửi cho GĐ VTS</div>

            <button  *ngIf="data.id > 0 && data.status == 6" type="button" (click)="approve(7)" mat-raised-button color="green" class="m-1"  [disabled]="isProcess.approveProcess || !form.valid">
                <mat-icon *ngIf="isProcess.approveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                <mat-icon *ngIf="!isProcess.approveProcess" class="icon-sm icon-btn">check</mat-icon>
                <span> Xác nhận xuất kho hệ thống</span>
            </button>
            <div class="text-note-bill" *ngIf="data.id > 0 && data.status == 6">Thao tác '<strong>Xác nhận xuất kho hệ thống</strong>' thủ kho xác nhận xuất kho cho nhân viên điều phối, nếu phát hiện sai thì nv điều phối gửi yêu cầu cho thủ kho tái hủy tái nhập</div>
        </div>

        <div *ngIf="accountInfo.roleType == 2">
            <button *ngIf="data.id > 0 && data.status == 4" title="Từ chối" type="button" (click)="refuse()" mat-raised-button color="warn" class="m-1">
                <mat-icon *ngIf="isProcess.cancelProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                <mat-icon *ngIf="!isProcess.cancelProcess" class="icon-sm icon-btn">close</mat-icon>
                <span> Từ chối yêu cầu</span>
            </button>
            <button  *ngIf="data.id > 0 && data.status == 4" type="button" (click)="approve(6)" mat-raised-button color="green" class="m-1"  [disabled]="isProcess.approveProcess || !form.valid">
                <mat-icon *ngIf="isProcess.approveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                <mat-icon *ngIf="!isProcess.approveProcess" class="icon-sm icon-btn">check</mat-icon>
                <span> Xác nhận kiểm tra & ký phiếu xuất kho</span>
            </button>
            <div class="text-note-bill" *ngIf="data.id > 0 && data.status == 4">Thao tác '<strong>Xác nhận kiểm tra & ký phiếu xuất kho</strong>' GĐ VTS xác nhận ký và yêu cầu thủ kho xuất kho</div>
        </div>
    </div>

    
    <div *ngIf="data.status == 7 && accountInfo.roleType == 6">
        <div>
            <button (click)="completeApprove(2)" *ngIf="data.completeStatus == 0" type="button" mat-raised-button color="warn" class="m-1"  [disabled]="isProcess.approveProcess">
                <mat-icon *ngIf="isProcess.approveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                <mat-icon *ngIf="!isProcess.approveProcess" class="icon-sm icon-btn">close</mat-icon>
                <span> Báo cáo thủ kho số liệu sai lệch</span>
            </button>
            
            <button (click)="completeApprove(1)" *ngIf="data.completeStatus == 0" type="button" mat-raised-button color="green" class="m-1"  [disabled]="isProcess.approveProcess">
                <mat-icon *ngIf="isProcess.approveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                <mat-icon *ngIf="!isProcess.approveProcess" class="icon-sm icon-btn">check</mat-icon>
                <span> Xác nhận nhận đủ vật tư khi nhận</span>
            </button>
            <div *ngIf="data.completeStatus == 0" class="text-note-bill">Nhân viên điều phối kiểm tra nếu số lượng hàng không khớp với phiếu xuất thì thì click <strong>Báo cáo thủ kho số liệu sai lệch</strong>, nếu số lượng đã khớp thì click <strong>Xác nhận nhận đủ vật tư khi nhận</strong></div>
        </div>
    </div>

    <div *ngIf="data.status == 7 && accountInfo.roleType == 10 && data.completeStatus == 2">
        <div>
            <button (click)="completeApprove(3)"  type="button" mat-raised-button color="green" class="m-1"  [disabled]="isProcess.approveProcess">
                <mat-icon *ngIf="isProcess.approveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                <mat-icon *ngIf="!isProcess.approveProcess" class="icon-sm icon-btn">check</mat-icon>
                <span> Xác nhận nhập hàng về lại kho vì số liệu không khớp</span>
            </button>
            <div class="text-note-bill">Thu kho xác nhận nhập thì số liệu hàng sẽ về lại kho và tiền hành quy trình quay lại từ đầu</div>
        </div>
    </div>



    <div *ngIf="data.status == 0">
        <div class="text-note-bill">Đơn này đã hủy không thể thao tác được nữa</div>
    </div>

    <!-- <button type="button" (click)="approve()" mat-raised-button color="green" class="m-1"  [disabled]="isProcess.saveProcess || !form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">check</mat-icon>
        <span *ngIf="data.id == 0 && accountInfo.roleType == 6"> Xác nhân lập yêu cầu vật tư</span>
    </button> -->

    <!-- <button *ngIf="data.id > 0" type="button" (click)="cancel()" mat-raised-button color="warn" class="m-1"  [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">block</mat-icon>
        &nbsp;<span translate>button.cancel-bill</span>
    </button>

    <button *ngIf="data.id > 0" type="button" (click)="refund()" mat-raised-button color="warn" class="m-1"  [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">undo</mat-icon>
        &nbsp;<span translate>button.refund-bill</span>
    </button>

    <button type="button" (click)="approve()" mat-raised-button color="green" class="m-1"  [disabled]="isProcess.saveProcess || !form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">edit</mat-icon>
        &nbsp;<span translate>button.approve</span>
    </button> -->
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>