<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>deposit-event.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>deposit-event.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>deposit-event.customerGroupId</mat-label>
                        <mat-select required formControlName="customerGroupId" [(value)]="data.customerGroupId" placeholder="Chọn nhóm khách hàng">
                            <mat-option *ngIf="form.get('projectId').value == 0" [value]="0">
                                Tất cả tài khoản đều có thể kích hoạt
                            </mat-option>
                            <mat-option *ngIf="form.get('projectId').value > 0">
                                Chọn nhóm khách hàng
                            </mat-option>
                            <mat-option *ngFor="let item of customerGroups; index as i;" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.customerGroupId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>voucher-code.provisoType</mat-label>
                        <mat-select required formControlName="provisoType" [(value)]="data.provisoType" placeholder="Chọn điều kiện khuyến mãi">
                            <mat-option [value]="0"><span translate>campaign.provisoType-0</span></mat-option>
                            <mat-option [value]="1"><span translate>campaign.provisoType-1</span></mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>deposit-event.startAmount</mat-label>
                                <input matInput currencyMask [options]="appCommon.moneyInputFormat()" matInput class="money-style" required formControlName="startAmount" placeholder="" type="text" maxlength="1000">
                                <mat-error *ngIf="form.controls.startAmount.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.startAmount.hasError('min')" translate [translateParams]="{n: '10.000'}">validate.min</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6"  *ngIf="form.get('type').value == 1">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>deposit-event.maxAmount</mat-label>
                                <input matInput currencyMask [options]="appCommon.moneyInputFormat()" matInput class="money-style" required formControlName="maxAmount" placeholder="Số điểm tối đa nhận được, 0 là không giới hạn" type="text" maxlength="1000">
                                <mat-error *ngIf="form.controls.maxAmount.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>deposit-event.limit</mat-label>
                                <input required matInput formControlName="limit" placeholder="Ví dụ: 900000" type="number" min="1" max="9999999">
                                <mat-error *ngIf="form.controls.limit.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>deposit-event.type</mat-label>
                                <mat-select formControlName="type" [(value)]="data.type" placeholder="Loại">
                                    <mat-option [value]="0"><span translate>deposit-event.type-0</span></mat-option>
                                    <mat-option [value]="1"><span translate>deposit-event.type-1</span></mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.type.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6" *ngIf="form.get('type').value == 1">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>deposit-event.percent</mat-label>
                                <input matInput required formControlName="percent" min="1" max="100" placeholder="Ví dụ: 20 tương đương 20%" type="number">
                                <mat-error *ngIf="form.controls.percent.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6" *ngIf="form.get('type').value == 1">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>deposit-event.subPercent</mat-label>
                                <input matInput required formControlName="subPercent" min="1" max="100" placeholder="Ví dụ: 20 tương đương 20%" type="number">
                                <mat-error *ngIf="form.controls.subPercent.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6" *ngIf="form.get('type').value == 0">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>deposit-event.point</mat-label>
                                <input currencyMask [options]="appCommon.moneyInputFormat()" matInput class="money-style" style="color: green !important;" required formControlName="point" min="0" max="10000000" placeholder="Ví dụ: 20000" type="text">
                                <mat-error *ngIf="form.controls.point.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.point.hasError('max')" translate [translateParams]="{n: '10000000'}">validate.max</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6" *ngIf="form.get('type').value == 0">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>deposit-event.subPoint</mat-label>
                                <input currencyMask [options]="appCommon.moneyInputFormat()" matInput class="money-style" style="color: green !important;" required formControlName="subPoint" min="0" max="10000000" placeholder="Ví dụ: 20000" type="text">
                                <mat-error *ngIf="form.controls.subPoint.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.subPoint.hasError('max')" translate [translateParams]="{n: '10000000'}">validate.max</mat-error>
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>deposit-event.subPointExpiry</mat-label>
                                <input matInput currencyMask [options]="appCommon.moneyInputFormat()" matInput class="money-style" required formControlName="subPointExpiry" placeholder="Ví dụ: 1 tương đương với 1 ngày" type="text" min="0" max="365">
                                <mat-error *ngIf="form.controls.subPointExpiry.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="dialog-footer">
    <button *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>