<div class="tParentLoading">
  <div *ngIf="isProcess.listDataTable" class="tloading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
      <div class="loader">Loading...</div>
    </div>
  </div>
  <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
    <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
        <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
          {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="accountId">
        <th width="150" mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-prepaid.accountId</span></th>
        <td mat-cell *matCellDef="let element">
          <div class="text-info">{{element.account?.phone}}</div>
          <div class="text-info" style="font-weight: 500;"> {{element.account?.fullName}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="customerGroupId">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-prepaid.customerGroupId</span></th>
        <td mat-cell *matCellDef="let element"> {{element.customerGroup?.name}} </td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th width="150" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Hiệu lực</span></th>
        <td mat-cell *matCellDef="let element">
          <div>Từ: <span class="text-500 text-success">{{element.startDate | date: 'dd/MM/yyyy'}}</span></div>
          <div>Đến hết: <span class="text-500 text-danger">{{element.endDate | date: 'dd/MM/yyyy'}}</span> </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="ticketValue">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-prepaid.ticketValue</span></th>
        <td mat-cell *matCellDef="let element">
          <strong class="text-danger">{{appCommon.formatMoney(element.ticketValue,0,3)}}</strong>
        </td>
      </ng-container>

      <ng-container matColumnDef="dateOfPayment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>ticket-prepaid.dateOfPayment</span></th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfPayment | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>ticket-prepaid.createdUser</span></th>
        <td mat-cell *matCellDef="let element">
          <div><span class="text-500">{{element.createdUserObject?.displayName}}</span></div>
          <div><span class="">{{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="projectId">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-prepaid.projectId</span></th>
        <td mat-cell *matCellDef="let element"> {{ appCommon.getObj(categoryData.projects, element.projectId)}} </td>
      </ng-container>

      <ng-container matColumnDef="updatedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>ticket-prepaid.updatedUser</span></th>
        <td mat-cell *matCellDef="let element">
          <div><span class="text-500">{{element.updatedUserObject?.displayName}}</span></div>
          <div><span class="">{{element.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-prepaid.code</span></th>
        <td mat-cell *matCellDef="let element">
          <div>Loại vé:
            <span class="text-danger" translate *ngIf="element.ticketPrice_TicketType == 1">ticket-price.ticketType-1</span>
            <span class="text-success" translate *ngIf="element.ticketPrice_TicketType == 2">ticket-price.ticketType-2</span>
            <span class="text-warning" translate *ngIf="element.ticketPrice_TicketType == 3">ticket-price.ticketType-3</span>
          </div>
          <div title="{{element.ticketTypeNote}}" class="text-name">{{element.code}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="ticketTypeNote">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear>Mô tả</th>
        <td mat-cell *matCellDef="let element">{{element.ticketTypeNote}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th width="110" mat-header-cell *matHeaderCellDef>
          <button (click)="search()" mat-raised-button class="m-1 btn-grid">
            <mat-icon class="icon-sm icon-btn">refresh</mat-icon>
          </button>
          <button (click)="openEditDialog(null)" mat-raised-button color="green" class="m-1 btn-grid">
            <mat-icon class="icon-sm icon-btn">add</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
            <mat-icon class="icon-sm">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div #paginator_rec>
    <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>