<h1 mat-dialog-title><span translate>news.modal-detail</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">

                <div [innerHTML]="content | safeHtml" class="ck-content"></div>

            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>