<div fxLayout="column" class="p-1" fxLayoutAlign="space-between none">

    <div fxLayout="row" fxFlex="100" class="p-0" fxLayoutAlign="space-between none">

        <mat-card fxFlex="49" fxLayout="row" class="p-0" fxLayoutAlign="start none"
            style="border-radius:5px !important;">
            <div fxFlex="none" class="bg-primary" fxLayout="row" fxLayoutAlign="space-around center"
                style="width:150px">
                <div style="font-weight: 400;">Tổng số giao dịch</div>
            </div>
            <div fxFlex="75" fxLayout="row" class="p-1">
                <div fxFlex="50">
                    Tổng:
                    <span class="text-success"
                        style="font-size: 18px;font-weight: 500;">{{appCommon.formatMoney(commonInfo.recharge_transaction_quantity,0,3)}}</span>
                </div>
                <div fxFlex="50">
                    <span>Trung bình/ngày: </span>
                    <span class="text-danger" style="font-size: 18px;font-weight: 500;">
                        {{appCommon.formatMoney(commonInfo.recharge_transaction_quantity_avg,0,3)}}</span>
                </div>
            </div>
        </mat-card>

        <mat-card fxFlex="49" fxLayout="row" class="p-0" fxLayoutAlign="start none"
            style="border-radius:5px !important;">
            <div fxFlex="none" class="bg-primary" fxLayout="row" fxLayoutAlign="space-around center"
                style="width:150px">
                <div style="font-weight: 400;">Tổng số tiền nạp</div>
            </div>
            <div fxFlex="75" fxLayout="row" class="p-1">
                <div fxFlex="50">
                    Tổng:
                    <span class="text-success"
                        style="font-size: 18px;font-weight: 500;">{{appCommon.formatMoney(commonInfo.recharge_sum,0,3)}}</span>
                </div>
                <div fxFlex="50">
                    <span>Trung bình/ngày: </span>
                    <span class="text-danger" style="font-size: 18px;font-weight: 500;">
                        {{appCommon.formatMoney(commonInfo.recharge_avg,0,3)}}</span>
                </div>
            </div>
        </mat-card>

    </div>

    <div fxLayout="row" fxFlex="100" class="p-0" fxLayoutAlign="space-between none" style="margin-top:10px">
        <mat-card fxFlex="49" fxLayout="row" class="p-0" fxLayoutAlign="start none"
            style="border-radius:5px !important;">
            <div fxFlex="none" class="bg-primary" fxLayout="row" fxLayoutAlign="space-around center"
                style="width:150px">
                <div style="font-weight: 400;">Tổng số tiền tiêu</div>
            </div>
            <div fxFlex="75" fxLayout="row" class="p-1">
                <div fxFlex="50">
                    Tổng:
                    <span class="text-success"
                        style="font-size: 18px;font-weight: 500;">{{appCommon.formatMoney(commonInfo.rent_sum,0,3)}}</span>
                </div>
                <div fxFlex="49">
                    <span>Trung bình/ngày: </span>
                    <span class="text-danger" style="font-size: 18px;font-weight: 500;">
                        {{appCommon.formatMoney(commonInfo.rent_sum_avg,0,3)}}</span>
                </div>
            </div>
        </mat-card>

        <mat-card fxFlex="49" fxLayout="row" class="p-0" fxLayoutAlign="start none"
            style="border-radius:5px !important;">
            <div fxFlex="none" class="bg-primary" fxLayout="row" fxLayoutAlign="space-around center"
                style="width:150px">
                <div style="font-weight: 400;">Tổng tiền nợ cước</div>
            </div>
            <div fxFlex="75" fxLayout="row" class="p-1">
                <div fxFlex="50">
                    Tổng:
                    <span class="text-success"
                        style="font-size: 18px;font-weight: 500;">{{appCommon.formatMoney(commonInfo.debt_sum,0,3)}}</span>
                </div>
            </div>
        </mat-card>

    </div>

    <!-- TỔNG LƯỢNG TIỀN -->
    <div class="chart-container bar-chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ tổng lượng tiền nạp</span>

        <div class="chart-wraper">
            <ngx-charts-bar-vertical [view]="totalChartConfig.view" [scheme]="totalChartConfig.colorScheme"
                [showDataLabel]="totalChartConfig.showDataLabel" [results]="totalChartConfig.results"
                [gradient]="totalChartConfig.gradient" [xAxis]="totalChartConfig.showXAxis"
                [yAxis]="totalChartConfig.showYAxis" [legend]="totalChartConfig.showLegend"
                [showXAxisLabel]="totalChartConfig.showXAxisLabel" [showYAxisLabel]="totalChartConfig.showYAxisLabel"
                [xAxisLabel]="totalChartConfig.xAxisLabel" [yAxisLabel]="totalChartConfig.yAxisLabel"
                [yAxisTickFormatting]="totalChartConfig.myYAxisTickFormatting" [legendTitle]="dayTrendChartConfig.legendTitle"
                (select)="totalChartConfig.onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>

    </div>

    <!-- THỐNG KÊ THEO NGÀY TRONG TUẦN -->
    <div class="chart-container bar-chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ thống kê theo ngày trong tuần</span>

        <div class="chart-wraper">
            <ngx-charts-bar-vertical-2d [view]="dayTrendChartConfig.view" [scheme]="dayTrendChartConfig.colorScheme"
                [showDataLabel]="totalChartConfig.showDataLabel" [results]="dayTrendChartConfig.results"
                [gradient]="dayTrendChartConfig.gradient" [xAxis]="dayTrendChartConfig.showXAxis"
                [yAxis]="dayTrendChartConfig.showYAxis" [legend]="dayTrendChartConfig.showLegend"
                [showXAxisLabel]="dayTrendChartConfig.showXAxisLabel"
                [showYAxisLabel]="dayTrendChartConfig.showYAxisLabel" [xAxisLabel]="dayTrendChartConfig.xAxisLabel"
                [yAxisLabel]="dayTrendChartConfig.yAxisLabel" [legendTitle]="dayTrendChartConfig.legendTitle"
                (select)="dayTrendChartConfig.onSelect($event)" (activate)="dayTrendChartConfig.onActivate($event)"
                (deactivate)="dayTrendChartConfig.onDeactivate($event)">
            </ngx-charts-bar-vertical-2d>
        </div>

    </div>

    <!-- TRUNG BÌNH TIỀN -->
    <!-- <div class="chart-container bar-chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ trung bình tiền nạp trên ngày</span>

        <div class="chart-wraper">
            <ngx-charts-bar-vertical [view]="avgChartConfig.view" [scheme]="avgChartConfig.colorScheme"
                [showDataLabel]="avgChartConfig.showDataLabel" [results]="avgChartConfig.results"
                [gradient]="avgChartConfig.gradient" [xAxis]="avgChartConfig.showXAxis"
                [yAxis]="avgChartConfig.showYAxis" [legend]="avgChartConfig.showLegend"
                [showXAxisLabel]="avgChartConfig.showXAxisLabel" [showYAxisLabel]="avgChartConfig.showYAxisLabel"
                [xAxisLabel]="avgChartConfig.xAxisLabel" [yAxisLabel]="avgChartConfig.yAxisLabel"
                (select)="avgChartConfig.onSelect($event)" [yAxisTickFormatting]="avgChartConfig.myYAxisTickFormatting">
            </ngx-charts-bar-vertical>
        </div>
    </div> -->

    <!-- XU HƯỚNG GIỚI TÍNH -->
    <!-- <div style="margin-top: 10px;">
    <span class="label-note" style="padding:0 10px;">Biểu đồ xu hướng giới tính</span>

    <ngx-charts-area-chart-stacked [view]="sexTrendChartConfig.view" [scheme]="sexTrendChartConfig.colorScheme"
        [legend]="sexTrendChartConfig.legend" [showXAxisLabel]="sexTrendChartConfig.showXAxisLabel"
        [showYAxisLabel]="sexTrendChartConfig.showYAxisLabel" [xAxis]="sexTrendChartConfig.xAxis"
        [yAxis]="sexTrendChartConfig.yAxis" [xAxisLabel]="sexTrendChartConfig.xAxisLabel"
        [yAxisLabel]="sexTrendChartConfig.yAxisLabel" [timeline]="sexTrendChartConfig.timeline"
        [results]="sexTrendChartConfig.results" (select)="sexTrendChartConfig.onSelect($event)">
    </ngx-charts-area-chart-stacked>
</div> -->

    <!-- XU HƯỚNG MỨC NẠP -->
    <div class="chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ xu hướng mức nạp</span>

        <ngx-charts-area-chart-stacked [view]="levelTrendChartConfig.view" [scheme]="levelTrendChartConfig.colorScheme"
            [legend]="levelTrendChartConfig.legend" [legendTitle]="levelTrendChartConfig.legendTitle"
            [showXAxisLabel]="levelTrendChartConfig.showXAxisLabel"
            [showYAxisLabel]="levelTrendChartConfig.showYAxisLabel" [xAxis]="levelTrendChartConfig.xAxis"
            [yAxis]="levelTrendChartConfig.yAxis" [xAxisLabel]="levelTrendChartConfig.xAxisLabel"
            [yAxisLabel]="levelTrendChartConfig.yAxisLabel" [timeline]="levelTrendChartConfig.timeline"
            [results]="levelTrendChartConfig.results" (select)="levelTrendChartConfig.onSelect($event)"
            [yAxisTickFormatting]="levelTrendChartConfig.myYAxisTickFormatting">
        </ngx-charts-area-chart-stacked>
    </div>

    <!-- XU HƯỚNG ĐỘ TUỔI -->
    <div class="chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ xu hướng độ tuổi</span>

        <ngx-charts-area-chart-stacked [view]="ageTrendChartConfig.view" [scheme]="ageTrendChartConfig.colorScheme"
            [legend]="ageTrendChartConfig.legend" [legendTitle]="ageTrendChartConfig.legendTitle"
            [showXAxisLabel]="ageTrendChartConfig.showXAxisLabel" [showYAxisLabel]="ageTrendChartConfig.showYAxisLabel"
            [xAxis]="ageTrendChartConfig.xAxis" [yAxis]="ageTrendChartConfig.yAxis"
            [xAxisLabel]="ageTrendChartConfig.xAxisLabel" [yAxisLabel]="ageTrendChartConfig.yAxisLabel"
            [timeline]="ageTrendChartConfig.timeline" [results]="ageTrendChartConfig.results"
            (select)="ageTrendChartConfig.onSelect($event)"
            [yAxisTickFormatting]="ageTrendChartConfig.myYAxisTickFormatting">
        </ngx-charts-area-chart-stacked>
    </div>

    <!-- XU HƯỚNG KHUNG GIỜ NẠP -->
    <div class="chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ xu hướng khung giờ</span>

        <ngx-charts-area-chart-stacked [view]="hourTrendChartConfig.view" [scheme]="hourTrendChartConfig.colorScheme"
            [legend]="hourTrendChartConfig.legend" [legendTitle]="hourTrendChartConfig.legendTitle"
            [showXAxisLabel]="hourTrendChartConfig.showXAxisLabel"
            [showYAxisLabel]="hourTrendChartConfig.showYAxisLabel" [xAxis]="hourTrendChartConfig.xAxis"
            [yAxis]="hourTrendChartConfig.yAxis" [xAxisLabel]="hourTrendChartConfig.xAxisLabel"
            [yAxisLabel]="hourTrendChartConfig.yAxisLabel" [timeline]="hourTrendChartConfig.timeline"
            [results]="hourTrendChartConfig.results" (select)="hourTrendChartConfig.onSelect($event)"
            [yAxisTickFormatting]="hourTrendChartConfig.myYAxisTickFormatting">
        </ngx-charts-area-chart-stacked>
    </div>

    <!-- XU HƯỚNG KÊNH NẠP -->
    <div class="chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ xu hướng kênh nạp</span>

        <ngx-charts-area-chart-stacked [view]="chanelTrendChartConfig.view"
            [scheme]="chanelTrendChartConfig.colorScheme" [legend]="chanelTrendChartConfig.legend"
            [legendTitle]="chanelTrendChartConfig.legendTitle" [showXAxisLabel]="chanelTrendChartConfig.showXAxisLabel"
            [showYAxisLabel]="chanelTrendChartConfig.showYAxisLabel" [xAxis]="chanelTrendChartConfig.xAxis"
            [yAxis]="chanelTrendChartConfig.yAxis" [xAxisLabel]="chanelTrendChartConfig.xAxisLabel"
            [yAxisLabel]="chanelTrendChartConfig.yAxisLabel" [timeline]="chanelTrendChartConfig.timeline"
            [results]="chanelTrendChartConfig.results" (select)="chanelTrendChartConfig.onSelect($event)"
            [yAxisTickFormatting]="chanelTrendChartConfig.myYAxisTickFormatting">
        </ngx-charts-area-chart-stacked>
    </div>

</div>