<div class="header-export">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>Báo cáo chương trình khuyến mại</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>Danh sách báo cáo</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">

      <div class="box-sh mb-20">

        <span class="label-export"><span translate="" ng-reflect-translate="">CHƯƠNG TRÌNH KHUYẾN MẠI</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Từ ngày</mat-label>
              <input [(ngModel)]="campaign.from" matInput [matDatepicker]="pickerCampaignFrom"
                placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerCampaignFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerCampaignFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Đến ngày</mat-label>
              <input [(ngModel)]="campaign.to" matInput [matDatepicker]="pickerCampaignTo" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerCampaignTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerCampaignTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('campaign')"
              [disabled]="isProcess.campaign">
              <mat-icon *ngIf="isProcess.campaign" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.campaign" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>