<div class="header-t">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>Superman</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>Superman</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh">
        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label class="text-danger" translate>Dự án - online ({{accountOnline?.data}})</mat-label>
            <mat-select [formControl]="projectId">
                <mat-option [value]="0">Chọn dự án</mat-option>
                <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id.toString()">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
         </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="primary" (click)="save()" class="m-5px">
              <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
              <span translate>Xác nhận</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>