<div class="header-t">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>wallet-transaction.title</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>wallet-transaction.title-l</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh">
        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Dự án</mat-label>
              <mat-select [(ngModel)]="params.projectId" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id.toString()">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label><span translate>Tài khoản khách hàng</span></mat-label>
              <mat-select [(value)]="params.accountId" placeholder="Tất cả">
                <mat-option>
                  <ngx-mat-select-search [formControl]="accountKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'" [searching]="isProcess.accountSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                </mat-option>
                <mat-option value="">Tất cả</mat-option>
                <mat-option *ngFor="let item of accounts; index as i;" [value]="item.id">
                  <strong>{{item.fullName}}</strong> | GT:
                  <strong *ngIf="item.sex == 0">Nữ</strong>
                  <strong *ngIf="item.sex == 1">Nam</strong>
                  <strong *ngIf="item.sex == 2">Khác</strong>
                  | SĐT: {{item.phone}} | RFID: {{item.rfid}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>wallet-transaction.type</mat-label>
              <mat-select [(value)]="params.type" placeholder="Tất cả">
                <mat-option value=""><span translate>base.all</span></mat-option>
                <mat-option [value]="'0'"><span class="text-danger" translate>wallet-transaction.type-0</span></mat-option>
                <mat-option [value]="'1'"><span class="text-info" translate>wallet-transaction.type-1</span></mat-option>
                <mat-option [value]="'2'"><span translate>wallet-transaction.type-2</span></mat-option>
                <mat-option [value]="'3'"><span translate>wallet-transaction.type-3</span></mat-option>
                <mat-option [value]="'4'"><span translate>wallet-transaction.type-4</span></mat-option>
                <mat-option [value]="'5'"><span translate>wallet-transaction.type-5</span></mat-option>
                <mat-option [value]="'6'"><span translate>wallet-transaction.type-6</span></mat-option>
                <mat-option [value]="'7'"><span translate>wallet-transaction.type-7</span></mat-option>
                <mat-option [value]="'8'"><span translate>wallet-transaction.type-8</span></mat-option>
                <mat-option [value]="'9'"><span translate>wallet-transaction.type-9</span></mat-option>
                <mat-option [value]="'10'"><span translate>wallet-transaction.type-10</span></mat-option>
                <mat-option [value]="'11'"><span translate>wallet-transaction.type-11</span></mat-option>
                <mat-option [value]="'12'"><span translate>wallet-transaction.type-12</span></mat-option>
                <mat-option [value]="'13'"><span translate>wallet-transaction.type-13</span></mat-option>
                <mat-option [value]="'14'"><span translate>wallet-transaction.type-14</span></mat-option>
                <mat-option [value]="'15'"><span translate>wallet-transaction.type-15</span></mat-option>
                <mat-option [value]="'16'"><span translate>wallet-transaction.type-16</span></mat-option>
                <mat-option [value]="'17'"><span translate>wallet-transaction.type-17</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>wallet-transaction.paymentGroup</mat-label>
              <mat-select [(value)]="params.paymentGroup" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="'0'"><span translate>wallet-transaction.paymentGroup-0</span></mat-option>
                <mat-option [value]="'1'"><span translate>wallet-transaction.paymentGroup-1</span></mat-option>
                <mat-option [value]="'2'"><span translate>wallet-transaction.paymentGroup-2</span></mat-option>
                <mat-option [value]="'3'"><span translate>wallet-transaction.paymentGroup-3</span></mat-option>
                <mat-option [value]="'4'"><span translate>wallet-transaction.paymentGroup-4</span></mat-option>
                <mat-option [value]="'5'"><span translate>wallet-transaction.paymentGroup-5</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Ngày thực hiện từ</mat-label>
              <input [(ngModel)]="params.start" matInput [matDatepicker]="pickerFrom">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Ngày thực hiện đến</mat-label>
              <input [(ngModel)]="params.end" matInput [matDatepicker]="pickerTo">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>wallet-transaction.status</mat-label>
              <mat-select [(value)]="params.status" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="'0'"><span translate>wallet-transaction.status-0</span></mat-option>
                <mat-option [value]="'1'"><span translate>wallet-transaction.status-1</span></mat-option>
                <mat-option [value]="'2'"><span translate>wallet-transaction.status-2</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>base.searchKey</mat-label>
              <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off" placeholder="Tìm kiếm theo mã giao dịch, mã đơn hàng" type="text">
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="primary" (click)="search()" class="m-5px">
              <mat-icon class="icon-sm icon-btn">search</mat-icon>
            </button>

            <button roles-is="139" title="Thêm mới giao dịch" (click)="openCreate()" mat-raised-button color="blue" class="m-5px">
              <mat-icon class="icon-sm icon-btn">add</mat-icon>
            </button>

            <button roles-is="269" title="Truy thu điểm" (click)="openArrears()" mat-raised-button color="warn" class="m-5px">
              <mat-icon class="icon-sm icon-btn">close</mat-icon>
            </button>

            <button roles-is="138" title="Chuyển điểm" (click)="openGift()" mat-raised-button color="accent"  class="m-5px">
              <mat-icon class="icon-sm icon-btn">send</mat-icon>
            </button>
          </div>
        </div>

        <div>
          <div class="tParentLoading">
            <div *ngIf="isProcess.listDataTable" class="tloading">
              <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
                <div class="loader">Loading...</div>
              </div>
            </div>
            <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
              <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

                <ng-container matColumnDef="stt">
                  <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span>
                  </th>
                  <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                    {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                  <th style="width: 190px;" mat-header-cell *matHeaderCellDef matSortDisableClear>Thời gian giao dịch/kiểu nạp/loại giao dịch</th>
                  <td mat-cell *matCellDef="let element">
                    <div title="{{element.padTime}}" [class.text-warning]="element.isWarningHistory" [class.text-tư]="!element.isWarningHistory" class="text-500">
                      {{element.createdDate | date : 'dd/MM/yyyy HH:mm:ss'}}
                    </div>
                    <div>
                      <div class="text-500 text-warning">
                        <span translate>wallet-transaction.paymentGroup-{{element.paymentGroup}}</span>
                      </div>
                    </div>

                    <div>
                      <span translate>wallet-transaction.type-{{element.type}}</span>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="transactionCode">
                  <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>wallet-transaction.transactionCode</span>/mã đơn hàng</th>
                  <td mat-cell *matCellDef="let element">
                    <div *ngIf = "element.type == 0 || element.type == 1 || element.type == 8" class="text-danger">Số tiền: <strong>{{appCommon.formatMoney(element.price,0,3)}} VNĐ</strong></div>
                    <div class="text-danger">{{ (element.transactionCode == null ? '---' : element.transactionCode) }}</div>
                    <div class="text-info">{{element.orderIdRef}}</div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="totalAmount">
                  <th mat-header-cell *matHeaderCellDef matSortDisableClear>Điểm/điểm KM/điểm chuyến đi</th>
                  <td mat-cell *matCellDef="let element">
                    <div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
                      <strong *ngIf="element.type != 1 && element.type != 2 && element.type != 6 && element.type != 9 && element.type != 11 && element.type != 12 && element.type != 14" class="text-success">+{{appCommon.formatMoney(element.amount,0,3)}}</strong>
                      <strong *ngIf="element.type == 1 || element.type == 2 || element.type == 6 || element.type == 9 || element.type == 11 || element.type == 12 || element.type == 14" class="text-danger">-{{appCommon.formatMoney(element.amount,0,3)}}</strong>
                    </div>
                    <div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
                      <strong *ngIf="element.type != 1 && element.type != 2 && element.type != 6&& element.type != 9 && element.type != 11 && element.type != 12 && element.type != 14" class="text-success">+{{appCommon.formatMoney(element.subAmount,0,3)}}</strong>
                      <strong *ngIf="element.type == 1 || element.type == 2 || element.type == 6 || element.type == 9 || element.type == 11 || element.type == 12 || element.type == 14" class="text-danger">-{{appCommon.formatMoney(element.subAmount,0,3)}}</strong>
                    </div>
                    <div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
                      <strong *ngIf="element.type != 7" class="text-success">+{{appCommon.formatMoney(element.tripPoint,0,3)}}</strong>
                      <strong *ngIf="element.type == 7"  class="text-danger">-{{appCommon.formatMoney(element.tripPoint,0,3)}}</strong>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="wallet">
                  <th mat-header-cell *matHeaderCellDef matSortDisableClear>Tài khoản trước biến động (Điểm/điểm KM/điểm chuyến đi)</th>
                  <td mat-cell *matCellDef="let element">
                    <div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
                      <strong>{{appCommon.formatMoney(element.wallet_Balance,0,3)}}</strong>
                    </div>
                    <div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
                      <strong>{{appCommon.formatMoney(element.wallet_SubBalance,0,3)}}</strong>
                    </div>
                    <div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
                      <strong>{{appCommon.formatMoney(element.wallet_TripPoint,0,3)}}</strong>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef matSortDisableClear><span>Trạng thái/ TG xử lý xong</span></th>
                  <td mat-cell *matCellDef="let element">
                    <div>
                      <span translate class="text-warning" *ngIf="element.status == 0">wallet-transaction.status-0</span>
                      <span translate class="text-success" *ngIf="element.status == 1">wallet-transaction.status-1</span>
                      <span translate class="text-danger" *ngIf="element.status == 2">wallet-transaction.status-2</span>
                    </div>
                    <div>
                      {{element.padTime | date : 'dd/MM/yyyy HH:mm:ss'}}
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="account">
                  <th style="width: 150px;" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Khách hàng/số điện thoại/RFID</span></th>
                  <td mat-cell *matCellDef="let element">
                    <div>{{element.account?.fullName}}</div>
                    <div class="text-name">{{element.account?.phone}}</div>
                    <div *ngIf="element.account?.rfid!=null" class="text-500 text-danger">{{element.account?.rfid}}</div>
                    <div *ngIf="element.account?.rfid==null" class="text-500 text-danger">---</div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="campaignId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Chương trình khuyến mãi</span></th>
                  <td mat-cell *matCellDef="let element"> {{element.campaign?.name}} </td>
                </ng-container>

                <ng-container matColumnDef="note">
                  <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>wallet-transaction.note</span></th>
                  <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                </ng-container>

                <ng-container matColumnDef="adminNote">
                  <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>wallet-transaction.adminNote</span></th>
                  <td mat-cell *matCellDef="let element">
                    <div class="text-danger">{{element.adminNote}}</div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="createdDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>ticket-prepaid.createdUser</span></th>
                  <td mat-cell *matCellDef="let element">
                    <div><span class="text-500">{{element.createdUserObject?.displayName}}</span></div>
                    <div><span class="">{{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="updatedDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>ticket-prepaid.updatedUser</span></th>
                  <td mat-cell *matCellDef="let element">
                    <div><span class="text-500">{{element.updatedUserObject?.displayName}}</span></div>
                    <div><span class="">{{element.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="files">
                  <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Số đính kèm</span></th>
                  <td mat-cell *matCellDef="let element">
                    {{getFilesCount(element.files)}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th width="110" mat-header-cell *matHeaderCellDef>
                    Hành động
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <button roles-is="97" (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
                      <mat-icon class="icon-sm">edit</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <div #paginator_rec>
              <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>