<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>station.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>station.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>station.name</mat-label>
                        <input required matInput formControlName="name" placeholder="" type="text" maxlength="200">
                        <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>station.displayName</mat-label>
                        <input required matInput formControlName="displayName" placeholder="" type="text" maxlength="200">
                        <mat-error *ngIf="form.controls.displayName.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.displayName.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.displayName.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>station.cityId</mat-label>
                                <mat-select formControlName="cityId" [(value)]="data.cityId" placeholder="Chọn tỉnh/TP">
                                    <mat-option value="0">Chọn tỉnh/TP</mat-option>
                                    <mat-option *ngFor="let item of categoryData.cities; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.cityId.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>station.districtId</mat-label>
                                <mat-select formControlName="districtId" [(value)]="data.districtId" placeholder="Chọn quận/huyện">
                                    <mat-option value="0">Chọn quận/huyện</mat-option>
                                    <mat-option *ngFor="let item of categoryData.districts | districtFilter: {cityId: form.get('cityId').value} ; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.districtId.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>station.address</mat-label>
                        <input matInput formControlName="address" placeholder="" type="text" maxlength="1000">
                        <mat-error *ngIf="form.controls.address.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.address.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.address.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>station.projectId</mat-label>
                        <mat-select required formControlName="projectId" [(value)]="data.projectId" placeholder="Chọn dự án">
                            <mat-option value="0">Chọn dự án</mat-option>
                            <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id">{{item.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.projectId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>station.investorId</mat-label>
                        <mat-select required formControlName="investorId" [(value)]="data.investorId" placeholder="Chọn đơn vị đầu tư">
                            <mat-option value="0">Chọn đơn vị đầu tư</mat-option>
                            <mat-option *ngFor="let item of categoryData.investors; index as i;" [value]="item.id">{{item.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.projectId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>Khoảng cách trả xe</mat-label>
                                <input matInput formControlName="returnDistance" placeholder="Ví dụ: 100(m)" type="number" min="1" max="90000">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>station.width</mat-label>
                                <input matInput formControlName="width" placeholder="Ví dụ: 100" type="number" maxlength="90000">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>station.height</mat-label>
                                <input matInput formControlName="height" placeholder="Ví dụ: 100" type="number" maxlength="90000">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>station.spaces</mat-label>
                                <input matInput formControlName="spaces" placeholder="Ví dụ: 100" type="number" maxlength="90000">
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label><span class="text-danger" translate>Nhân viên quản lý trạm</span></mat-label>
                        <mat-select formControlName="managerUserId" placeholder="Chọn">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="managerUserKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'" [searching]="isProcess.managerUserSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option [value]="0">Chọn</mat-option>
                            <mat-option *ngFor="let item of managerUsers; index as i;" [value]="item.id">
                              <strong>{{item.code}}</strong> | <strong>{{item.fullName}}</strong> | SĐT: {{item.phoneNumber}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>station.description</mat-label>
                        <textarea matInput formControlName="description" rows="5" placeholder="" type="text" maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.description.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.description.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.description.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>station.status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option [value]="0">Không sử dụng</mat-option>
                            <mat-option [value]="1">Sử dụng</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <div class="col-md-6">
                <div style="padding-bottom: 10px;">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Tìm kiếm trên map</mat-label>
                        <input matInput type="text" placeholder="Nhập từ khóa" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                    </mat-form-field>
                    <agm-map style="height: 400px;" [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="location.zoom" (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
                        <agm-marker *ngFor="let marker of location.markers" [latitude]="marker.lat" [label]="marker.label" [longitude]="marker.lng" (markerClick)="selectMarker($event)" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
                        </agm-marker>
                    </agm-map>
                </div>
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>station.lat</mat-label>
                                <input matInput formControlName="lat" placeholder="" type="text" maxlength="1000">
                                <mat-error *ngIf="form.controls.lat.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.lat.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.lat.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>station.lng</mat-label>
                                <input matInput formControlName="lng" placeholder="" type="text" maxlength="1000">
                                <mat-error *ngIf="form.controls.lng.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.lng.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.lng.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button roles-is="41" *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button roles-is="40" type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>