<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>account-rating.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>account-rating.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>account-rating.name</mat-label>
                        <input matInput formControlName="name" placeholder="" type="text" maxlength="1000">
                        <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required
                        </mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate
                            [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account-rating.startDate</mat-label>
                                <input matInput formControlName="startDate" [matDatepicker]="pickerStartDate"
                                    placeholder="ngày/tháng/năm">
                                <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerStartDate></mat-datepicker>
                                <mat-error *ngIf="form.controls.startDate.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account-rating.endDate</mat-label>
                                <input matInput formControlName="endDate" [matDatepicker]="pickerEndDate"
                                    placeholder="ngày/tháng/năm">
                                <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerEndDate></mat-datepicker>
                                <mat-error *ngIf="form.controls.endDate.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account-rating.type</mat-label>
                                <mat-select formControlName="type">
                                    <mat-option [value]="0"><span translate>account-rating.type-0</span></mat-option>
                                    <mat-option [value]="1"><span translate>account-rating.type-1</span></mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.type.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account-rating.group</mat-label>
                                <mat-select formControlName="group">
                                    <mat-option [value]="0"><span translate>account-rating.group-0</span></mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.group.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>account-rating.reward</mat-label>
                        <textarea matInput formControlName="reward" placeholder="" rows="5" maxlength="2000"></textarea>
                        <mat-error *ngIf="form.controls.reward.errors?.required" translate>validate.required
                        </mat-error>
                        <mat-error *ngIf="form.controls.reward.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.reward.hasError('maxlength')" translate
                            [translateParams]="{n: '2000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>account-rating.note</mat-label>
                        <textarea matInput formControlName="note" placeholder="" rows="5" maxlength="2000"></textarea>
                        <mat-error *ngIf="form.controls.note.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate
                            [translateParams]="{n: '2000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1"
        [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1"
        [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>