<div fxLayout="column" class="p-1" fxLayoutAlign="space-between none">

    <div fxLayout="row" fxFlex="100" class="p-0" fxLayoutAlign="space-between none" style="margin-top:10px">
        <mat-card fxFlex="49" fxLayout="row" class="p-0" fxLayoutAlign="start none"
            style="border-radius:5px !important;">
            <div fxFlex="none" class="bg-primary" fxLayout="row" fxLayoutAlign="space-around center"
                style="width:150px">
                <div style="font-weight: 400;">Tổng số chuyến đi</div>
            </div>
            <div fxFlex="75" fxLayout="row" class="p-1">
                <div fxFlex="50">
                    Tổng:
                    <span class="text-success"
                        style="font-size: 18px;font-weight: 500;">{{appCommon.formatMoney(commonInfo.transaction_quantity,0,3)}}</span>
                </div>
                <div fxFlex="49">
                    <span>Trung bình/ngày: </span>
                    <span class="text-danger" style="font-size: 18px;font-weight: 500;">
                        {{appCommon.formatMoney(commonInfo.transaction_quantity_avg,0,3)}}</span>
                </div>
            </div>
        </mat-card>

        <mat-card fxFlex="49" fxLayout="row" class="p-0" fxLayoutAlign="start none"
            style="border-radius:5px !important;">
            <div fxFlex="none" class="bg-primary" fxLayout="row" fxLayoutAlign="space-around center"
                style="width:150px">
                <div style="font-weight: 400;">Tổng số giờ thuê</div>
            </div>
            <div fxFlex="75" fxLayout="row" class="p-1">
                <div fxFlex="50">
                    Tổng:
                    <span class="text-success"
                        style="font-size: 18px;font-weight: 500;">{{appCommon.formatMoney(commonInfo.transaction_time_sum,0,3)}}</span>
                </div>
                <div fxFlex="49">
                    <span>Trung bình/ngày: </span>
                    <span class="text-danger" style="font-size: 18px;font-weight: 500;">
                        {{appCommon.formatMoney(commonInfo.transaction_time_sum_avg,0,3)}}</span>
                </div>
            </div>
        </mat-card>
    </div>

    <div fxLayout="row" fxFlex="100" class="p-0" fxLayoutAlign="space-between none" style="margin-top:10px">
        <mat-card fxFlex="49" fxLayout="row" class="p-0" fxLayoutAlign="start none"
            style="border-radius:5px !important;">
            <div fxFlex="none" class="bg-primary" fxLayout="row" fxLayoutAlign="space-around center"
                style="width:150px">
                <div style="font-weight: 400;">Tổng số Km đã đi</div>
            </div>
            <div fxFlex="75" fxLayout="row" class="p-1">
                <div fxFlex="50">
                    Tổng:
                    <span class="text-success"
                        style="font-size: 18px;font-weight: 500;">{{appCommon.formatMoney(commonInfo.transaction_km_sum,0,3)}}</span>
                </div>
                <div fxFlex="49">
                    <span>Trung bình/ngày: </span>
                    <span class="text-danger" style="font-size: 18px;font-weight: 500;">
                        {{appCommon.formatMoney(commonInfo.transaction_km_sum_avg,0,3)}}</span>
                </div>
            </div>
        </mat-card>
    </div>

    <div fxLayout="row" fxFlex="100" class="p-0" fxLayoutAlign="space-between none" style="margin-top:10px">
        <mat-card fxFlex="49" fxLayout="row" class="p-0" fxLayoutAlign="start none"
            style="border-radius:5px !important;">
            <div fxFlex="none" class="bg-primary" fxLayout="row" fxLayoutAlign="space-around center"
                style="width:150px">
                <div style="font-weight: 400;">Số chuyến nợ cước</div>
            </div>
            <div fxFlex="75" fxLayout="row" class="p-1">
                <div fxFlex="50">
                    Tổng:
                    <span class="text-success"
                        style="font-size: 18px;font-weight: 500;">{{appCommon.formatMoney(commonInfo.transaction_debt_quantity,0,3)}}</span>
                </div>
            </div>
        </mat-card>

        <mat-card fxFlex="49" fxLayout="row" class="p-0" fxLayoutAlign="start none"
            style="border-radius:5px !important;">
            <div fxFlex="none" class="bg-primary" fxLayout="row" fxLayoutAlign="space-around center"
                style="width:150px">
                <div style="font-weight: 400;">Số chuyến thu hồi</div>
            </div>
            <div fxFlex="75" fxLayout="row" class="p-1">
                <div fxFlex="50">
                    Tổng:
                    <span class="text-success"
                        style="font-size: 18px;font-weight: 500;">{{appCommon.formatMoney(commonInfo.transaction_recall_quantity,0,3)}}</span>
                </div>
            </div>
        </mat-card>
    </div>

    <!-- TỔNG CHUYẾN ĐI -->
    <div class="chart-container bar-chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ tổng số chuyến đi</span>

        <div class="chart-wraper">
            <ngx-charts-bar-vertical 
                [view]="totalChartConfig.view" 
                [scheme]="totalChartConfig.colorScheme"
                [showDataLabel]="totalChartConfig.showDataLabel" 
                [results]="totalChartConfig.results"
                [gradient]="totalChartConfig.gradient" 
                [xAxis]="totalChartConfig.showXAxis"
                [yAxis]="totalChartConfig.showYAxis" 
                [legend]="totalChartConfig.showLegend"
                [showXAxisLabel]="totalChartConfig.showXAxisLabel" 
                [showYAxisLabel]="totalChartConfig.showYAxisLabel"
                [xAxisLabel]="totalChartConfig.xAxisLabel" 
                [yAxisLabel]="totalChartConfig.yAxisLabel"
                (select)="totalChartConfig.onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
    </div>

    <!-- THỐNG KÊ THEO NGÀY TRONG TUẦN -->
    <div class="chart-container bar-chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ thống kê theo ngày trong tuần</span>

        <div class="chart-wraper">
            <ngx-charts-bar-vertical-2d
                [view]="dayTrendChartConfig.view" 
                [scheme]="dayTrendChartConfig.colorScheme"
                [showDataLabel]="totalChartConfig.showDataLabel" 
                [results]="dayTrendChartConfig.results"
                [gradient]="dayTrendChartConfig.gradient" 
                [xAxis]="dayTrendChartConfig.showXAxis"
                [yAxis]="dayTrendChartConfig.showYAxis" 
                [legend]="dayTrendChartConfig.showLegend"
                [showXAxisLabel]="dayTrendChartConfig.showXAxisLabel"
                [showYAxisLabel]="dayTrendChartConfig.showYAxisLabel" 
                [xAxisLabel]="dayTrendChartConfig.xAxisLabel"
                [yAxisLabel]="dayTrendChartConfig.yAxisLabel" 
                [legendTitle]="dayTrendChartConfig.legendTitle"
                (select)="dayTrendChartConfig.onSelect($event)" 
                (activate)="dayTrendChartConfig.onActivate($event)"
                (deactivate)="dayTrendChartConfig.onDeactivate($event)">
            </ngx-charts-bar-vertical-2d>
        </div>

    </div>

    <!-- XU HƯỚNG LOẠI HÌNH THUÊ -->
    <div class="chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ xu hướng loại hình thuê</span>

        <ngx-charts-area-chart-stacked 
            [view]="typeTrendChartConfig.view" 
            [scheme]="typeTrendChartConfig.colorScheme"
            [legend]="typeTrendChartConfig.legend" 
            [legendTitle]="typeTrendChartConfig.legendTitle"
            [showXAxisLabel]="typeTrendChartConfig.showXAxisLabel"
            [showYAxisLabel]="typeTrendChartConfig.showYAxisLabel" 
            [xAxis]="typeTrendChartConfig.xAxis"
            [yAxis]="typeTrendChartConfig.yAxis" 
            [xAxisLabel]="typeTrendChartConfig.xAxisLabel"
            [yAxisLabel]="typeTrendChartConfig.yAxisLabel" 
            [timeline]="typeTrendChartConfig.timeline"
            [results]="typeTrendChartConfig.results" 
            (select)="typeTrendChartConfig.onSelect($event)">
        </ngx-charts-area-chart-stacked>
    </div>

    <!-- XU HƯỚNG KHUNG GIỜ ĐẠP -->
    <div class="chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ xu hướng khung giờ</span>

        <ngx-charts-area-chart-stacked 
            [view]="hourTrendChartConfig.view" 
            [scheme]="hourTrendChartConfig.colorScheme"
            [legend]="hourTrendChartConfig.legend" 
            [legendTitle]="hourTrendChartConfig.legendTitle"
            [showXAxisLabel]="hourTrendChartConfig.showXAxisLabel"
            [showYAxisLabel]="hourTrendChartConfig.showYAxisLabel" 
            [xAxis]="hourTrendChartConfig.xAxis"
            [yAxis]="hourTrendChartConfig.yAxis" 
            [xAxisLabel]="hourTrendChartConfig.xAxisLabel"
            [yAxisLabel]="hourTrendChartConfig.yAxisLabel" 
            [timeline]="hourTrendChartConfig.timeline"
            [results]="hourTrendChartConfig.results" 
            (select)="hourTrendChartConfig.onSelect($event)">
        </ngx-charts-area-chart-stacked>
    </div>

    <!-- XU HƯỚNG THỜI LƯỢNG ĐẠP -->
    <div class="chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ xu hướng thời lượng đạp</span>

        <ngx-charts-area-chart-stacked
            [view]="timeTrendChartConfig.view" 
            [scheme]="timeTrendChartConfig.colorScheme"
            [legend]="timeTrendChartConfig.legend" 
            [legendTitle]="timeTrendChartConfig.legendTitle"
            [showXAxisLabel]="timeTrendChartConfig.showXAxisLabel"
            [showYAxisLabel]="timeTrendChartConfig.showYAxisLabel" 
            [xAxis]="timeTrendChartConfig.xAxis"
            [yAxis]="timeTrendChartConfig.yAxis" 
            [xAxisLabel]="timeTrendChartConfig.xAxisLabel"
            [yAxisLabel]="timeTrendChartConfig.yAxisLabel" 
            [timeline]="timeTrendChartConfig.timeline"
            [results]="timeTrendChartConfig.results" 
            (select)="timeTrendChartConfig.onSelect($event)">
        </ngx-charts-area-chart-stacked>
    </div>

    <!-- XU HƯỚNG QUÃNG ĐƯỜNG ĐẠP -->
    <div class="chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ xu hướng quãng đường đạp</span>

        <ngx-charts-area-chart-stacked 
            [view]="distanceTrendChartConfig.view"
            [scheme]="distanceTrendChartConfig.colorScheme" 
            [legend]="distanceTrendChartConfig.legend"
            [legendTitle]="distanceTrendChartConfig.legendTitle"
            [showXAxisLabel]="distanceTrendChartConfig.showXAxisLabel"
            [showYAxisLabel]="distanceTrendChartConfig.showYAxisLabel" 
            [xAxis]="distanceTrendChartConfig.xAxis"
            [yAxis]="distanceTrendChartConfig.yAxis" 
            [xAxisLabel]="distanceTrendChartConfig.xAxisLabel"
            [yAxisLabel]="distanceTrendChartConfig.yAxisLabel" 
            [timeline]="distanceTrendChartConfig.timeline"
            [results]="distanceTrendChartConfig.results" 
            (select)="distanceTrendChartConfig.onSelect($event)">
        </ngx-charts-area-chart-stacked>
    </div>

    <!-- XU HƯỚNG ĐỘ TUỔI -->
    <div class="chart-container">
        <span class="label-note" style="padding:0 10px;">Biểu đồ xu hướng nhóm tuổi</span>

        <ngx-charts-area-chart-stacked 
            [view]="ageTrendChartConfig.view" 
            [scheme]="ageTrendChartConfig.colorScheme"
            [legend]="ageTrendChartConfig.legend"
            [legendTitle]="ageTrendChartConfig.legendTitle"
            [showXAxisLabel]="ageTrendChartConfig.showXAxisLabel" 
            [showYAxisLabel]="ageTrendChartConfig.showYAxisLabel"
            [xAxis]="ageTrendChartConfig.xAxis" 
            [yAxis]="ageTrendChartConfig.yAxis"
            [xAxisLabel]="ageTrendChartConfig.xAxisLabel" 
            [yAxisLabel]="ageTrendChartConfig.yAxisLabel"
            [timeline]="ageTrendChartConfig.timeline" 
            [results]="ageTrendChartConfig.results"
            (select)="ageTrendChartConfig.onSelect($event)">
        </ngx-charts-area-chart-stacked>
    </div>

</div>