<h1 mat-dialog-title><span translate>account-rating-item.modal-create</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>account-rating-item.accountId</mat-label>
                        <mat-select formControlName="accountId" placeholder="Chọn khách hàng">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="accKey" [placeholderLabel]="'Tìm kiếm theo SĐT, họ tên...'" [searching]="isProcess.accSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option [value]="0">Chọn</mat-option>
                            <mat-option *ngFor="let item of accounts; index as i;" [value]="item.id">
                              <strong>{{item.fullName}}</strong> | SĐT: {{item.phone}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>account-rating-item.order</mat-label>
                        <input matInput formControlName="order" placeholder="" type="number" min="1" max="999999">
                        <mat-error *ngIf="form.controls.order.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>account-rating-item.value</mat-label>
                        <input matInput formControlName="value" placeholder="" type="text" maxlength="1000">
                        <mat-error *ngIf="form.controls.value.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.value.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.value.hasError('maxlength')" translate
                            [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1"
        [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>