<div>
  <div class="tParentLoading">
    <div *ngIf="isProcess.listDataTable" class="tloading">
      <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
        <div class="loader"><span translate>button.loading</span></div>
      </div>
    </div>

    <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow-y: auto;">
      <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
          <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
            {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-price.name</span></th>
          <td mat-cell *matCellDef="let element"> <span class="text-name">{{element.name}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="ticketType">
          <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-price.ticketType</span></th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.ticketType == 1">Vé theo block</span>
            <span *ngIf="element.ticketType == 2">Vé theo ngày</span>
            <span *ngIf="element.ticketType == 3">Vé theo tháng</span>
            <span *ngIf="element.ticketType == 4">Vé theo quý</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="allowChargeInSubAccount">
          <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-price.allowChargeInSubAccount</span></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="text-success" *ngIf="element.allowChargeInSubAccount">check</mat-icon>
            <mat-icon class="text-danger" *ngIf="!element.allowChargeInSubAccount">close</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="ticketValue">
          <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-price.ticketValue</span></th>
          <td mat-cell *matCellDef="let element">
            <strong class="text-success">{{appCommon.formatMoney(element.ticketValue,0,3)}}</strong>
          </td>
        </ng-container>

        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Thông tin vé</span></th>
          <td mat-cell *matCellDef="let element">
            <div class="text-info" *ngIf="element.ticketType == 1">Tính theo block <strong>{{element.blockPerMinute}} phút</strong> </div>
            <div class="text-info" *ngIf="element.ticketType == 2">Trong ngày tổng số lượt đi không vượt quá <strong>{{element.limitMinutes}} phút</strong></div>
            <div class="text-info" *ngIf="element.ticketType == 3">Trong tháng tổng số lượt đi không vượt quá <strong>{{element.limitMinutes}} phút</strong> </div>
            <div class="text-danger">Trường hợp vi phạm vượt quá tính block <strong>{{appCommon.formatMoney(element.blockPerViolation,0,3)}} phút</strong> mỗi block tính <strong>{{appCommon.formatMoney(element.blockViolationValue,0,3)}} đ</strong></div>
          </td>
        </ng-container>

        <ng-container matColumnDef="limitMinutes">
          <th width="110" mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-price.limitMinutes</span></th>
          <td mat-cell *matCellDef="let element"> {{element.limitMinutes}} </td>
        </ng-container>

        <ng-container matColumnDef="isDefault">
          <th width="110" mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-price.isDefault</span></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="text-success" *ngIf="element.isDefault">check</mat-icon>
            <mat-icon class="text-danger" *ngIf="!element.isDefault">close</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <th width="110" mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-price.isActive</span></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="text-success" *ngIf="element.isActive">check</mat-icon>
            <mat-icon class="text-danger" *ngIf="!element.isActive">close</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th width="110" mat-header-cell *matHeaderCellDef>
            <button (click)="search()" mat-raised-button class="m-1 btn-grid">
              <mat-icon class="icon-sm icon-btn">refresh</mat-icon>
            </button>
            <button (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-1 btn-grid">
              <mat-icon class="icon-sm icon-btn">add</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
              <mat-icon class="icon-sm">edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div #paginator_rec>
      <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>