<h1 mat-dialog-title><span translate>ticket-prepaid.modal-edit</span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>ticket-prepaid.projectId</mat-label>
                        <mat-select disabled   [(value)]="data.data.projectId" placeholder="Chọn dự án">
                            <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label><span translate>ticket-prepaid.accountId</span></mat-label>
                        <mat-select disabled  [(value)]="data.data.accountId" placeholder="Chọn khách hàng">
                            <mat-option *ngFor="let item of accounts; index as i;" [value]="item.id">
                                Họ & tên: <strong>{{item.fullName}}</strong> | Giới tính: 
                                <strong *ngIf = "item.sex == 0">Nữ</strong>
                                <strong *ngIf = "item.sex == 1">Nam</strong>
                                <strong *ngIf = "item.sex == 2">Khác</strong>
                                | SĐT: {{item.phone}} | RFID: {{item.rfid}}
                                | Loại TK: <span translate *ngIf="item.type == 0">account.type-0</span><span translate *ngIf="item.type == 1">account.type-1</span><span translate *ngIf="item.type == 2">account.type-2</span>
                                | TT: <span translate class="text-warning" *ngIf="item.status == 0">account.status-0</span><span translate class="text-success" *ngIf="item.status == 1">account.status-1</span><span translate class="text-danger" *ngIf="item.status == 2">account.status-2</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>ticket-prepaid.ticketPriceId</mat-label>
                        <div class="mat-input-element" *ngIf="data.data.account != null">
                            <span class="text-name">{{data.data.ticketPrice?.name}}</span> | Loại vé:
                            <span class="text-warning" *ngIf="data.data.ticketPrice?.ticketType == 1" translate>ticket-price.ticketType-1</span>
                            <span class="text-danger" *ngIf="data.data.ticketPrice?.ticketType == 2" translate>ticket-price.ticketType-2</span>
                            <span class="text-info" *ngIf="data.data.ticketPrice?.ticketType == 3" translate>ticket-price.ticketType-3</span>
                            | Giá vé: <span class="text-danger">{{appCommon.formatMoney(data.data.ticketPrice?.ticketValue,0,3)}}</span>
                        </div>
                        <input class="hide" matInput disabled placeholder="" type="text">
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Mô tả loại vé</mat-label>
                        <textarea disabled matInput rows="3">{{data.data.ticketTypeNote}}</textarea>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-prepaid.ticketValue</mat-label>
                                <input currencyMask [options]="appCommon.moneyInputFormat()" disabled class="money-style" matInput [value]="data.data.ticketValue" placeholder="" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-prepaid.code</mat-label>
                                <input matInput disabled [value]="data.data.code" placeholder="" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-prepaid.dateOfPayment</mat-label>
                                <input required matInput formControlName="dateOfPayment" [matDatepicker]="pickerDateOfPayment">
                                <mat-datepicker-toggle matSuffix [for]="pickerDateOfPayment"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDateOfPayment></mat-datepicker>
                                <mat-error *ngIf="form.controls.dateOfPayment.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
              
                        <div *ngIf = "data.data.ticketPrice_TicketType == 2">
                            <div class="col-md-4">
                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>Mua vé của ngày</mat-label>
                                    <input matInput disabled value="{{appCommon.formatDateTime(data.data.startDate,'dd/MM/yyyy')}}" placeholder="" type="text">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>Thời hạn</mat-label>
                                    <input disabled matInput value="{{'Sử dụng trong ngày '}} {{ appCommon.formatDateTime(data.data.startDate,'dd/MM/yyyy') }}">
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>Đã sử dụng</mat-label>
                                    <input disabled matInput value="{{appCommon.formatMoney(data.data.minutesSpent,0,3)}}/{{appCommon.formatMoney(data.data.ticketPrice_LimitMinutes,0,3)}} phút">
                                </mat-form-field>
                            </div>
                        </div>

                        <div *ngIf = "data.data.ticketPrice_TicketType == 3">
                            <div class="col-md-2">
                                {{data.dataEdit.month}}
                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>Mua vé tháng</mat-label>
                                    <input matInput disabled [value]="'Tháng ' + appCommon.formatDateTime(data.data.startDate,'MM')" placeholder="" type="text">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2">
                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>Năm</mat-label>
                                    <input matInput disabled [value]="'Năm ' + appCommon.formatDateTime(data.data.startDate,'yyyy')" placeholder="" type="text">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>Thời hạn</mat-label>
                                    <input disabled matInput value="Hiệu lực  từ {{appCommon.formatDateTime(data.data.startDate,'dd/MM/yyyy')}} đến hết ngày {{appCommon.formatDateTime(data.data.endDate,'dd/MM/yyyy')}}">
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>Đã sử dụng</mat-label>
                                    <input disabled matInput value="{{appCommon.formatMoney(data.data.minutesSpent,0,3)}}/{{appCommon.formatMoney(data.data.ticketPrice_LimitMinutes,0,3)}} phút">
                                </mat-form-field>
                            </div>

                            
                        </div>
                    </div>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>ticket-prepaid.note</mat-label>
                        <textarea  matInput formControlName="note" rows="3"></textarea>
                    </mat-form-field>
                    <span class="text-danger">Chú ý: khách hàng chỉ mua được khi trong dự án đó tài khoản khách hàng không còn vé trả trước nào còn hạn, thời gian mua vé luôn luôn theo thời gian hiện tại và không thể mua vé trả trước cho ngày tương lai.</span>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>