<h1 mat-dialog-title><span translate>ticket-prepaid.modal-edit</span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label translate>ticket-prepaid.projectId</mat-label>
                    <input matInput disabled placeholder="" value="{{appCommon.getObj(categoryData.projects,data.data.projectId)}}" type="text">
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label translate>ticket-prepaid.ticketPriceId</mat-label>
                    <div class="mat-input-element" *ngIf="data.data.account != null">
                        <span class="text-name">{{data.data.ticketPrice?.name}}</span> | Loại vé:
                        <span class="text-warning" *ngIf="data.data.ticketPrice?.ticketType == 1" translate>ticket-price.ticketType-1</span>
                        <span class="text-danger" *ngIf="data.data.ticketPrice?.ticketType == 2" translate>ticket-price.ticketType-2</span>
                        <span class="text-info" *ngIf="data.data.ticketPrice?.ticketType == 3" translate>ticket-price.ticketType-3</span>
                        | Giá vé: <span class="text-danger">{{appCommon.formatMoney(data.data.ticketPrice?.ticketValue,0,3)}}</span>
                    </div>
                    <input class="hide" matInput disabled placeholder="" type="text">
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label translate>Mô tả loại vé</mat-label>
                    <textarea disabled matInput rows="3">{{ data.data.ticketTypeNote }}</textarea>
                </mat-form-field>

                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>ticket-prepaid.ticketValue</mat-label>
                            <input disabled currencyMask [value]="data.data.ticketValue" [options]="appCommon.moneyInputFormat()" matInput class="money-style" matInput type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>ticket-prepaid.code</mat-label>
                            <input disabled matInput [value]="data.data.code" placeholder="" type="text" maxlength="1000">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>

                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-prepaid.dateOfPayment</mat-label>
                                <input matInput formControlName="dateOfPayment" [matDatepicker]="pickerDateOfPayment">
                                <mat-datepicker-toggle matSuffix [for]="pickerDateOfPayment"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDateOfPayment></mat-datepicker>
                                <mat-error *ngIf="form.controls.dateOfPayment.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-prepaid.startDate</mat-label>
                                <input matInput formControlName="startDate" [matDatepicker]="pickerStartDate">
                                <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerStartDate></mat-datepicker>
                                <mat-error *ngIf="form.controls.startDate.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-prepaid.endDate</mat-label>
                                <input matInput formControlName="endDate" [matDatepicker]="pickerEndDate">
                                <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerEndDate></mat-datepicker>
                                <mat-error *ngIf="form.controls.endDate.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>ticket-prepaid.note</mat-label>
                        <textarea matInput formControlName="note" rows="3"></textarea>
                    </mat-form-field>
                    <div class="text-danger">Chú ý: chỉ cập nhật được ngày bán và thời gian hiệu lực, trong trường hợp phát sinh giao dịch bằng vé trả trước này thì không thể cập nhật nữa.</div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>