<h1 mat-dialog-title><span translate>Kết thúc giao dịch</span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Biển số</mat-label>
                            <input [disabled]="true" class="text-name text-500" matInput value="{{ data.bike?.plate }}">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>QR Code</mat-label>
                            <input [disabled]="true" class="text-danger text-500" matInput value="{{ data.bike?.dock?.serialNumber }}">
                        </mat-form-field>
                    </div>
                </div>

                <mat-form-field *ngIf="data.type == 1" floatLabel="always" appearance="outline">
                    <mat-label translate>Khách hàng</mat-label>
                    <input [disabled]="true" matInput value="{{data.account?.fullName}} - {{data.account?.phone}}">
                </mat-form-field>

                <mat-form-field *ngIf="data.type == 0" floatLabel="always" appearance="outline">
                    <mat-label translate>Nhân viên TNGO</mat-label>
                    <input [disabled]="true" matInput value="{{data.user?.fullName}} - {{data.user?.phoneNumber}}">
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label translate>RFID</mat-label>
                    <input [disabled]="true"  matInput value="{{ data.rfid }}">
                </mat-form-field>
    
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label translate>Thời bắt đầu</mat-label>
                    <input [disabled]="true"  matInput value="{{ data.startTime | date: 'dd/MM/yyyy HH:mm:ss' }}">
                </mat-form-field>

                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Lý do</mat-label>
                        <textarea  matInput rows="5" formControlName="feedback" placeholder="Lý do" maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.feedback.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <div class="can-checkbox-form">
                        <mat-checkbox matInput formControlName="checkCloseDock">
                            <span translate>Kiểm tra đóng khóa</span>
                        </mat-checkbox>
                    </div>

                    <div class="can-checkbox-form">
                        <mat-checkbox matInput formControlName="checkInStation">
                            <span translate>Kiểm tra trong trạm</span>
                        </mat-checkbox>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">lock_open</mat-icon>
        <span translate> Kết thúc giao dịch này</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>