<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>ticket-price.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>ticket-price.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>ticket-price.ticketType</mat-label>
                        <mat-select formControlName="ticketType" [(value)]="data.ticketType">
                            <mat-option [value]="1">Loại vé block</mat-option>
                            <mat-option [value]="2">Loại vé ngày</mat-option>
                            <mat-option [value]="3">Loại vé tháng</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>ticket-price.name</mat-label>
                        <input matInput formControlName="name" placeholder="" type="text" minlength="1" maxlength="1000">
                        <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-price.ticketValue</mat-label>
                                <input currencyMask [options]="appCommon.moneyInputFormat()" matInput class="money-style" required formControlName="ticketValue" min="0" max="9000000000" placeholder="Ví dụ: 20000" type="text">
                                <mat-error *ngIf="form.controls.ticketValue.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.ticketValue.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.ticketValue.hasError('maxlength')" translate [translateParams]="{n: '9000000000'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field *ngIf="form.get('ticketType').value == 1" floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-price.blockPerMinute</mat-label>
                                <input matInput formControlName="blockPerMinute" placeholder="" type="number" min="0" max="9999">
                                <mat-error *ngIf="form.controls.blockPerMinute.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>

                            <mat-form-field *ngIf="form.get('ticketType').value != 1" floatLabel="always" appearance="outline">
                                <mat-label *ngIf="form.get('ticketType').value == 2">Trong ngày đi tối đa số phút</mat-label>
                                <mat-label *ngIf="form.get('ticketType').value == 3">Trong tháng đi tối đa số phút</mat-label>
                                <input matInput formControlName="limitMinutes" placeholder="" type="number" min="0" max="999999">
                                <mat-error *ngIf="form.controls.limitMinutes.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-price.blockPerViolation</mat-label>
                                <input matInput formControlName="blockPerViolation" placeholder="" type="number" min="0" max="9000000">
                                <mat-error *ngIf="form.controls.blockPerViolation.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-price.blockViolationValue</mat-label>
                                <input currencyMask [options]="appCommon.moneyInputFormat()" matInput class="money-style" required formControlName="blockViolationValue" min="0" max="9000000" placeholder="Ví dụ: 3000" type="text">
                                <mat-error *ngIf="form.controls.blockViolationValue.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.blockViolationValue.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.blockViolationValue.hasError('maxlength')" translate [translateParams]="{n: '9000000'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- 
                    <div class="can-checkbox-form">
                        <mat-checkbox matInput formControlName="allowChargeInSubAccount" [value]="data.allowChargeInSubAccount">
                            <span translate>ticket-price.allowChargeInSubAccount-label</span>
                        </mat-checkbox>
                    </div> -->

                    <div class="can-checkbox-form">
                        <mat-checkbox matInput formControlName="isActive" [value]="data.isActive">
                            <span translate>ticket-price.isActive-label</span>
                        </mat-checkbox>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="dialog-footer">
    <button *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>