<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>banner.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>banner.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>banner.name</mat-label>
                                <input required matInput formControlName="name" placeholder="Tên banner" type="text"
                                    maxlength="1000">
                                <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required
                                </mat-error>
                                <mat-error *ngIf="form.controls.name.hasError('minlength')" translate
                                    [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate
                                    [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>banner.bannerGroupId</mat-label>
                                <mat-select required formControlName="bannerGroupId" [(value)]="data.bannerGroupId"
                                    placeholder="Chọn nhóm banner">
                                    <mat-option *ngFor="let item of bannerGroups" [value]="item.id">{{item.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.bannerGroupId.errors?.required" translate>
                                    validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>banner.type</mat-label>
                                <mat-select required formControlName="type" [(value)]="data.type"
                                    placeholder="Chọn loại banner">
                                    <mat-option [value]="0"><span translate>banner.type-0</span></mat-option>
                                    <mat-option [value]="1"><span translate>banner.type-1</span></mat-option>
                                    <mat-option [value]="2"><span translate>banner.type-2</span></mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.type.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>banner.languageId</mat-label>
                                <mat-select required formControlName="languageId" [(value)]="data.languageId"
                                    placeholder="Chọn ngôn ngữ">
                                    <mat-option *ngFor="let item of categoryData.languages; index as i;"
                                        [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.languageId.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>banner.data</mat-label>
                                <input matInput formControlName="data" placeholder="Dữ liệu bổ sung" type="text"
                                    maxlength="1000">
                                <mat-error *ngIf="form.controls.data.errors?.required" translate>validate.required
                                </mat-error>
                                <mat-error *ngIf="form.controls.data.hasError('minlength')" translate
                                    [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.data.hasError('maxlength')" translate
                                    [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>banner.status</mat-label>
                                <mat-select required formControlName="status" [(value)]="data.status"
                                    placeholder="Chọn trạng thái">
                                    <mat-option [value]="0"><span translate>banner.status-0</span></mat-option>
                                    <mat-option [value]="1"><span translate>banner.status-1</span></mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.status.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>banner.startTime</mat-label>
                                <input required matInput formControlName="startTime" [matDatepicker]="pickerStartTime" placeholder="Ngày/tháng/năm">
                                <mat-datepicker-toggle matSuffix [for]="pickerStartTime"></mat-datepicker-toggle>
                                <mat-datepicker #pickerStartTime></mat-datepicker>
                                <mat-error *ngIf="form.controls.startTime.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>banner.endTime</mat-label>
                                <input required matInput formControlName="endTime" [matDatepicker]="pickerEndTime" placeholder="Ngày/tháng/năm">
                                <mat-datepicker-toggle matSuffix [for]="pickerEndTime"></mat-datepicker-toggle>
                                <mat-datepicker #pickerEndTime></mat-datepicker>
                                <mat-error *ngIf="form.controls.endTime.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <app-file-upload-attached [viewPath]="bannerGroupsService" [accept]="categoryData.imagesType"
                        (outData)="getOutPut($event)" [multiple]="false" [apiUpload]="bannerGroupsService.uploadPath()"
                        [curentFiles]="currentFiles"></app-file-upload-attached>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>banner.description</mat-label>
                        <textarea matInput formControlName="description" placeholder="Mô tả" rows="3"
                            maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.description.errors?.required" translate>validate.required
                        </mat-error>
                        <mat-error *ngIf="form.controls.description.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.description.hasError('maxlength')" translate
                            [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                </form>
            </div>
        </div>

    </div>
</div>
<div class="dialog-footer">
    <button roles-is="276" *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1"
        [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button roles-is="275" type="button" (click)="save()" mat-raised-button color="primary" class="m-1"
        [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>