<div class="header-t">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title">Kết quả chương trình khuyến mại</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>Danh sách kết quả</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh">
        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="30" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label><span translate>Chương trình khuyến mại</span></mat-label>
              <mat-select [(value)]="params.campaignId" placeholder="Tất cả">
                <mat-option>
                  <ngx-mat-select-search [formControl]="campaignKey"
                    [placeholderLabel]="'Tìm kiếm theo tên chương trình ...'" [searching]="isProcess.campaignSearching"
                    [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option value="">Tất cả</mat-option>
                <mat-option *ngFor="let item of campaigns; index as i;" [value]="item.id">
                  <strong>
                    <span *ngIf="item.projectId == 0" class="text-success">Tất cả</span>
                    <span *ngIf="item.projectId != 0" class="text-danger">{{item.project?.name}}</span> |
                  </strong>
                  <strong>{{item.name}}</strong>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="30" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>campaign.type</mat-label>
              <mat-select [(ngModel)]="params.type" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="'0'"><span translate>campaign.type-0</span></mat-option>
                <mat-option [value]="'1'"><span translate>campaign.type-1</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="30" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Từ ngày</mat-label>
              <input [(ngModel)]="params.from" matInput [matDatepicker]="pickerFrom">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="30" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Đến ngày</mat-label>
              <input [(ngModel)]="params.to" matInput [matDatepicker]="pickerTo">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
          </div>

          <!-- <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>campaign.projectId</mat-label>
              <mat-select [(ngModel)]="params.projectId" [(value)]="params.projectId" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id.toString()">
                  {{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->

          <div fxFlex="10" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="primary" (click)="search()" class="m-5px">
              <mat-icon class="icon-sm icon-btn">search</mat-icon>
            </button>
          </div>

        </div>
        <div class="tParentLoading">
          <div *ngIf="isProcess.listDataTable" class="tloading">
            <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
              <div class="loader">Loading...</div>
            </div>
          </div>
          <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
            <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData"
              (matSortChange)="handleSortData($event)">

              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span
                    translate>base.order</span></th>
                <td [class.td_success]="element.status" [class.td_danger]="!element.status" mat-cell
                  *matCellDef="let element; let i = index" style="text-align:center;">
                  {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span>Thông tin chương trình</span></th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-name">{{element.campaign?.name}}</div>
                  <div>{{element.campaign?.description}}</div>
                  <div>{{element.campaign?.startDate | date: 'dd/MM/yyyy'}} -
                    {{element.campaign?.endDate | date: 'dd/MM/yyyy'}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="projectId">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear>Đối tượng áp dụng</th>
                <td mat-cell *matCellDef="let element">
                  <div>
                    Dự án:
                    <strong *ngIf="element.project!=null">
                      {{appCommon.getObj(categoryData.projects,element.project?.id)}}
                    </strong>
                    <strong class="text-success" *ngIf="element.project==null">Tất cả</strong>
                  </div>
                  <div>
                    Nhóm KH:
                    <strong *ngIf="element.customerGroup!=null">
                      {{appCommon.getObj(categoryData.customerGroups,element.customerGroup?.id)}}
                    </strong>
                    <strong class="text-success" *ngIf="element.customerGroup==null">Tất cả</strong>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>campaign.type</span></th>
                <td mat-cell *matCellDef="let element">
                  <span class="text-danger" *ngIf="element.campaign?.type == 0"><span
                      translate>campaign.type-0</span></span>
                  <span class="text-warning" *ngIf="element.campaign?.type == 1"><span
                      translate>campaign.type-1</span></span>
                </td>
              </ng-container>

              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Thông tin khuyến
                    mại</span></th>
                <td mat-cell *matCellDef="let element">
                  <div
                    *ngIf="element.walletTransaction.type == 0 || element.walletTransaction.type == 5 || element.walletTransaction.type == 8">
                    <strong>{{element.code}}</strong>
                    <div class="text-success" *ngIf="element.percent">KM {{element.percent}} %</div>
                    <div class="text-success" *ngIf="element.point">KM {{appCommon.formatMoney(element.point,0,3)}}
                      điểm</div>
                    <div class="text-warning" *ngIf="element.startAmount">Nạp ít nhất
                      {{appCommon.formatMoney(element.startAmount,0,3)}} điểm
                    </div>
                    <div>
                      <span class="text-success" *ngIf="element.limit==0">Không giới hạn số lượng mã</span>
                      <span class="text-danger" *ngIf="element.limit!=0">Giới hạn:
                        {{appCommon.formatMoney(element.limit,0,3)}} mã</span>
                    </div>
                  </div>
                  <div *ngIf="element.walletTransaction.type == 3">
                    <strong>{{element.code}}</strong>
                    <div class="text-success" *ngIf="element.point">KM {{appCommon.formatMoney(element.point,0,3)}}
                      điểm</div>
                    <div class="text-warning" *ngIf="element.startAmount">Nạp ít nhất
                      {{appCommon.formatMoney(element.startAmount,0,3)}} điểm
                    </div>
                    <div>
                      <span class="text-success" *ngIf="element.limit==0">Không giới hạn số lượng mã</span>
                      <span class="text-danger" *ngIf="element.limit!=0">Giới hạn:
                        {{appCommon.formatMoney(element.limit,0,3)}} mã</span>
                    </div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Khách hàng</span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div>{{element.customer?.fullName}}</div>
                  <div>{{element.customer?.phone}}</div>
                  <div class="text-danger">{{element.walletTransaction?.createdDate | date: 'dd/MM/yyyy HH:mm'}}</div>
                  <div>
                    <strong>{{appCommon.formatMoney(element.walletTransaction.amount,0,3)}}
                      (<span class="text-success">+
                        {{appCommon.formatMoney(element.walletTransaction.subAmount,0,3)}}</span>)
                    </strong>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th width="120" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
                <td mat-cell *matCellDef="let element">
                  <button roles-is="24" (click)="openEditDialog(element)" mat-raised-button color="warn"
                    class="m-1 btn-grid">
                    <mat-icon class="icon-sm">edit</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div #paginator_rec>
            <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)"
              [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>