<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>bike.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>bike.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <mat-tab-group [selectedIndex]="data.tabIndex" (selectedTabChange)="matTabGroupChange($event,log)">
                    <mat-tab>
                        <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">info</mat-icon> <span class="label-tab">Thông tin chung</span>
                            </ng-template>
                            <div style="height: 15px;"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="label-note" style="padding: 4px 10px;">
                                        <span translate>Thông tin xe</span>
                                    </span>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field floatLabel="always" appearance="outline">
                                                <mat-label translate>bike.serialNumber</mat-label>
                                                <input required matInput formControlName="serialNumber" placeholder="" type="text" maxlength="1000">
                                                <mat-error *ngIf="form.controls.serialNumber.errors?.required" translate>validate.required</mat-error>
                                                <mat-error *ngIf="form.controls.serialNumber.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                                <mat-error *ngIf="form.controls.serialNumber.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                                            </mat-form-field>

                                            <mat-form-field floatLabel="always" appearance="outline">
                                                <mat-label translate>bike.type</mat-label>
                                                <mat-select formControlName="type">
                                                    <mat-option [value]="0" translate><span translate>bike.type-0</span></mat-option>
                                                    <mat-option [value]="1" translate><span translate>bike.type-1</span></mat-option>
                                                    <mat-option [value]="2" translate><span translate>bike.type-2</span></mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-6">
                                            <mat-form-field floatLabel="always" appearance="outline">
                                                <mat-label translate>bike.plate</mat-label>
                                                <input required matInput formControlName="plate" placeholder="" type="text" maxlength="50">
                                                <mat-error *ngIf="form.controls.plate.errors?.required" translate>validate.required</mat-error>
                                                <mat-error *ngIf="form.controls.plate.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                                <mat-error *ngIf="form.controls.plate.hasError('maxlength')" translate [translateParams]="{n: '50'}">validate.maxlength</mat-error>
                                            </mat-form-field>

                                            <mat-form-field floatLabel="always" appearance="outline">
                                                <mat-label translate>bike.colorId</mat-label>
                                                <mat-select formControlName="colorId" [(value)]="data.colorId" placeholder="Chọn màu">
                                                    <mat-option value="0">Chọn màu</mat-option>
                                                    <mat-option *ngFor="let item of categoryData.colors; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field floatLabel="always" appearance="outline">
                                                <mat-label translate>bike.producerId</mat-label>
                                                <mat-select formControlName="producerId" [(value)]="data.producerId" placeholder="Chọn màu">
                                                    <mat-option value="0">Chọn nhà sản xuất</mat-option>
                                                    <mat-option *ngFor="let item of categoryData.producers; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field floatLabel="always" appearance="outline">
                                                <mat-label translate>bike.modelId</mat-label>
                                                <mat-select formControlName="modelId" [(value)]="data.modelId" placeholder="Chọn màu">
                                                    <mat-option value="0">Chọn mẫu mã</mat-option>
                                                    <mat-option *ngFor="let item of categoryData.models | modelFilter: { producerId: form.get('producerId').value }; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field floatLabel="always" appearance="outline">
                                                <mat-label translate>bike.startDate</mat-label>
                                                <input  matInput formControlName="startDate" [matDatepicker]="pickerStartDate">
                                                <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                                                <mat-datepicker #pickerStartDate></mat-datepicker>
                                                <mat-error *ngIf="form.controls.startDate.errors?.required" translate>validate.required</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field floatLabel="always" appearance="outline">
                                                <mat-label translate>bike.productionDate</mat-label>
                                                <input  matInput formControlName="productionDate" [matDatepicker]="pickerProductionDate">
                                                <mat-datepicker-toggle matSuffix [for]="pickerProductionDate"></mat-datepicker-toggle>
                                                <mat-datepicker #pickerProductionDate></mat-datepicker>
                                                <mat-error *ngIf="form.controls.productionDate.errors?.required" translate>validate.required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field floatLabel="always" appearance="outline">
                                                <mat-label translate>bike.minuteRequiredMaintenance</mat-label>
                                                <input required matInput formControlName="minuteRequiredMaintenance" type="number">
                                                <mat-error *ngIf="form.controls.minuteRequiredMaintenance.errors?.required" translate>validate.required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <span class="label-note" style="padding: 4px 10px;">
                                        <span translate>Thông tin quản lý</span>
                                    </span>
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field floatLabel="always" appearance="outline">
                                                <mat-label translate>bike.projectId</mat-label>
                                                <mat-select required formControlName="projectId" [(value)]="data.projectId" placeholder="Chọn dự án">
                                                    <mat-option>Chọn dự án</mat-option>
                                                    <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="form.controls.projectId.errors?.required" translate>validate.required</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field floatLabel="always" appearance="outline">
                                                <mat-label translate>bike.investorId</mat-label>
                                                <mat-select formControlName="investorId" [(value)]="data.investorId" placeholder="Chọn đơn vị đầu tư">
                                                    <mat-option value="0">Chọn đơn vị đầu tư</mat-option>
                                                    <mat-option *ngFor="let item of categoryData.investors; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="form.controls.projectId.errors?.required" translate>validate.required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <mat-form-field floatLabel="always" appearance="outline">
                                        <mat-label translate>Ghi chú</mat-label>
                                        <textarea matInput formControlName="note" rows="3" placeholder="" type="text" maxlength="1000"></textarea>
                                        <mat-error *ngIf="form.controls.note.errors?.required" translate>validate.required</mat-error>
                                        <mat-error *ngIf="form.controls.note.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                        <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                                    </mat-form-field>

                                    <span class="label-note" style="padding: 4px 10px;">
                                        <span translate>Cấu hình</span>
                                    </span>

                                    <mat-form-field floatLabel="always" appearance="outline">
                                        <mat-label><span translate>dock.stationId</span></mat-label>
                                        <mat-select formControlName="stationId" [(value)]="data.stationId" placeholder="Không chọn trạm">
                                            <mat-option value="0">Không chọn trạm</mat-option>
                                            <mat-option *ngFor="let item of categoryData.stations; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <div class="can-checkbox-form" style="display: none;">
                                        <mat-checkbox matInput formControlName="isSetLocation">
                                            <span translate>
                                                <div>Nếu check hệ thống sẽ tự cập nhật tọa độ của xe là tọa độ của trạm</div>
                                            </span>
                                        </mat-checkbox>
                                        <div style="height: 15px;"></div>
                                    </div>

                                    <mat-form-field floatLabel="always" appearance="outline">
                                        <mat-label><span translate>dock.dockId</span> (cần chọn dự án, đơn vị đầu tư)</mat-label>
                                        <mat-select [(value)]="data.dockId" formControlName="dockId" placeholder="Chọn khóa gắn vào">
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="dockKey" [placeholderLabel]="'Tìm kiếm...'" [searching]="isProcess.dockSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option value="0">Không gắn khóa</mat-option>
                                            <mat-option *ngFor="let item of docks; index as i;" [value]="item.id">
                                                IMEI: <span class="text-name">{{item.imei}}</span> &#124; Serie: <span class="text-danger">{{item.serialNumber}}</span> &#124;
                                                Đặt trên xe: <strong class="text-success" *ngIf="item.bike == null">Chưa</strong>
                                                <strong class="text-danger" *ngIf="item.bike != null">{{item.bike?.plate}}</strong> &#124;
                                                Trạng thái:
                                                <span *ngIf="item.status == 0" translate>dock.status-0</span>
                                                <span *ngIf="item.status == 1" translate>dock.status-1</span>
                                                <span *ngIf="item.status == 2" translate>dock.status-2</span>
                                                <span *ngIf="item.status == 3" translate>dock.status-3</span>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field floatLabel="always" appearance="outline">
                                                <mat-label translate>bike.status</mat-label>
                                                <mat-select formControlName="status">
                                                    <mat-option [value]="0"><span translate>bike.status-0</span></mat-option>
                                                    <mat-option [value]="1"><span translate>bike.status-1</span></mat-option>
                                                    <mat-option [value]="2"><span translate>bike.status-2</span></mat-option>
                                                    <mat-option [value]="3"><span translate>bike.status-3</span></mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <div *ngIf="form.get('status').value == 3 || form.get('status').value == 2">
                                                <mat-form-field floatLabel="always" appearance="outline">
                                                    <mat-label class="text-danger" translate>bike.warehouseId</mat-label>
                                                    <mat-select formControlName="warehouseId" [(value)]="data.warehouseId" placeholder="Chọn kho">
                                                        <mat-option value="0">Chọn kho</mat-option>
                                                        <mat-option *ngFor="let item of categoryData.warehouses; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </mat-tab>

                    <mat-tab [disabled]="data.id == 0">
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">event</mat-icon>
                            <span> Lịch sử cập nhật</span>
                        </ng-template>
                        <div style="height: 15px;"></div>
                        <div id="fix_detail"></div>
                        <div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
                            <div>
                                <app-bikes-log #log [bike]="data"></app-bikes-log>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon roles-id="45" *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button roles-id="44" type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>