<div class="header-export">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>Báo cáo thống kê</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>Danh sách báo cáo</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      
      <div class="box-sh mb-20">

        <span class="label-export"><span translate="" ng-reflect-translate="">DOANH THU NẠP TIỀN</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Từ ngày</mat-label>
              <input [(ngModel)]="revenue.from" matInput [matDatepicker]="pickerRevenueFrom"
                placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerRevenueFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerRevenueFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Đến ngày</mat-label>
              <input [(ngModel)]="revenue.to" matInput [matDatepicker]="pickerRevenueTo" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerRevenueTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerRevenueTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('revenue')"
              [disabled]="isProcess.revenue">
              <mat-icon *ngIf="isProcess.revenue" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.revenue" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>

      </div>

      <div class="box-sh mb-20">

        <span class="label-export"><span translate="" ng-reflect-translate="">CHƯƠNG TRÌNH KHUYẾN MẠI</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Từ ngày</mat-label>
              <input [(ngModel)]="campaign.from" matInput [matDatepicker]="pickerCampaignFrom"
                placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerCampaignFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerCampaignFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Đến ngày</mat-label>
              <input [(ngModel)]="campaign.to" matInput [matDatepicker]="pickerCampaignTo" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerCampaignTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerCampaignTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('campaign')"
              [disabled]="isProcess.campaign">
              <mat-icon *ngIf="isProcess.campaign" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.campaign" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>
      </div>

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">THÔNG TIN KHÁCH HÀNG</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Từ ngày</mat-label>
              <input [(ngModel)]="customer.from" matInput [matDatepicker]="pickerCustomerFrom"
                placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerCustomerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerCustomerFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Đến ngày</mat-label>
              <input [(ngModel)]="customer.to" matInput [matDatepicker]="pickerCustomerTo" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerCustomerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerCustomerTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('customer')"
              [disabled]="isProcess.customer">
              <mat-icon *ngIf="isProcess.customer" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.customer" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>

      </div>

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">CHUYẾN ĐI</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label>Loại chuyến đi</mat-label>
              <mat-select [(ngModel)]="transaction.type" placeholder="Tất cả">
                <mat-option value="transaction"><span>Hoàn thành</span></mat-option>
                <mat-option value="booking"><span>Đang thuê</span></mat-option>
                <mat-option value="transactionDebt"><span>Nợ cước</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Từ ngày</mat-label>
              <input [(ngModel)]="transaction.from" matInput [matDatepicker]="pickerTransactionFrom"
                [disabled]="transaction.type=='booking'" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerTransactionFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerTransactionFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Đến ngày</mat-label>
              <input [(ngModel)]="transaction.to" matInput [matDatepicker]="pickerTransactionTo"
                [disabled]="transaction.type=='booking'" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerTransactionTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTransactionTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export(transaction.type)"
              [disabled]="isProcess.transaction">
              <mat-icon *ngIf="isProcess.transaction" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.transaction" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>

      </div>

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">TỒN TÀI KHOẢN ONLINE</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Từ ngày</mat-label>
              <input [(ngModel)]="customerTransaction.from" matInput [matDatepicker]="pickerCustomerTransactionFrom"
                placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerCustomerTransactionFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerCustomerTransactionFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Đến ngày</mat-label>
              <input [(ngModel)]="customerTransaction.to" matInput [matDatepicker]="pickerCustomerTransactionTo" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerCustomerTransactionTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerCustomerTransactionTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('customerTransaction')"
              [disabled]="isProcess.customer">
              <mat-icon *ngIf="isProcess.customerTransaction" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.customerTransaction" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>