<div class="tParentLoading">
  <div *ngIf="isProcess.listDataTable" class="tloading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
      <div class="loader">Loading...</div>
    </div>
  </div>

  <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
    <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
        <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
          {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="customerGroupId">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>voucher-code.customerGroupId</span></th>
        <td mat-cell *matCellDef="let element"> {{ appCommon.getCustomerGroup(categoryData.customerGroups ,element.customerGroupId) }} </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>voucher-code.code</span></th>
        <td mat-cell *matCellDef="let element"> <span class="text-name">{{element.code}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>voucher-code.type</span></th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.type == 1">Tặng point</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="provisoType">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>voucher-code.provisoType</span></th>
        <td mat-cell *matCellDef="let element">
          <span translate>campaign.provisoType-{{element.provisoType}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="limit">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear>Số lần còn/<span translate>voucher-code.limit</span></th>
        <td mat-cell *matCellDef="let element">
          <span class="text-danger">{{appCommon.formatMoney(element.curentLimit,0,3)}}</span>/<span class="text-success">{{appCommon.formatMoney(element.limit,0,3)}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="point">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>voucher-code.point</span></th>
        <td mat-cell *matCellDef="let element">
          <strong class="text-success">{{appCommon.formatMoney(element.point,0,3)}}</strong>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="stacked">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>voucher-code.stacked</span></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="text-success" *ngIf="element.stacked">check</mat-icon>
          <mat-icon class="text-danger" *ngIf="!element.stacked">close</mat-icon>
        </td>
      </ng-container> -->

      <ng-container matColumnDef="public">
        <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>voucher-code.public</span></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="text-success" *ngIf="element.public">check</mat-icon>
          <mat-icon class="text-danger" *ngIf="!element.public">close</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th width="110" mat-header-cell *matHeaderCellDef>
          <button (click)="search()" mat-raised-button class="m-1 btn-grid">
            <mat-icon class="icon-sm icon-btn">refresh</mat-icon>
          </button>
          <button roles-is="24" (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-1 btn-grid">
            <mat-icon class="icon-sm icon-btn">add</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button roles-is="24" (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
            <mat-icon class="icon-sm">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div #paginator_rec>
    <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>

<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>