<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>ticket-prepaid.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>ticket-prepaid.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>ticket-prepaid.projectId</mat-label>
                        <mat-select required formControlName="projectId" [(value)]="data.projectId" placeholder="Chọn dự án">
                            <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.projectId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label><span translate>ticket-prepaid.accountId</span></mat-label>
                        <mat-select required [(value)]="data.accountId" formControlName="accountId" placeholder="Chọn khách hàng">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="accountKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'" [searching]="isProcess.accountSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option value="">Không chọn</mat-option>
                            <mat-option *ngFor="let item of accounts; index as i;" [value]="item.id">
                                Họ & tên: <strong>{{item.fullName}}</strong> | Giới tính: 
                                <strong *ngIf = "item.sex == 0">Nữ</strong>
                                <strong *ngIf = "item.sex == 1">Nam</strong>
                                <strong *ngIf = "item.sex == 2">Khác</strong>
                                | SĐT: {{item.phone}} | RFID: {{item.rfid}}
                                | Loại TK: <span translate *ngIf="item.type == 0">account.type-0</span><span translate *ngIf="item.type == 1">account.type-1</span><span translate *ngIf="item.type == 2">account.type-2</span>
                                | TT: <span translate class="text-warning" *ngIf="item.status == 0">account.status-0</span><span translate class="text-success" *ngIf="item.status == 1">account.status-1</span><span translate class="text-danger" *ngIf="item.status == 2">account.status-2</span>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.accountId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>ticket-prepaid.ticketPriceId</mat-label>
                        <mat-select required formControlName="ticketPriceId" [(value)]="data.ticketPriceId" placeholder="Chọn loại vé, vui lòng chọn dự án và tài khoản khách hàng trước">
                            <mat-option value="">Chọn loại vé, vui lòng chọn dự án và tài khoản khách hàng trước</mat-option>
                            <mat-optgroup *ngFor="let item of customerGroups; index as i;" [label]="item.name">
                                <mat-option *ngFor="let itemTicket of item.ticketPrices; index as i;" [value]="itemTicket.id">
                                    <span class="text-name">{{itemTicket.name}}</span> | Loại vé:
                                    <span class="text-warning" *ngIf = "itemTicket.ticketType == 1" translate>ticket-price.ticketType-1</span>
                                    <span class="text-danger" *ngIf = "itemTicket.ticketType == 2" translate>ticket-price.ticketType-2</span>
                                    <span class="text-info" *ngIf = "itemTicket.ticketType == 3" translate>ticket-price.ticketType-3</span>
                                    | Giá vé: <span class="text-danger">{{appCommon.formatMoney(itemTicket.ticketValue,0,3)}}</span>
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                        <mat-error *ngIf="form.controls.ticketPriceId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Mô tả loại vé</mat-label>
                        <textarea  matInput formControlName="noteTicket" rows="3"></textarea>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-prepaid.ticketValue</mat-label>
                                <input currencyMask [options]="appCommon.moneyInputFormat()" matInput class="money-style" matInput formControlName="ticketValue" placeholder="" type="text">
                                <mat-error *ngIf="form.controls.ticketValue.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-prepaid.code</mat-label>
                                <input matInput formControlName="code" placeholder="" type="text" maxlength="1000">
                                <mat-error *ngIf="form.controls.code.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.code.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.code.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>ticket-prepaid.dateOfPayment</mat-label>
                                <input  matInput formControlName="dateOfPayment" [matDatepicker]="pickerDateOfPayment">
                                <mat-datepicker-toggle matSuffix [for]="pickerDateOfPayment"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDateOfPayment></mat-datepicker>
                                <mat-error *ngIf="form.controls.dateOfPayment.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div *ngIf = "currentTicketPrice != null && currentTicketPrice.ticketType == 2">
                            <div class="col-md-4">
                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>Mua vé của ngày</mat-label>
                                    <input matInput formControlName="startDate" [matDatepicker]="pickerStartDate">
                                    <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerStartDate></mat-datepicker>
                                    <mat-error *ngIf="form.controls.startDate.errors?.required" translate>validate.required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-8">
                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>Thời hạn</mat-label>
                                    <input disabled matInput [value]="expressNote">
                                </mat-form-field>
                            </div>
                        </div>

                        <div *ngIf = "currentTicketPrice != null && currentTicketPrice.ticketType == 3">
                            <div class="col-md-2">
                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>Mua vé tháng</mat-label>
                                    <mat-select formControlName="month" placeholder="Chọn tháng">
                                        <mat-option [value]="1"><span translate>Tháng 1</span></mat-option>
                                        <mat-option [value]="2"><span translate>Tháng 2</span></mat-option>
                                        <mat-option [value]="3"><span translate>Tháng 3</span></mat-option>
                                        <mat-option [value]="4"><span translate>Tháng 4</span></mat-option>
                                        <mat-option [value]="5"><span translate>Tháng 5</span></mat-option>
                                        <mat-option [value]="6"><span translate>Tháng 6</span></mat-option>
                                        <mat-option [value]="7"><span translate>Tháng 7</span></mat-option>
                                        <mat-option [value]="8"><span translate>Tháng 8</span></mat-option>
                                        <mat-option [value]="9"><span translate>Tháng 9</span></mat-option>
                                        <mat-option [value]="10"><span translate>Tháng 10</span></mat-option>
                                        <mat-option [value]="11"><span translate>Tháng 11</span></mat-option>
                                        <mat-option [value]="12"><span translate>Tháng 12</span></mat-option>
                                      </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-2">
                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>Năm</mat-label>
                                    <mat-select formControlName="year" placeholder="Chọn năm">
                                        <mat-option *ngFor="let year of years; index as i;"  [value]="year"><span translate>Năm {{year}}</span></mat-option>
                                      </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-8">
                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>Thời hạn</mat-label>
                                    <input disabled matInput [value]="expressNote">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>ticket-prepaid.note</mat-label>
                        <textarea  matInput formControlName="note" rows="3"></textarea>
                    </mat-form-field>
                    <span class="text-danger">Chú ý: vé trả trước được mua theo dự án, nếu mua vé trùng với vé đã có sẵn thì được gọi là ra hạn vé, ví dụ mua vé ngày 1/1/2021 được 15 block 30p nếu ra hạn mua tiếp thì thời hạn = thời hạn còn lại + 15 block mua mới</span>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>