<h1 mat-dialog-title>Danh sách vật tư tồn kho - <span class="text-success">{{data.name}}</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
  <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
  <div class="body-modal">

    <div class="box-sh">
      <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

        <div fxFlex="30" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
          <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
            <mat-label translate>supplies.type</mat-label>
            <mat-select [(ngModel)]="params.type" placeholder="Tất cả">
              <mat-option value="">
                <span translate>base.all</span>
              </mat-option>
              <mat-option value="0"><span translate>supplies.type-0</span></mat-option>
              <mat-option value="1"><span translate>supplies.type-1</span></mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="30" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
          <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
            <mat-label translate>base.searchKey</mat-label>
            <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off"
              placeholder="Từ khóa tìm kiếm" type="text">
          </mat-form-field>
        </div>

        <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
          <button mat-raised-button color="primary" (click)="search()" class="m-5px">
            <mat-icon class="icon-sm icon-btn">search</mat-icon>
          </button>
        </div>

      </div>
      <div class="tParentLoading">
        <div *ngIf="isProcess.listDataTable" class="tloading">
          <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
            <div class="loader">Loading...</div>
          </div>
        </div>
        <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
          <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData"
            (matSortChange)="handleSortData($event)">

            <ng-container matColumnDef="stt">
              <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span
                  translate>base.order</span></th>
              <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="code">
              <th width="100" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                  translate>supplies.code</span></th>
              <td mat-cell *matCellDef="let element">
                <div class="text-name"> {{element.supplies?.code}} </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                  translate>supplies.name</span></th>
              <td mat-cell *matCellDef="let element">
                <div class="text-info">{{element.supplies?.name}}</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="descriptions">
              <th mat-header-cell *matHeaderCellDef><span translate>supplies.descriptions</span></th>
              <td mat-cell *matCellDef="let element"> {{element.supplies?.descriptions}} </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                  translate>supplies.quantity</span></th>
              <td mat-cell *matCellDef="let element">
                {{element.quantity}}
              </td>
            </ng-container>

            <ng-container matColumnDef="unit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                  translate>supplies.unit</span></th>
              <td mat-cell *matCellDef="let element"> {{element.supplies?.unit}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                  translate>supplies.type</span></th>
              <td mat-cell *matCellDef="let element">
                <span translate *ngIf="element.supplies?.type == 0">supplies.type-0</span>
                <span translate *ngIf="element.supplies?.type == 1">supplies.type-1</span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div #paginator_rec>
          <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)"
            [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="dialog-footer">
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>