<h1 mat-dialog-title><span translate>Mở khóa</span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Biển số</mat-label>
                            <input [disabled]="true" class="text-name text-500" matInput value="{{ data.bike?.plate }}">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>QR Code</mat-label>
                            <input [disabled]="true" class="text-danger text-500" matInput value="{{ data.bike?.dock?.serialNumber }}">
                        </mat-form-field>
                    </div>
                </div>
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Lý do</mat-label>
                        <textarea required matInput rows="5" formControlName="feedback" placeholder="Lý do" maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.feedback.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.feedback.hasError('minlength')" translate [translateParams]="{n: '5'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.feedback.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">lock_open</mat-icon>
        <span translate> Mở khóa ngay</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>