<div style="margin: 10px;position: relative;">
    <div #fix_scroll_table_rec></div>
    <div>
        <div>
            <div>
                <div *ngIf="currentStationMarker != null" style="width: 250px;float: right;">
                    <div class="right-map-info" [style.height.px]="heightTable">
                        <div style="margin-top: 0px;">
                            <span style="text-transform: uppercase; padding: 2px 0 4px 0;display: block; text-align: center; font-weight: bold;" class="text-name">{{currentStationMarker?.station?.name}}</span>
                            <span style="padding: 3px 6px;" class="label-note"><span>Xe trong trạm</span></span>
                            <div [style.height.px]="heightListBikeRight" style="overflow:auto;">
                                <span *ngIf="currentStationMarker.station.bikes.length == 0" style="font-size: 14px;">Không có xe nào trong trạm</span>
                                <ul class="ui-list-bike">
                                    <li *ngFor="let bike of currentStationMarker.station.bikes">
                                        <div style="display: inline-block;margin-right: 3px;" matTooltip="BARCODE: {{bike?.dock?.serialNumber}}">
                                            BS: <span title="Biển số xe" class="text-name">{{bike?.plate}}</span>
                                            <!-- / Mã QR: <span title="Biển số xe" class="text-danger text-500">{{bike?.dock?.serialNumber}}</span> -->
                                        </div>
                                        <div style="display: inline-block;margin-right: 3px;">
                                            <mat-icon *ngIf="bike?.dock?.connectionStatus == true" title="Đang kết nỗi" class="li-bike-icon text-success">wifi</mat-icon>
                                            <mat-icon *ngIf="bike?.dock?.connectionStatus == false" title="Mất kế nối" class="li-bike-icon text-danger">wifi_off</mat-icon>

                                            <mat-icon *ngIf="bike?.dock?.lockStatus == true" title="Đang đóng" class="li-bike-icon text-danger">lock</mat-icon>
                                            <mat-icon *ngIf="bike?.dock?.lockStatus == false" title="Đang mở" class="li-bike-icon text-warning">lock_open</mat-icon>
                                            <mat-icon *ngIf="bike?.dock?.charging == true" title="Đang sạc" class="li-bike-icon text-success">battery_charging_full</mat-icon>
                                            <mat-icon *ngIf="bike?.dock?.charging == false" title="Không sạc" class="li-bike-icon text-info">battery_charging_full</mat-icon>

                                            <span *ngIf="bike?.dock?.battery < 10" style="font-weight: 600;" class="text-danger">{{bike?.dock?.battery}}%</span>
                                            <span *ngIf="bike?.dock?.battery >= 10 &&  bike?.dock?.battery < 50" style="font-weight: 600;" class="text-warning">{{bike?.dock?.battery}}%</span>
                                            <span *ngIf="bike?.dock?.battery >= 50" style="font-weight: 600;" class="text-success">{{bike?.dock?.battery}}%</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="currentRFIDBookingMarker != null" style="width: 300px;float: right;">
                    <div class="right-map-info" [style.height.px]="(heightTable - 20)">
                        <span style="padding: 3px 6px;" class="label-note">
                            &nbsp;<span> Thông tin xe mở bằng thẻ</span>
                        </span>

                        <div style="overflow:hidden; clear:both;">

                            <button  roles-id="265" matTooltip="Kết thúc chuyến đi" style="width: 48%; float: left; margin: 1px;" roles-is="131" type="button" (click)="endRFIDBooking()" mat-raised-button color="primary" class="btn-grid">
                                <mat-icon class="icon-sm icon-btn">check</mat-icon>
                                <span translate> Kết thúc</span>
                            </button>

                            <button roles-id="264" style="width: 48%; float: left; margin: 1px;" roles-is="134" type="button" (click)="openLock()" mat-raised-button color="accent" class="btn-grid">
                                <mat-icon class="icon-sm icon-btn">lock_open</mat-icon>
                                <span translate> Mở khóa</span>
                            </button>
                        </div>

                        <div style="height: 5px;"></div>

                        <div [style.height.px]="heightListBikeRight" style="overflow-y:auto; overflow-x: hidden;">
                            <div style="margin-bottom: 10px; text-align: center;">

                                <mat-icon *ngIf="currentRFIDBookingMarker?.rfidBooking?.bike?.dock?.connectionStatus == true" title="Đang kết nỗi" class="li-bike-icon text-success">wifi</mat-icon>
                                <mat-icon *ngIf="currentRFIDBookingMarker?.rfidBooking?.bike?.dock?.connectionStatus == false" title="Mất kế nối" class="li-bike-icon text-danger">wifi_off</mat-icon>

                                <mat-icon *ngIf="currentRFIDBookingMarker?.rfidBooking?.bike?.dock?.lockStatus == true" title="Đang đóng" class="li-bike-icon text-danger">lock</mat-icon>
                                <mat-icon *ngIf="currentRFIDBookingMarker?.rfidBooking?.bike?.dock?.lockStatus == false" title="Đang mở" class="li-bike-icon text-warning">lock_open</mat-icon>
                                <mat-icon *ngIf="currentRFIDBookingMarker?.rfidBooking?.bike?.dock?.charging == true" title="Đang sạc" class="li-bike-icon text-success">battery_charging_full</mat-icon>
                                <mat-icon *ngIf="currentRFIDBookingMarker?.rfidBooking?.bike?.dock?.charging == false" title="Không sạc" class="li-bike-icon text-info">battery_charging_full</mat-icon>

                                <span *ngIf="currentRFIDBookingMarker?.rfidBooking?.bike?.dock?.battery < 10" style="font-weight: 600;" class="text-danger">{{currentRFIDBookingMarker?.rfidBooking?.bike?.dock?.battery}}%</span>
                                <span *ngIf="currentRFIDBookingMarker?.rfidBooking?.bike?.dock?.battery >= 10 &&  currentRFIDBookingMarker?.rfidBooking?.bike?.dock?.battery < 50" style="font-weight: 600;" class="text-warning">{{currentRFIDBookingMarker?.rfidBooking?.bike?.dock?.battery}}%</span>
                                <span *ngIf="currentRFIDBookingMarker?.rfidBooking?.bike?.dock?.battery >= 50" style="font-weight: 600;" class="text-success">{{currentRFIDBookingMarker?.rfidBooking?.bike?.dock?.battery}}%</span>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field floatLabel="always" appearance="outline">
                                        <mat-label translate>Biển số</mat-label>
                                        <input [disabled]="true" class="text-name text-500" matInput value="{{ currentRFIDBookingMarker?.rfidBooking?.bike?.plate }}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field floatLabel="always" appearance="outline">
                                        <mat-label translate>QR Code</mat-label>
                                        <input [disabled]="true" class="text-danger text-500" matInput value="{{ currentRFIDBookingMarker?.rfidBooking?.bike?.dock?.serialNumber }}">
                                    </mat-form-field>
                                </div>
                            </div>

                            <mat-form-field *ngIf="currentRFIDBookingMarker?.rfidBooking?.type == 1" floatLabel="always" appearance="outline">
                                <mat-label translate>Khách hàng</mat-label>
                                <input [disabled]="true" matInput value="{{currentRFIDBookingMarker?.rfidBooking?.account?.fullName}} - {{currentRFIDBookingMarker?.rfidBooking?.account?.phone}}">
                            </mat-form-field>

                            <mat-form-field *ngIf="currentRFIDBookingMarker?.rfidBooking?.type == 0" floatLabel="always" appearance="outline">
                                <mat-label translate>Nhân viên TNGO</mat-label>
                                <input [disabled]="true" matInput value="{{currentRFIDBookingMarker?.rfidBooking?.user?.fullName}} - {{currentRFIDBookingMarker?.rfidBooking?.user?.phoneNumber}}">
                            </mat-form-field>

                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>Mã RFID</mat-label>
                                <input [disabled]="true" class="text-500" style="color: #283593;" matInput value="{{ currentRFIDBookingMarker?.rfidBooking?.rfid }}">
                            </mat-form-field>

                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>Thời bắt đầu chuyến đi</mat-label>
                                <input [disabled]="true" matInput value="{{ currentRFIDBookingMarker?.rfidBooking?.startTime | date: 'dd/MM/yyyy HH:mm:ss' }}">
                            </mat-form-field>

                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>Số phút ước tính</mat-label>
                                <input [disabled]="true" matInput value="{{ currentRFIDBookingMarker?.totalMinutes }}">
                            </mat-form-field>


                        </div>
                    </div>
                </div>

                <div *ngIf="currentBookingMarker == null && currentRFIDBookingMarker == null" style="width: 300px;float: right;">
                    <span style="padding: 3px 6px;" class="label-note">
                        &nbsp;<span> Giới thiệu</span>
                    </span>
                    <div class="text-danger text-500 text-center" style="text-transform: uppercase;">Chào mừng đến với</div>
                    <div class="text-500 text-name text-center" style="text-transform: uppercase; font-size: 25px;">TNGO</div>
                </div>

                <div style="margin-right: 255px;position: relative;">

                    <div style=" position: absolute; top: 0; left: 0; z-index: 99;background: #fff;padding-right: 10px;">
                        <mat-form-field class="padding-control" style="width:200px;" floatLabel="always" appearance="outline">
                            <mat-label class="text-danger" translate>Dự án</mat-label>
                            <mat-select [formControl]="ctrlProjectId">
                                <mat-option [value]="0">Chọn dự án</mat-option>
                                <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id.toString()">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        &nbsp;
                        <mat-checkbox matInput [formControl]="isShowRFIDBooking">
                            <span style="font-size: 12px;" translate>Hiện/ ẩn xe mở bằng RFID</span>
                        </mat-checkbox>
                        &nbsp;
                        <mat-checkbox matInput [formControl]="isShowStation">
                            <span style="font-size: 12px;" translate>Hiện/ ẩn trạm</span>
                        </mat-checkbox>
                    </div>

                    <agm-map [styles]="mapStyle" minZoom="8" [style.height.px]="heightTable" [latitude]="location?.latitude" [longitude]="location?.longitude" [zoom]="location?.zoom" (zoomChange)="zoomChange($event)">
                        <agm-marker [iconUrl]="marker.iconUrl" [visible]="marker.isEnable && marker.isShow" [label]="{ color: 'white',fontFamily: '', fontSize: '9px',  fontWeight: 'bold', text: marker?.station?.totalBikeGood?.toString()}" *ngFor="let marker of location.stationMarkers" [latitude]="marker.lat" [longitude]="marker.lng" (markerClick)="selectStationMarker(marker)">
                            <agm-info-window [disableAutoPan]="true" [isOpen]="marker.isOpen && marker.isEnable">
                                <div style="max-width: 140px;padding: 0px 2px 5px 2px;">
                                    <div class="text-center"><span class="text-name">{{ (marker.station?.displayName == null ? marker.station?.name: marker.station?.displayName)}}</span></div>
                                    <div style="height: 5px;"></div>
                                    <table class="map-table-info">
                                        <tr>
                                            <td>Xe tốt:</td>
                                            <td><strong class="text-success">{{ marker.station?.totalBikeGood }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Xe không đủ ĐK:</td>
                                            <td><strong class="text-danger">{{ marker.station?.totalBikeNotGood }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Số lượng xe:</td>
                                            <td><strong>{{ marker.station?.totalBike }}</strong></td>
                                        </tr>
                                    </table>
                                </div>
                            </agm-info-window>
                        </agm-marker>

                        <agm-marker [visible]="marker.isEnable && marker.isShow" [iconUrl]="marker.iconUrl" *ngFor="let marker of location.rfidBookingMarkers" [latitude]="marker.lat" [longitude]="marker.lng" (markerClick)="selectBookingMarker(marker)">
                            <agm-info-window [disableAutoPan]="true" [isOpen]="marker.isOpen">
                                <div>
                                    <div style="margin-bottom: 3px;">BKS: <span class="text-name text-500">{{marker.rfidBooking?.bike?.plate}}</span></div>
                                    <div style="margin-bottom: 3px;">Mã QR: <span class="text-danger text-500">{{marker.rfidBooking?.bike?.dock?.serialNumber}}</span>
                                    </div>
                                </div>
                            </agm-info-window>
                        </agm-marker>

                        <agm-polyline [strokeWeight]="7" [strokeOpacity]="0.5" [strokeColor]="'blue'">
                            <ng-container *ngFor="let item of polylines">
                                <agm-polyline-point [latitude]="item.lat" [longitude]="item.long"></agm-polyline-point>
                            </ng-container>
                        </agm-polyline>

                    </agm-map>
                </div>
            </div>

            <div style="height: 500px;">
                <mat-tab-group [selectedIndex]="viewType" (selectedTabChange)="matTabGroupChange($event)">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">directions_bike</mat-icon>
                            &nbsp;<span> Xe mở bằng thẻ RFID ({{rfidBookings.length}})</span>
                        </ng-template>
                        <div style="height: 5px;"></div>

                        <div fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

                            <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                                <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                                    <mat-label translate>Đối tượng mở</mat-label>
                                    <mat-select [(ngModel)]="rfidBookingParams.type" placeholder="Tất cả">
                                        <mat-option value=""><span translate>base.all</span></mat-option>
                                        <mat-option [value]="'0'"><span translate>rfidBooking.type-0</span></mat-option>
                                        <mat-option [value]="'1'"><span translate>rfidBooking.type-1</span></mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                                <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                                    <mat-label translate>Biển số xe</mat-label>
                                    <input matInput [(ngModel)]="rfidBookingParams.plate" autocomplete="off" placeholder="Tìm theo biển số, QR code" type="text">
                                </mat-form-field>
                            </div>

                            <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                                <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                                    <mat-label translate>Người mở</mat-label>
                                    <input matInput [(ngModel)]="rfidBookingParams.accountKey" (keyup.enter)="rfidBookingSearch()" autocomplete="off" placeholder="Tên, mã, số điện thoại" type="text">
                                </mat-form-field>
                            </div>

                            <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                                <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                                    <mat-label translate>base.searchKey</mat-label>
                                    <input matInput [(ngModel)]="rfidBookingParams.key" (keyup.enter)="rfidBookingSearch()" autocomplete="off" placeholder="Tìm kiếm thao mã chuyến đi" type="text">
                                </mat-form-field>
                            </div>

                            <div fxFlex="10" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
                                <button mat-raised-button color="primary" (click)="rfidBookingSearch()" class="m-5px">
                                    <mat-icon class="icon-sm icon-btn">search</mat-icon>
                                </button>
                            </div>
                        </div>

                        <div #fix_scroll_table_station class="scroll-table" style="overflow:auto;" [style.height.px]="[heightTabTable]">
                            <table mat-table matSort class="mat-table-style table-striped  table-dasb" [dataSource]="searchRFIDBooking" (matSortChange)="handleSortData($event)">

                                <ng-container matColumnDef="type">
                                    <th style="width: 160px;" mat-header-cell *matHeaderCellDef matSortDisableClear> Đối tượng mở</th>
                                    <td (click)="selectRFIDBooking(element)" [class.active]="currentRFIDBookingMarker?.rfidBooking?.id == element.id" mat-cell *matCellDef="let element">
                                        <div *ngIf="element.type == 0" class="text-warning" translate>rfidBooking.type-{{element.type}}</div>
                                        <div *ngIf="element.type == 1" class="text-info" translate>rfidBooking.type-{{element.type}}</div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="accountInfo">
                                    <th style="width: 160px;" mat-header-cell *matHeaderCellDef matSortDisableClear> Người mở</th>
                                    <td (click)="selectRFIDBooking(element)" [class.active]="currentRFIDBookingMarker?.rfidBooking?.id == element.id" mat-cell *matCellDef="let element">
                                        <div *ngIf="element.type == 1">
                                            <div class="text-warning">{{element?.account?.phone}}</div>
                                            <div class="text-info">{{element?.account?.fullName}}</div>
                                        </div>
                                        <div *ngIf="element.type == 0">
                                            <div class="text-warning">{{element?.user?.phoneNumber}}</div>
                                            <div class="text-info">{{element?.user?.fullName}}</div>
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="maxBoooking">
                                    <th style="width: 160px;" mat-header-cell *matHeaderCellDef matSortDisableClear> Mở tối đa số xe</th>
                                    <td (click)="selectRFIDBooking(element)" [class.active]="currentRFIDBookingMarker?.rfidBooking?.id == element.id" mat-cell *matCellDef="let element">
                                        <div *ngIf="element.type == 1">
                                            <div class="text-warning">{{element?.account?.maxBookingBike}}</div>
                                        </div>
                                        <div *ngIf="element.type == 0">
                                            <div class="text-info">Không giới hạn</div>
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="stationIn">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>rfidBooking.stationIn</span></th>
                                    <td (click)="selectRFIDBooking(element)" [class.active]="currentRFIDBookingMarker?.rfidBooking?.id == element.id" mat-cell *matCellDef="let element">
                                        {{ appCommon.getObj(categoryData.stations, element.stationIn) }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="stationOut">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>rfidBooking.stationOut</span></th>
                                    <td (click)="selectRFIDBooking(element)" [class.active]="currentRFIDBookingMarker?.rfidBooking?.id == element.id" mat-cell *matCellDef="let element">
                                        {{ appCommon.getObj(categoryData.stations, element.stationOut) }} </td>
                                </ng-container>

                                <ng-container matColumnDef="bikeId">
                                    <th style="width: 130px;" mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>rfidBooking.bikeId</span></th>
                                    <td (click)="selectRFIDBooking(element)" [class.active]="currentRFIDBookingMarker?.rfidBooking?.id == element.id" mat-cell *matCellDef="let element">
                                        <div class="text-name">{{element.bike?.plate}}</div>

                                        <div style="display: inline-block;margin-right: 3px;">
                                            <mat-icon *ngIf="element.bike?.dock?.connectionStatus == true" title="Đang kết nỗi" class="li-bike-icon text-success">wifi</mat-icon>
                                            <mat-icon *ngIf="element.bike?.dock?.connectionStatus == false" title="Mất kế nối" class="li-bike-icon text-danger">wifi_off</mat-icon>
                                            <mat-icon *ngIf="element.bike?.dock?.lockStatus == true" title="Đang đóng" class="li-bike-icon text-danger">lock</mat-icon>
                                            <mat-icon *ngIf="element.bike?.dock?.lockStatus == false" title="Đang mở" class="li-bike-icon text-warning">lock_open</mat-icon>
                                            <mat-icon *ngIf="element.bike?.dock?.charging == true" title="Đang sạc" class="li-bike-icon text-success">battery_charging_full</mat-icon>
                                            <mat-icon *ngIf="element.bike?.dock?.charging == false" title="Không sạc" class="li-bike-icon text-info">battery_charging_full</mat-icon>
                                            <span *ngIf="element.bike?.dock?.battery < 10" style="font-weight: 600;" class="text-danger">{{element.bike?.dock?.battery}}%</span>
                                            <span *ngIf="element.bike?.dock?.battery >= 10 &&  element.bike?.dock?.battery < 50" style="font-weight: 600;" class="text-warning">{{element.bike?.dock?.battery}}%</span>
                                            <span *ngIf="element.bike?.dock?.battery >= 50" style="font-weight: 600;" class="text-success">{{element.bike?.dock?.battery}}%</span>
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="transactionCode">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>rfidBooking.startTime</span></th>
                                    <td (click)="selectRFIDBooking(element)" [class.active]="currentRFIDBookingMarker?.rfidBooking?.id == element.id" mat-cell *matCellDef="let element">
                                        <div>RFID: <span class="text-name">{{element.rfid}}</span> </div>
                                        <div>TG:<span class="text-danger"> {{element.startTime | date: 'dd/MM/yyyy HH:mm:ss'}}</span></div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>rfidBooking.status</span></th>
                                    <td (click)="selectRFIDBooking(element)" [class.active]="currentRFIDBookingMarker?.rfidBooking?.id == element.id" mat-cell *matCellDef="let element">
                                        <span class="text-info" *ngIf="element.status == 0" translate>rfidBooking.status-0</span>
                                        <span class="text-danger" *ngIf="element.status == 1" translate>rfidBooking.status-1</span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="totalMinutes">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Thời gian ước tính (phút)</span></th>
                                    <td (click)="selectRFIDBooking(element)" [class.active]="currentRFIDBookingMarker?.rfidBooking?.id == element.id" mat-cell *matCellDef="let element">
                                        <span class="text-info text-500">{{element.totalMinutes}} </span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <th width="90" mat-header-cell *matHeaderCellDef><span translate>base.action</span>
                                    </th>
                                    <td mat-cell *matCellDef="let element" [class.active]="currentRFIDBookingMarker?.rfidBooking?.id == element.id">
                                        <button title="Xem vị trí" (click)="openViewmapDialog(element.bike)" mat-raised-button color="green" class="m-1 btn-grid">
                                            <mat-icon class="icon-sm">map</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedRFIDBookingColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedRFIDBookingColumns;"></tr>
                            </table>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">add_location</mat-icon>&nbsp;<span> Danh sách trạm</span>
                        </ng-template>
                        <div style="height: 5px;"></div>
                        <div fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

                            <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                                <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                                    <mat-label translate>station.cityId</mat-label>
                                    <mat-select (ngModelChange)="stationSearchModelChange($event, 1)" [(ngModel)]="stationParams.cityId" placeholder="Tất cả">
                                        <mat-option value="">
                                            <span translate>base.all</span>
                                        </mat-option>
                                        <mat-option *ngFor="let item of categoryData.cities; index as i;" [value]="item.id.toString()">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                                <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                                    <mat-label translate>base.searchKey</mat-label>
                                    <input matInput [(ngModel)]="stationParams.key" (keyup.enter)="stationSearch()" autocomplete="off" placeholder="Từ khóa tìm kiếm" type="text">
                                </mat-form-field>
                            </div>

                            <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
                                <button mat-raised-button color="primary" (click)="stationSearch()" class="m-5px">
                                    <mat-icon class="icon-sm icon-btn">search</mat-icon>
                                </button>
                            </div>
                        </div>

                        <div #fix_scroll_table_station class="scroll-table" style="overflow:auto;" [style.height.px]="[heightTabTable]">
                            <table mat-table matSort class="mat-table-style table-striped table-dasb" [dataSource]="searchStations" (matSortChange)="handleSortData($event)">

                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>station.id</span></th>
                                    <td [class.active]="currentStationMarker?.station?.id == element.id" (click)="selectStation(element)" mat-cell *matCellDef="let element">
                                        {{element.id}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="projectId">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>station.projectId</span></th>
                                    <td [class.active]="currentStationMarker?.station?.id == element.id" (click)="selectStation(element)" mat-cell *matCellDef="let element"> {{
                                        appCommon.getProject(categoryData.projects, element.projectId)}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="investorId">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>station.investorId</span></th>
                                    <td [class.active]="currentStationMarker?.station?.id == element.id" (click)="selectStation(element)" mat-cell *matCellDef="let element"> {{
                                        appCommon.getObj(categoryData.investors, element.investorId)}}
                                    </td>
                                </ng-container>


                                <ng-container matColumnDef="cityId">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>station.cityId</span></th>
                                    <td [class.active]="currentStationMarker?.station?.id == element.id" (click)="selectStation(element)" mat-cell *matCellDef="let element"> {{
                                        appCommon.getCity(categoryData.cities, element.cityId)}} / {{
                                        appCommon.getDistrict(categoryData.districts, element.districtId)}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>station.name</span></th>
                                    <td [class.active]="currentStationMarker?.station?.id == element.id" (click)="selectStation(element)" mat-cell *matCellDef="let element">
                                        <!-- <div title="Tên hiển thị" class="text-name">{{element.displayName}}</div> -->
                                        <div title="Tên trạm" class="text-info">
                                            {{element.name}}
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="address">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>station.address</span></th>
                                    <td [class.active]="currentStationMarker?.station?.id == element.id" (click)="selectStation(element)" mat-cell *matCellDef="let element">
                                        {{element.address}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="lat">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>station.lat</span></th>
                                    <td [class.active]="currentStationMarker?.station?.id == element.id" (click)="selectStation(element)" mat-cell *matCellDef="let element">
                                        {{element.lat | number:'1.1-4'}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="lng">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>station.lng</span></th>
                                    <td [class.active]="currentStationMarker?.station?.id == element.id" (click)="selectStation(element)" mat-cell *matCellDef="let element">
                                        {{element.lng | number:'1.1-4'}} </td>
                                </ng-container>

                                <ng-container matColumnDef="info">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear>Thông tin thiết kế</th>
                                    <td [class.active]="currentStationMarker?.station?.id == element.id" (click)="selectStation(element)" mat-cell *matCellDef="let element">Chiều rộng:
                                        {{element.width}}, chiều dài {{element.height}}, số chỗ để {{element.spaces}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="totalBike">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear>Số lượng xe</th>
                                    <td [class.active]="currentStationMarker?.station?.id == element.id" (click)="selectStation(element)" mat-cell *matCellDef="let element">
                                        <span><strong class="text-info">{{element.totalBike}}</strong></span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="totalBikeNotGood">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear>Xe không đủ ĐK</th>
                                    <td [class.active]="currentStationMarker?.station?.id == element.id" (click)="selectStation(element)" mat-cell *matCellDef="let element">
                                        <strong class="text-danger">{{element.totalBikeNotGood}}</strong>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="totalBikeGood">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear>Xe tốt</th>
                                    <td [class.active]="currentStationMarker?.station?.id == element.id" (click)="selectStation(element)" mat-cell *matCellDef="let element">
                                        <strong class="text-success">{{element.totalBikeGood}}</strong>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>station.description</span></th>
                                    <td [class.active]="currentStationMarker?.station?.id == element.id" (click)="selectStation(element)" mat-cell *matCellDef="let element">
                                        {{element.description}} </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>station.status</span></th>
                                    <td [class.active]="currentStationMarker?.station?.id == element.id" (click)="selectStation(element)" mat-cell *matCellDef="let element">
                                        <span *ngIf="element.status == 1" class="text-success">Sử dụng</span>
                                        <span *ngIf="element.status == 0" class="text-danger">Không sử dụng</span>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedStationColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedStationColumns;"></tr>
                            </table>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>

<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>