<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>Cập nhật trạng vị trí mặc định</span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-12">
                <div style="padding-bottom: 10px;">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Tìm kiếm trên map</mat-label>
                        <input matInput type="text" placeholder="Nhập từ khóa" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                    </mat-form-field>
                    <agm-map style="height: 400px;" [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="location.zoom" (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
                        <agm-marker *ngFor="let marker of location.markers" [latitude]="marker.lat" [label]="marker.label" [longitude]="marker.lng" (markerClick)="selectMarker($event)" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
                        </agm-marker>
                    </agm-map>
                </div>
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label ><span translate>dock.stationId</span></mat-label>
                                <mat-select formControlName="stationId" [(value)]="data.stationId" placeholder="Chọn trạm khóa đang ở">
                                    <mat-option value="0">Chọn trạm khóa đang ở</mat-option>
                                    <mat-option *ngFor="let item of categoryData.stations; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>station.lat</mat-label>
                                <input matInput formControlName="lat" placeholder="" type="text" maxlength="1000">
                                <mat-error *ngIf="form.controls.lat.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.lat.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.lat.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>station.lng</mat-label>
                                <input matInput formControlName="lng" placeholder="" type="text" maxlength="1000">
                                <mat-error *ngIf="form.controls.lng.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.lng.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.lng.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="text-danger">
                        Chú ý: chỉ sử dụng khi cấu hình mặc định cho xe mới, hoặc hỗ trợ khác hàng trong trường hợp vị trí xe không chính xác.
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button roles-is="174" type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>