<div class="header-t">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>customer-complaint.title</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>customer-complaint.title-l</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh">
        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="40" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label><span translate>customer-complaint.accountId</span></mat-label>
              <mat-select [(ngModel)]="params.accountId" [(value)]="params.accountId" placeholder="Tất cả">
                <mat-option>
                  <ngx-mat-select-search [formControl]="accountKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'"
                    [searching]="isProcess.accountSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option *ngFor="let item of accounts; index as i;" [value]="item.id">
                  <strong>{{item.fullName}}</strong> | <span class="text-info">{{item.phone}}</span> | <span
                    class="text-danger">{{item.code}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>customer-complaint.status</mat-label>
              <mat-select [(ngModel)]="params.status" [(value)]="params.status" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="0"><span translate>customer-complaint.status-0</span></mat-option>
                <mat-option [value]="1"><span translate>customer-complaint.status-1</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Ngày khiến nại từ</mat-label>
              <input [(ngModel)]="params.start" matInput [matDatepicker]="pickerFrom">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Ngày khiến nại đến</mat-label>
              <input [(ngModel)]="params.end" matInput [matDatepicker]="pickerTo">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>customer-complaint.bikeReportType</mat-label>
              <mat-select [(ngModel)]="params.bikeReportType" [(value)]="params.bikeReportType" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="1001"><span translate>customer-complaint.bikeReportType-1001</span></mat-option>
                <mat-option [value]="2001"><span translate>customer-complaint.bikeReportType-2001</span></mat-option>
                <mat-option [value]="2002"><span translate>customer-complaint.bikeReportType-2002</span></mat-option>
                <mat-option [value]="2003"><span translate>customer-complaint.bikeReportType-2003</span></mat-option>
                <mat-option [value]="2004"><span translate>customer-complaint.bikeReportType-2004</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>customer-complaint.pattern</mat-label>
              <mat-select [(ngModel)]="params.pattern" [(value)]="params.pattern" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="0"><span translate>customer-complaint.pattern-0</span></mat-option>
                <mat-option [value]="1"><span translate>customer-complaint.pattern-1</span></mat-option>
                <mat-option [value]="2"><span translate>customer-complaint.pattern-2</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>base.searchKey</mat-label>
              <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off"
                placeholder="Từ khóa tìm kiếm" type="text">
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="20" fxLayoutAlign="start center" class="p-search">

            <button mat-raised-button color="primary" (click)="search()" class="m-5px">
              <mat-icon class="icon-sm icon-btn">search</mat-icon>
            </button>

            <button roles-is="142" (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-5px">
              <mat-icon class="icon-sm icon-btn">add</mat-icon>
            </button>

            <button mat-raised-button color="warn" class="m-5px" (click)="export()" [disabled]="isProcess.export">
              <mat-icon *ngIf="isProcess.export" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.export" class="icon-sm icon-btn">print</mat-icon>
            </button>

          </div>

        </div>
        <div class="tParentLoading">
          <div *ngIf="isProcess.listDataTable" class="tloading">
            <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
              <div class="loader">Loading...</div>
            </div>
          </div>
          <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
            <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData"
              (matSortChange)="handleSortData($event)">

              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span
                    translate>base.order</span></th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                  {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="accountId">
                <th width="150" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>customer-complaint.accountId</span></th>
                <td mat-cell *matCellDef="let element">
                  <div style="font-weight: 500;" class="text-danger"> {{element.account?.code}}</div>
                  <div class="text-warning">{{element.account?.phone}}</div>
                  <div class="text-info"> {{element.account?.fullName}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="complaintInfo">
                <th width="150" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>
                  <span translate>Khiếu nại</span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-danger" style="font-weight: 500;" translate matTooltip="{{element.bikeReportTypeText}}">
                    customer-complaint.bikeReportType-{{element.bikeReportType}}
                  </div>
                  <div class="text-info" translate>customer-complaint.pattern-{{element.pattern}}</div>
                  <div>{{element.complaintDate | date: 'dd/MM/yyyy'}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="img">
                <th width="50" mat-header-cell *matHeaderCellDef><span translate>Ảnh</span></th>
                <td mat-cell *matCellDef="let element">
                  <button *ngIf="element.file!=null" (click)="openImageDialog(element)" mat-raised-button color="green"
                    class="m-1 btn-grid">
                    <mat-icon class="icon-sm">image</mat-icon>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="transaction1">
                <th width="200" mat-header-cell *matHeaderCellDef>
                  <span>
                    Mã chuyến đi/Biển số xe/IMEI khóa
                  </span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-danger">{{element.transaction?.transactionCode}}</div>
                  <div class="text-warning">{{element.transaction?.bike?.plate}}</div>
                  <div class="text-info">{{element.transaction?.dock?.imei}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="transaction2">
                <th width="200" mat-header-cell *matHeaderCellDef>
                  <div>Trạm khởi hành -> Trạm kết thúc</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-danger">{{ appCommon.getObj(categoryData.stations, element.transaction?.stationIn)}}
                  </div>
                  <div class="text-success">{{ appCommon.getObj(categoryData.stations,
                    element.transaction?.stationOut)}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="transaction3">
                <th width="100" mat-header-cell *matHeaderCellDef>
                  <div>Thời gian chuyến đi</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div>{{element.transaction?.startTime | date: 'dd/MM/yyyy HH:mm'}}</div>
                  <div>{{element.transaction?.endTime | date: 'dd/MM/yyyy HH:mm'}}</div>
                  <div class="text-success">({{element.transaction?.totalMinutes}})</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="transaction4">
                <th width="100" mat-header-cell *matHeaderCellDef>
                  <div>Loại vé/Trừ TK gốc/Trừ TK KM/Điểm tích lũy</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="element.transaction">
                    <div class="text-info" translate>
                      ticket-prepaid.ticketPrice_TicketType-{{element.transaction?.ticketPrice_TicketType}}
                    </div>
                    <div class="text-danger">- {{appCommon.formatMoney(element.transaction?.ChargeInAccount,0,3)}}</div>
                    <div class="text-warning">- {{appCommon.formatMoney(element.transaction?.ChargeInSubAccount,0,3)}}
                    </div>
                    <div class="text-success">+ {{appCommon.formatMoney(element.transaction?.TripPoint,0,3)}}</div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="complaintDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>
                  <span translate>
                    customer-complaint.complaintDate
                  </span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="">{{element.complaintDate | date: 'dd/MM/yyyy'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="transactionCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>customer-complaint.transactionCode</span></th>
                <td mat-cell *matCellDef="let element"> {{element.transactionCode}} </td>
              </ng-container>

              <ng-container matColumnDef="bikeReportType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>customer-complaint.bikeReportType</span></th>
                <td mat-cell *matCellDef="let element">
                  <span class="text-danger" translate>bike-report.type-{{element.bikeReportType}}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear>
                  <span translate>customer-complaint.description</span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
              </ng-container>

              <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>customer-complaint.note</span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.note}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th width="100" mat-header-cell *matHeaderCellDef>
                  <span translate>customer-complaint.status</span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <strong *ngIf="element.status==0" class="text-danger" translate>customer-complaint.status-0</strong>
                  <strong *ngIf="element.status==1" class="text-success" translate>customer-complaint.status-1</strong>
                </td>
              </ng-container>

              <ng-container matColumnDef="files">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Số đính kèm</span></th>
                <td mat-cell *matCellDef="let element">
                  {{getFilesCount(element.files)}}
                </td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>ticket-prepaid.createdUser</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.createdUserObject?.displayName}}</span></div>
                  <div><span class="">{{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="updatedDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>ticket-prepaid.updatedUser</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.updatedUserObject?.displayName}}</span></div>
                  <div><span class="">{{element.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="processTime">
                <th width="100" mat-header-cell *matHeaderCellDef>Thời gian tiếp nhận/Thời gian hoàn thành</th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-danger">{{element.StartDate | date: 'dd/MM/yyyy'}}</span> </div>
                  <div><span class="text-success">{{element.EndDate | date: 'dd/MM/yyyy'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th width="90" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
                <td mat-cell *matCellDef="let element">
                  <button roles-is="142" (click)="openEditDialog(element)" mat-raised-button color="warn"
                    class="m-1 btn-grid">
                    <mat-icon class="icon-sm">edit</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div #paginator_rec>
            <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)"
              [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>