<h1 mat-dialog-title *ngIf ="data.id == 0"><span translate>customer-group.modal-create</span></h1>
<h1 mat-dialog-title *ngIf ="data.id > 0"><span translate>customer-group.modal-edit</span></h1>

<a (click)="close()" title="Đóng cửa sổ" class="close btnclose-t">
	<span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
	<div class="body-modal">
		<div class="row">
			<div class="col-md-12">
				<form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

					<mat-form-field floatLabel="always" appearance="outline">
						<mat-label translate>customer-group.name</mat-label>
						<input matInput formControlName="name" type="text" maxlength="1000">
						<mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required</mat-error>
						<mat-error *ngIf="form.controls.name.hasError('maxlength')" translate [translateParams]="{n: '100'}">validate.maxlength</mat-error>
					</mat-form-field>

					<mat-form-field floatLabel="always" appearance="outline">
						<mat-label translate>customer-group.note</mat-label>
						<textarea matInput rows="10" formControlName="note" type="text" maxlength="1000"></textarea>
						<mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required</mat-error>
						<mat-error *ngIf="form.controls.name.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
					</mat-form-field>

					<mat-form-field floatLabel="always" appearance="outline">
						<mat-label translate>customer-group.status</mat-label>
						<mat-select formControlName="status">
							<mat-option [value]="0">Không sử dụng</mat-option>
							<mat-option [value]="1">Sử dụng</mat-option>
						</mat-select>
					</mat-form-field>

					<div class="can-checkbox-form">
						<mat-checkbox matInput formControlName="isDefault" [value]="data.isDefault"><span translate>customer-group.isDefault-label</span></mat-checkbox>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="dialog-footer">
	<button type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
		<mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
		<mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
		<span translate>button.delete</span>
	</button>
	<button type="button" (click)="save()" mat-raised-button color="primary" [disabled]="isProcess.saveProcess||!form.valid">
		<mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
		<mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
		<span translate>button.save</span>
	</button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
	<div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
		<div class="loader"><span translate>button.loading</span></div>
	</div>
</div>