<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>color.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>color.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>color.name</mat-label>
                        <input matInput formControlName="name" placeholder="" type="text" maxlength="1000">

                        <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required</mat-error>

                        <mat-error *ngIf="form.controls.name.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate
                            [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>color.code</mat-label>
                        <input matInput formControlName="code" id="colorstring" style="text-transform:uppercase"
                            placeholder="Ex: #ff0000" (keyup)="changeColor($event)" type="text" maxlength="1000">

                        <mat-error *ngIf="form.controls.code.errors?.required" translate>validate.required</mat-error>

                        <mat-error *ngIf="form.controls.code.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.code.hasError('maxlength')" translate
                            [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Chọn mầu</mat-label>
                        <input matInput formControlName="colorpicker" type="color" id="colorpicker"
                            (change)="changeColor($event)" value="#ff0000">
                    </mat-form-field>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1"
        [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1"
        [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>