<h1 mat-dialog-title><span translate>NẠP ĐIỂM THỦ CÔNG - <span class="text-danger">{{data.fullName}} - {{data.phone}}</span></span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>wallet-transaction.type</mat-label>
                        <mat-select formControlName="type">
                            <mat-option [value]="15"><span translate>wallet-transaction.type-15</span> (không tính doanh thu)</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.type.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>wallet-transaction.subAmount</mat-label>
                        <input required currencyMask [options]="appCommon.moneyInputFormat()" class="money-style" matInput formControlName="subAmount" placeholder="" type="text"min="10000" max="20000000">
                        <mat-error *ngIf="form.controls.subAmount.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>wallet-transaction.transactionCode</mat-label>
                        <input matInput formControlName="transactionCode" placeholder="Mã giao dịch chuyển khoản nếu có" type="text" maxlength="50">
                        <mat-error *ngIf="form.controls.transactionCode.hasError('maxlength')" translate [translateParams]="{n: '50'}">validate.maxlength</mat-error>
                    </mat-form-field>
                  
                    <app-file-upload-attached [accept]="categoryData.imagesType" (outData) = "getOutPut($event)" [multiple] = "true" [apiUpload]="pathUpload" [curentFiles] ="[]"></app-file-upload-attached>
                    
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>wallet-transaction.note</mat-label>
                        <textarea rows="10" required matInput formControlName="note" placeholder="Ghi chú thông tin bắt buộc" type="text" maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.note.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>