<h1 mat-dialog-title><span>LỊCH SỬ DI CHUYẾN</span> - <span class="test-danger">{{ data.plate }}</span></h1>
<a (click)="close()" title="Đóng cửa sổ" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content class="mat-dialog-content-full">
    <div class="body-modal">

        <mat-tab-group [selectedIndex]="viewType" (selectedTabChange)="matTabGroupChange($event)">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">list</mat-icon>
                    <span> THÔNG TIN TỌA ĐỘ</span>
                </ng-template>
                <div id="fix_detail"></div>
                <div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
                    <div>
                        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

                            <div fxFlex="15" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                                <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                                    <mat-label translate>Ngày</mat-label>
                                    <input required [(ngModel)]="params.dateX" matInput [matDatepicker]="pickerFrom">
                                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerFrom></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div fxFlex="15" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                                <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                                    <mat-label translate>Thời gian từ</mat-label>
                                    <input required show-todays-date="" minutes="true" min-date="date" show-icon="true" matInput [(ngModel)]="params.startTime" [format]="24" readonly [ngxTimepicker]="picker1">
                                    <ngx-material-timepicker #picker1></ngx-material-timepicker>
                                </mat-form-field>
                            </div>

                            <div fxFlex="15" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                                <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                                    <mat-label translate>Thời gian đến</mat-label>
                                    <input required show-todays-date="" minutes="true" min-date="date" show-icon="true" matInput [(ngModel)]="params.endTime" [format]="24" readonly [ngxTimepicker]="picker2">
                                    <ngx-material-timepicker #picker2></ngx-material-timepicker>
                                </mat-form-field>
                            </div>

                            <div fxFlex="10" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
                                <button mat-raised-button color="primary" (click)="search()" class="m-5px">
                                    <mat-icon class="icon-sm icon-btn">search</mat-icon>
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <span class="label-note">
                                    <span translate>Bản đồ di chuyến</span>
                                </span>
                                <div>
                                    <agm-map (markerClick)="selectMarker(marker)" [styles]="mapStyle" minZoom="8" [style.height.px]="heightMap" [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="location.zoom" (zoomChange)="zoomChange($event)">

                                        <agm-marker [iconUrl]="marker.iconUrl" [visible]="marker.isEnable && marker.isShow" [label]="{ color: 'white',fontFamily: '', fontSize: '9px',  fontWeight: 'bold', text: marker?.station?.totalBikeGood?.toString()}" *ngFor="let marker of location.stationMarkers" [latitude]="marker.lat" [longitude]="marker.lng">
                                            <agm-info-window [disableAutoPan]="true" [isOpen]="marker.isOpen && marker.isEnable">
                                                <div style="max-width: 140px;padding: 0px 2px 5px 2px;">
                                                    <div class="text-center"><span class="text-name">{{ (marker.station?.displayName == null ? marker.station?.name: marker.station?.displayName)}}</span></div>
                                                    <div style="height: 5px;"></div>
                                                    <table class="map-table-info">
                                                        <tr>
                                                            <td>Xe tốt:</td>
                                                            <td><strong class="text-success">{{ marker.station?.totalBikeGood }}</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Xe không đủ ĐK:</td>
                                                            <td><strong class="text-danger">{{ marker.station?.totalBikeNotGood }}</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Số lượng xe:</td>
                                                            <td><strong>{{ marker.station?.totalBike }}</strong></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </agm-info-window>
                                        </agm-marker>

                                        <agm-marker (markerClick)="selectMarker(marker)" [iconUrl]="marker.iconUrl" *ngFor="let marker of location.markers" [latitude]="marker.lat" [longitude]="marker.lng">
                                            <agm-info-window [disableAutoPan]="true" [isOpen]="marker.isOpen">
                                                <div style="max-width: 140px;padding: 0px 10px 5px 2px;">
                                                    <div class="text-center"><span class="text-name">{{ marker.data.createTime | date: 'HH:mm:ss' }}</span></div>
                                                    <div *ngIf= "marker.data?.station != null">Trạm gần nhất: ({{marker.data?.station?.distance}})m {{marker.data?.station?.name}}</div>
                                                </div>
                                            </agm-info-window>
                                        </agm-marker>

                                        <agm-marker *ngIf="location.currentLocation != null" [iconUrl]="location.currentLocation.iconUrl"  [latitude]="location.currentLocation.lat" [longitude]="location.currentLocation.lng">
                                            <agm-info-window [disableAutoPan]="true" [isOpen]="location.currentLocation.isOpen">
                                                <div style="max-width: 200px;padding: 0px 10px 5px 2px;">
                                                    <div class="text-center"><span class="text-name">Vị trí hiện tại</span></div>
                                                    <div>Mới nhất: {{ location.currentLocation?.data?.dock?.lastGPSTime | date: 'HH:mm:ss dd/MM/yyyy' }}</div>
                                                </div>
                                            </agm-info-window>
                                        </agm-marker>

                                        <agm-polyline [strokeWeight]="7" [strokeOpacity]="0.5" [strokeColor]="'blue'">
                                            <ng-container *ngFor="let item of polylines">
                                                <agm-polyline-point [latitude]="item.lat" [longitude]="item.long"></agm-polyline-point>
                                            </ng-container>
                                        </agm-polyline>

                                    </agm-map>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <span class="label-note">
                                    <span translate>Danh sách GPS</span>
                                </span>

                                <div class="tParentLoading">
                                    <div *ngIf="isProcess.listDataTable" class="tloading">
                                        <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
                                            <div class="loader">Loading...</div>
                                        </div>
                                    </div>
                                    <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
                                        <table mat-table matSort class="mat-table-style table-striped  table-dasb" [dataSource]="dataItems" (matSortChange)="handleSortData($event)">

                                            <ng-container matColumnDef="location">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Tọa độ</span></th>
                                                <td  (click)="selectRow(element)" [class.active]="currentMarker?.data?.id == element.id" mat-cell *matCellDef="let element">
                                                    <div [class.text-danger]="!(element.lat > 0 && element.long > 0)">{{element.lat}} - {{element.long}}</div>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="time">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Thời gian</span></th>
                                                <td (click)="selectRow(element)" [class.active]="currentMarker?.data?.id == element.id" mat-cell *matCellDef="let element">
                                                    <span class="text-name">{{element.createTime | date: 'HH:mm:ss dd/MM/yyyy'}}</span>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="station">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Trạm gần nhất</span></th>
                                                <td (click)="selectRow(element)" [class.active]="currentMarker?.data?.id == element.id" mat-cell *matCellDef="let element">
                                                    <div *ngIf="element.lat > 0">({{element?.station?.distance}})m {{element.station?.name}}</div>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader"><span translate>button.loading</span></div>
    </div>
</div>