<h1 mat-dialog-title><span translate>THÊM GIAO DỊCH THỦ CÔNG</span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label><span translate>Tài khoản đích</span></mat-label>
                        <mat-select required formControlName="accountId" placeholder="Chọn khách hàng">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="accountKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'" [searching]="isProcess.accountSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option value="">Không chọn</mat-option>
                            <mat-option *ngFor="let item of accounts; index as i;" [value]="item.id">
                                <strong>{{item.fullName}}</strong> | GT: 
                                <strong *ngIf = "item.sex == 0">Nữ</strong>
                                <strong *ngIf = "item.sex == 1">Nam</strong>
                                <strong *ngIf = "item.sex == 2">Khác</strong>
                                | SĐT: {{item.phone}} | RFID: {{item.rfid}}
                                | Loại TK: <span translate *ngIf="item.type == 0">account.type-0</span><span translate *ngIf="item.type == 1">account.type-1</span><span translate *ngIf="item.type == 2">account.type-2</span>
                                | TT: <span translate class="text-warning" *ngIf="item.status == 0">account.status-0</span><span translate class="text-success" *ngIf="item.status == 1">account.status-1</span><span translate class="text-danger" *ngIf="item.status == 2">account.status-2</span>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.accountId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>wallet-transaction.type</mat-label>
                        <mat-select formControlName="type">
                            <mat-option [value]="15"><span translate>wallet-transaction.type-15</span> (không tính doanh thu)</mat-option>
                            <mat-option [value]="8"><span translate>wallet-transaction.type-8</span> (nạp tiền tính doanh thu)</mat-option>
                            <mat-option [value]="5"><span translate>wallet-transaction.type-5</span> (nạp tiền tính doanh thu)</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.type.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label *ngIf ="form.get('type').value==15 || form.get('type').value==1" translate>wallet-transaction.amount</mat-label>
                        <mat-label *ngIf ="form.get('type').value==8 || form.get('type').value==5"  translate>wallet-transaction.price</mat-label>
                        <input required currencyMask [options]="appCommon.moneyInputFormat()" class="money-style" matInput formControlName="amount" placeholder="" type="text"min="10000" max="20000000">
                        <mat-error *ngIf="form.controls.amount.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>wallet-transaction.subAmount</mat-label>
                        <input required currencyMask [options]="appCommon.moneyInputFormat()" class="money-style" matInput formControlName="subAmount" placeholder="" type="text"min="10000" max="20000000">
                        <mat-error *ngIf="form.controls.subAmount.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>wallet-transaction.transactionCode</mat-label>
                        <input matInput formControlName="transactionCode" placeholder="Mã giao dịch chuyển khoản nếu có" type="text" maxlength="50">
                        <mat-error *ngIf="form.controls.transactionCode.hasError('maxlength')" translate [translateParams]="{n: '50'}">validate.maxlength</mat-error>
                    </mat-form-field>
                  
                    <app-file-upload-attached [accept]="categoryData.imagesType" (outData) = "getOutPut($event)" [multiple] = "true" [apiUpload]="pathUpload" [curentFiles] ="[]"></app-file-upload-attached>
                    
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>wallet-transaction.note</mat-label>
                        <textarea rows="10" required matInput formControlName="note" placeholder="Ghi chú thông tin bắt buộc" type="text" maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.note.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>