<h1 mat-dialog-title>Danh sách banner</h1>

<a (click)="close()" title="close" class="close btnclose-t">
  <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
  <div class="body-modal">

    <div class="form-search p-0" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

      <div fxFlex="30" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search"
        style="margin-bottom:5px;margin-right: 5px;">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label translate>base.searchKey</mat-label>
          <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off"
            placeholder="Từ khóa tìm kiếm" type="text">
        </mat-form-field>
      </div>

      <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search" style="margin-bottom:5px;">
        <button mat-raised-button color="primary" (click)="search()" class="m-5px">
          <mat-icon class="icon-sm icon-btn">search</mat-icon>
        </button>
        <button roles-is="275" (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-5px">
          <mat-icon class="icon-sm icon-btn">add</mat-icon>
        </button>
      </div>

    </div>

    <div class="tParentLoading">
      <div *ngIf="isProcess.listDataTable" class="tloading">
        <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
          <div class="loader">Loading...</div>
        </div>
      </div>
      <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
        <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData"
          (matSortChange)="handleSortData($event)">

          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span
                translate>base.order</span></th>
            <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
              {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="bannerGroupId">
            <th mat-header-cell *matHeaderCellDef><span translate>banner.bannerGroupId</span></th>
            <td mat-cell *matCellDef="let element"> {{element.bannerGroupId}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef><span translate>banner.name</span>
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="text-info" style="font-weight: 500;">{{element.name}}</div>
              <div>({{element.language}})</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="image">
            <th width="300px" mat-header-cell *matHeaderCellDef><span translate>banner.image</span></th>
            <td mat-cell *matCellDef="let element">
              <img src="{{bannerGroupsService.apiUrl()}}{{element.image}}" class="img-responsive" alt=""
                onerror="this.src='/assets/img/app/no-image.png'">
            </td>
          </ng-container>

          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef><span translate>banner.data</span>
            </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.type==1"> <a class="text-info" href="{{element.data}}"
                  style="text-decoration: underline !important">{{element.data}}</a></div>
              <div *ngIf="element.type!=1">{{element.data}}</div>
              <div>Loại: <span class="text-warning" translate>banner.type-{{element.type}}</span></div>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef><span translate>banner.status</span></th>
            <td mat-cell *matCellDef="let element"><span translate> banner.status-{{element.status}}</span> </td>
          </ng-container>

          <ng-container matColumnDef="rangeTime">
            <th mat-header-cell *matHeaderCellDef>Thời hạn</th>
            <td mat-cell *matCellDef="let element">
              <div class="text-success">{{element.startTime | date: 'dd/MM/yyyy'}}</div>
              <div class="text-danger">{{element.endTime | date: 'dd/MM/yyyy'}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef><span translate>banner.createdUser</span></th>
            <td mat-cell *matCellDef="let element">
              <div><span class="text-500">{{element.createdUserObject?.displayName}}</span></div>
              <div><span class="">{{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="updatedDate">
            <th mat-header-cell *matHeaderCellDef><span translate>banner.updatedUser</span></th>
            <td mat-cell *matCellDef="let element">
              <div><span class="text-500">{{element.updatedUserObject?.displayName}}</span></div>
              <div><span class="">{{element.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th width="90" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
            <td mat-cell *matCellDef="let element">
              <button roles-is="275" (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
                <mat-icon class="icon-sm">edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div #paginator_rec>
        <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)"
          [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </div>

  </div>
</div>
<div class="dialog-footer">
</div>

<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>