<div class="header-t">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>supplies.title</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>supplies.title-l</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh">
        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>supplies.type</mat-label>
              <mat-select [(ngModel)]="params.type" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option value="0"><span translate>supplies.type-0</span></mat-option>
                <mat-option value="1"><span translate>supplies.type-1</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>base.searchKey</mat-label>
              <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off"
                placeholder="Từ khóa tìm kiếm" type="text">
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="primary" (click)="search()" class="m-5px">
              <mat-icon class="icon-sm icon-btn">search</mat-icon>
            </button>
            <button roles-is="172" (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-5px">
              <mat-icon class="icon-sm icon-btn">add</mat-icon>
            </button>
            <button mat-raised-button color="warn" class="m-5px" (click)="export()" [disabled]="isProcess.export">
              <mat-icon *ngIf="isProcess.export" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.export" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>
        <div class="tParentLoading">
          <div *ngIf="isProcess.listDataTable" class="tloading">
            <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
              <div class="loader">Loading...</div>
            </div>
          </div>
          <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
            <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData"
              (matSortChange)="handleSortData($event)">

              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span
                    translate>base.order</span></th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                  {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="code">
                <th width="100" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>supplies.code</span></th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-name"> {{element.code}} </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>supplies.name</span></th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-info">{{element.name}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="descriptions">
                <th mat-header-cell *matHeaderCellDef><span translate>supplies.descriptions</span></th>
                <td mat-cell *matCellDef="let element"> {{element.descriptions}} </td>
              </ng-container>

              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>supplies.quantity</span></th>
                <td mat-cell *matCellDef="let element">
                  <div *ngFor="let item of element.suppliesWarehouses">
                    {{item.warehouse?.name}}
                    (<span *ngIf="item.quantity==0" class="text-danger"
                      style="font-weight: bold;">{{item.quantity}}</span>
                    <span *ngIf="item.quantity!=0" class="text-success"
                      style="font-weight: bold;">{{item.quantity}}</span>)
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="unit">
                <th width="90" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>supplies.unit</span></th>
                <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th width="120" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>supplies.type</span></th>
                <td mat-cell *matCellDef="let element">
                  <span translate *ngIf="element.type == 0">supplies.type-0</span>
                  <span translate *ngIf="element.type == 1">supplies.type-1</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="price">
                <th width="90" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>supplies.price</span></th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <span *ngIf="element.price > 0">{{appCommon.formatMoney(element.price,0,3)}}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th width="130" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>supplies.createdUser</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.createdUserObject?.displayName}}</span></div>
                  <div><span class="">{{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="updatedDate">
                <th width="130" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>supplies.updatedUser</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.updatedUserObject?.displayName}}</span></div>
                  <div><span class="">{{element.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th width="90" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
                <td mat-cell *matCellDef="let element">
                  <button (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
                    <mat-icon class="icon-sm">edit</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div #paginator_rec>
            <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)"
              [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>