<h1 mat-dialog-title>Danh sách xếp hạng</h1>

<a (click)="close()" title="close" class="close btnclose-t">
  <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
  <div class="body-modal">

    <div class="form-search p-0" fxLayout="row" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

      <div fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
        <h2  class="text-primary text-uppercase"><span>{{accountRating.name}}</span> (<span>{{accountRating.startDate |
            date: 'dd/MM/yyyy'}} - {{accountRating.endDate | date: 'dd/MM/yyyy'}}</span>)</h2>
      </div>

      <div fxFlex="20" fxLayout="row" fxLayoutAlign="end center">
        <button (click)="openCreateDialog()" mat-raised-button color="blue" class="m-5px">
          <mat-icon class="icon-sm icon-btn">add</mat-icon> Thêm
        </button>

        <button (click)="search()" mat-raised-button color="green">
          <mat-icon class="icon-sm icon-btn">refresh</mat-icon> Làm mới
        </button>
      </div>

    </div>

    <div class="tParentLoading">
      <div *ngIf="isProcess.listDataTable" class="tloading">
        <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
          <div class="loader">Loading...</div>
        </div>
      </div>
      <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
        <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData"
          (matSortChange)="handleSortData($event)">

          <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                translate>account-rating-item.order</span></th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.order == 1" class="text-center" style="margin: 3px 0"><img
                  src="/assets/img/rank/rank-1.png" style="width: 52px"></div>
              <div *ngIf="element.order == 2" class="text-center" style="margin: 3px 0"><img
                  src="/assets/img/rank/rank-2.png" style="width: 52px"></div>
              <div *ngIf="element.order == 3" class="text-center" style="margin: 3px 0"><img
                  src="/assets/img/rank/rank-3.png" style="width: 52px"></div>
              <div *ngIf="element.order > 3" style="font-size: 28px; font-weight: 800; color: #1976d2;margin: 15px 0"
                class="text-center">{{element.order}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="accountId">
            <th mat-header-cell *matHeaderCellDef><span translate>account-rating-item.accountId</span></th>
            <td mat-cell *matCellDef="let element">
              <div><strong>{{element.account?.fullName}}</strong></div>
              <div>{{element.account?.phone}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="value">
            <th width="150" mat-header-cell *matHeaderCellDef><span translate>account-rating-item.value</span> (Km)</th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.value}} </td>
          </ng-container>

          <ng-container matColumnDef="updatedDate">
            <th mat-header-cell *matHeaderCellDef><span translate>account-rating-item.updatedDate</span></th>
            <td mat-cell *matCellDef="let element"> {{element.updatedDate | date: 'dd/MM/yyyy HH:mm'}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th width="120" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
            <td mat-cell *matCellDef="let element">

              <button (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
                <mat-icon class="icon-sm">edit</mat-icon>
              </button>

              <button  roles-is="280" (click)="openAddMoneyDialog(element)" mat-raised-button color="accent" class="m-1 btn-grid">
                <mat-icon class="icon-sm">add_card</mat-icon>
              </button>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div #paginator_rec>
        <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)"
          [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </div>

  </div>
</div>
<div class="dialog-footer">
</div>

<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>