<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>Thêm mới tài khoản khách hàng</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>Cập nhật tài khoản khách hàng</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <span class="label-note">
                        <span translate>Thông tin tài khoản</span>
                    </span>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.type</mat-label>
                                <mat-select formControlName="type">
                                    <mat-option [value]="0"><span translate>account.type-0</span></mat-option>
                                    <mat-option [value]="1"><span translate>account.type-1</span></mat-option>
                                    <mat-option [value]="2"><span translate>account.type-2</span></mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.type.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.rfid</mat-label>
                                <input required matInput formControlName="rfid" placeholder="" type="text" maxlength="200">
                                <mat-error *ngIf="form.controls.rfid.errors?.required" translate>validate.required
                                </mat-error>
                                <mat-error *ngIf="form.controls.rfid.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.rfid.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.phone</mat-label>
                                <input required matInput formControlName="phone" placeholder="" type="text" maxlength="1000">
                                <mat-error *ngIf="form.controls.phone.errors?.required" translate>validate.required
                                </mat-error>
                                <mat-error *ngIf="form.controls.phone.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.phone.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <div style="width:70px;float:right;">
                                <button (click)="openChangePassword()" mat-raised-button color="green" class="m-1">
                                    <mat-icon class="icon-sm">rotate_right</mat-icon>
                                </button>
                            </div>
                            <div style="margin-right:70px;">
                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>account.password</mat-label>
                                    <input required matInput formControlName="password" placeholder="Mật khẩu 6 đến 12 ký tự" type="password" maxlength="1000">
                                    <mat-error *ngIf="form.controls.password.errors?.required" translate>
                                        validate.required</mat-error>
                                    <mat-error *ngIf="form.controls.password.hasError('minlength')" translate [translateParams]="{n: '6'}">validate.minlength</mat-error>
                                    <mat-error *ngIf="form.controls.password.hasError('maxlength')" translate [translateParams]="{n: '12'}">validate.maxlength</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.languageId</mat-label>
                                <mat-select required formControlName="languageId" placeholder="Chọn">
                                    <mat-option value="0">Chọn</mat-option>
                                    <mat-option *ngFor="let item of categoryData.languages; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.languageId.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.status</mat-label>
                                <mat-select required formControlName="status">
                                    <mat-option [value]="0"><span translate>account.status-0</span></mat-option>
                                    <mat-option [value]="1"><span translate>account.status-1</span></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.maxBookingBike</mat-label>
                                <input required matInput formControlName="maxBookingBike" placeholder="" type="number" maxlength="100">
                            </mat-form-field>
                        </div>
                    </div>

                    <span class="label-note">
                        <span translate>Thông tin cá nhân</span>
                    </span>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.fullName</mat-label>
                                <input required matInput formControlName="fullName" type="text" maxlength="100">
                                <mat-error *ngIf="form.controls.fullName.errors?.required" translate>validate.required
                                </mat-error>
                                <mat-error *ngIf="form.controls.fullName.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.fullName.hasError('maxlength')" translate [translateParams]="{n: '100'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.birthday</mat-label>
                                <input matInput formControlName="birthday" [matDatepicker]="pickerBirthday">
                                <mat-datepicker-toggle matSuffix [for]="pickerBirthday"></mat-datepicker-toggle>
                                <mat-datepicker #pickerBirthday></mat-datepicker>
                                <mat-error *ngIf="form.controls.birthday.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.sex</mat-label>
                                <mat-select formControlName="sex">
                                    <mat-option [value]="0"><span translate>Nữ</span></mat-option>
                                    <mat-option [value]="1"><span translate>Nam</span></mat-option>
                                    <mat-option [value]="2"><span translate>Khác</span></mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.sex.errors?.required" translate>validate.required
                                </mat-error>
                            </mat-form-field>

                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>account.email</mat-label>
                                <input matInput formControlName="email" placeholder="Tối đa 100 ký tự" type="text" maxlength="100">
                                <mat-error *ngIf="form.controls.email.hasError('maxlength')" translate [translateParams]="{n: '100'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>account.address</mat-label>
                        <input matInput formControlName="address" placeholder="" rows="2" maxlength="200">
                        <mat-error *ngIf="form.controls.address.errors?.required" translate>validate.required
                        </mat-error>
                        <mat-error *ngIf="form.controls.address.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.address.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>account.note</mat-label>
                        <textarea matInput formControlName="note" placeholder="" rows="5" maxlength="2000"></textarea>
                        <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate [translateParams]="{n: '2000'}">validate.maxlength</mat-error>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>