<div class="header-t">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title"><span translate>role.title</span></div>
      <ol class="breadcrumb">
        <li><a routerLink="/"><span translate>base.home</span></a></li>
        <li class="active"><span translate>role.title-l</span></li>
      </ol>
    </div>
  </div>
</div>
<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh">
        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>base.keyword</mat-label>
              <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off"
                placeholder="Từ khóa tìm kiếm" type="text">
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="primary" (click)="search()" class="m-5px">
              <mat-icon class="icon-sm icon-btn">search</mat-icon>
            </button>
            <button (click)="openCreateDialog(null)" mat-raised-button color="blue" class="m-5px">
              <mat-icon class="icon-sm icon-btn">add</mat-icon>
            </button>
          </div>
        </div>
        <div class="tParentLoading">
          <div *ngIf="isProcess.listDataTable" class="tloading">
            <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
              <div class="loader">loading</div>
            </div>
          </div>
          <div id="scroll_table" class="scroll-table" [style.height.px]="[heightTable]"
            style="overflow-y: auto; overflow-x: hidden;">
            <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData"
              (matSortChange)="handleSortData($event)">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"> <span
                    translate>base.order</span> </th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                  {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear> <span
                    translate>role.name</span> </th>
                <td mat-cell *matCellDef="let element"> <span class="text-name">{{element.name}}</span> </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef width="200" matSortDisableClear> <span
                    translate>role.typeName</span> </th>
                <td mat-cell *matCellDef="let element"> <span>{{element.typeName}}</span> </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th width="90" mat-header-cell *matHeaderCellDef><span translate>base.action</span> </th>
                <td mat-cell *matCellDef="let element">
                  <button (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
                    <mat-icon class="icon-sm">edit</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)"
            [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isProcess.dialogOpen" class="pageLoadding">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">loading</div>
  </div>
</div>