<div class="header-t">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>import-bill.title</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>import-bill.title-l</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh">
        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="30" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>import-bill.warehouseId</mat-label>
              <mat-select [(ngModel)]="params.warehouseId" [(value)]="params.warehouseId" placeholder="Tất cả">
                <mat-option value=""><span translate>base.all</span></mat-option>
                <mat-option *ngFor="let item of warehousesT; index as i" [value]="item.id.toString()">{{ item.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Ngày lập phiếu từ</mat-label>
              <input [(ngModel)]="params.from" matInput [matDatepicker]="pickerFrom">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Ngày lập phiếu đến</mat-label>
              <input [(ngModel)]="params.to" matInput [matDatepicker]="pickerTo">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="30" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>base.searchKey</mat-label>
              <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off"
                placeholder="Mã số phiếu" type="text">
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>import-bill.status</mat-label>
              <mat-select [(ngModel)]="params.status" [(value)]="params.status" placeholder="Tất cả">
                <mat-option value=""><span translate>base.all</span></mat-option>
                <mat-option value="0"><span translate>import-bill.status-0</span></mat-option>
                <mat-option value="1"><span translate>import-bill.status-1</span></mat-option>
                <mat-option value="2"><span translate>import-bill.status-2</span></mat-option>
                <mat-option value="3"><span translate>import-bill.status-3</span></mat-option>
                <mat-option value="4"><span translate>import-bill.status-4</span></mat-option>
                <mat-option value="5"><span translate>import-bill.status-5</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="primary" (click)="search()" class="m-5px">
              <mat-icon class="icon-sm icon-btn">search</mat-icon>
            </button>
            <button roles-is="160" (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-5px">
              <mat-icon class="icon-sm icon-btn">add</mat-icon>
            </button>
          </div>

        </div>
        <div class="tParentLoading">
          <div *ngIf="isProcess.listDataTable" class="tloading">
            <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
              <div class="loader">Loading...</div>
            </div>
          </div>
          <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
            <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData"
              (matSortChange)="handleSortData($event)">

              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span
                    translate>base.order</span></th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                  {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.id</span></th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.code</span></th>
                <td mat-cell *matCellDef="let element">
                  <strong>{{element.code}}</strong>
                  <div><span class="">{{element.dateBill | date: 'dd/MM/yyyy'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="dateBill">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.dateBill</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="">{{element.dateBill | date: 'dd/MM/yyyy'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.total</span></th>
                <td mat-cell *matCellDef="let element">
                  <strong class="text-success">{{appCommon.formatMoney(element.total,0,3)}}</strong>
                </td>
              </ng-container>

              <ng-container matColumnDef="receiverUser">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.receiverUser</span></th>
                <td mat-cell *matCellDef="let element"> {{element.receiverUser}} </td>
              </ng-container>

              <ng-container matColumnDef="warehouseId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.warehouseId</span></th>
                <td mat-cell *matCellDef="let element">
                  {{ appCommon.getObj(categoryData.warehouses, element.warehouseId)}}
                </td>
              </ng-container>

              <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef><span translate>import-bill.note</span></th>
                <td mat-cell *matCellDef="let element"> {{element.note}} </td>
              </ng-container>

              <ng-container matColumnDef="files">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.files</span></th>
                <td mat-cell *matCellDef="let element"> {{element.files}} </td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.type</span></th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.type == 0" translate>import-bill.type-0</span>
                  <span *ngIf="element.type == 1" translate>import-bill.type-1</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.status</span></th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.status == 0" translate>import-bill.status-0</span>
                  <span *ngIf="element.status == 1" translate>import-bill.status-1</span>
                  <span *ngIf="element.status == 2" translate>import-bill.status-2</span>
                  <span *ngIf="element.status == 3" translate>import-bill.status-3</span>
                  <span *ngIf="element.status == 4" translate>import-bill.status-4</span>
                  <span *ngIf="element.status == 5" translate>import-bill.status-5</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="pCUConfirm">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.pCUConfirm</span></th>
                <td mat-cell *matCellDef="let element"> {{element.pCUConfirm}} </td>
              </ng-container>

              <ng-container matColumnDef="pCUUser">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.pCUUser</span></th>
                <td mat-cell *matCellDef="let element"> {{element.pCUUser}} </td>
              </ng-container>

              <ng-container matColumnDef="tKVTSConfirm">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.tKVTSConfirm</span></th>
                <td mat-cell *matCellDef="let element"> {{element.tKVTSConfirm}} </td>
              </ng-container>

              <ng-container matColumnDef="tKVTSUser">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.tKVTSUser</span></th>
                <td mat-cell *matCellDef="let element"> {{element.tKVTSUser}} </td>
              </ng-container>

              <ng-container matColumnDef="bODVTSConfirm">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.bODVTSConfirm</span></th>
                <td mat-cell *matCellDef="let element"> {{element.bODVTSConfirm}} </td>
              </ng-container>

              <ng-container matColumnDef="bODVTSUser">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.bODVTSUser</span></th>
                <td mat-cell *matCellDef="let element"> {{element.bODVTSUser}} </td>
              </ng-container>

              <ng-container matColumnDef="completeConfirm">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.completeConfirm</span></th>
                <td mat-cell *matCellDef="let element"> {{element.completeConfirm}} </td>
              </ng-container>

              <ng-container matColumnDef="completeUser">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.completeUser</span></th>
                <td mat-cell *matCellDef="let element"> {{element.completeUser}} </td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th width="130" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.createdUser</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.createdUserObject?.displayName}}</span></div>
                  <div><span class="">{{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="createdUser">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>import-bill.createdUser</span></th>
                <td mat-cell *matCellDef="let element"> {{element.createdUser}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th width="90" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
                <td mat-cell *matCellDef="let element">
                  <button *ngIf="element.approveBillPermission" roles-is="159"
                    (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
                    <mat-icon class="icon-sm">edit</mat-icon>
                  </button>
                  <button *ngIf="!element.approveBillPermission && element.status != 5" roles-is="159"
                    (click)="openEditDialog(element)" mat-raised-button color="green" class="m-1 btn-grid">
                    <mat-icon class="icon-sm">edit</mat-icon>
                  </button>
                  <button *ngIf="element.status == 5" roles-is="159" (click)="openEditDialog(element)" mat-raised-button
                    color="blue" class="m-1 btn-grid">
                    <mat-icon class="icon-sm">search</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div #paginator_rec>
            <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)"
              [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>