<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>model.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>model.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">


                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>station.producerId</mat-label>
                        <mat-select formControlName="producerId" [(value)]="data.producerId" placeholder="Chọn nhà sản xuất">
                            <mat-option value="0">Chọn nhà sản xuất</mat-option>
                            <mat-option *ngFor="let item of categoryData.producers; index as i;" [value]="item.id">{{item.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.producerId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>model.name</mat-label>
                        <input matInput formControlName="name" placeholder="" type="text" maxlength="1000">

                        <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required</mat-error>

                        <mat-error *ngIf="form.controls.name.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>