<div class="header-t">
    <div fxLayout="row wrap">
        <div fxFlex="100" class="flex-p-15">
            <div class="breadcrumb_title"><span translate>user-change-password.title</span></div>
            <ol class="breadcrumb">
                <li><a routerLink="/"><span translate>base.home</span></a></li>
                <li class="active"><span translate>user-change-password.title-l</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="can-page">
    <div fxLayout="column">
        <div class="flex-p-15 fix-page">
            <div fxLayout="row wrap" fxLayoutAlign="center">
                <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="60" class="flex-p">
                    <mat-card class="list">
                        <mat-card-content>
                            <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                                <div class="rows">
                                       <div class="col-md-12">
                                        <div style="height: 10px;"></div>
                                        <h3 class="title-form-name text-center text-danger" translate>user-change-password.title-l</h3>

                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>user-change-password.oldPassword</mat-label>
                                            <input required matInput formControlName="oldPassword" type="password" minlength="5" maxlength="15">
                                            <mat-error *ngIf="form.controls.oldPassword.errors?.required" translate>validate.required</mat-error>
                                            <mat-error *ngIf="form.controls.oldPassword.hasError('minlength')" translate [translateParams]="{n: '5'}">validate.minlength</mat-error>
                                            <mat-error *ngIf="form.controls.oldPassword.hasError('maxlength')" translate [translateParams]="{n: '15'}">validate.maxlength</mat-error>
                                        </mat-form-field>
                
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>user-change-password.newPassword</mat-label>
                                            <input required matInput formControlName="newPassword" type="password" minlength="5" maxlength="15">
                                            <mat-error *ngIf="form.controls.newPassword.errors?.required" translate>validate.required</mat-error>
                                            <mat-error *ngIf="form.controls.newPassword.hasError('minlength')" translate [translateParams]="{n: '5'}">validate.minlength</mat-error>
                                            <mat-error *ngIf="form.controls.newPassword.hasError('maxlength')" translate [translateParams]="{n: '15'}">validate.maxlength</mat-error>
                                            <mat-error *ngIf="form.get('newPassword').hasError('invalidPasswordStrong')" translate>validate.invalidPasswordStrong</mat-error>    
                                        </mat-form-field>

                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>user-change-password.confirmPassword</mat-label>
                                            <input required matInput formControlName="confirmPassword" type="password" minlength="5" maxlength="15">
                                            <mat-error *ngIf="form.controls.confirmPassword.errors?.required" translate>validate.required</mat-error>
                                            <mat-error *ngIf="form.controls.confirmPassword.hasError('minlength')" translate [translateParams]="{n: '5'}">validate.minlength</mat-error>
                                            <mat-error *ngIf="form.controls.confirmPassword.hasError('maxlength')" translate [translateParams]="{n: '15'}">validate.maxlength</mat-error>
                                            <mat-error *ngIf="form.get('confirmPassword').hasError('invalidComparePassword')" translate>validate.invalidPasswordStrong2</mat-error>
                                        </mat-form-field>

                                        <div class="text-center">
                                            <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1"
                                            [disabled]="isProcess.saveProcess||!form.valid">
                                            <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                                            <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
                                            <span translate>button.save</span>
                                        </button>

                                        </div>
                                    </div> 
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                  </div> 
            </div> 
        </div>
    </div>
</div>