﻿@model TN.Domain.Model.StationConfigModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý xe đạp";
    Layout = null;
}
<form class="ajaxValidateForm usergroup" asp-action="Edit">
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title"><i class="material-icons">edit</i> CẬP NHẬT CẤU HÌNH TRẠM XE</h4>
    </div>
    <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        <div class="divmodal">
            <div class="form-group">
                <label class="form-label" asp-for="Name"></label><span asp-validation-for="Name"></span>
                <div class="controls">
                    <input type="text" class="form-control input-sm form-control-t" placeholder="Tên cấu hình" asp-for="Name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="form-label" asp-for="ServerIP"></label> <strong class="text-danger">*</strong> <span asp-validation-for="ServerIP"></span>
                        <div class="controls">
                            <input type="text" class="form-control input-sm form-control-t ip" placeholder="Địa chỉ IP" asp-for="ServerIP">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label" asp-for="ServerPort"></label> <strong class="text-danger">*</strong> <span asp-validation-for="ServerPort"></span>
                        <div class="controls">
                            <input type="number" class="form-control input-sm form-control-t" placeholder="Cổng" asp-for="ServerPort">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Note"></label> <span asp-validation-for="Note"></span>
                <div class="controls">
                    <textarea type="text" class="form-control input-sm form-control-t" rows="2" placeholder="Mô tả" asp-for="Note"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <input type="checkbox" id="md_cb_1" class="filled-in chk-col-green" asp-for="IsDefault">
                    <label class="form-label" for="md_cb_1">Tích để chọn làm cấu hình mặc định</label>
                </div>
                <div class="col-red noteinfo">* Nếu tích vào chọn làm cấu hình mặc định thì cấu hình mặc định cũ sẽ tự động bỏ chọn mặc định.</div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Status"></label>
                <div class="controls">
                    <ul class="list-unstyled">
                        <li>
                            <input type="radio" class="with-gap radio-col-green" id="radio_1" asp-for="Status" value="@TN.Domain.Model.StationConfig.EStatus.Active">
                            <label for="radio_1">Sử dụng</label>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input type="radio" class="with-gap radio-col-orange" id="radio_0" asp-for="Status" value="@TN.Domain.Model.StationConfig.EStatus.Inactive">
                            <label for="radio_0">Không sử dụng</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a class="close" data-dismiss="modal" style="display:none;"></a>
        <a class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Đóng</span></a>
        <a data-checked data-role-26 data-action="@Url.Action("Delete",new { id = Model.Id})" data-returnurl="@TN.Extensions.Functions.FormatReturnUrl(Context.Request.Query["returnurl"], Url.Action("Index"))" class="btn btn-icon btn-danger waves-effect btndelete"><i class="material-icons">delete_forever</i> <span>Xóa</span></a>
        <a data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" class="btn btn-icon bg-indigo waves-effect ajaxSubmit"><i class="material-icons">save</i> <span>Lưu thay đổi</span></a>
    </div>
</form>

<script>
    initAjaxSubmit(function (rs) {
        alertify.notify(rs.message, rs.type, 5);
        if (rs.output == 1) {
            $(".close").click();
            reGetDataGrid();
        }
    });
    initAjaxDelete();
</script>

