﻿@model TN.Domain.Model.BaseSearchModel<List<TN.Domain.Model.StationConfig>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    int i = 1;
}
@if (Model.TotalRows == 0)
{
    <tr>
        <td colspan="999">Không tìm thấy bản ghi nào</td>
    </tr>
}
@foreach (var item in Model.Data)
{
    <tr>
        <td class="text-center trcheck"><input type="checkbox" id="item_@i" class="filled-in chk-col-indigo" /><label for="item_@i"></label></td>
        <td class="text-primary text-name">@item.Name</td>
        <td>@item.ServerIP</td>
        <td>@item.ServerPort</td>
        <td>
            @if (item.IsDefault == true)
            {
                <i class="material-icons col-green">check_box</i>
            }
        </td>
        <td>
            @if (item.Status == TN.Domain.Model.StationConfig.EStatus.Active)
            {
                <span class="badge bg-green">Sử dụng</span>
            }
            else
            {
                <span class="badge bg-orange">Không sử dụng</span>
            }
        </td>
        <td>
            <div class="btn-group">
                <div class="btn-group btn- group-sm" role="group">
                    <a data-checked data-role-25 data-namemodal="#myModal" asp-action="Edit" asp-route-id="@item.Id" title="Chỉnh sửa" class="btn bg-indigo waves-effect btnPopup btncontrolgrid"><i class="material-icons iconcontrol">edit</i></a>
                </div>
            </div>
        </td>
    </tr>
    i++;
}
<script>
    initPopup();
    bindPagination("#bindPagination", "getDataGrid", @Model.Page, @Model.TotalRows, @Model.Limit);
    bindNumRow("#showNumRow", @Model.Page, @Model.TotalRows, @Model.Limit);
</script>