﻿@model TN.Domain.Model.ManagerRegisterModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý tài khoản quản trị";
    Layout = null;
}
<form class="ajaxValidateForm usergroup" asp-action="Create">
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title"><i class="material-icons">person_add</i> THÊM MỚI TÀI KHOẢN QUẢN TRỊ</h4>
    </div>
    <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        <div class="divmodal">
            <div class="form-group">
                <label class="form-label" asp-for="Email"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Email"></span>
                <div class="controls">
                    <input type="text" class="form-control input-sm form-control-t" placeholder="Tên tài khoản" asp-for="Email">
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Password"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Password"></span>
                <div class="controls">
                    <input type="password" class="form-control input-sm form-control-t" placeholder="Mật khẩu" asp-for="Password">
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="ConfirmPassword"></label> <strong class="text-danger">*</strong> <span asp-validation-for="ConfirmPassword"></span>
                <div class="controls">
                    <input type="password" class="form-control input-sm form-control-t" placeholder="Mật khẩu" asp-for="ConfirmPassword">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a class="close" data-dismiss="modal" style="display:none;"></a>
        <a class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Đóng</span></a>
        <a data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" class="btn btn-icon bg-indigo waves-effect ajaxSubmit"><i class="material-icons">save</i> <span>Lưu thay đổi</span></a>
    </div>
</form>
<script>
    initAjaxSubmit();
</script>
