﻿@model TN.Domain.Model.UserEditManagerModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý tài khoản quản trị";
    Layout = null;
}
<form class="ajaxValidateForm usergroup" asp-action="Edit">
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title"><i class="material-icons">edit</i> CẬP NHẬT TÀI KHOẢN QUẢN TRỊ</h4>
    </div>
    <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        <div class="divmodal p-t-0 p-b-0">
            <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-t" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#tab1" data-toggle="tab">
                            <i class="material-icons">face</i> Thông tin chung
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#tab2" data-toggle="tab">
                            <i class="material-icons">group</i> Thiết lập & phân quyền tài khoản
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#tab3" data-toggle="tab">
                            <i class="material-icons">refresh</i> Đổi mật khẩu
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="labelinfo-t bg-info mb-10">
                                    Ảnh đại diện
                                </div>
                                <div class="thumbnail imgfull avatar m-b-10">
                                    <div class="image">
                                        <img alt="avatar" onerror="this.onerror=null;this.src = '/Content/Admin/images/no-avatar.jpg';" src="@(Model.Avatar??" ")" class="img-responsive imgAvatar">
                                    </div>
                                </div>
                                <div>
                                    <button data-checked data-role-9 data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Chọn file ảnh</span>" type="button" onclick="document.getElementById('file').click()" id="btnChosefile" class="btn btn-primary btn-sm"><i class="material-icons">file_upload</i> <span>Chọn file ảnh</span></button>
                                    <input data-url="@Url.Action("UploadAvatar",new { id=Model.Id})" data-id="@Model.Id" type="file" name="dbFile" id="file" class="inputfile hide chosefileupload" />
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="form-label" asp-for="UserName"></label> <strong class="text-danger">*</strong> <span asp-validation-for="UserName"></span>
                                    <div class="controls">
                                        <input type="text" disabled="disabled" class="form-control input-sm form-control-t" placeholder="Tên tài khoản" asp-for="UserName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="DisplayName"></label> <strong class="text-danger">*</strong> <span asp-validation-for="DisplayName"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control input-sm form-control-t" placeholder="Tên hiển thị" asp-for="DisplayName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="PhoneNumber"></label>  <span asp-validation-for="PhoneNumber"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control input-sm form-control-t" placeholder="Số điện thoại" asp-for="PhoneNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="Note"></label> <span asp-validation-for="Note"></span>
                                    <div class="controls">
                                        <textarea type="text" class="form-control input-sm form-control-t" rows="2" placeholder="Đôi nét" asp-for="Note"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab2">
                        <div class="form-group">
                            <label class="form-label" asp-for="Roles"></label> <span asp-validation-for="Roles"></span>
                            <select data-live-search="true" onchange="onChangeRole()" asp-for="Roles" asp-items="Model.RoleSelectListItem" class="form-control input-sm form-control-t show-tick" multiple></select>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" asp-for="IsLock" class="filled-in chk-col-red" />
                            <label for="IsLock" asp-for="IsLock"></label>
                        </div>
                        <div class="form-group" id="divNoteLock" style="display:none;">
                            <label class="form-label" asp-for="NoteLock"></label> <span asp-validation-for="NoteLock"></span>
                            <div class="controls">
                                <textarea type="text" class="form-control input-sm form-control-t" rows="2" placeholder="Đôi nét" asp-for="NoteLock"></textarea>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab3">
                        <div class="form-group">
                            <input type="checkbox" asp-for="IsChangePassword" class="filled-in chk-col-red" />
                            <label for="IsChangePassword" asp-for="IsChangePassword"></label>
                        </div>
                        <div style="display:none;" class="form-group" id="divChangePassword">
                            <label class="form-label" asp-for="NewPassword"></label> <span asp-validation-for="NewPassword"></span>
                            <div class="controls">
                                <input disabled type="password" value="" class="form-control input-sm form-control-t" placeholder="Mật khẩu mới" asp-for="NewPassword">
                            </div>
                            <span class="inputInfo">Ví dụ: Matkhau@168</span>
                        </div>
                    </div>
                    <input type="hidden" name="isChange" value="false" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a class="close" data-dismiss="modal" style="display:none;"></a>
        <a class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Đóng</span></a>
        <button data-action="@Url.Action("Delete",new { id = Model.Id})" data-returnurl="@TN.Extensions.Functions.FormatReturnUrl(Context.Request.Query["returnurl"], Url.Action("Index"))" data-checked data-role-8 data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Xóa</span>" type="button" class="btn btn-icon  btn-p-t  btn-danger waves-effect btndelete"><i class="material-icons">delete_forever</i> <span>Xóa</span></button>
        <a data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" class="btn btn-icon bg-indigo waves-effect ajaxSubmit"><i class="material-icons">save</i> <span>Lưu thay đổi</span></a>
    </div>
</form>
<script>
    onCheckLock();
    $("#IsChangePassword").change(function () {
        onChangePassword();
    });
    $("#IsLock").change(function () {
        onCheckLock();
    });

    initAjaxSubmit();
    initAjaxDelete();
    intitFileUpload(function (rs, $this) {
        alertify.notify(rs.message, rs.type, 5);
        if (rs.output == 1) {
            var newSrc = rs.data + "?v=" + Math.random();
            $(".imgAvatar").attr("src", newSrc);
            reGetDataGrid();
        }
        setTimeout(function () {
            $this.button('reset');
        }, 300);
    });
    function onChangePassword() {
        if ($("#IsChangePassword").prop("checked")) {
            $("#divChangePassword").show();
            $("#NewPassword").removeAttr("disabled");
        }
        else {
            $("#divChangePassword").hide();
            $("#NewPassword").attr("disabled","disabled");
        }
        $("#NewPassword").val("");
    }
    function onCheckLock() {
        if ($("#IsLock").prop("checked")) {
            $("#divNoteLock").show();
        }
        else {
            $("#divNoteLock").hide();
        }
    }
    function onChangeRole() {
        $("input[name='isChange']").val(true);
    }
</script>
