﻿@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, TN.UI
@{
    ViewData["Title"] = "Quản lý tài khoản quản trị";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<form>
    <div class="block-header">
        <h2><i class="material-icons">person</i> QUẢN LÝ TÀI KHOẢN QUẢN TRỊ <span class="label label-danger label-t">Danh sách</span></h2>
        <ol class="breadcrumb breadcrumb-t">
            <li>
                <a href="/Admin">
                    <i class="material-icons">home</i> Trang điều khiển
                </a>
            </li>
            <li class="active">
                Danh sách tài khoản quản trị
            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="input-group">
                <div class="input-group-addon input-group-addon-t">
                    <span class="text-addonsearch">Tìm kiếm</span>
                </div>
                <div class="divcansearch">
                    <input type="text" name="key" class="form-control inputsearch keywidth" placeholder="Tìm kiếm theo từ tên tài khoản, số điện thoại, tên hiển thị...">
                    <div class="searchExtensionForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group clearfix">
                                    <label class="form-label">Thuộc quyền</label>
                                    <div class="controls">
                                        <select data-live-search="true" asp-items="@((SelectList)ViewData["RoleSelectListItem"])" name="roleId" class="input-sm form-control-t show-tick">
                                            <option selected value="">Tất cả</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="form-label">Trạng thái tài khoản</label>
                                    <div class="controls">
                                        <select asp-items="@((SelectList)ViewData["LockSelectListItem"])" name="isLock" class="input-sm form-control-t show-tick"></select>
                                    </div>
                                </div>

                                <div class="canBtnSe">
                                    <button onclick="closeSearchExtension()" type="button" class="btn btn-default waves-effect"><i class="material-icons">reply</i> <span>Đóng</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="input-group-addon btn-group-addon">
                    <button onclick="getDataGrid(1)" type="button" class="btn bg-indigo waves-effect btn-search"><i class="material-icons">search</i></button>
                </span>
                <a class="searchExtension" title="Tìm kiếm nâng cao"><i class="material-icons">keyboard_arrow_down</i></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <a data-checked data-role-6 data-namemodal="#myModal" asp-action="Create" class="btn btn-icon btn-primary btnPopup waves-effect"><i class="material-icons">person_add</i> <span>Thêm tài khoản</span></a>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card card-t card-loading">
                <div class="header bg-indigo">
                    <h4 class="num-t m-l-20" id="showNumRow">
                        Đang tải...
                    </h4>
                    <ul class="header-dropdown m-r--5 header-dropdown-t">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">apps</i>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                @* <li><a href="javascript:void(0);">Khóa tài khoản đã chọn</a></li>*@
                                <li><a href="javascript:void(0);">Đóng lại</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="controlOrderBy">
                        <div style="width:110px;" class="itemorder selectOrder">
                            <select onchange="getDataGrid(1)" data-header="Loại sắp xếp" name="ordertype" class="form-control input-sm form-control-t show-tick">
                                <option data-icon="glyphicon-sort-by-attributes" value="asc">Tăng dần</option>
                                <option data-icon="glyphicon-sort-by-attributes-alt" value="desc">Giảm dần</option>
                            </select>
                        </div>
                        <div style="width:180px;" class="itemorder selectOrder">
                            <select onchange="getDataGrid(1)" data-header="Xắp xếp theo" name="orderby" class="form-control input-sm form-control-t show-tick">
                                <option data-icon="glyphicon glyphicon-sort" value="username">Xếp theo tên tài khoản</option>
                                <option data-icon="glyphicon glyphicon-sort" value="displayname">Xếp theo tên hiển thị</option>
                                <option data-icon="glyphicon glyphicon-sort" value="createddate">Xếp theo thời gian tạo</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="body body-t">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-t">
                            <thead>
                                <tr>
                                    <th class="trcheck text-center"><input onchange="onCheckAll(this,'.trcheck')" type="checkbox" id="checkAll" class="filled-in chk-col-indigo" /><label for="checkAll"></label></th>
                                    <th>Ảnh</th>
                                    <th>Tên tài khoản</th>
                                    <th>Tên hiển thị</th>
                                    <th>Số điện thoại</th>
                                    <th style="max-width:300px;width: 300px;">Quyền</th>
                                    <th>Khóa</th>
                                    <th data-checked data-role-7 style="width:100px;">Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="dataBindGrid" class="contenttbody">
                            </tbody>
                        </table>
                    </div>
                    <div class="pl-20 pr-20">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="input-group m-b-0">
                                    <span class="input-group-addon">
                                        Bản ghi/trang
                                    </span>
                                    <div class="form-line form-line-t form-line-pagesize">
                                        <select name="limit" onchange="getDataGrid(1)" class="form-control show-tick">
                                            <option selected value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <nav class="pg-t" id="bindPagination">
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        var _page = 1;
        $(function () {
            initSearchExtension();
            getDataGrid(1, true);
        });
        function getDataGrid(page, first = false) {
            closeSearchExtension();
            _page = page;
            var data = {
                page: getQueryString(first,$.queryString.page,page),
                key: getQueryString(first, $.queryString.key, $("input[name='key']").val()),
                roleId: getQueryString(first, $.queryString.roleId, $("select[name='roleId']").val()),
                isLock: getQueryString(first, $.queryString.isLock, $("select[name='isLock']").val()),
                limit: getQueryString(first, $.queryString.limit, $("select[name='limit']").val()),
                ordertype: getQueryString(first, $.queryString.ordertype, $("select[name='ordertype']").val()),
                orderby: getQueryString(first, $.queryString.orderby, $("select[name='orderby']").val()),
            };
            dataGridView(first, page, data, "@Url.Action("Index")", true, function () { 
                $("select[name='limit']").val(data.limit).selectpicker('refresh');
                $("input[name='key']").val(data.key);
                $("select[name='roleId']").val(data.roleId).selectpicker('refresh');
                $("select[name='isLock']").val(data.isLock).selectpicker('refresh');
                $("select[name='ordertype']").val(data.limit).selectpicker('refresh');
                $("select[name='orderby']").val(data.limit).selectpicker('refresh');
            });
        }
        function reGetDataGrid() {
            getDataGrid(_page, false);
        }
       
    </script>
}
