

<button mat-icon-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger" >
    <mat-icon>account_circle</mat-icon>
</button>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu user-menu">
    <!--<span (mouseleave)="userMenuTrigger.closeMenu()">-->
        <a mat-menu-item routerLink="/admin/profiles"> 
            <mat-icon>person</mat-icon>
            <span>Thông tin tài khoản</span> 
        </a>
        <a mat-menu-item routerLink="/admin/profiles/change-password"> 
            <mat-icon>settings</mat-icon>
            <span>Đổi mật khẩu</span> 
        </a>
        <div class="divider"></div>
        <a mat-menu-item routerLink="/login"> 
            <mat-icon>power_settings_new</mat-icon>
            <span>Log out</span> 
        </a>
    <!--</span>-->
</mat-menu>