﻿@model TN.Domain.Model.StationModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý trạm";
    Layout = null;
}
<form class="ajaxValidateForm usergroup" asp-action="Create">
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title"><i class="material-icons">account_balance</i> THÊM MỚI TRẠM XE</h4>
    </div>

    <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        <div class="divmodal">
            <div class="form-group">
                <label class="form-label" asp-for="Name"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Name"></span>
                <div class="controls">
                    <input type="text" class="form-control input-sm form-control-t" placeholder="Tên trạm" asp-for="Name">
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" asp-for="Model"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Model"></span>
                        <div class="controls">
                            <input type="text" class="form-control input-sm form-control-t" placeholder="Model" asp-for="Model">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="IMEI"></label> <strong class="text-danger">*</strong> <span asp-validation-for="IMEI"></span>
                        <div class="controls">
                            <input type="text" class="form-control input-sm form-control-t" placeholder="IMEI" asp-for="IMEI">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" asp-for="SerialNumber"></label> <strong class="text-danger">*</strong> <span asp-validation-for="SerialNumber"></span>
                        <div class="controls">
                            <input type="text" class="form-control input-sm form-control-t" placeholder="Số Serial" asp-for="SerialNumber">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="StationConfigId"></label> <span asp-validation-for="StationConfigId"> <strong class="text-danger">*</strong> </span>
                        <select asp-for="StationConfigId" asp-items="@((SelectList)ViewData["StationIdSelectListItem"])" class="form-control input-sm form-control-t show-tick">
                            <option value="" selected>Chọn cấu hình</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" asp-for="Address"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Address"></span>
                        <div class="controls">
                            <input type="text" class="form-control input-sm form-control-t" placeholder="Địa chỉ" asp-for="Address">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Vị trí bản đồ</label>
                        <div class="input-group input-group-t">
                            <div class="input-group-addon br-none">
                                @Html.DisplayNameFor(m => m.Lng)
                            </div>
                            <input type="text" class="form-control input-sm form-control-t" placeholder="Kinh độ" asp-for="Lng">
                            <div class="input-group-addon blr-none">
                                @Html.DisplayNameFor(m => m.Lat)
                            </div>
                            <input type="text" class="form-control input-sm form-control-t" placeholder="Vĩ độ" asp-for="Lat">
                            <div class="input-group-btn">
                                <button data-toggle="modal" data-target="#modalMapPicker" type="button" class="btn btn-icon btn-info waves-effect button-group-t btnPopup"><i class="material-icons">add_location</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Status"></label>
                <div class="controls">
                    <ul class="list-unstyled">
                        <li>
                            <input type="radio" class="with-gap radio-col-green" id="radio_1" asp-for="Status" value="1">
                            <label for="radio_1">Sử dụng</label>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input type="radio" class="with-gap radio-col-orange" id="radio_0" asp-for="Status" value="0" checked>
                            <label for="radio_0">Không sử dụng</label>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input type="radio" class="with-gap radio-col-red" id="radio_2" asp-for="Status" value="2">
                            <label for="radio_2">Lỗi</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a class="close" data-dismiss="modal" style="display:none;"></a>
        <a class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Đóng</span></a>
        <a data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" class="btn btn-icon bg-indigo waves-effect ajaxSubmit"><i class="material-icons">save</i> <span>Lưu thay đổi</span></a>
    </div>
</form>
<script>
    initAjaxSubmit();
    initMarker(0, 0);
</script>
