﻿@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, TN.UI
@inject Microsoft.Extensions.Options.IOptions<TN.Domain.Model.BaseSettings> _baseSettings

@{
    ViewData["Title"] = "Quản lý trạm";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<style>
    #modalMapPicker .modal-dialog {
        margin-top: 60px !important;
    }
</style>
<form id="formIndex">
    <div class="block-header">
        <h2><i class="material-icons">account_balance</i> Quản lý trạm xe <span class="label label-danger label-t">Danh sách</span></h2>
        <ol class="breadcrumb breadcrumb-t">
            <li>
                <a href="/Admin">
                    <i class="material-icons">home</i> Trang điều khiển
                </a>
            </li>
            <li class="active">
                Danh sách trạm xe
            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="input-group">
                <div class="input-group-addon input-group-addon-t">
                    <span class="text-addonsearch">Tìm kiếm</span>
                </div>
                <div class="divcansearch">
                    <input type="text" name="key" class="form-control inputsearch keywidth" placeholder="Tìm kiếm theo tên trạm, địa chỉ, Model, số IMEI, số Serial...">
                    <div class="searchExtensionForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group clearfix">
                                    <label class="form-label">Trạng thái sử dụng</label>
                                    <div class="controls">
                                        <select name="status" asp-items="@((SelectList)ViewData["StatusSelectListItem"])" class="input-sm form-control-t show-tick">
                                            <option selected value="">Tất cả</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="form-label">Trạng thái kết nối</label>
                                    <div class="controls">
                                        <select name="cnn" class="input-sm form-control-t show-tick">
                                            <option selected value="">Tất cả</option>
                                            <option value="false">Mất kết nối</option>
                                            <option value="true">Có kết nối</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Trạng thái dock lỗi</label>
                                    <div class="controls">
                                        <ul class="list-unstyled">
                                            <li>
                                                <input type="radio" class="with-gap radio-col-green" id="radio_1" name="errorDock" value="-1" checked>
                                                <label for="radio_1">Tất cả</label>
                                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <input type="radio" class="with-gap radio-col-green" id="radio_0" name="errorDock" value="false">
                                                <label for="radio_0">Có lỗi</label>
                                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <input type="radio" class="with-gap radio-col-green" id="radio_2" name="errorDock" value="true">
                                                <label for="radio_2">Không lỗi</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="canBtnSe">
                                    <button onclick="closeSearchExtension()" type="button" class="btn btn-default waves-effect"><i class="material-icons">reply</i> <span>Đóng</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="input-group-addon btn-group-addon">
                    <button onclick="getDataGrid(1)" type="button" class="btn bg-indigo waves-effect btn-search"><i class="material-icons">search</i></button>
                </span>
                <a class="searchExtension" title="Tìm kiếm nâng cao"><i class="material-icons">keyboard_arrow_down</i></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <a data-checked data-role-15 data-namemodal="#myModal" asp-action="Create" class="btn btn-icon btn-primary btnPopup waves-effect"><i class="material-icons">add</i> <span>Thêm mới trạm</span></a>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card card-t card-loading">
                <div class="header bg-indigo">
                    <h4 class="num-t m-l-20" id="showNumRow">
                        Đang tải...
                    </h4>
                    <ul class="header-dropdown m-r--5 header-dropdown-t">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">apps</i>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                <li class="disabled"><a>Chọn hành động</a></li>
                                <li><a href="javascript:void(0);">Sử dụng</a></li>
                                <li><a href="javascript:void(0);">Không sử dụng</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="body body-t">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-t">
                            <thead>
                                <tr>
                                    <th class="trcheck text-center"><input onchange="onCheckAll(this,'.trcheck')" type="checkbox" id="checkAll" class="filled-in chk-col-indigo" /><label for="checkAll"></label></th>
                                    <th>Tên trạm</th>
                                    <th>Địa chỉ</th>
                                    <th>Model</th>
                                    <th>IMEI</th>
                                    <th>Serial</th>
                                    <th>Dock lỗi</th>
                                    <th style="width:100px;">Kết nối</th>
                                    <th style="width:100px;">Trạng thái</th>
                                    <th data-checked data-role-16 style="width:100px;">Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="dataBindGrid" class="contenttbody"></tbody>
                        </table>
                    </div>
                    <div class="pl-20 pr-20">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Bản ghi/trang
                                    </span>
                                    <div class="form-line form-line-pagesize">
                                        <select name="limit" onchange="getDataGrid(1)" class="form-control show-tick">
                                            <option selected value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <nav class="pg-t" id="bindPagination">
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="https://maps.googleapis.com/maps/api/js?key=@_baseSettings.Value.GoogleMapKey&callback=initMap&libraries=places" async defer></script>
    <script>
        var map;
        var _page = 1;
        var marker;
        var markers = [];
        $(function () {
            initSearchExtension();
            getDataGrid(1, true);
        });
        function getDataGrid(page, first = false) {
            closeSearchExtension();
            _page = page;
            var data = {
                page: getQueryString(first,$.queryString.page , page),
                key: getQueryString(first, $.queryString.key, $("#formIndex  input[name='key']").val()),
                status: getQueryString(first, $.queryString.status, $("#formIndex  select[name='status']").val()),
                cnn: getQueryString(first, $.queryString.cnn, $("#formIndex  select[name='cnn']").val()),
                limit: getQueryString(first, $.queryString.limit, $("#formIndex  select[name='limit']").val()),
                errorDock: getQueryString(first, $.queryString.errorDock, $("#formIndex  input[name='errorDock']:radio:checked").val())
            };
            dataGridView(first, page, data, "@Url.Action("Index")", true, function () {
                $("#formIndex select[name='limit']").val(data.limit).selectpicker('refresh');
                $("#formIndex input[name='key']").val(data.key);
                $("#formIndex select[name='status']").val(data.status).selectpicker('refresh');
                $("#formIndex select[name='cnn']").val(data.cnn).selectpicker('refresh');
                $("#formIndex input[name='errorDock']:radio:checked").val(data.errorDock);
            }, "#formIndex #dataBindGrid", "#formIndex .card-loading");
        }
        function reGetDataGrid() {
            getDataGrid(_page, false);
        }
        function initMap() {
            var firsLatLng = new google.maps.LatLng(defaultLatLng.lat, defaultLatLng.lng);
            var nopoi = [
                {
                    featureType: "poi",
                    stylers: [
                        { visibility: "off" }
                    ]
                },
                {
                    featureType: 'transit.station',
                    stylers: [
                        { visibility: "off" }
                    ]
                },
            ];
            map = new google.maps.Map(document.getElementById('mapStation'), {
                center: firsLatLng,
                zoom: 15,
                mapTypeControl: false,
                styles: nopoi
            });

            google.maps.event.addListener(map, 'click', function (event) {
                mapZoom = map.getZoom();
                placeMarker(event.latLng, true, false);
            });
            initSearchMap();
        }

        function initSearchMap() {
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            map.addListener('bounds_changed', function () {
                searchBox.setBounds(map.getBounds());
            });
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();
                if (places.length == 0) {
                    return;
                }
                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function (place) {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }
                    if (place.geometry.viewport) {
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                if (places.length > 0) {
                    placeMarker(places[0].geometry.location, isInfo = true);
                }
                map.fitBounds(bounds);
            });
        }

        function initMarker(lat, lng) {
            console.log(lat)
            console.log(lng)

            var firsLatLng;
            if (lat == 0 || lng == 0) {
                firsLatLng = new google.maps.LatLng(defaultLatLng.lat, defaultLatLng.lng);
            }
            else {
                firsLatLng = new google.maps.LatLng(lat, lng);
            }
            placeMarker(firsLatLng, false);
        }

        function removeMarkers() {
            if (markers.length > 0) {
                for (i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                }
            }
        }
        function eventDragEnd(e) {
            document.getElementById('Lat').value = this.position.lat();
            document.getElementById('Lng').value = this.position.lng();
            alertify.notify("Di chuyển tọa độ thành công, có thể đóng cửa sổ này và click 'Lưu thay đổi'", "success", 5);
        }
        function placeMarker(location, isInfo = true, isSetCenter= true) {
            removeMarkers();
            marker = new google.maps.Marker({
                position: location,
                map: map,
                draggable: true,
                title: "Tọa độ trạm"
            });
            marker.addListener('dragend', eventDragEnd);
            markers.push(marker);
            document.getElementById('Lat').value = location.lat();
            document.getElementById('Lng').value = location.lng();
            if (isInfo) {
                alertify.notify("Chọn tọa độ thành công, có thể đóng cửa sổ này và click 'Lưu thay đổi'", "success", 5);
            }
            if (isSetCenter) {
                map.setCenter(location);
            }
        }
    </script>
}
<div class="modal fade" id="modalMapPicker" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" data-backdrop="static" data-keyboard="false">
        <div class="modal-content">
            <div class="modal-body modal-body-t">
                <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <input id="pac-input" style="width:300px !important" class="form-control input-sm form-control-t" type="text" title="Nhập địa chỉ ở đây" />
                <div id="mapStation" style="height:400px;"></div>
            </div>
        </div>
    </div>
</div>