﻿@model TN.Domain.Model.BaseSearchModel<List<TN.Domain.Model.Station>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    int i = 1;
}
@if (Model.TotalRows == 0)
{
    <tr>
        <td colspan="999">Không tìm thấy bản ghi nào</td>
    </tr>
}
@foreach (var item in Model.Data)
{
    <tr>
        <td class="text-center trcheck"><input type="checkbox" id="item_@i" class="filled-in chk-col-indigo" /><label for="item_@i"></label></td>
        <td><span class="text-primary text-name">@item.Name</span></td>
        <td>@item.Address</td>
        <td>@item.Model</td>
        <td>@item.IMEI</td>
        <td>@item.SerialNumber</td>
        <td>
            @if (item.ErrorDock != 0)
            {
                <span class="col-red">@item.ErrorDock</span><span>  / @item.TotalDock</span>
            }
            else
            {
                <span>@item.ErrorDock   /  @item.TotalDock</span>
            }
        </td>
        <td>
            @if (item.ConnectionStatus == true)
            {
                <i title="Đang kết nối" class="material-icons md-28 col-green">swap_horiz</i>
            }
            @if (item.ConnectionStatus == false)
            {
                <i title="Mất kết nối" class="material-icons md-24 col-red">sync_disabled</i>
            }
        </td>
        <td>
            @if (item.Status == TN.Domain.Model.Station.EStatus.Active)
            {
                <span class="badge bg-green">Sử dụng</span>
            }
            @if (item.Status == TN.Domain.Model.Station.EStatus.Inactive)
            {
                <span class="badge bg-grey">Không sử dụng</span>
            }
        </td>
        <td>
            <div class="btn-group">
                <div class="btn-group btn- group-sm" role="group">
                    <a data-checked data-role-16 asp-route-returnurl="@Model.ReturnUrl" data-namemodal="#myModal" asp-action="Edit" asp-route-id="@item.Id" title="Chỉnh sửa" class="btn bg-indigo waves-effect btnPopup btncontrolgrid"><i class="material-icons iconcontrol">edit</i></a>
                </div>
            </div>
        </td>
    </tr>
    i++;
}

<script>
    initPopup();
    bindPagination("#formIndex  #bindPagination", "getDataGrid", @Model.Page, @Model.TotalRows, @Model.Limit);
    bindNumRow("#formIndex  #showNumRow", @Model.Page, @Model.TotalRows, @Model.Limit);
</script>