﻿@model TN.Domain.Model.BaseSearchModel<List<TN.Domain.Model.Dock>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    int i = 1;
}
@if (Model.TotalRows == 0)
{
    <tr>
        <td colspan="999">Không tìm thấy bản ghi nào</td>
    </tr>
}
@foreach (var item in Model.Data)
{
    <tr>
        <td><span class="text-primary text-name">@item.IMEI</span></td>
        <td>@item.Model</td>
        <td>@item.SerialNumber</td>
        <td>@item.OrderNumber</td>
        <td>
            @if (item.BikeAlarm == true)
            {
                <span class="badge bg-green">Có xe</span>
            }
            else
            {
                <span class="badge bg-red">Không có xe</span>
            }
        </td>
        <td>
            @if (item.Status == TN.Domain.Model.Dock.EStatus.Active)
            {
                <span class="badge bg-green">Sử dụng</span>
            }
            @if (item.Status == TN.Domain.Model.Dock.EStatus.Error)
            {
                <span class="badge bg-red">Lỗi</span>
            }
            @if (item.Status == TN.Domain.Model.Dock.EStatus.Inactive)
            {
                <span class="badge bg-grey">Không sử dụng</span>
            }
        </td>
        <td>
            <div class="btn-group">
                <div class="btn-group btn- group-sm" role="group">
                    <a  asp-route-returnurl="@Model.ReturnUrl" data-namemodal="#myModalChildrent1" asp-action="Edit" asp-route-id="@item.Id" title="Chỉnh sửa" class="btn bg-indigo waves-effect btnPopup btncontrolgrid"><i class="material-icons iconcontrol">edit</i></a>
                </div>
            </div>
        </td>
    </tr>
    i++;
}

<script>
    initPopup();
    bindPagination("#tab2 #bindPagination2", "getDataDockGrid", @Model.Page, @Model.TotalRows, @Model.Limit);
    bindNumRow("#tab2 #showNumRow2", @Model.Page, @Model.TotalRows, @Model.Limit);
</script>