<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>maintenance-repair.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title [class.text-info]="data.status == 0" [class.text-success]="data.status == 1" [class.text-danger]="data.status == 2">
    <span translate>maintenance-repair.modal-edit</span> &nbsp;-
    <span *ngIf="data.status == 0" translate>maintenance-repair.status-0</span>
    <span *ngIf="data.status == 1" translate>maintenance-repair.status-1</span>
    <span *ngIf="data.status == 2" translate>maintenance-repair.status-2</span>
</h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <span class="label-note">Thông tin phiếu</span>
                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>maintenance-repair.name</mat-label>
                                <input required matInput formControlName="name" placeholder="" type="text" maxlength="200">
                                <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.name.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>maintenance-repair.warehouseId</mat-label>
                                <mat-select required formControlName="warehouseId" [(value)]="data.warehouseId" placeholder="Chọn kho">
                                    <mat-option *ngFor="let item of warehouses; index as i" [value]="item.id">{{ item.name }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.warehouseId.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>maintenance-repair.startDate</mat-label>
                                <input required matInput formControlName="startDate" [matDatepicker]="pickerStartDate">
                                <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerStartDate></mat-datepicker>
                                <mat-error *ngIf="form.controls.startDate.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>maintenance-repair.endDate</mat-label>
                                <input matInput formControlName="endDate" [matDatepicker]="pickerEndDate">
                                <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerEndDate></mat-datepicker>
                                <mat-error *ngIf="form.controls.endDate.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <app-file-upload-attached  label ="Hình ảnh trước khi sửa chữa bảo dưỡng" [viewPath]="maintenanceRepairsService.viewPath()" [params]="{ isPrivate: true }" [accept]="categoryData.imagesType" (outData)="getOutPut($event)" [multiple]="true" [apiUpload]="maintenanceRepairsService.uploadPath()" [curentFiles]="uploadFileOut"></app-file-upload-attached>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>maintenance-repair.descriptions</mat-label>
                        <textarea matInput formControlName="descriptions" rows="3" placeholder="" type="text" maxlength="2000"></textarea>
                        <mat-error *ngIf="form.controls.descriptions.hasError('maxlength')" translate [translateParams]="{n: '2000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <app-file-upload-attached label ="Hình ảnh sau khi sửa chữa bảo dưỡng" [viewPath]="maintenanceRepairsService.viewPath()" [params]="{ isPrivate: true }" [accept]="categoryData.imagesType" (outData)="getOutPutLast($event)" [multiple]="true" [apiUpload]="maintenanceRepairsService.uploadPath()" [curentFiles]="uploadLastFileOut"></app-file-upload-attached>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>maintenance-repair.lastDescriptions</mat-label>
                        <textarea matInput formControlName="lastDescriptions" rows="3" placeholder="" type="text" maxlength="2000"></textarea>
                        <mat-error *ngIf="form.controls.lastDescriptions.hasError('maxlength')" translate [translateParams]="{n: '2000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <div roles-is="185" class="text-center" style="margin-bottom: 10px;">
                        <button *ngIf="data.id > 0 && data.status == 0" type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
                            <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                            <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
                            <span translate> Cập nhật nội dung</span>
                        </button>
                    </div>
                    <span class="label-note">Thông tin bảo dưỡng bảo trị</span>
                    <span *ngIf="data.id == 0">Lập sửa chữa bảo dưỡng để sử dụng chức năng này</span>
                    <div *ngIf="data.id > 0">
                        <app-maintenance-repair-items [changing]="changingValue" [maintenanceRepair]="data"></app-maintenance-repair-items>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer" roles-is="185">
    <button *ngIf="data.id > 0 && data.status == 0" type="button" (click)="cancel()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">close</mat-icon>
        <span translate>Hủy lịch</span>
    </button>

    <button *ngIf="data.id == 0" type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate> Lập sửa chữa bảo dưỡng</span>
    </button>

    <button *ngIf="data.id > 0 && data.status == 0" type="button" (click)="approve()" mat-raised-button color="green" class="m-1">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">check</mat-icon>
        <span translate> Xác nhận xử lý xong</span>
    </button>
    <div *ngIf="data.id > 0 && data.status == 0">Chú ý khi "Xác nhận xử lý xong" sẽ không thể cập nhật, nếu sử dụng vật tư nào thì sẽ tự động trừ vật tư đó trong kho của NV điều phối</div>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>