<h1 *ngIf="data.id == 0" mat-dialog-title>
    <span translate>import-bill.modal-create</span>
</h1>
<h1 *ngIf="data.id > 0" mat-dialog-title>
    PHIẾU {{data.code}} [
    <span *ngIf="data.status==0" class="text-danger" translate>import-bill.status-0</span>
    <span *ngIf="data.status==1" class="text-success" translate>import-bill.status-1</span>
    <span *ngIf="data.status==2" class="text-success" translate>import-bill.status-2</span>
    <span *ngIf="data.status==3" class="text-success" translate>import-bill.status-3</span>
    <span *ngIf="data.status==4" class="text-success" translate>import-bill.status-4</span>
    <span *ngIf="data.status==5" class="text-success" translate>import-bill.status-5</span>
    <span *ngIf="data.status==6" class="text-success" translate>import-bill.status-6</span>
    ]
</h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" P autocomplete="new-password" role="form">

                    <span class="label-note">Thông tin phiếu</span>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>import-bill.warehouseId</mat-label>
                                <mat-select required formControlName="warehouseId" placeholder="Chọn kho">
                                    <mat-option *ngFor="let item of warehousesT; index as i"
                                        [value]="item.id">{{ item.name }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.warehouseId.errors?.required" translate>
                                    validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>import-bill.type</mat-label>
                                <mat-select required formControlName="type" placeholder="Chọn loại phiếu">
                                    <mat-option [value]="0" translate><span translate>import-bill.type-0</span>
                                    </mat-option>
                                    <mat-option [value]="1" translate><span translate>import-bill.type-1</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.type.errors?.required" translate>
                                    validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>import-bill.code</mat-label>
                                <input required matInput formControlName="code" placeholder="" type="text"
                                    maxlength="50" />
                                <mat-error *ngIf="form.controls.code.errors?.required" translate>
                                    validate.required
                                </mat-error>
                                <mat-error *ngIf="form.controls.code.hasError('minlength')" translate
                                    [translateParams]="{ n: '0' }">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.code.hasError('maxlength')" translate
                                    [translateParams]="{ n: '50' }">validate.maxlength</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>import-bill.dateBill</mat-label>
                                <input required matInput formControlName="dateBill" [matDatepicker]="pickerDateBill" />
                                <mat-datepicker-toggle matSuffix [for]="pickerDateBill"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDateBill></mat-datepicker>
                                <mat-error *ngIf="form.controls.dateBill.errors?.required" translate>
                                    validate.required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>import-bill.receiverUser</mat-label>
                                <input matInput formControlName="receiverUser" placeholder="" type="text"
                                    maxlength="200" />
                                <mat-error *ngIf="form.controls.receiverUser.errors?.required" translate>
                                    validate.required
                                </mat-error>
                                <mat-error *ngIf="form.controls.receiverUser.hasError('maxlength')" translate
                                    [translateParams]="{ n: '200' }">validate.maxlength</mat-error>
                            </mat-form-field> -->

                    <app-file-upload-attached [accept]="categoryData.imagesType" (outData)="getOutPut($event)"
                        [multiple]="true" [apiUpload]="pathUpload" [curentFiles]="[]">
                    </app-file-upload-attached>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>import-bill.note</mat-label>
                        <textarea matInput formControlName="note" placeholder="" rows="2" maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.note.errors?.required" translate>
                            validate.required
                        </mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('minlength')" translate
                            [translateParams]="{ n: '0' }">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate
                            [translateParams]="{ n: '1000' }">validate.maxlength</mat-error>
                    </mat-form-field>

                    <div class="text-center" style="padding-bottom: 10px;">
                        <button *ngIf="data.id && data.status!=5 && data.status!=0" type="button" (click)="save()"
                            mat-raised-button color="green" class="m-1"
                            [disabled]="isProcess.saveProcess || !form.valid">
                            <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew
                            </mat-icon>
                            <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
                            <span> Cập nhật nội dung</span>
                        </button>
                    </div>

                    <span class="label-note">Thông tin trang thiết bị trong phiếu</span>
                    <span *ngIf="data.id == 0" class="text-warning">(*) Vui lòng tạo phiếu để sử dụng chức năng
                        này</span>
                    <div *ngIf="data.id > 0">
                        <app-import-bill-items [importBill]="data"></app-import-bill-items>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="dialog-footer">
    <button *ngIf="data.id>0 && data.cancelBillPermission" type="button" (click)="cancel()" mat-raised-button
        color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">block</mat-icon>
        &nbsp;<span translate>button.cancel-bill</span>
    </button>

    <button *ngIf="data.id>0 && data.deniedBillPermission" type="button" (click)="denied()" mat-raised-button
        color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">block</mat-icon>
        &nbsp;
        <span *ngIf="data.status==2">Từ chối! Trả về Thủ kho VTS kiểm tra lại</span>
        <span *ngIf="data.status==3">Từ chối! Trả về Kế toán VTS kiểm tra lại</span>
        <span *ngIf="data.status==4">Từ chối! Trả về BOD VTS kiểm tra lại</span>
    </button>

    <button *ngIf="data.id==0" type="button" (click)="save()" mat-raised-button color="primary" class="m-1"
        [disabled]="isProcess.saveProcess || !form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>Tạo nháp phiếu nhập kho</span>
    </button>

    <button *ngIf="data.id>0 && data.approveBillPermission" type="button" (click)="approve()" mat-raised-button
        color="green" class="m-1" [disabled]="isProcess.saveProcess || !form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">edit</mat-icon>
        &nbsp;
        <span *ngIf="data.status==1">Thủ kho VTS ký xác nhận</span>
        <span *ngIf="data.status==2">Kế toán trưởng VTS ký xác nhận</span>
        <span *ngIf="data.status==3">BOD VTS ký xác nhận</span>
        <span *ngIf="data.status==4">Thủ kho VTS ký xác nhận nhập kho thành công</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>