<h1 mat-dialog-title><span translate>Công việc cần xử lý</span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
   
</div>
<div class="dialog-footer">
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>
