﻿@model TN.Domain.Model.BikeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý xe đạp";
    Layout = null;
}
<form class="ajaxValidateForm usergroup" asp-action="Edit">
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title"><i class="material-icons">edit</i> CẬP NHẬT THÔNG TIN XE</h4>
    </div>
    <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        <div class="divmodal">
            <div class="form-group">
                <label class="form-label" asp-for="Etag"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Etag"></span>
                <div class="controls">
                    <input type="text" class="form-control input-sm form-control-t" placeholder="Mã thẻ Etag" asp-for="Etag">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" asp-for="Model"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Model"></span>
                        <div class="controls">
                            <input type="text" class="form-control input-sm form-control-t" placeholder="Model" asp-for="Model">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" asp-for="IMEI"></label> <strong class="text-danger">*</strong> <span asp-validation-for="IMEI"></span>
                        <div class="controls">
                            <input type="text" class="form-control input-sm form-control-t" placeholder="Mã IMEI" asp-for="IMEI">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" asp-for="SerialNumber"></label> <strong class="text-danger">*</strong> <span asp-validation-for="SerialNumber"></span>
                        <div class="controls">
                            <input type="text" class="form-control input-sm form-control-t" placeholder="Số Serial" asp-for="SerialNumber">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" asp-for="Type"></label> <span asp-validation-for="Type"></span>
                        <select asp-for="Type" asp-items="Model.TypeSelectList" class="form-control input-sm form-control-t show-tick">
                            <option value="-1" selected>Chọn kiểu dáng</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Status"></label>
                <div class="controls">
                    <ul class="list-unstyled">
                        <li>
                            <input type="radio" class="with-gap radio-col-green" id="radio_1" asp-for="Status" value="@TN.Domain.Model.Bike.EStatus.Active">
                            <label for="radio_1">Sử dụng</label>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input type="radio" class="with-gap radio-col-orange" id="radio_0" asp-for="Status" value="@TN.Domain.Model.Bike.EStatus.Inactive">
                            <label for="radio_0">Không sử dụng</label>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input type="radio" class="with-gap radio-col-red" id="radio_2" asp-for="Status" value="@TN.Domain.Model.Bike.EStatus.Error">
                            <label for="radio_2">Lỗi</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a class="close" data-dismiss="modal" style="display:none;"></a>
        <a class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Đóng</span></a>
        <a data-checked data-role-13 data-action="@Url.Action("Delete",new { id = Model.Id})" data-returnurl="@TN.Extensions.Functions.FormatReturnUrl(Context.Request.Query["returnurl"], Url.Action("Index"))" class="btn btn-icon btn-danger waves-effect btndelete"><i class="material-icons">delete_forever</i> <span>Xóa</span></a>
        <a data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" class="btn btn-icon bg-indigo waves-effect ajaxSubmit"><i class="material-icons">save</i> <span>Lưu thay đổi</span></a>
    </div>
</form>

<script>
    initAjaxSubmit(function (rs) {
        alertify.notify(rs.message, rs.type, 5);
        if (rs.output == 1) {
            $(".close").click();
            reGetDataGrid();
        }
    });
    initAjaxDelete();
</script>

