﻿@model TN.Domain.Model.BaseSearchModel<List<TN.Domain.Model.Bike>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    int i = 1;
}
@if (Model.TotalRows == 0)
{
    <tr>
        <td colspan="999">Không tìm thấy bản ghi nào</td>
    </tr>
}
@foreach (var item in Model.Data)
{
    <tr>
        <td class="text-center trcheck"><input type="checkbox" id="item_@i" class="filled-in chk-col-indigo" /><label for="item_@i"></label></td>
        <td class="text-primary text-name">@item.Etag</td>
        <td>@item.Model</td>
        <td>
            @TN.Domain.Model.Common.ListData.ListBikeType.FirstOrDefault(X => X.Id == (int)item.Type)?.Name
        </td>
        <td>@item.IMEI</td>
        <td>@item.SerialNumber</td>
        <td>
            @if (item.Status == TN.Domain.Model.Bike.EStatus.Active)
            {
                <span class="badge bg-green">Sử dụng</span>
            }
            @if (item.Status == TN.Domain.Model.Bike.EStatus.Error)
            {
                <span class="badge bg-red">Lỗi</span>
            }
            @if (item.Status == TN.Domain.Model.Bike.EStatus.Inactive)
            {
                <span class="badge bg-orange">Không sử dụng</span>
            }
        </td>
        <td data-checked data-role-12>
            <div class="btn-group">
                <div class="btn-group btn- group-sm" role="group">
                    <a data-checked data-role-12 data-namemodal="#myModal" asp-action="Edit" asp-route-id="@item.Id" title="Chỉnh sửa" class="btn bg-indigo waves-effect btnPopup btncontrolgrid"><i class="material-icons iconcontrol">edit</i></a>
                </div>
            </div>
        </td>
    </tr>
    i++;
}

<script>
    initPopup();
    bindPagination("#bindPagination", "getDataGrid", @Model.Page, @Model.TotalRows, @Model.Limit);
    bindNumRow("#showNumRow", @Model.Page, @Model.TotalRows, @Model.Limit);
</script>