<!-- <button mat-icon-button [matMenuTriggerFor]="flagsMenu" #flagsMenuTrigger="matMenuTrigger">
    <img *ngIf="translate.currentLang=='en'" src="assets/img/flags/gb.svg" width="20" alt="English"> 
    <img *ngIf="translate.currentLang=='' || translate.currentLang=='vi'" src="assets/img/flags/vi.svg" width="20" alt="Việt Nam"> 
    {{translate.currentLang}}
</button> -->
<!-- <button mat-icon-button [matMenuTriggerFor]="flagsMenu" #flagsMenuTrigger="matMenuTrigger">
    <img *ngIf="translate.currentLang =='en'" src="assets/img/flags/gb.svg" width="20" alt="English"> 
    <img *ngIf="translate.currentLang == null || translate.currentLang=='vi'" src="assets/img/flags/vi.svg" width="20" alt="Việt Nam"> 
</button>

<mat-menu  #flagsMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu flags">
    <span (mouseleave)="flagsMenuTrigger.closeMenu()">      
        <button (click)="switchLanguage('en')" mat-menu-item>
            <img src="assets/img/flags/gb.svg" width="20" alt="english"> 
            English
        </button>
        <button (click)="switchLanguage('vi')" mat-menu-item>
            <img src="assets/img/flags/vi.svg" width="20" alt="Việt Nam"> 
            Việt Nam
        </button>
    </span>
</mat-menu> -->
<div style="font-weight: 400;font-size: 13px;"><mat-icon style="width: 22px; height: 22px; position: relative;font-size: 22px; top: 6px;">av_timer</mat-icon> {{time}}</div>

