<div class="header-t">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>account.title</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>account.title-l</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh">
        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="40" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label><span translate>Quản trị</span></mat-label>
              <mat-select [(value)]="params.userId" placeholder="Tất cả">
                <mat-option>
                  <ngx-mat-select-search [formControl]="userKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'" [searching]="isProcess.subManagerUserSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                </mat-option>
                <mat-option>Tất cả</mat-option>
                <mat-option *ngFor="let item of users; index as i;" [value]="item.id.toString()">
                  <strong>Mã: {{item.code}}</strong> | Họ & tên: <strong>{{item.fullName}}</strong> | SĐT: {{item.phoneNumber}} | Quyền: {{item.roleName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>account.sex</mat-label>
              <mat-select [(value)]="params.sex" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="'0'">Nữ</mat-option>
                <mat-option [value]="'1'">Nam</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>account.type</mat-label>
              <mat-select [(value)]="params.type" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="'0'"><span translate>account.type-0</span></mat-option>
                <mat-option [value]="'1'"><span translate>account.type-1</span></mat-option>
                <mat-option [value]="'2'"><span translate>account.type-2</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>account.verifyStatus</mat-label>
              <mat-select [(value)]="params.verifyStatus" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="'0'"><span translate>account.verifyStatus-0</span></mat-option>
                <mat-option [value]="'1'"><span translate>account.verifyStatus-1</span></mat-option>
                <mat-option [value]="'2'"><span translate>account.verifyStatus-2</span></mat-option>
                <mat-option [value]="'3'"><span translate>account.verifyStatus-3</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>account.status</mat-label>
              <mat-select [(value)]="params.status" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="'0'"><span translate>account.status-0</span></mat-option>
                <mat-option [value]="'1'"><span translate>account.status-1</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>base.searchKey</mat-label>
              <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off" placeholder="Tìm theo tên, họ, địa chỉ, số điện thoại, email ..." type="text">
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="primary" (click)="search()" class="m-5px">
              <mat-icon class="icon-sm icon-btn">search</mat-icon>
            </button>

            <button roles-is="28" (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-5px">
              <mat-icon class="icon-sm icon-btn">add</mat-icon>
            </button>

            <button mat-raised-button color="warn" class="m-5px" (click)="export()" [disabled]="isProcess.export">
              <mat-icon *ngIf="isProcess.export" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.export" class="icon-sm icon-btn">print</mat-icon>
            </button>

          </div>
        </div>
        <div class="tParentLoading">
          <div *ngIf="isProcess.listDataTable" class="tloading">
            <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
              <div class="loader">Loading...</div>
            </div>
          </div>

          <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
            <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                  {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>account.id</span>/Ngày tạo</th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-info">{{ element.code }}</div>
                  <div>{{element.createdDate | date : 'dd/MM/yyyy HH:mm'}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.fullName</span>/ngày sinh</th>
                <td mat-cell *matCellDef="let element" title="{{element.id}}}">
                  <div class="text-info"><strong>{{element.fullName}}</strong></div>
                  <div>{{element.birthday | date : 'dd/MM/yyyy'}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.phone</span>/email</th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-danger"><strong>{{element.phone}}</strong></div>
                  <div>{{element.email == null ? '---' : element.email}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="sex">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.sex</span></th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.sex == 0">Nữ</span>
                  <span *ngIf="element.sex == 1">Nam</span>
                  <span *ngIf="element.sex == 2">Khác</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.status</span></th>
                <td mat-cell *matCellDef="let element">
                  <span translate class="text-warning" *ngIf="element.status == 0">account.status-0</span>
                  <span translate class="text-success" *ngIf="element.status == 1">account.status-1</span>
                  <span translate class="text-danger" *ngIf="element.status == 2">account.status-2</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.type</span></th>
                <td mat-cell *matCellDef="let element">
                  <span translate *ngIf="element.type == 0">account.type-0</span>
                  <span translate *ngIf="element.type == 1">account.type-1</span>
                  <span translate *ngIf="element.type == 2">account.type-2</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="verifyStatus">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.verifyStatus</span>/thời gian</th>
                <td mat-cell *matCellDef="let element">
                  <div>
                    <span translate *ngIf="element.verifyStatus == 0">account.verifyStatus-0</span>
                    <span class="text-warning" translate *ngIf="element.verifyStatus == 1">account.verifyStatus-1</span>
                    <span class="text-success" translate *ngIf="element.verifyStatus == 2">account.verifyStatus-2</span>
                    <span class="text-danger" translate *ngIf="element.verifyStatus == 3">account.verifyStatus-3</span>
                  </div>
                  <div>{{element.verifyDate | date : 'HH:mm dd/MM/yyyy'}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="vi">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Điểm/điểm KM</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><strong class="text-warning">{{appCommon.formatMoney(element.wallet?.balance,0,3)}}</strong></div>
                  <div><strong>{{appCommon.formatMoney(element.wallet?.subBalance,0,3)}}</strong></div>
                </td>
              </ng-container>

              <ng-container matColumnDef="debt">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Nợ cước/điểm sao</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><strong class="text-danger">{{appCommon.formatMoney(element.wallet?.debt,0,3)}}</strong></div>
                  <div><strong class="text-info">{{appCommon.formatMoney(element.wallet?.tripPoint,0,3)}}</strong></div>
                </td>
              </ng-container>

              <ng-container matColumnDef="customerGroups">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear>Nhóm KH</th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-info">
                    <div *ngFor="let item of element.customerGroups" matTooltip="{{item.project?.name}}">{{item.name}}</div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="updatedDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>ticket-prepaid.updatedUser</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.updatedUserObject?.displayName}}</span></div>
                  <div><span class="">{{element.updatedSystemDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>account.username</span></th>
                <td mat-cell *matCellDef="let element"> <span class="text-name">{{element.username}}</span></td>
              </ng-container>

              <ng-container matColumnDef="manager">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>QLCTV/CTV</span></th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-500" title="{{element.managerUserObject?.fullName}} | {{element.managerUserObject?.phoneNumber}}">
                    {{element.managerUserObject?.code}}</div>
                  <div title="{{element.subManagerUserObject?.fullName}} | {{element.subManagerUserObject?.phoneNumber}}">
                    {{element.subManagerUserObject?.code}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
                <td mat-cell *matCellDef="let element">

                  <button roles-is="152" title="Thay đổi mật khẩu" (click)="openChangePassword(element)" mat-raised-button color="green" class="m-1 btn-grid">
                    <mat-icon class="icon-sm">rotate_right</mat-icon>
                  </button>

                  <button title="Cập nhật tài khoản khách" (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
                    <mat-icon roles-is="28" class="icon-sm">edit</mat-icon>
                  </button>

                  <button roles-is="256" title="Liên kết với nhân viên/ctv" (click)="openSetConnectionEmployeeDialog(element)" mat-raised-button color="blue" class="m-1 btn-grid">
                    <mat-icon class="icon-sm">supervisor_account</mat-icon>
                  </button>

                  <button title="Chi tiết khách hàng" (click)="openDetailsDialog(element)" mat-raised-button color="accent" class="m-1 btn-grid">
                    <mat-icon class="icon-sm">account_circle</mat-icon>
                  </button>

                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div #paginator_rec>
            <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>