<h1 mat-dialog-title><span translate>THÔNG TIN KHÁCH HÀNG - <span class="text-danger">{{data.account.fullName}} -
			{{data.account.phone}}</span></span></h1>
<a (click)="close()" title="Đóng cửa sổ" class="close btnclose-t">
	<span aria-hidden="true">×</span>
</a>
<div mat-dialog-content class="mat-dialog-content-full">
	<div class="body-modal">

		<mat-tab-group [selectedIndex]="viewType" (selectedTabChange)="matTabGroupChange($event, wt, tt, fb, log, prepad)">
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">assignment_ind</mat-icon>
					<span> Thông tin khách hàng</span>
				</ng-template>
				<div style="height: 15px;"></div>
				<div id="fix_detail"></div>
				<div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
					<div>
						<div class="row">
							<div class="col-md-6">
								<span class="label-note">
									<span translate>Thông tin cá nhân</span>
									<button roles-is="256" style="right: 340px !important;" title="Liên kết với nhân viên/ctv" (click)="openSetConnectionEmployeeDialog()" mat-raised-button color="blue" class="m-1 btn-grid fixbutton-label">
										<mat-icon class="icon-sm">supervisor_account</mat-icon><span> Cập nhật nhân viên chăm sóc KH</span>
									</button>
									<button roles-is="152" style="right: 70px !important;" (click)="openChangePassword()" title="Chỉnh sửa" mat-raised-button color="green" class="m-1 btn-grid fixbutton-label">
										<mat-icon class="icon-sm">rotate_right</mat-icon> <span translate>Đổi mật
											khẩu</span>
									</button>

									<button roles-is="28" (click)="openCustomersEditDialog()" title="Chỉnh sửa" mat-raised-button color="primary" class="m-1 btn-grid fixbutton-label">
										<mat-icon class="icon-sm">edit</mat-icon> <span translate>button.edit</span>
									</button>

									<button roles-is="155" style="right: 187px !important;" (click)="openEditCustomerGroupDialog()" title="Cập nhật nhóm khách hàng" mat-raised-button color="accent" class="m-1 btn-grid fixbutton-label">
										<mat-icon class="icon-sm">edit</mat-icon> <span translate> Cập nhật nhóm
											KH</span>
									</button>
								</span>

								<div class="row">
									<div class="col-md-8">
										<div class="col-md-6">
											<mat-form-field floatLabel="always" appearance="outline">
												<mat-label translate>account.fullName</mat-label>
												<input [disabled]="true" matInput [(ngModel)]="data.account.fullName">
											</mat-form-field>
										</div>

										<div class="col-md-6">
											<mat-form-field floatLabel="always" appearance="outline">
												<mat-label translate>account.sex</mat-label>
												<input *ngIf="data.account.sex == 2" [disabled]="true" matInput value="Khác">
												<input *ngIf="data.account.sex == 1" [disabled]="true" matInput value="Nam">
												<input *ngIf="data.account.sex == 0" [disabled]="true" matInput value="Nữ">
											</mat-form-field>
										</div>

										<div class="col-md-6">
											<mat-form-field floatLabel="always" appearance="outline">
												<mat-label translate>account.birthday</mat-label>
												<input [disabled]="true" matInput value="{{data.account.birthday | date: 'dd/MM/yyyy'}}" type="text">
											</mat-form-field>
										</div>
										<div class="col-md-6">
											<mat-form-field floatLabel="always" appearance="outline">
												<mat-label translate>account.phone</mat-label>
												<input [disabled]="true" matInput [(ngModel)]="data.account.phone" placeholder="">
											</mat-form-field>
										</div>

										<div class="col-md-6">
											<mat-form-field floatLabel="always" appearance="outline">
												<mat-label translate>account.email</mat-label>
												<input [disabled]="true" matInput [(ngModel)]="data.account.email" placeholder="" type="text" maxlength="1000">
											</mat-form-field>
										</div>

										<div class="col-md-6">
											<mat-form-field floatLabel="always" appearance="outline">
												<mat-label translate>account.languageId</mat-label>
												<input [disabled]="true" matInput value="{{ appCommon.getObj(categoryData.languages, data.account.languageId)}}" type="text" maxlength="1000">
											</mat-form-field>
										</div>

										<!-- <div class="col-md-6">
											<mat-form-field floatLabel="always" appearance="outline">
												<mat-label translate>account.createType</mat-label>
												<input class="text-info" *ngIf="data.account.createType == 1" [disabled]="true" matInput value="Quản trị tạo">
												<input class="text-success" *ngIf="data.account.createType == 0" [disabled]="true" matInput value="Tạo trên App Mobile">
											</mat-form-field>
										</div> -->

										<div class="col-md-6">
											<mat-form-field floatLabel="always" appearance="outline">
												<mat-label translate>account.updatedDate</mat-label>
												<input [disabled]="true" matInput value="{{data.account.updatedDate | date:	'dd/MM/yyyy HH:mm'}}" type="text" maxlength="1000">
											</mat-form-field>
										</div>
										<div class="col-md-6">
											<mat-form-field floatLabel="always" appearance="outline">
												<mat-label translate>account.updatedSystemDate</mat-label>
												<input [disabled]="true" matInput value="{{data.account.updatedSystemDate | date:'dd/MM/yyyy HH:mm'}}" type="text" maxlength="1000">
											</mat-form-field>
										</div>
									</div>
									<div class="col-md-4">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>account.avatar</mat-label>
											<div class="GJXF1JNDPSB fillImage" style="height: 182px;margin-bottom: 0px;" [ngStyle]="{'background-image':'url(' + getImage() + ')'}"></div>
											<input [disabled]="true" matInput value="" type="text" style="display: none;">
										</mat-form-field>
									</div>
								</div>

								<span class="label-note">
									<span translate>Thông tin tài khoản</span>
									<button roles-is="29" (click)="openAddMoneyDialog()" title="Chỉnh sửa" mat-raised-button color="primary" class="m-1 btn-grid fixbutton-label">
										<mat-icon class="icon-sm">add</mat-icon> <span translate>Nạp điểm</span>
									</button>

									<button roles-is="151" style="right: 100px !important;" (click)="openTicketPrepaidEditDialog()" title="Mua vé trả trước" mat-raised-button color="green" class="m-1 btn-grid fixbutton-label">
										<mat-icon class="icon-sm">add</mat-icon> <span translate>Mua vé trả trước</span>
									</button>

									<button roles-is="154" style="right: 237px !important;" (click)="addGift()" title="Nạp mã khuyến mãi & quy đổi" mat-raised-button color="accent" class="m-1 btn-grid fixbutton-label">
										<mat-icon class="icon-sm">card_giftcard</mat-icon> <span translate> Nạp mã
											khuyến mãi & quy đổi</span>
									</button>

									<button roles-is="156" style="right: 452px  !important;" (click)="openGift()" title="Cập nhật nhóm khách hàng" mat-raised-button color="warn" class="m-1 btn-grid fixbutton-label">
										<mat-icon class="icon-sm">send</mat-icon> <span translate> Chuyển điểm</span>
									</button>

									<button roles-is="270" style="right: 572px  !important;" (click)="openAddArrearsDialog()" title="Truy thu điểm của khách hàng" mat-raised-button color="warn" class="m-1 btn-grid fixbutton-label">
										<mat-icon class="icon-sm">close</mat-icon> <span translate> Truy thu điểm</span>
									</button>
								</span>
								<div class="row">

									<div class="col-md-4">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>account.type</mat-label>
											<input *ngIf="data.account.type == 0" [disabled]="true" matInput value="App Mobile">
											<input *ngIf="data.account.type == 1" [disabled]="true" matInput value="RFID">
											<input *ngIf="data.account.type == 2" [disabled]="true" matInput value="App Mobile & RFID">
										</mat-form-field>
									</div>

									<div class="col-md-4">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>account.phone</mat-label>
											<input [disabled]="true" matInput [(ngModel)]="data.account.phone" placeholder="37">
										</mat-form-field>
									</div>

									<div class="col-md-4">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>account.rfid</mat-label>
											<input [disabled]="true" matInput [(ngModel)]="data.account.rfid" type="text">
										</mat-form-field>
									</div>

									<div class="col-md-4">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>wallet.tripPoint</mat-label>
											<input [disabled]="true" matInput value="{{appCommon.fMoney(data.account.wallet?.tripPoint)}}">
										</mat-form-field>
									</div>

									<div class="col-md-4">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>account.code</mat-label>
											<input [disabled]="true" matInput value="{{data.account.code}}" type="text">
										</mat-form-field>
									</div>

									<div class="col-md-4">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>wallet.balance</mat-label>
											<input [disabled]="true" matInput value="{{appCommon.fMoney(data.account.wallet?.balance)}}" placeholder="" type="text">
										</mat-form-field>
									</div>

									<div class="col-md-4">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>wallet.subBalance</mat-label>
											<input [disabled]="true" matInput value="{{appCommon.fMoney(data.account.wallet?.subBalance)}} (Hết ngày: {{data.account.wallet?.subBalanceExpiryDate | date: 'dd/MM/yyyy'}})" placeholder="">
										</mat-form-field>
									</div>

									<div class="col-md-4">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>Nợ cước</mat-label>
											<input [disabled]="true" style="color: red;" matInput value="{{appCommon.fMoney(data.account.wallet?.debt)}}" placeholder="">
										</mat-form-field>
									</div>

									<div class="col-md-4">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>Trạng thái tài khoản</mat-label>
											<input class="text-danger" *ngIf="data.account.status == 0" [disabled]="true" matInput value="Đang khóa">
											<input class="text-success" *ngIf="data.account.status == 1" [disabled]="true" matInput value="Đang hoạt động">
										</mat-form-field>
									</div>

								</div>

								<mat-form-field floatLabel="always" appearance="outline">
									<mat-label translate>Phân loại nhóm khách hàng</mat-label>
									<input [disabled]="true" matInput [value]="getCustomerGroupName()" type="text">
								</mat-form-field>

								<span class="label-note">
									<span translate>Thông tin xác thực</span>
									<button roles-is="153" (click)="openCustomersVerifyDialog()" title="Chỉnh sửa" mat-raised-button color="primary" class="m-1 btn-grid fixbutton-label">
										<mat-icon class="icon-sm">edit</mat-icon> <span translate> Cập nhật</span>
									</button>
								</span>
								<div class="row">
									<div class="col-md-6">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>account.identificationPhotoFront</mat-label>
											<img style="width: 100%;" onError="this.src='../assets/img/app/no-image.png'" src="{{data.account.identificationPhotoFront == null ? './assets/img/app/no-image.png' : data.account.identificationPhotoFront}}" />
											<input [disabled]="true" matInput value="" type="text" style="display: none;">
										</mat-form-field>
									</div>
									<div class="col-md-6">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>account.identificationPhotoBackside</mat-label>
											<img style="width: 100%;" onError="this.src='../assets/img/app/no-image.png'" src="{{data.account.identificationPhotoBackside == null ? './assets/img/app/no-image.png' : data.account.identificationPhotoBackside}}" />
											<input [disabled]="true" matInput value="" type="text" style="display: none;">
										</mat-form-field>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>account.identificationID</mat-label>
											<input [disabled]="true" matInput value="{{data.account.identificationID}}" type="text" maxlength="1000">
										</mat-form-field>
									</div>
									<div class="col-md-4">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>account.identificationType</mat-label>
											<input *ngIf="data.account.identificationType == 0" class="text-success" [disabled]="true" matInput value="Chứng minh thư" type="text">
											<input *ngIf="data.account.identificationType == 1" class="text-warning" [disabled]="true" matInput value="Căn cước công dân" type="text">
											<input *ngIf="data.account.identificationType == 2" class="text-info" [disabled]="true" matInput value="Hộ chiếu" type="text">
										</mat-form-field>
									</div>
									<div class="col-md-4">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>account.verifyStatus</mat-label>
											<input class="text-danger" *ngIf="data.account.verifyStatus == 0" [disabled]="true" matInput value="Chưa xác nhận" type="text">
											<input class="text-warning" *ngIf="data.account.verifyStatus == 1" [disabled]="true" matInput value="Đang chờ xác nhận" type="text">
											<input class="text-success" *ngIf="data.account.verifyStatus == 2" [disabled]="true" matInput value="Đã xác nhận" type="text">
											<input class="text-danger" *ngIf="data.account.verifyStatus == 3" [disabled]="true" matInput value="Từ chối xác nhận" type="text">
										</mat-form-field>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<mat-form-field floatLabel="always" appearance="outline">
											<mat-label translate>account.verifyNote</mat-label>
											<textarea [disabled]="true" rows="3" matInput [(ngModel)]="data.account.verifyNote"></textarea>
										</mat-form-field>
									</div>
								</div>
							</div>

							<div class="col-md-6">


								<span class="label-note">
									<span translate>Top 10 chuyến đi gần nhất</span>
								</span>
								<div #fix_scroll_table_rec class="scroll-table" [style.height.px]="200" style="overflow: auto;background: #fbfbfb;">
									<table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

										<ng-container matColumnDef="stationIn">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear>
												<span translate>transaction.stationIn</span>
											</th>
											<td mat-cell *matCellDef="let element">
												{{ appCommon.getObj(categoryData.stations, element.stationIn)}}
											</td>
										</ng-container>

										<ng-container matColumnDef="stationOut">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear>
												<span translate>transaction.stationOut</span>
											</th>
											<td mat-cell *matCellDef="let element">
												{{ appCommon.getObj(categoryData.stations, element.stationOut)}}
											</td>
										</ng-container>

										<ng-container matColumnDef="ticketPrice_TicketType">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear>
												<span translate>transaction.ticketPrice_TicketType</span>
											</th>
											<td mat-cell *matCellDef="let element">
												<span class="text-success" *ngIf="element.ticketPrice_TicketType == 0" translate>ticket-price.ticketType-0</span>
												<span class="text-danger" *ngIf="element.ticketPrice_TicketType == 1" translate>ticket-price.ticketType-1</span>
												<span class="text-info" *ngIf="element.ticketPrice_TicketType == 2" translate>ticket-price.ticketType-2</span>
											</td>
										</ng-container>
										<ng-container matColumnDef="totalPrice">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear>
												<span translate>transaction.totalPrice</span>
											</th>
											<td mat-cell *matCellDef="let element">
												<strong class="text-danger">{{appCommon.formatMoney(element.totalPrice,0,3)}}</strong>
											</td>
										</ng-container>
										<ng-container matColumnDef="status">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear>
												<span translate>transaction.status</span>
											</th>
											<td mat-cell *matCellDef="let element">
												<span class="text-info" *ngIf="element.status == 0" translate>transaction.status-0</span>
												<span class="text-danger" *ngIf="element.status == 1" translate>transaction.status-1</span>
												<span class="text-success" *ngIf="element.status == 2" translate>transaction.status-2</span>
												<span class="text-warning" *ngIf="element.status == 3" translate>transaction.status-3</span>
												<span class="text-warning" *ngIf="element.status == 4" translate>transaction.status-4</span>
												<span class="text-success" *ngIf="element.status == 5" translate>transaction.status-5</span>
												<span class="text-success" *ngIf="element.status == 7" translate>transaction.status-7</span>
												<span class="text-danger" *ngIf="element.status == 8" translate>transaction.status-8</span>
											</td>
										</ng-container>

										<ng-container matColumnDef="tripPoint">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>transaction.tripPoint</span></th>
											<td mat-cell *matCellDef="let element">
												<span>{{appCommon.fMoney(element.tripPoint)}}</span>
											</td>
										</ng-container>

										<ng-container matColumnDef="dateOfPayment">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear>
												<span translate>Thời gian đi</span>
											</th>
											<td mat-cell *matCellDef="let element">{{element.startTime | date :
												'dd/MM/yyyy HH:mm'}} - <strong>{{element.endTime | date : 'dd/MM/yyyy
													HH:mm'}}</strong> </td>
										</ng-container>

										<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
										<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
									</table>
								</div>

								<div [style.height.px]="20"></div>

								<span class="label-note">
									<span translate>Top 10 lịch sử giao dịch gần nhất</span>
								</span>
								<div #fix_scroll_table_rec class="scroll-table" [style.height.px]="200" style="overflow: auto;background: #fbfbfb;">
									<table mat-table matSort class="mat-table-style table-striped" [dataSource]="listWT" (matSortChange)="handleSortData($event)">
										<ng-container matColumnDef="walletId">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>wallet-transaction.walletId</span></th>
											<td mat-cell *matCellDef="let element"> {{element.walletId}} </td>
										</ng-container>

										<ng-container matColumnDef="type">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>wallet-transaction.type</span></th>
											<td mat-cell *matCellDef="let element">
												<span translate>wallet-transaction.type-{{element.type}}</span>
											</td>
										</ng-container>

										<ng-container matColumnDef="totalAmount">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear>Điểm/điểm KM/điểm
												chuyến đi</th>
											<td mat-cell *matCellDef="let element">
												<div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
													<strong *ngIf="element.type != 1 && element.type != 2 && element.type != 6 && element.type != 9 && element.type != 11 && element.type != 12 && element.type != 14" class="text-success">+{{appCommon.formatMoney(element.amount,0,3)}}</strong>
													<strong *ngIf="element.type == 1 || element.type == 2 || element.type == 6 || element.type == 9 || element.type == 11 || element.type == 12 || element.type == 14" class="text-danger">-{{appCommon.formatMoney(element.amount,0,3)}}</strong>
												</div>
												<div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
													<strong *ngIf="element.type != 1 && element.type != 2 && element.type != 6&& element.type != 9 && element.type != 11 && element.type != 12 && element.type != 14" class="text-success">+{{appCommon.formatMoney(element.subAmount,0,3)}}</strong>
													<strong *ngIf="element.type == 1 || element.type == 2 || element.type == 6 || element.type == 9 || element.type == 11 || element.type == 12 || element.type == 14" class="text-danger">-{{appCommon.formatMoney(element.subAmount,0,3)}}</strong>
												</div>
												<div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
													<strong *ngIf="element.type != 7" class="text-success">+{{appCommon.formatMoney(element.tripPoint,0,3)}}</strong>
													<strong *ngIf="element.type == 7" class="text-danger">-{{appCommon.formatMoney(element.tripPoint,0,3)}}</strong>
												</div>
											</td>
										</ng-container>

										<ng-container matColumnDef="wallet">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear>Tài khoản trước
												biến động (Điểm/điểm KM/điểm chuyến đi)</th>
											<td mat-cell *matCellDef="let element">
												<div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
													<strong>{{appCommon.formatMoney(element.wallet_Balance,0,3)}}</strong>
												</div>
												<div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
													<strong>{{appCommon.formatMoney(element.wallet_SubBalance,0,3)}}</strong>
												</div>
												<div style="background: rgb(238, 235, 235); margin-bottom: 1px; padding-left: 2px;">
													<strong>{{appCommon.formatMoney(element.wallet_TripPoint,0,3)}}</strong>
												</div>
											</td>
										</ng-container>

										<ng-container matColumnDef="status">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>wallet-transaction.status</span></th>
											<td mat-cell *matCellDef="let element">
												<span translate class="text-warning" *ngIf="element.status == 0">wallet-transaction.status-0</span>
												<span translate class="text-success" *ngIf="element.status == 1">wallet-transaction.status-1</span>
												<span translate class="text-danger" *ngIf="element.status == 2">wallet-transaction.status-2</span>
												<span translate class="text-danger" *ngIf="element.status == 3">wallet-transaction.status-3</span>
											</td>
										</ng-container>

										<ng-container matColumnDef="note">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>wallet-transaction.note</span></th>
											<td mat-cell *matCellDef="let element"> {{element.note}} </td>
										</ng-container>

										<ng-container matColumnDef="createdDate">
											<th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>
												<span translate>wallet-transaction.createdDate</span>
											</th>
											<td mat-cell *matCellDef="let element">
												{{element.createdDate | date : 'dd/MM/yyyy HH:mm'}}
											</td>
										</ng-container>

										<tr mat-header-row *matHeaderRowDef="displayedColumnsWT; sticky: true"></tr>
										<tr mat-row *matRowDef="let row; columns: displayedColumnsWT;"></tr>
									</table>
								</div>

								<div style="height: 10px;"></div>

								<span class="label-note">
									<span translate>Top 10 vé trả trước hách hàng mua gần nhất</span>
								</span>

								<div #fix_scroll_table_rec class="scroll-table" [style.height.px]="200" style="overflow: auto;background: #fbfbfb;">
									<table mat-table matSort class="mat-table-style table-striped" [dataSource]="listTicketPrepaid" (matSortChange)="handleSortData($event)">

										<ng-container matColumnDef="accountId">
											<th width="150" mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-prepaid.accountId</span></th>
											<td mat-cell *matCellDef="let element">
												<div class="text-info">{{element.account?.phone}}</div>
												<div class="text-info" style="font-weight: 500;">
													{{element.account?.fullName}}</div>
											</td>
										</ng-container>

										<ng-container matColumnDef="customerGroupId">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-prepaid.customerGroupId</span></th>
											<td mat-cell *matCellDef="let element"> {{element.customerGroup?.name}}
											</td>
										</ng-container>

										<ng-container matColumnDef="startDate">
											<th width="150" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Hiệu lực</span></th>
											<td mat-cell *matCellDef="let element">
												<div>Từ: <span class="text-500 text-success">{{element.startDate | date:
														'dd/MM/yyyy'}}</span></div>
												<div>Đến hết: <span class="text-500 text-danger">{{element.endDate |
														date: 'dd/MM/yyyy'}}</span> </div>
											</td>
										</ng-container>

										<ng-container matColumnDef="ticketValue">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-prepaid.ticketValue</span></th>
											<td mat-cell *matCellDef="let element">
												<strong class="text-danger">{{appCommon.formatMoney(element.ticketValue,0,3)}}</strong>
											</td>
										</ng-container>

										<ng-container matColumnDef="dateOfPayment">
											<th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>
												<span translate>ticket-prepaid.dateOfPayment</span>
											</th>
											<td mat-cell *matCellDef="let element"> {{element.dateOfPayment | date:
												'dd/MM/yyyy'}} </td>
										</ng-container>

										<ng-container matColumnDef="createdDate">
											<th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>
												<span translate>ticket-prepaid.createdUser</span>
											</th>
											<td mat-cell *matCellDef="let element">
												<div><span class="text-500">{{element.createdUserObject?.displayName}}</span>
												</div>
												<div><span class="">{{element.createdDate | date: 'dd/MM/yyyy
														HH:mm'}}</span> </div>
											</td>
										</ng-container>

										<ng-container matColumnDef="projectId">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-prepaid.projectId</span></th>
											<td mat-cell *matCellDef="let element"> {{
												appCommon.getObj(categoryData.projects, element.projectId)}} </td>
										</ng-container>

										<ng-container matColumnDef="updatedDate">
											<th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>
												<span translate>ticket-prepaid.updatedUser</span>
											</th>
											<td mat-cell *matCellDef="let element">
												<div><span class="text-500">{{element.updatedUserObject?.displayName}}</span>
												</div>
												<div><span class="">{{element.updatedDate | date: 'dd/MM/yyyy
														HH:mm'}}</span> </div>
											</td>
										</ng-container>

										<ng-container matColumnDef="code">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>ticket-prepaid.code</span></th>
											<td mat-cell *matCellDef="let element">
												<div>Loại vé:
													<span class="text-danger" translate *ngIf="element.ticketPrice_TicketType == 1">ticket-price.ticketType-1</span>
													<span class="text-success" translate *ngIf="element.ticketPrice_TicketType == 2">ticket-price.ticketType-2</span>
													<span class="text-warning" translate *ngIf="element.ticketPrice_TicketType == 3">ticket-price.ticketType-3</span>
												</div>
												<div title="{{element.ticketTypeNote}}" class="text-name">
													{{element.code}}</div>
											</td>
										</ng-container>

										<ng-container matColumnDef="ticketTypeNote">
											<th mat-header-cell *matHeaderCellDef matSortDisableClear>Mô tả</th>
											<td mat-cell *matCellDef="let element">{{element.ticketTypeNote}}</td>
										</ng-container>

										<ng-container matColumnDef="action">
											<th width="90" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
											<td mat-cell *matCellDef="let element">
												<button (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
													<mat-icon class="icon-sm">edit</mat-icon>
												</button>
											</td>
										</ng-container>

										<tr mat-header-row *matHeaderRowDef="displayedColumnsPrepad; sticky: true"></tr>
										<tr mat-row *matRowDef="let row; columns: displayedColumnsPrepad;"></tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">attach_money</mat-icon>
					<span> &nbsp;Danh sách vé trả trước</span>
				</ng-template>
				<div style="height: 15px;"></div>
				<div id="fix_detail"></div>
				<div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
					<app-accounts-ticket-prepaids #prepad [account]="data.account"></app-accounts-ticket-prepaids>
				</div>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">payments</mat-icon>
					<span> &nbsp;Lịch sử giao dịch</span>
				</ng-template>
				<div style="height: 15px;"></div>
				<div id="fix_detail"></div>
				<div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
					<app-wallet-transactions #wt [account]="data.account"></app-wallet-transactions>
				</div>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">directions_bike</mat-icon>
					<span>&nbsp;Lịch sử chuyến đi</span>
				</ng-template>
				<div style="height: 15px;"></div>
				<div id="fix_detail"></div>
				<div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
					<app-transactions #tt [account]="data.account"></app-transactions>
				</div>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">feedback</mat-icon>
					<span>&nbsp;Lịch sử phản hồi</span>
				</ng-template>
				<div style="height: 15px;"></div>
				<div id="fix_detail"></div>
				<div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
					<app-feedbacks #fb [account]="data.account"></app-feedbacks>
				</div>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">event</mat-icon>
					<span> Lịch sử cập nhật</span>
				</ng-template>
				<div style="height: 15px;"></div>
				<div id="fix_detail"></div>
				<div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
					<div>
						<app-accounts-log #log [account]="data.account"></app-accounts-log>
					</div>
				</div>
			</mat-tab>

		</mat-tab-group>
	</div>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
	<div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
		<div class="loader"><span translate>button.loading</span></div>
	</div>
</div>