<div class="header-export">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>Báo cáo quản lý chuyến đi</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>Danh sách báo cáo</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">CHUYẾN ĐI HOÀN THÀNH</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Từ ngày</mat-label>
              <input [(ngModel)]="transaction.from" matInput [matDatepicker]="pickerTransactionFrom" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerTransactionFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerTransactionFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Đến ngày</mat-label>
              <input [(ngModel)]="transaction.to" matInput [matDatepicker]="pickerTransactionTo" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerTransactionTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTransactionTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('transaction')"
              [disabled]="isProcess.transaction">
              <mat-icon *ngIf="isProcess.transaction" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.transaction" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>
      </div>
           
      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">CHUYẾN ĐI NỢ CƯỚC</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Từ ngày</mat-label>
              <input [(ngModel)]="transactionDebt.from" matInput [matDatepicker]="pickerTransactionDebtFrom" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerTransactionDebtFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerTransactionDebtFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Đến ngày</mat-label>
              <input [(ngModel)]="transactionDebt.to" matInput [matDatepicker]="pickerTransactionDebtTo" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerTransactionDebtTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTransactionDebtTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('transactionDebt')"
              [disabled]="isProcess.transactionDebt">
              <mat-icon *ngIf="isProcess.transactionDebt" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.transactionDebt" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>

      </div>

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">CHUYẾN ĐI ĐANG THUÊ</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('booking')"
              [disabled]="isProcess.booking">
              <mat-icon *ngIf="isProcess.booking" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.booking" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>