
<div style="position: relative;">
    <div #fix_scroll_table_rec></div>
    <div>
        <div>
            <agm-map [styles]="mapStyle" minZoom="8" [style.height.px]="heightTable" [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="location.zoom" (zoomChange)="zoomChange($event)">
                <agm-marker [visible] = "marker.isEnable && marker.isShow"  [label]="{ color: 'white',fontFamily: '', fontSize: '13px',  fontWeight: 'bold', text: marker.station.totalBikeGood.toString()}" *ngFor="let marker of location.stationMarkers" [latitude]="marker.lat" [longitude]="marker.lng" (markerClick)="selectStationMarker(marker)">
                    <agm-info-window [disableAutoPan]="true" [isOpen]="marker.isOpen && marker.isEnable">
                        <div style="max-width: 200px;" >
                            <div class="text-name" style="margin-bottom: 5px;">{{marker.station?.name}}</div>
                            <div style="font-size: 12px;margin-bottom: 2px;">Địa chỉ: {{marker.station?.address}}</div>
                            <div style="font-size: 12px;margin-bottom: 2px;">Xe có thể thuê: {{marker.station?.totalBikeGood}}</div>
                            <div style="font-size: 12px;margin-bottom: 2px;">Chỗ trống để xe: {{( (marker.station?.totalDock > marker.station?.totalBike) ? 0 : (marker.station?.totalDock - marker.station?.totalBike))}}</div>
                        </div>
                    </agm-info-window>
                </agm-marker>

                <agm-marker [iconUrl]="marker.iconUrl" [visible] = "marker.isEnable && marker.isShow"   *ngFor="let marker of location.bikeMarkers" [latitude]="marker.lat" [longitude]="marker.lng">
                </agm-marker>
            </agm-map>
        </div>
    </div>
</div>

<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>
