<div class="header-t">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>station.title</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>station.title-l</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh">
        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="15" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>station.projectId</mat-label>
              <mat-select [(ngModel)]="params.projectId" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id.toString()">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="15" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>station.investorId</mat-label>
              <mat-select [(ngModel)]="params.investorId" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option *ngFor="let item of categoryData.investors; index as i;" [value]="item.id.toString()">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="15" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>station.cityId</mat-label>
              <mat-select [(ngModel)]="params.cityId" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option *ngFor="let item of categoryData.cities; index as i;" [value]="item.id.toString()">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="15" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>station.status</mat-label>
              <mat-select [(ngModel)]="params.status" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="'1'">Sử dụng</mat-option>
                <mat-option [value]="'0'">Không sử dụng</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>base.searchKey</mat-label>
              <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off"
                placeholder="Từ khóa tìm kiếm" type="text">
            </mat-form-field>
          </div>

          <div fxFlex="10" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="primary" (click)="search()" class="m-5px">
              <mat-icon class="icon-sm icon-btn">search</mat-icon>
            </button>
            <button roles-is="40" (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-5px">
              <mat-icon class="icon-sm icon-btn">add</mat-icon>
            </button>
            <button mat-raised-button color="warn" class="m-5px" (click)="export()" [disabled]="isProcess.export">
              <mat-icon *ngIf="isProcess.export" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.export" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>



        </div>
        <div class="tParentLoading">
          <div *ngIf="isProcess.listDataTable" class="tloading">
            <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
              <div class="loader">Loading...</div>
            </div>
          </div>

          <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
            <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData"
              (matSortChange)="handleSortData($event)">

              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span
                    translate>base.order</span></th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                  {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>station.id</span></th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              <ng-container matColumnDef="projectId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>station.projectId</span></th>
                <td mat-cell *matCellDef="let element"> {{ appCommon.getProject(categoryData.projects,
                  element.projectId)}}</td>
              </ng-container>

              <ng-container matColumnDef="investorId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>station.investorId</span></th>
                <td mat-cell *matCellDef="let element"> {{ appCommon.getInvestor(categoryData.investors,
                  element.investorId)}}</td>
              </ng-container>


              <ng-container matColumnDef="cityId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>station.cityId</span></th>
                <td mat-cell *matCellDef="let element"> {{ appCommon.getCity(categoryData.cities, element.cityId)}} / {{
                  appCommon.getDistrict(categoryData.districts, element.districtId)}}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>station.name</span></th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-name">{{element.name}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="displayName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>station.displayName</span></th>
                <td mat-cell *matCellDef="let element">
                  <div>{{element.displayName}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>station.address</span></th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
              </ng-container>

              <ng-container matColumnDef="returnDistance">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Khoảng cách trả xe(m)</span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.returnDistance}} </td>
              </ng-container>

              <ng-container matColumnDef="lat">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>station.lat</span></th>
                <td mat-cell *matCellDef="let element"> {{element.lat | number:'1.1-4'}} </td>
              </ng-container>
              <ng-container matColumnDef="lng">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>station.lng</span></th>
                <td mat-cell *matCellDef="let element"> {{element.lng | number:'1.1-4'}} </td>
              </ng-container>

              <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear>Thông tin thiết kế</th>
                <td mat-cell *matCellDef="let element">Chiều rộng: {{element.width}}, chiều dài {{element.height}}, số
                  chỗ để {{element.spaces}} </td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>station.description</span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>station.status</span></th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.status == 1" class="text-success">Sử dụng</span>
                  <span *ngIf="element.status == 0" class="text-danger">Không sử dụng</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th style="width: 150px;" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>ticket-prepaid.createdUser</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.createdUserObject?.displayName}}</span></div>
                  <div><span class="">{{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="updatedDate">
                <th style="width: 150px;" mat-header-cell *matHeaderCellDef matSortDisableClear><span
                    translate>ticket-prepaid.updatedUser</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.updatedUserObject?.displayName}}</span></div>
                  <div><span class="">{{element.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="managerUser">
                <th style="width: 150px;" mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Quản lý
                    trạm</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500 text-danger">{{ element.managerUserObject?.fullName }}</span></div>
                  <div><span class="">{{ element.managerUserObject?.phoneNumber }}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th width="120" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
                <td mat-cell *matCellDef="let element">

                  <button matTooltio="Cập nhật nội dung Tiếng Anh" (click)="openEditLanguageDialog(element.id, 'en')" mat-raised-button color="green" class="m-1 btn-grid">
                    <mat-icon class="icon-sm">language</mat-icon>
                </button>
                  <button roles-is="40" (click)="openEditDialog(element)" mat-raised-button color="warn"
                    class="m-1 btn-grid">
                    <mat-icon class="icon-sm">edit</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

          <div #paginator_rec>
            <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)"
              [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>