<h1 mat-dialog-title><span translate>role.modal-edit</span></h1>
<a (click)="close()" title="Đóng cửa sổ" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="p-0">
            <mat-tab-group>
                <mat-tab>
                    <div style="height: 10px;"></div>
                    <ng-template mat-tab-label>
                        <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
                        Thông tin chi tiết
                    </ng-template>
                    <form [formGroup]="form" fxLayout="row wrap" class="user-form p-1" role="form">

                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>role.name</mat-label>
                            <input required matInput autocomplete="off" placeholder="Tên quyền" formControlName="name" type="text">
                            <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required
                            </mat-error>
                            <mat-error *ngIf="form.controls.name.hasError('minlength')" translate [translateParams]="{n: '5'}">validate.minlength</mat-error>
                            <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate [translateParams]="{n: '100'}">validate.maxlength</mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>role.type</mat-label>
                            <mat-select [(value)]="data.type" required formControlName="type" placeholder="Chọn">
                                <mat-option *ngFor="let item of roletypes; index as i;" [value]="item.value">
                                    {{item.text}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls.type.errors?.required" translate>validate.required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>role.description</mat-label>
                            <textarea rows="3" matInput placeholder="Mô tả" formControlName="description"></textarea>
                            <mat-error *ngIf="form.controls.description.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                        </mat-form-field>
                    </form>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <!-- <mat-icon class="example-tab-icon">tree</mat-icon> -->
                        Cấu hình quyền
                    </ng-template>
                    <ul style="padding: 10px;" *ngIf="roleDetailObj != null">
                        <li *ngFor="let group of roleDetailObj.roleGroups" class="urlRole">
                            <div style="font-weight: bold; text-transform: uppercase; margin-bottom: 5px;">
                               - {{group.name}}
                            </div>
                            <ul>
                                <li style="margin-left: 30px;" *ngFor="let controller of getController(roleDetailObj.roleControllers, group.id)" class="urlRole">
                                    <div style="font-weight: 500; margin-left: 0px;color: crimson;">
                                       + {{controller.name}}
                                    </div>
                                    <ul>
                                        <li *ngFor="let action of getAction(roleDetailObj.roleActions, controller.id)" style="margin-left: 13px;padding: 2px 0;">
                                            <mat-checkbox [(ngModel)]="action.checked"><span>{{action.name}}</span></mat-checkbox>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">loading</div>
    </div>
</div>