<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>bike-report.modal-create</span></h1>

<h1 *ngIf="data.id > 0 && data.status == false" mat-dialog-title class="text-danger"><span translate>bike-report.modal-edit</span> - <span translate>Chưa xử lý</span></h1>
<h1 *ngIf="data.id > 0 && data.status == true" mat-dialog-title class="text-success"><span translate>bike-report.modal-edit</span> - <span translate>Đã xử lý</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Hình ảnh</mat-label>
                        <img src="{{bikeReportsService.apiUrl()}}{{data.file}}" class="img-responsive" alt="">
                        <input [class.hiden]="data.file != null" disabled matInput value="Không có ảnh" type="text">
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>bike-report.type</mat-label>
                        <mat-select disabled [(value)]="data.type" placeholder="Chọn loại lỗi">
                            <mat-option [value]="0"><span translate>bike-report.type-0</span></mat-option>
                            <mat-option [value]="1"><span translate>bike-report.type-1</span></mat-option>
                            <mat-option [value]="2"><span translate>bike-report.type-2</span></mat-option>
                            <mat-option [value]="3"><span translate>bike-report.type-3</span></mat-option>
                            <mat-option [value]="4"><span translate>bike-report.type-4</span></mat-option>
                            <mat-option [value]="5"><span translate>bike-report.type-5</span></mat-option>
                            <mat-option [value]="6"><span translate>bike-report.type-6</span></mat-option>
                            <mat-option [value]="7"><span translate>bike-report.type-7</span></mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>bike-report.bikeId</mat-label>
                                <input disabled matInput value="{{data.bike?.plate}}" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>bike-report.dockId</mat-label>
                                <input disabled matInput value="{{data.bike?.dock?.serialNumber}}" type="text">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>bike-report.projectId</mat-label>
                                <input disabled matInput value="{{ appCommon.getObj(categoryData.projects, data.projectId)}}" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>bike-report.investorId</mat-label>
                                <input disabled matInput value="{{appCommon.getObj(categoryData.investors, data.investorId)}}" type="text">
                            </mat-form-field>
                        </div>
                    </div>

                    <app-file-upload-attached [viewPath]="customerComplaintsService" [accept]="categoryData.imagesType" (outData)="getOutPut($event)" [multiple]="true" [apiUpload]="bikeReportsService.uploadPath()" [curentFiles]="[]"></app-file-upload-attached>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>bike-report.description</mat-label>
                        <textarea matInput disabled rows="3">{{data.description}}</textarea>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>bike-report.note</mat-label>
                        <textarea required matInput formControlName="note" placeholder="" rows="3"></textarea>
                        <mat-error *ngIf="form.controls.note.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">

    <button roles-is="178" *ngIf="data.id > 0 && data.status == true" type="button" (click)="save(false)" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">assignment_late</mat-icon>
        <span translate> Lưu lại & chưa xử lý</span>
    </button>

    <button roles-is="178" *ngIf="data.id > 0 && data.status == false" type="button" (click)="save(true)" mat-raised-button color="green" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">assignment_turned_in</mat-icon>
        <span translate> Lưu lại & đã xử lý</span>
    </button>

    <button roles-is="178" *ngIf="data.id > 0" type="button" (click)="save('')" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate> Lưu lại</span>
    </button>

    <div class="valid-status">
        <span *ngIf="!form.valid" class="text-danger">Chưa nhập đủ trường thông tin <mat-icon>info</mat-icon></span>
        <span *ngIf="form.valid" class="text-success">Nhập đủ trường thông tin <mat-icon>check_circle</mat-icon></span>
    </div>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>