<mat-sidenav-container>
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
         <form  fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
              <mat-card class="p-0 mat-elevation-z24 box">
                  <mat-card-content  fxLayout="column" fxLayoutAlign="end center" class="box-content" style="height: auto;padding: 20px;font-weight: 500;font-size: 18px;">

                        <span class="text-name" *ngIf ="baseType == 0">Đăng nhập thất bại, tài khoản chưa được liên kết, click vào 
                            <a class="text-danger" routerLink="/login"><strong>đây</strong></a> để đăng nhập lại.
                        </span>
                        <span class="text-success" *ngIf ="baseType == 2">Liên kết thành công, click vào 
                            <a class="text-danger" routerLink="/"><strong>đây</strong></a> để đăng nhập lại.
                        </span>
                        <span class="text-success" *ngIf ="baseType == 3">Tài khoản này đã được liên kết từ trước, click vào 
                            <a class="text-danger" routerLink="/"><strong>đây</strong></a> để đăng nhập lại.
                        </span>
                        <span class="text-success" *ngIf ="baseType == 4">Liên kết tài khoản thất bại vui lòng thử lại, click vào 
                            <a class="text-danger" routerLink="/"><strong>đây</strong></a> để đăng nhập lại.
                        </span>
                        <span class="text-success" *ngIf ="baseType == 5">Xóa liên kết tài khoản thành công 
                            <a class="text-danger" routerLink="/"><strong>đây</strong></a> để đăng nhập lại.
                        </span>
                        <span class="text-success" *ngIf ="baseType == 6">Tài khoản đang bị khóa 
                            <a class="text-danger" routerLink="/"><strong>đây</strong></a> để đăng nhập lại.
                        </span>
                  </mat-card-content>
              </mat-card>
          </form>    
    </div>
  </mat-sidenav-container>