<div (click)="uploadSuccess? (multiple ? file.click() : file2.click()) : false" title="Bấm để chọn ảnh từ máy của bạn">
        <div class="GJXF1JNDPSB" [class.fillImage]="!multiple" [ngStyle]="!multiple? {'background-image':'url(' + defaultSrc + ')'}: null">
                <input accept="{{accept}}" [class.hidden]="multiple" (change)="upload($event.target.files)" #file type="file" multiple>
                <input accept="{{accept}}" [class.hidden]="!multiple" (change)="upload($event.target.files)" #file2 type="file">
                <div *ngIf="uploadSuccess==true" style="font-size: 70px;">+</div>
                <div *ngIf="uploadSuccess==false" style="height: 40px;">
                        <mat-card-content fxLayoutAlign="center">
                                <mat-spinner></mat-spinner>
                        </mat-card-content>
                </div>
                <div *ngIf="uploadSuccess==false" style="
                text-align: center;
                display: block;
                position: absolute;
                color: rgb(46, 46, 46);
                font-size: 10px;">{{percentDone}}% </div>
        </div>
</div>
<style>
        .fillImage {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
        }
</style>