<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>customer-complaint.modal-create</span></h1>

<h1 *ngIf="data.id > 0 && data.status == 0" mat-dialog-title class="text-danger"><span
        translate>customer-complaint.modal-edit</span> - <span translate>customer-complaint.status-0</span></h1>
<h1 *ngIf="data.id > 0 && data.status == 1" mat-dialog-title class="text-success"><span
        translate>customer-complaint.modal-edit</span> - <span translate>customer-complaint.status-1</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label><span translate>customer-complaint.accountId</span></mat-label>
                        <mat-select required [(value)]="data.accountId" formControlName="accountId"
                            placeholder="Chọn khách hàng">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="accountKey"
                                    [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'"
                                    [searching]="isProcess.accountSearching"
                                    [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option value="">Không chọn</mat-option>
                            <mat-option *ngFor="let item of accounts; index as i;" [value]="item.id">
                                Họ & tên: <strong>{{item.fullName}}</strong>
                                | Giới tính:
                                <strong *ngIf="item.sex == 0">Nữ</strong>
                                <strong *ngIf="item.sex == 1">Nam</strong>
                                <strong *ngIf="item.sex == 2">Khác</strong>
                                | SĐT: {{item.phone}} | RFID: {{item.rfid}}
                                | Loại TK:
                                <span translate *ngIf="item.type == 0">account.type-0</span>
                                <span translate *ngIf="item.type == 1">account.type-1</span>
                                <span translate *ngIf="item.type == 2">account.type-2</span>
                                | TT:
                                <span translate class="text-warning" *ngIf="item.status == 0">account.status-0</span>
                                <span translate class="text-success" *ngIf="item.status == 1">account.status-1</span>
                                <span translate class="text-danger" *ngIf="item.status == 2">account.status-2</span>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.accountId.errors?.required" translate>validate.required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>customer-complaint.bikeReportType</mat-label>
                        <mat-select required formControlName="bikeReportType" [(value)]="data.bikeReportType"
                            placeholder="Chọn loại lỗi">
                            <mat-option [value]="1001"><span class="text-danger" translate>customer-complaint.bikeReportType-1001</span> -
                                <span translate>customer-complaint.bikeReportType-1001-desc</span>
                            </mat-option>
                            <mat-option [value]="2001"><span class="text-danger" translate>customer-complaint.bikeReportType-2001</span> -
                                <span translate>customer-complaint.bikeReportType-2001-desc</span>
                            </mat-option>
                            <mat-option [value]="2002"><span class="text-danger" translate>customer-complaint.bikeReportType-2002</span> -
                                <span translate>customer-complaint.bikeReportType-2002-desc</span>
                            </mat-option>
                            <mat-option [value]="2003"><span class="text-danger" translate>customer-complaint.bikeReportType-2003</span> -
                                <span translate>customer-complaint.bikeReportType-2003-desc</span>
                            </mat-option>
                            <mat-option [value]="2004"><span class="text-danger" translate>customer-complaint.bikeReportType-2004</span> -
                                <span translate>customer-complaint.bikeReportType-2004-desc</span>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.bikeReportType.errors?.required" translate>
                            validate.required</mat-error>
                    </mat-form-field>

                    <div class="row">

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>customer-complaint.transactionCode</mat-label>
                                <input matInput formControlName="transactionCode" placeholder="Mã chuyến đi">
                                <mat-error *ngIf="form.controls.transactionCode.errors?.required" translate>
                                    validate.required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>customer-complaint.pattern</mat-label>
                                <mat-select required formControlName="pattern" [(value)]="data.pattern"
                                    placeholder="Chọn hình thức khiếu nại">
                                    <mat-option [value]="0"><span translate>customer-complaint.pattern-0</span>
                                    </mat-option>
                                    <mat-option [value]="1"><span translate>customer-complaint.pattern-1</span>
                                    </mat-option>
                                    <mat-option [value]="2"><span translate>customer-complaint.pattern-2</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.pattern.errors?.required" translate>
                                    validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>customer-complaint.complaintDate</mat-label>
                                <input required matInput formControlName="complaintDate"
                                    [matDatepicker]="pickerComplaintDate" placeholder="ngày/tháng/năm">
                                <mat-datepicker-toggle matSuffix [for]="pickerComplaintDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerComplaintDate></mat-datepicker>
                                <mat-error *ngIf="form.controls.complaintDate.errors?.required" translate>
                                    validate.required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>customer-complaint.startDate</mat-label>
                                <input required matInput formControlName="startDate"
                                    [matDatepicker]="pickerStartDate" placeholder="ngày/tháng/năm">
                                <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerStartDate></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>customer-complaint.endDate</mat-label>
                                <input matInput formControlName="endDate"
                                    [matDatepicker]="pickerEndDate" placeholder="ngày/tháng/năm">
                                <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerEndDate></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>

                    <app-file-upload-attached [viewPath]="customerComplaintsService" [accept]="categoryData.imagesType"
                        (outData)="getOutPut($event)" [multiple]="true"
                        [apiUpload]="customerComplaintsService.uploadPath()" [curentFiles]="[]">
                    </app-file-upload-attached>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>customer-complaint.description</mat-label>
                        <textarea required rows="4" matInput formControlName="description" placeholder=""
                            maxlength="2000"></textarea>
                        <mat-error *ngIf="form.controls.description.errors?.required" translate>validate.required
                        </mat-error>
                        <mat-error *ngIf="form.controls.description.hasError('minlength')" translate
                            [translateParams]="{n: '1'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.description.hasError('maxlength')" translate
                            [translateParams]="{n: '2000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>customer-complaint.note</mat-label>
                        <textarea rows="4" matInput formControlName="note" placeholder="" maxlength="2000"></textarea>
                        <mat-error *ngIf="form.controls.note.hasError('minlength')" translate
                            [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate
                            [translateParams]="{n: '2000'}">validate.maxlength</mat-error>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">

    <button roles-is="143" *ngIf="data.id > 0 && data.status == 0" type="button" (click)="delete()" mat-raised-button
        color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>

    <button roles-is="142" *ngIf="data.id == 0" type="button" (click)="save('')" mat-raised-button color="primary"
        class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>Xác nhận thêm mới</span>
    </button>

    <button roles-is="142" *ngIf="data.id > 0 && data.status == 1" type="button" (click)="save(0)" mat-raised-button
        color="warn" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">assignment_late</mat-icon>
        <span translate> Lưu lại & chưa xử lý</span>
    </button>

    <button roles-is="142" *ngIf="data.id > 0 && data.status == 0" type="button" (click)="save(1)" mat-raised-button
        color="green" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">assignment_turned_in</mat-icon>
        <span translate> Lưu lại & đã xử lý</span>
    </button>

    <button roles-is="142" *ngIf="data.id > 0" type="button" (click)="save('')" mat-raised-button color="primary"
        class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate> Lưu lại</span>
    </button>

    <div class="valid-status">
        <span *ngIf="!form.valid" class="text-danger">Chưa nhập đủ trường thông tin <mat-icon>info</mat-icon></span>
        <span *ngIf="form.valid" class="text-success">Nhập đủ trường thông tin <mat-icon>check_circle</mat-icon></span>
    </div>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>