<div class="header-t">
    <div fxLayout="row wrap">
        <div fxFlex="100" class="flex-p-15">
            <div class="breadcrumb_title" translate>QUẢN LÝ CHUYẾN ĐI NỢ CƯỚC</div>
            <ol class="breadcrumb">
                <li><a routerLink="/" translate>base.home</a></li>
                <li class="active" translate>transaction.title-l</li>
            </ol>
        </div>
    </div>
</div>

<div class="can-page">
    <div fxLayout="column">
        <div class="flex-p-15 fix-page">
            <div class="box-sh">
                <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>transaction.projectId</mat-label>
                            <mat-select [(ngModel)]="params.projectId" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id.toString()">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label><span translate>Tài khoản khách hàng</span></mat-label>
                            <mat-select [(value)]="params.accountId" placeholder="Tất cả">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="accountKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'" [searching]="isProcess.accountSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option value="">Tất cả</mat-option>
                                <mat-option *ngFor="let item of accounts; index as i;" [value]="item.id">
                                    <strong>{{item.fullName}}</strong> | SĐT: {{item.phone}} | RFID: {{item.rfid}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>transaction.ticketPrice_TicketType</mat-label>
                            <mat-select [(ngModel)]="params.ticketPrice_TicketType" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option [value]="'1'"><span translate>ticket-price.ticketType-1</span></mat-option>
                                <mat-option [value]="'2'"><span translate>ticket-price.ticketType-2</span></mat-option>
                                <mat-option [value]="'3'"><span translate>ticket-price.ticketType-3</span></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>transaction.stationIn</mat-label>
                            <mat-select [(ngModel)]="params.stationIn" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option *ngFor="let item of categoryData.stations; index as i;" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>transaction.stationOut</mat-label>
                            <mat-select [(ngModel)]="params.stationOut" placeholder="Tất cả">
                                <mat-option value="">
                                    <span translate>base.all</span>
                                </mat-option>
                                <mat-option *ngFor="let item of categoryData.stations; index as i;" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>Kết thúc chuyến đi từ</mat-label>
                            <input [(ngModel)]="params.from" matInput [matDatepicker]="pickerFrom" placeholder="Ngày/Tháng/Năm">
                            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFrom></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>Kết thúc chuyến đi đến</mat-label>
                            <input [(ngModel)]="params.to" matInput [matDatepicker]="pickerTo" placeholder="Ngày/Tháng/Năm">
                            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTo></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
                        <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                            <mat-label translate>base.searchKey</mat-label>
                            <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off" placeholder="Từ theo mã giao dịch, biển số, mã QR" type="text">
                        </mat-form-field>
                    </div>

                    <div fxFlex="5" fxFlex.sm="30" fxLayoutAlign="start center" class="p-search">
                        <button mat-raised-button color="primary" (click)="search()" class="m-5px">
                            <mat-icon class="icon-sm icon-btn">search</mat-icon>
                        </button>
                    </div>

                    <div fxFlex="5" fxFlex.sm="30" fxLayoutAlign="start center" class="p-search">
                        <button mat-raised-button color="warn" class="m-5px" (click)="export()" [disabled]="isProcess.export">
                            <mat-icon *ngIf="isProcess.export" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                            <mat-icon *ngIf="!isProcess.export" class="icon-sm icon-btn">print</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="tParentLoading">
                    <div *ngIf="isProcess.listDataTable" class="tloading">
                        <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
                            <div class="loader">Loading...</div>
                        </div>
                    </div>
                    <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
                        <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

                            <ng-container matColumnDef="stt">
                                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
                                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                                    {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.id</span></th>
                                <td mat-cell *matCellDef="let element"> <strong class="text-info">{{ appCommon.pad(element.id, 6) }}</strong> </td>
                            </ng-container>

                            <ng-container matColumnDef="station">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear>
                                    <span translate>transaction.station</span>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div><span>{{ appCommon.getObj(categoryData.stations, element.stationIn)}}</span> - <strong>{{ appCommon.getObj(categoryData.stations, element.stationOut)}}</strong></div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="bikeId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Phương tiện</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div matTooltip="Biển số" class="text-info text-500">{{element.bike?.plate}}</div>
                                    <div matTooltip="QR code" class="text-danger text-500">{{element.bike?.dock?.serialNumber}}</div>
                                    <div matTooltip="IMEI" class="text-warning text-500">{{element.bike?.dock?.imei}}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="accountId">
                                <th style="width:150px;" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.accountId</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div matTooltip="Mã khách hàng: {{element.account?.code}}" class="text-info">{{element.account?.phone}}</div>
                                    <div class="text-danger">{{element.account?.fullName}}</div>
                                    <div>
                                        NKH: <strong>{{element.customerGroup?.name}}</strong>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="customerGroupId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.customerGroupId</span></th>
                                <td mat-cell *matCellDef="let element"> {{element.customerGroup?.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="transactionCode">
                                <th style="width: 200px;" mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>transaction.transactionCode</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <div>
                                        <span matTooltip="{{ element.isOpenRFID ? 'Mở bằng RFID' : '' }} {{ element.isEndRFID ? ' Đóng bằng RFID' : '' }}, mã RFID  {{element.rfid}}" *ngIf="element.isOpenRFID || element.isEndRFID" class="text-danger text-500">{{element.transactionCode}}</span>
                                        <span *ngIf="!element.isOpenRFID && !element.isEndRFID" class="text-name">{{element.transactionCode}}</span>
                                    </div>
                                    <div matTooltip="Người thực hiện: {{ element.updatedUserObject?.displayName }}, lý do: {{ element.feedback}}">TT:
                                        <strong class="text-info" *ngIf="element.status == 0" translate>transaction.status-0</strong>
                                        <strong class="text-danger" *ngIf="element.status == 1" translate>transaction.status-1</strong>
                                        <strong class="text-success" *ngIf="element.status == 2" translate>transaction.status-2</strong>
                                        <strong class="text-warning" *ngIf="element.status == 3" translate>transaction.status-3</strong>
                                        <strong class="text-warning" *ngIf="element.status == 4" translate>transaction.status-4</strong>
                                        <strong class="text-success" *ngIf="element.status == 5" translate>transaction.status-5</strong>
                                        <strong class="text-danger" *ngIf="element.status == 6" translate>transaction.status-6</strong>
                                    </div>
                                    <div matTooltip="{{element.ticketPrice_Note}}"> Loại vé:
                                        <span class="text-success" *ngIf="element.ticketPrice_TicketType == 1" translate>ticket-price.ticketType-1</span>
                                        <span class="text-danger" *ngIf="element.ticketPrice_TicketType == 2" translate>ticket-price.ticketType-2</span>
                                        <span class="text-info" *ngIf="element.ticketPrice_TicketType == 3" translate>ticket-price.ticketType-3</span>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="isDockNotOpen">
                                <th style="width: 80px;" mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>transaction.isDockNotOpen</span></th>
                                <td (click)="selectBooking(element)" [class.active]="currentBookingMarker?.booking?.id == element.id" mat-cell *matCellDef="let element">
                                    <span *ngIf="element.isDockNotOpen" class="blink-danger">
                                        <span matTooltip="Khách hàng mở khóa thất bại khi bắt đầu chuyến đi" class="text-danger" translate>
                                            <mat-icon>warning</mat-icon>
                                        </span>
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="chargeDebt">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>Nợ cước</span></th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <div>
                                        <span class="text-danger text-500" *ngIf="element.chargeDebt > 0">{{appCommon.formatMoney(element.chargeDebt,0,3)}}</span>
                                        <span class="text-success" *ngIf="element.chargeDebt <= 0">Không</span>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="vote">
                                <th style="width: 80px;" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>Vote/Nội dung</th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="text-success text-500" matTooltip="{{element.feedback}}">Số sao: {{element.vote}}</div>
                                    <div class="text-info" matTooltip="Nội dung feedback">{{element.feedback}}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="sk">
                                <th style="width: 80px;" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>Km/Calo/Kg Cacbon</th>
                                <td mat-cell *matCellDef="let element">
                                    <div  class="text-danger div_row" matTooltip="Số km đi được">{{element.km == null ? 0 : (element.km/1000).toFixed(2) }}</div>
                                    <div class="text-info div_row" matTooltip="Số calories">{{element.kCal == null ? 0 : element.kCal}}</div>
                                    <div class="text-success text-500 div_row" matTooltip="Kg Cacbon">{{element.kg}}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.status</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="text-info" *ngIf="element.status == 0" translate>transaction.status-0</span>
                                    <span class="text-danger" *ngIf="element.status == 1" translate>transaction.status-1</span>
                                    <span class="text-success" *ngIf="element.status == 2" translate>transaction.status-2</span>
                                    <span class="text-warning" *ngIf="element.status == 3" translate>transaction.status-3</span>
                                    <span class="text-warning" *ngIf="element.status == 4" translate>transaction.status-4</span>
                                    <span class="text-success" *ngIf="element.status == 5" translate>transaction.status-5</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="time">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>TG từ/TG đến/(số phút)</th>
                                <td mat-cell *matCellDef="let element">
                                    <div>
                                        {{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}
                                    </div>
                                    <div class="text-500">
                                        {{element.endTime | date: 'dd/MM/yyyy HH:mm'}}
                                    </div>
                                    <div>
                                        (<strong class="text-success">{{element.totalMinutes}}</strong>)
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="chargeInAccount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.chargeInAccount</span></th>
                                <td mat-cell *matCellDef="let element"></td>
                            </ng-container>

                            <ng-container matColumnDef="chargeInSubAccount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.chargeInSubAccount</span></th>
                                <td mat-cell *matCellDef="let element"></td>
                            </ng-container>

                            <ng-container matColumnDef="ticketPriceId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.ticketPrice_TicketType</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="text-success" *ngIf="element.ticketPrice_TicketType == 0" translate>ticket-price.ticketType-0</span>
                                    <span class="text-danger" *ngIf="element.ticketPrice_TicketType == 1" translate>ticket-price.ticketType-1</span>
                                    <span class="text-info" *ngIf="element.ticketPrice_TicketType == 2" translate>ticket-price.ticketType-2</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="totalPrice">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear>Điểm thực tế thanh toán (tổng, điểm, điểm KM)</th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="color: #350b78 !important;" *ngIf="element.discountCode_Price > 0" matTooltip="Tiết kiệm {{appCommon.fMoney(element.discountCode_Price)}}" class="text-danger text-500 div_row">{{appCommon.formatMoney(element.totalPrice,0,3)}}</div>
                                    <div *ngIf="element.discountCode_Price <= 0" class="text-danger text-500 div_row">{{appCommon.formatMoney(element.totalPrice,0,3)}}</div>
                                    <div class="text-success div_row">{{appCommon.formatMoney(element.chargeInAccount,0,3)}}</div>
                                    <div class="text-info div_row">{{appCommon.formatMoney(element.chargeInSubAccount,0,3)}}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="estimate">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear>Tổng điểm ước tính thanh toán(tổng, điểm, điểm KM)</th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="color: #350b78 !important;" *ngIf="element.discountCode_Price > 0" matTooltip="Tiết kiệm {{appCommon.fMoney(element.discountCode_Price)}}" class="text-danger text-500 div_row">{{appCommon.formatMoney(element.totalPrice,0,3)}}</div>
                                    <div *ngIf="element.discountCode_Price <= 0" class="text-danger text-500 div_row">{{appCommon.formatMoney(element.totalPrice,0,3)}}</div>
                                    <div class="div_row"><span class="text-success">{{appCommon.formatMoney(element.estimateChargeInAccount,0,3)}}</span></div>
                                    <div class="div_row"><span class="text-info">{{appCommon.formatMoney(element.estimateChargeInSubAccount,0,3)}}</span></div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="endTime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.endTime</span></th>
                                <td mat-cell *matCellDef="let element"> {{element.endTime | date: 'HH:mm dd/MM/yyyy'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="projectId">
                                <th mat-header-cell *matHeaderCellDef matSortDisableClear>
                                    <span translate>transaction.projectId</span>/đơn vị đầu tư
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <strong>{{ appCommon.getStation(categoryData.projects, element.projectId)}}</strong> / {{appCommon.getStation(categoryData.investors, element.investorId)}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="startTime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.startTime</span></th>
                                <td mat-cell *matCellDef="let element"> {{element.startTime | date: 'HH:mm dd/MM/yyyy'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th width="130" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <button roles-is="267" title="Hoàn tiền" (click)="openRefundDialog(element)" mat-raised-button color="green" class="m-1 btn-grid">
                                        <mat-icon class="icon-sm">money</mat-icon>
                                    </button>
                                    <button (click)="openDetailsDialog(element)" matTooltip="Chi tiết giao dịch" mat-raised-button color="accent" class="m-1 btn-grid">
                                        <mat-icon class="icon-sm">tab</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div #paginator_rec>
                        <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>