<h1 mat-dialog-title><span translate>BÁO CÁO DOANH THU NHÂN VIÊN - CỘNG TÁC VIÊN VTS</span></h1>
<a (click)="close()" title="Đóng cửa sổ" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-4">
                <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                    <mat-label>Nhóm nhân viên</mat-label>
                    <mat-select [(value)]="params.type" placeholder="Tất cả">
                        <mat-option [value]="'all'">Tất cả</mat-option>
                        <mat-option [value]="'nv_cskh'">Chăm sóc khách hàng</mat-option>
                        <mat-option [value]="'nv_dpbd'">Điều phối bảo dưỡng</mat-option>
                        <mat-option [value]="'ctv'">Cộng tác viên</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                    <mat-label>Từ ngày</mat-label>
                    <input [(ngModel)]="params.from" matInput [matDatepicker]="pickerFrom" placeholder="Ngày/Tháng/Năm">
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                    <mat-label>Đến ngày</mat-label>
                    <input [(ngModel)]="params.to" matInput [matDatepicker]="pickerTo" placeholder="Ngày/Tháng/Năm">
                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTo></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

    </div>
</div>
<div class="dialog-footer">
    <button mat-raised-button color="warn" class="m-5px" (click)="export()" [disabled]="isProcess.export">
        <mat-icon *ngIf="isProcess.export" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.export" class="icon-sm icon-btn">print</mat-icon>
        <span>Xuất báo cáo</span>
    </button>
</div>