<div fxLayout="column" fxLayoutAlign="space-between none" style="min-height: 500px;">

    <div fxLayout="row" fxLayoutAlign="space-between none">
        <div fxFlex="none" style="width:400px">
            <div class="p-search" style="margin-top:5px">
                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Loại thống kê</mat-label>
                    <mat-select [(value)]="typeView" (selectionChange)="typeViewChange($event)">
                        <mat-option value="bikeOut">Xe thuê</mat-option>
                        <mat-option value="bikeIn">Xe trả</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <ng-multiselect-dropdown [placeholder]="'Chọn trạm'" [settings]="ngSelect.settings" [data]="ngSelect.data"
                [(ngModel)]="ngSelect.selectedItems" (onSelect)="onNgSelect($event)" (onDeSelect)="onNgDeSelect($event)"
                (onSelectAll)="onNgSelectAll($event)">
            </ng-multiselect-dropdown>
        </div>

        <div fxFlex="100">
            <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [legendTitle]="legendTitle"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="results"
                (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-line-chart>
        </div>

    </div>

</div>