<mat-sidenav-container>
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
            <mat-card class="p-0 mat-elevation-z24 box">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                    <button mat-fab color="accent" class="mat-elevation-z12" (click)="onSubmit(form.value);">
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                    <a mat-button><span>Đăng nhập tài khoản để sử dụng chức năng quản lý!</span></a>
                </div>
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                        <span class="box-content-header" translate>user.login</span>
                        <mat-form-field floatLabel="always" appearance="outline" class="w-100">
                            <mat-label translate>user.userName</mat-label>
                            <input matInput placeholder="Tài khoản" autocomplete="new-password" formControlName="username">
                            <mat-error *ngIf="form.controls.username.errors?.required" translate>validate.required</mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="always" appearance="outline" class="w-100">
                            <mat-label translate>user.password</mat-label>
                            <input matInput placeholder="Mật khẩu" type="password" autocomplete="new-password" formControlName="password">
                            <mat-error *ngIf="form.controls.password.errors?.required" translate>validate.required</mat-error>
                        </mat-form-field>
                    </mat-card>
                    <button [disabled]="isProcess.login" mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">
                        <span *ngIf= "!isProcess.login">Đăng nhập</span>
                        <span *ngIf= "isProcess.login">Xin đợi...</span>
                    </button>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</mat-sidenav-container>