<h1 mat-dialog-title><span translate>ĐỔI MẬT KHẨU - <span class="text-danger">{{data.fullName}} - {{data.phone}}</span></span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Nhập mật khẩu mới</mat-label>
                        <input  required matInput formControlName="newPassword" autocomplete="new-password" placeholder="Mật khẩu 6 đến 12 ký tự" type="password" maxlength="12">
                        <mat-error *ngIf="form.controls.newPassword.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.newPassword.hasError('minlength')" translate [translateParams]="{n: '6'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.newPassword.hasError('maxlength')" translate [translateParams]="{n: '12'}">validate.maxlength</mat-error>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Nhập lại mật khẩu mới</mat-label>
                        <input  required matInput formControlName="confirmPassword"  autocomplete="new-password" placeholder="Mật khẩu 6 đến 12 ký tự" type="password" maxlength="12">
                        <mat-error *ngIf="form.controls.confirmPassword.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.confirmPassword.hasError('minlength')" translate [translateParams]="{n: '6'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.confirmPassword.hasError('maxlength')" translate [translateParams]="{n: '12'}">validate.maxlength</mat-error>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>