<h1 mat-dialog-title><span translate>THÔNG TIN GIAO DỊCH</span></h1>
<a (click)="close()" title="Đóng cửa sổ" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content class="mat-dialog-content-full">
    <div class="body-modal">

        <mat-tab-group [selectedIndex]="viewType" (selectedTabChange)="matTabGroupChange($event)">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">list</mat-icon>
                    <span> Thông tin giao dịch</span>
                </ng-template>
                <div style="height: 15px;"></div>
                <div id="fix_detail"></div>
                <div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="label-note">
                                    <span translate>Thông tin chuyến đi</span>
                                </span>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.transactionCode</mat-label>
                                            <input [disabled]="true" matInput [(ngModel)]="data.transaction.transactionCode" placeholder="" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.status</mat-label>
                                            <input [disabled]="true" hidden matInput [value]="bindStatus(data.transaction.status)">
                                            <span class="text-info fs13" *ngIf="data.transaction.status == 0" translate>transaction.status-0</span>
                                            <span class="text-danger fs13" *ngIf="data.transaction.status == 1" translate>transaction.status-1</span>
                                            <span class="text-success fs13" *ngIf="data.transaction.status == 2" translate>transaction.status-2</span>
                                            <span class="text-warning fs13" *ngIf="data.transaction.status == 3" translate>transaction.status-3</span>
                                            <span class="text-warning fs13" *ngIf="data.transaction.status == 4" translate>transaction.status-4</span>
                                            <span class="text-success fs13" *ngIf="data.transaction.status == 5" translate>transaction.status-5</span>
                                            <span class="text-success fs13" *ngIf="data.transaction.status == 7" translate>transaction.status-7</span>
                                            <span class="text-danger fs13" *ngIf="data.transaction.status == 8" translate>transaction.status-8</span>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>Người xử lý</mat-label>
                                            <input [disabled]="true" matInput value="{{data.transaction.updatedUserObject?.displayName}}" placeholder="" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.startTime</mat-label>
                                            <input [disabled]="true" matInput value="{{data.transaction.startTime | date: 'HH:mm dd/MM/yyyy'}}" placeholder="#" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.endTime</mat-label>
                                            <input [disabled]="true" matInput value="{{data.transaction.endTime | date:	'HH:mm dd/MM/yyyy'}}" placeholder="#">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.customerGroupId</mat-label>
                                            <input [disabled]="true" matInput value="{{data.transaction.customerGroup?.name}}" placeholder="#" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.stationIn</mat-label>
                                            <input [disabled]="true" matInput value="{{ appCommon.getStation(categoryData.stations, data.transaction.stationIn)}}" placeholder="#">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.stationOut</mat-label>
                                            <input [disabled]="true" matInput value="{{ appCommon.getStation(categoryData.stations, data.transaction.stationOut)}}" placeholder="#">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.vote</mat-label>
                                            <input [disabled]="true" matInput value="{{ data.transaction.vote }}" placeholder="">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>Quãng đường(km)</mat-label>
                                            <input [disabled]="true" matInput value="{{ (data.transaction.km / 1000).toFixed(2) }}" placeholder="">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>Calories</mat-label>
                                            <input [disabled]="true" matInput value="{{ data.transaction.kCal.toFixed(2) }}" placeholder="">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>KG Cacbon</mat-label>
                                            <input [disabled]="true" matInput value="{{ data.transaction.kg.toFixed(2) }}" placeholder="">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.bikeId</mat-label>
                                            <input [disabled]="true" matInput [(ngModel)]="data.transaction.bike.plate" placeholder="37">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.investorId</mat-label>
                                            <input [disabled]="true" matInput value="{{ appCommon.getTenant(categoryData.investors, data.transaction.investorId)}}" placeholder="" type="text" maxlength="1000">

                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.projectId</mat-label>
                                            <input [disabled]="true" matInput value="{{ appCommon.getTenant(categoryData.projects, data.transaction.projectId)}}" placeholder="37">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>Phản hồi khách hàng</mat-label>
                                    <textarea style="font-size: 13px;" matInput rows="2" disabled>{{data.transaction.feedback}}</textarea>
                                </mat-form-field>

                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>Ghi chú quản trị</mat-label>
                                    <textarea style="font-size: 13px;" matInput rows="2" disabled>{{data.transaction.note}}</textarea>
                                </mat-form-field>

                                <span class="label-note">
                                    <span translate>Thông tin tính phí</span>
                                </span>

                                <div class="row">

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.ticketPrice_TicketType</mat-label>
                                            <input [disabled]="true" matInput value="{{data.transaction.ticketPrice?.name}}" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.ticketPrice_TicketValue</mat-label>
                                            <input [disabled]="true" matInput value="{{appCommon.formatMoney(data.transaction.ticketPrice?.ticketValue,0,3)}}" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.totalMinutes</mat-label>
                                            <input [disabled]="true" matInput value="{{appCommon.formatMoney(data.transaction.totalMinutes,0,3)}}" placeholder="#">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.totalPrice</mat-label>
                                            <input [disabled]="true" hidden matInput value="{{appCommon.formatMoney(data.transaction.totalPrice,0,3)}}" placeholder="#">
                                            <span class="text-info fs13">{{appCommon.formatMoney(data.transaction.totalPrice,0,3)}}</span>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.chargeInAccount</mat-label>
                                            <input [disabled]="true" hidden matInput value="{{appCommon.formatMoney(data.transaction.chargeInAccount,0,3)}}" placeholder="#">
                                            <span class="text-success fs13">{{appCommon.formatMoney(data.transaction.chargeInAccount,0,3)}}</span>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>transaction.chargeInSubAccount</mat-label>
                                            <input [disabled]="true" hidden matInput value="{{appCommon.formatMoney(data.transaction.chargeInSubAccount,0,3)}}" placeholder="#">
                                            <span class="text-danger fs13">{{appCommon.formatMoney(data.transaction.chargeInSubAccount,0,3)}}</span>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>Thanh toán nợ cước (nếu có)</mat-label>
                                            <input [disabled]="true" class="text-success" matInput value="{{appCommon.formatMoney(data.transaction.chargeDebt,0,3)}}" placeholder="#">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>Phụ phí thu hồi xe (nếu có)</mat-label>
                                            <input [disabled]="true" class="text-success" matInput value="{{appCommon.formatMoney(data.transaction.vehicleRecallPrice,0,3)}}" placeholder="#">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>Phụ phí thu hồi xe KM (nếu có)</mat-label>
                                            <input [disabled]="true" class="text-success" matInput value="{{ (data.transaction.reCallM/1000).toFixed(2)}} KM" placeholder="">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <mat-form-field floatLabel="always" appearance="outline">
                                    <mat-label translate>transaction.ticketPrice_Note</mat-label>
                                    <textarea style="font-size: 13px;" matInput rows="3" disabled>{{data.transaction.ticketPrice_Note}}</textarea>
                                </mat-form-field>

                                <span class="label-note">
                                    <span translate>Thông tin khách hàng</span>
                                </span>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>Tên khách hàng</mat-label>
                                            <input [disabled]="true" matInput value="{{data.transaction.account?.fullName}}" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>Số điện thoại</mat-label>
                                            <input [disabled]="true" matInput value="{{data.transaction.account?.phone}}" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>Mã RFID</mat-label>
                                            <input [disabled]="true" matInput value="{{data.transaction.account?.rfid}}" type="text" maxlength="1000">
                                        </mat-form-field>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <span class="label-note">
                                    <span translate>Bản đồ di chuyến</span>
                                </span>
                                <div>
                                    <agm-map [styles]="mapStyle" minZoom="8" [style.height.px]="700" [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="location.zoom" (zoomChange)="zoomChange($event)">

                                        <agm-marker [iconUrl]="marker.iconUrl" *ngFor="let marker of location.markers" [latitude]="marker.lat" [longitude]="marker.lng">
                                        </agm-marker>

                                        <agm-polyline [strokeWeight]="7" [strokeOpacity]="0.5" [strokeColor]="'blue'">
                                            <ng-container *ngFor="let item of polylines">
                                                <agm-polyline-point [latitude]="item.lat" [longitude]="item.long"></agm-polyline-point>
                                            </ng-container>
                                        </agm-polyline>

                                    </agm-map>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader"><span translate>button.loading</span></div>
    </div>
</div>