<div class="header-t">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>bike-report.title</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>bike-report.title-l</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh">
        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          
          <div fxFlex="40" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label><span translate>customer-complaint.accountId</span></mat-label>
              <mat-select [(ngModel)]="params.accountId" [(value)]="params.accountId" placeholder="Tất cả">
                <mat-option>
                  <ngx-mat-select-search [formControl]="accountKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'" [searching]="isProcess.accountSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                </mat-option>
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option *ngFor="let item of accounts; index as i;" [value]="item.id">
                  <strong>{{item.fullName}}</strong> | {{item.phone}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>bike-report.projectId</mat-label>
              <mat-select [(ngModel)]="params.projectId" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id.toString()">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>bike-report.investorId</mat-label>
              <mat-select [(ngModel)]="params.investorId" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option *ngFor="let item of categoryData.investors; index as i;" [value]="item.id.toString()">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>bike-report.type</mat-label>
              <mat-select [(ngModel)]="params.type" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option value="1"><span translate>bike-report.type-1</span></mat-option>
                <mat-option value="2"><span translate>bike-report.type-2</span></mat-option>
                <mat-option value="3"><span translate>bike-report.type-3</span></mat-option>
                <mat-option value="4"><span translate>bike-report.type-4</span></mat-option>
                <mat-option value="5"><span translate>bike-report.type-5</span></mat-option>
                <mat-option value="0"><span translate>bike-report.type-0</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Thời gian báo sự cố từ</mat-label>
              <input [(ngModel)]="params.from" matInput [matDatepicker]="pickerFrom" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Thời gian báo sự cố đến</mat-label>
              <input [(ngModel)]="params.to" matInput [matDatepicker]="pickerTo" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>base.searchKey</mat-label>
              <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off"
                placeholder="Mã chuyến đi" type="text">
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="30" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="primary" (click)="search()" class="m-5px">
              <mat-icon class="icon-sm icon-btn">search</mat-icon>
            </button>
          </div>

        </div>
        <div class="tParentLoading">
          <div *ngIf="isProcess.listDataTable" class="tloading">
            <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
              <div class="loader">Loading...</div>
            </div>
          </div>
          <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
            <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData"
              (matSortChange)="handleSortData($event)">

              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span
                    translate>base.order</span></th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                  {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>bike-report.id</span></th>
                <td mat-cell *matCellDef="let element">
                  <div>{{element.id}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="dockId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>bike-report.dockId</span></th>
                <td mat-cell *matCellDef="let element"> {{element.dockId}} </td>
              </ng-container>

              <ng-container matColumnDef="bikeId">
                <th width="120" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>bike-report.bikeId</span></th>
                <td mat-cell *matCellDef="let element">
                  <div class="text-info text-500">{{element.bike?.plate}}</div>
                  <div class="text-danger text-500">{{element.dock?.serialNumber}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th width="130" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>bike-report.type</span></th>
                <td mat-cell *matCellDef="let element">
                  <div [ngSwitch]="element.type">
                    <span translate *ngSwitchCase="1">bike-report.type-1</span>
                    <span translate *ngSwitchCase="2">bike-report.type-2</span>
                    <span translate *ngSwitchCase="3">bike-report.type-3</span>
                    <span translate *ngSwitchCase="4">bike-report.type-4</span>
                    <span translate *ngSwitchCase="5">bike-report.type-5</span>
                    <span translate *ngSwitchDefault>bike-report.type-0</span>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>bike-report.description</span></th>
                <td mat-cell *matCellDef="let element">
                  <div>{{element.description}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="accountId">
                <th width="130" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>bike-report.accountId</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.account?.fullName}}</span></div>
                  <div class="text-name">{{element.account?.phone}}</div>
                  <!-- <div *ngIf="element.account?.rfid!=null" class="text-500 text-danger">{{element.account?.rfid}}</div>
                  <div *ngIf="element.account?.rfid==null" class="text-500 text-danger">---</div> -->
                </td>
              </ng-container>

              <ng-container matColumnDef="updatedDate">
                <th width="130" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>bike-report.updatedUser</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.updatedUserObject?.displayName}}</span></div>
                  <div><span class="">{{element.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</span></div>
                </td>
              </ng-container>
             
              <ng-container matColumnDef="transactionCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>
                  Thời gian/mã chuyến đi
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-danger text-500">{{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span></div>
                  <div class="text-name">{{(element.transactionCode == null ? '---' : element.transactionCode) }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="note">
                <th width="170" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>bike-report.note</span></th>
                <td mat-cell *matCellDef="let element"> {{element.note}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th width="100" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>bike-report.status</span></th>
                <td mat-cell *matCellDef="let element">
                  <span translate class="text-danger" *ngIf="element.status == false">bike-report.status-0</span>
                  <span translate class="text-success" *ngIf="element.status == true">bike-report.status-1</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="file">
                <th width="200" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>bike-report.file</span></th>
                <td mat-cell *matCellDef="let element">
                  <img src="https://api-mobile.tngo.vn/{{element.file}}" class="img-responsive" alt="">
                </td>
              </ng-container>

              <ng-container matColumnDef="investorId">
                <th width="180" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Dự án/Đơn vị đầu tư</span></th>
                <td mat-cell *matCellDef="let element">
                  <strong>{{ appCommon.getObj(categoryData.projects, element.projectId)}}</strong> / {{appCommon.getObj(categoryData.investors, element.investorId)}}
                </td>
              </ng-container>
              
              <ng-container matColumnDef="img">
                <th width="50" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Ảnh</span></th>
                <td mat-cell *matCellDef="let element"> 
                  <button *ngIf="element.file!=null" (click)="openImageDialog(element)" mat-raised-button color="green" class="m-1 btn-grid">
                    <mat-icon class="icon-sm">image</mat-icon>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th width="90" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
                <td mat-cell *matCellDef="let element">
                  <button roles-is="178" (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
                    <mat-icon class="icon-sm">edit</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div #paginator_rec>
            <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)"
              [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>