<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>notification-job.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>notification-job.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label><span translate>notification-job.accountId</span></mat-label>
                        <mat-select required [(value)]="data.accountId" formControlName="accountId" placeholder="Chọn khách hàng">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="accountKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'" [searching]="isProcess.accountSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option [value]="0">Tất cả khách hàng trên hệ thông</mat-option>
                            <mat-option *ngFor="let item of accounts; index as i;" [value]="item.id">
                                Họ & tên: <strong>{{item.fullName}}</strong> | Giới tính:
                                <strong *ngIf="item.sex == 0">Nữ</strong>
                                <strong *ngIf="item.sex == 1">Nam</strong>
                                <strong *ngIf="item.sex == 2">Khác</strong>
                                | SĐT: {{item.phone}} | RFID: {{item.rfid}}
                                | Loại TK: <span translate *ngIf="item.type == 0">account.type-0</span><span translate *ngIf="item.type == 1">account.type-1</span><span translate *ngIf="item.type == 2">account.type-2</span>
                                | TT: <span translate class="text-warning" *ngIf="item.status == 0">account.status-0</span><span translate class="text-success" *ngIf="item.status == 1">account.status-1</span><span translate class="text-danger" *ngIf="item.status == 2">account.status-2</span>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.accountId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>notification-job.tile</mat-label>
                        <input required matInput formControlName="tile" placeholder="" type="text" maxlength="100">

                        <mat-error *ngIf="form.controls.tile.errors?.required" translate>validate.required</mat-error>

                        <mat-error *ngIf="form.controls.tile.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.tile.hasError('maxlength')" translate [translateParams]="{n: '100'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>notification-job.message</mat-label>
                        <textarea required matInput formControlName="message" placeholder="" rows="10" maxlength="500"></textarea>
                        <mat-error *ngIf="form.controls.message.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.message.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.message.hasError('maxlength')" translate [translateParams]="{n: '500'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>notification-job.publicDate</mat-label>
                                <input required matInput formControlName="publicDate" [matDatepicker]="pickerPublicDate">
                                <mat-datepicker-toggle matSuffix [for]="pickerPublicDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerPublicDate></mat-datepicker>
                                <mat-error *ngIf="form.controls.publicDate.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>notification-job.publicTime</mat-label>
                                <input required show-todays-date="" minutes="true" min-date="date" show-icon="true" matInput formControlName="publicTime" [format]="24" readonly [ngxTimepicker]="picker">
                                <ngx-material-timepicker #picker></ngx-material-timepicker>
                                <mat-error *ngIf="form.controls.publicTime.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button roles-is="118" *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button roles-is="117" type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>