<h1 *ngIf="data.exportBillItem.id == 0" mat-dialog-title><span translate>export-bill-item.modal-create</span></h1>
<h1 *ngIf="data.exportBillItem.id > 0" mat-dialog-title><span translate>export-bill-item.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>export-bill-item.suppliesId</mat-label>
                        <mat-select required [(value)]="data.exportBillItem.suppliesId" formControlName="suppliesId" placeholder="Chọn trang thiết bị">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="suppliesKey" [placeholderLabel]="'Tìm kiếm theo mã, tên'" [searching]="isProcess.suppliesSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option value="">Không chọn</mat-option>
                            <mat-option *ngFor="let item of suppliess; index as i;" [value]="item.id">
                                Mã: <strong>{{item.name}}</strong> | Tên: {{item.code}} | Tồn: <strong class="text-danger">{{item.quantity}}</strong> | Trạng thái:
                                <strong translate *ngIf = "item.status == 0">supplies.status-0</strong>
                                <strong translate *ngIf = "item.status == 1">supplies.status-1</strong>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.suppliesId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>export-bill-item.count</mat-label>
                                <input required currencyMask [options]="appCommon.moneyInputFormat()" matInput class="money-style" formControlName="count" placeholder="Ví dụ: 1" type="text" min="1" max="999999">
                                <mat-error *ngIf="form.controls.count.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>export-bill-item.price</mat-label>
                                <input required currencyMask [options]="appCommon.moneyInputFormat()" matInput class="money-style" formControlName="price" placeholder="" type="text">
                                <mat-error *ngIf="form.controls.price.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>export-bill-item.total</mat-label>
                                <input  readonly currencyMask [options]="appCommon.moneyInputFormat()" matInput class="money-style" formControlName="total" placeholder="" type="text">
                                <mat-error *ngIf="form.controls.total.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>export-bill-item.note</mat-label>
                        <textarea rows="5" matInput formControlName="note" placeholder="Tối đa 2000 ký tự" type="text" maxlength="2000"></textarea>
                        <mat-error *ngIf="form.controls.note.hasError('maxlength')" translate [translateParams]="{n: '2000'}">validate.maxlength</mat-error>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button roles-is="182" *ngIf="data.exportBillItem.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button roles-is="182" type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>