<div class="tParentLoading">
    <div *ngIf="isProcess.listDataTable" class="tloading">
        <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
            <div class="loader">Loading...</div>
        </div>
    </div>
    <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
        <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

            <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                    {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.id</span></th>
                <td mat-cell *matCellDef="let element"> <strong class="text-info">{{ appCommon.pad(element.id, 6) }}</strong> </td>
            </ng-container>

            <ng-container matColumnDef="station">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear>
                    <span translate>transaction.station</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div><span>{{ appCommon.getObj(categoryData.stations, element.stationIn)}}</span> - <strong>{{ appCommon.getObj(categoryData.stations, element.stationOut)}}</strong></div>
                </td>
            </ng-container>

            <ng-container matColumnDef="bikeId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Phương tiện</span></th>
                <td mat-cell *matCellDef="let element">
                    <div matTooltip="Biển số" class="text-info text-500">{{element.bike?.plate}}</div>
                    <div matTooltip="QR code" class="text-danger text-500">{{element.bike?.dock?.serialNumber}}</div>
                    <div matTooltip="IMEI" class="text-warning text-500">{{element.bike?.dock?.imei}}</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="accountId">
                <th style="width:150px;" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.accountId</span></th>
                <td mat-cell *matCellDef="let element">
                    <div matTooltip="Mã khách hàng: {{element.account?.code}}" class="text-info">{{element.account?.phone}}</div>
                    <div class="text-danger">{{element.account?.fullName}}</div>
                    <div> NKH: <strong>{{element.customerGroup?.name}}</strong></div>
                </td>
            </ng-container>

            <ng-container matColumnDef="customerGroupId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.customerGroupId</span></th>
                <td mat-cell *matCellDef="let element"> {{element.customerGroup?.name}} </td>
            </ng-container>

            <ng-container matColumnDef="transactionCode">
                <th style="width: 200px;" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.transactionCode</span></th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        <span class="text-name">{{element.transactionCode}}</span>
                    </div>
                    <div matTooltip="Người thực hiện: {{ element.updatedUserObject?.displayName }}, lý do: {{ element.feedback}}">TT:
                        <strong class="text-info" *ngIf="element.status == 0" translate>transaction.status-{{element.status}}</strong>
                        <strong class="text-danger" *ngIf="element.status == 1" translate>transaction.status-{{element.status}}</strong>
                        <strong class="text-success" *ngIf="element.status == 2" translate>transaction.status-{{element.status}}</strong>
                        <strong class="text-warning" *ngIf="element.status == 3" translate>transaction.status-{{element.status}}</strong>
                        <strong class="text-warning" *ngIf="element.status == 4" translate>transaction.status-{{element.status}}</strong>
                        <strong class="text-success" *ngIf="element.status == 5" translate>transaction.status-{{element.status}}</strong>
                        <strong class="text-danger" *ngIf="element.status == 6" translate>transaction.status-{{element.status}}</strong>
                        <strong class="text-success" *ngIf="element.status == 7" translate>transaction.status-{{element.status}}</strong>
                        <strong class="text-warning" *ngIf="element.status == 8" translate>transaction.status-{{element.status}}</strong>
                    </div>
                    <div matTooltip="{{element.ticketPrice_Note}}"> Loại vé:
                        <span class="text-success" *ngIf="element.ticketPrice_TicketType == 1" translate>ticket-price.ticketType-1</span>
                        <span class="text-danger" *ngIf="element.ticketPrice_TicketType == 2" translate>ticket-price.ticketType-2</span>
                        <span class="text-info" *ngIf="element.ticketPrice_TicketType == 3" translate>ticket-price.ticketType-3</span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="chargeDebt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>Thanh toán nợ cước</span></th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <div>
                        <span class="text-success" *ngIf="element.chargeDebt > 0">{{appCommon.formatMoney(element.chargeDebt,0,3)}}</span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="vote">
                <th style="width: 80px;" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>Vote</th>
                <td mat-cell *matCellDef="let element">
                    <div matTooltip="{{element.feedback}}" class="text-success text-500" matTooltip="{{element.feedback}}">Số sao: {{element.vote}}</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="sk">
                <th style="width: 80px;" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>Km/Calo/Kg Cacbon</th>
                <td mat-cell *matCellDef="let element">
                    <div class="text-danger" matTooltip="Số km đi được">{{element.km == null ? 0 : (element.km/1000).toFixed(2) }}</div>
                    <div class="text-info" matTooltip="Số calories">{{element.kCal == null ? 0 : element.kCal}}</div>
                    <div class="text-success text-500" matTooltip="Kg Cacbon">{{element.kg}}</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.status</span></th>
                <td mat-cell *matCellDef="let element">
                    <span class="text-info" *ngIf="element.status == 0" translate>transaction.status-0</span>
                    <span class="text-danger" *ngIf="element.status == 1" translate>transaction.status-1</span>
                    <span class="text-success" *ngIf="element.status == 2" translate>transaction.status-2</span>
                    <span class="text-warning" *ngIf="element.status == 3" translate>transaction.status-3</span>
                    <span class="text-warning" *ngIf="element.status == 4" translate>transaction.status-4</span>
                    <span class="text-success" *ngIf="element.status == 5" translate>transaction.status-5</span>
                    <span class="text-success" *ngIf="element.status == 7" translate>transaction.status-7</span>
                    <span class="text-danger" *ngIf="element.status == 8" translate>transaction.status-8</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="time">
                <th style="width: 140px;" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>TG từ/TG đến/(số phút)</th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        {{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}
                    </div>
                    <div class="text-500">
                        {{element.endTime | date: 'dd/MM/yyyy HH:mm'}}
                    </div>
                    <div>
                        (<strong class="text-success">{{element.totalMinutes}}</strong>)
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="ticketPriceId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.ticketPrice_TicketType</span></th>
                <td mat-cell *matCellDef="let element">
                    <span class="text-success" *ngIf="element.ticketPrice_TicketType == 0" translate>ticket-price.ticketType-0</span>
                    <span class="text-danger" *ngIf="element.ticketPrice_TicketType == 1" translate>ticket-price.ticketType-1</span>
                    <span class="text-info" *ngIf="element.ticketPrice_TicketType == 2" translate>ticket-price.ticketType-2</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="totalPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>Tổng/điểm/điểm KM</th>
                <td mat-cell *matCellDef="let element">
                    <div class="text-danger text-500">{{appCommon.formatMoney(element.totalPrice,0,3)}}</div>
                    <div class="text-success">{{appCommon.formatMoney(element.chargeInAccount,0,3)}}</div>
                    <div class="text-info">{{appCommon.formatMoney(element.chargeInSubAccount,0,3)}}</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="reCall">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear>Phí thu hồi/ số KM</th>
                <td mat-cell *matCellDef="let element">
                    <div class="div_row" matTooltip="Phí thu hồi" *ngIf="element.vehicleRecallPrice > 0">{{appCommon.formatMoney(element.vehicleRecallPrice,0,3)}}</div>
                    <div class="div_row">{{ (element.reCallM/1000).toFixed(2)}} KM</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="projectId">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear>
                    <span translate>transaction.projectId</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    <strong>{{ appCommon.getStation(categoryData.projects, element.projectId)}}</strong>
                </td>
            </ng-container>

            <ng-container matColumnDef="updatedDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>transaction.updatedUser</span></th>
                <td mat-cell *matCellDef="let element">
                    <div><span class="text-500">{{element.updatedUserObject?.displayName}}</span></div>
                    <div><span class="">{{element.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="isDockNotOpen">
                <th style="width: 80px;" mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>transaction.isDockNotOpen</span></th>
                <td (click)="selectBooking(element)" [class.active]="currentBookingMarker?.booking?.id == element.id" mat-cell *matCellDef="let element">
                    <span *ngIf="element.isDockNotOpen" class="blink-danger">
                        <span matTooltip="Khách hàng mở khóa thất bại khi bắt đầu chuyến đi" class="text-danger" translate>
                            <mat-icon>warning</mat-icon>
                        </span>
                    </span>
                </td>
            </ng-container>


            <ng-container matColumnDef="action">
                <th width="50" mat-header-cell *matHeaderCellDef>
                    <button (click)="search()" mat-raised-button class="m-1 btn-grid">
                        <mat-icon class="icon-sm icon-btn">refresh</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let element">
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div #paginator_rec>
        <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>