<div class="header-export">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>Báo cáo quản lý hạ tầng</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>Danh sách báo cáo</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">QUẢN LÝ TRẠM XE</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('station')"
              [disabled]="isProcess.station">
              <mat-icon *ngIf="isProcess.station" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.station" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>

      </div>

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">QUẢN LÝ XE</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('bike')" [disabled]="isProcess.bike">
              <mat-icon *ngIf="isProcess.bike" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.bike" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>
      </div>

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">BẢO DƯỠNG SỬA CHỮA</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Từ ngày</mat-label>
              <input [(ngModel)]="maintainRepair.from" matInput [matDatepicker]="pickerMaintainRepairFrom" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerMaintainRepairFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerMaintainRepairFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Đến ngày</mat-label>
              <input [(ngModel)]="maintainRepair.to" matInput [matDatepicker]="pickerMaintainRepairTo" placeholder="Ngày/Tháng/Năm">
              <mat-datepicker-toggle matSuffix [for]="pickerMaintainRepairTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerMaintainRepairTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('maintainRepair')"
              [disabled]="isProcess.maintainRepair">
              <mat-icon *ngIf="isProcess.maintainRepair" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.maintainRepair" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>

      </div>

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">QUẢN LÝ VẬT TƯ TỒN KHO</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <!-- <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label>Kho</mat-label>
              <mat-select [(ngModel)]="warehouse.type" placeholder="Tất cả">
                <mat-option value="transaction"><span>Hoàn thành</span></mat-option>
                <mat-option value="booking"><span>Đang thuê</span></mat-option>
                <mat-option value="transactionDebt"><span>Nợ cước</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('suppliesInWarehouse')"
              [disabled]="isProcess.suppliesInWarehouse">
              <mat-icon *ngIf="isProcess.suppliesInWarehouse" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.suppliesInWarehouse" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>
      </div>

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">THÔNG TIN CHI TIẾT VẬT TƯ</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('supplies')"
              [disabled]="isProcess.supplies">
              <mat-icon *ngIf="isProcess.supplies" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.supplies" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>
      </div>

      <div class="box-sh mb-20">
        <span class="label-export"><span translate="" ng-reflect-translate="">QUẢN LÝ KHÓA/SIM</span></span>
        <div class="form-export" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="blue" class="m-5px" (click)="export('dock')" [disabled]="isProcess.dock">
              <mat-icon *ngIf="isProcess.dock" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.dock" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>