<h1 *ngIf="data.maintenanceRepairItem.id == 0" mat-dialog-title><span translate>maintenance-repair-item.modal-create</span></h1>
<h1 *ngIf="data.maintenanceRepairItem.id > 0" mat-dialog-title><span translate>maintenance-repair-item.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>maintenance-repair-item.bikeId</mat-label>
                        <mat-select required [(value)]="data.maintenanceRepairItem.bikeId" formControlName="bikeId" placeholder="Chọn trang thiết bị">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="bikeKey" [placeholderLabel]="'Tìm kiếm theo biển số'" [searching]="isProcess.bikeSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option value="">Không chọn</mat-option>
                            <mat-option *ngFor="let item of bikes; index as i;" [value]="item.id">
                                Biển số: <strong>{{item.plate}}</strong> | Trạng thái:
                                <strong translate *ngIf="item.status == 0">bike.status-0</strong>
                                <strong translate *ngIf="item.status == 1">bike.status-1</strong>
                                <strong translate *ngIf="item.status == 2">bike.status-2</strong>
                                <strong translate *ngIf="item.status == 3">bike.status-3</strong>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.bikeId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>maintenance-repair-item.type</mat-label>
                                <mat-select required formControlName="type" [(value)]="data.maintenanceRepairItem.type" placeholder="Chọn loại">
                                    <mat-option [value]="0"><span translate>maintenance-repair-item.type-0</span></mat-option>
                                    <mat-option  [value]="1"><span translate>maintenance-repair-item.type-1</span></mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.type.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>maintenance-repair-item.completeDate</mat-label>
                                <input matInput formControlName="completeDate" [matDatepicker]="pickerCompleteDate">
                                <mat-datepicker-toggle matSuffix [for]="pickerCompleteDate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerCompleteDate></mat-datepicker>
                                <mat-error *ngIf="form.controls.completeDate.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>export-bill-item.suppliesId</mat-label>
                        <mat-select required [(value)]="data.maintenanceRepairItem.suppliesId" formControlName="suppliesId" placeholder="Chọn trang thiết bị">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="suppliesKey" [placeholderLabel]="'Tìm kiếm theo mã, tên'" [searching]="isProcess.suppliesSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option [value]="0">Không sử dụng</mat-option>
                            <mat-option *ngFor="let item of suppliess; index as i;" [value]="item.id">
                                Mã: <strong class="text-danger">{{item.code}}</strong> | Tên: {{item.name}} | Tồn: <strong class="text-danger">{{item.quantity}}</strong> 
                                | Loại:
                                <strong translate *ngIf="item.type == 0">supplies.type-0</strong>
                                <strong translate *ngIf="item.type == 1">supplies.type-1</strong>
                                | Trạng thái:
                                <strong translate *ngIf="item.status == 0">supplies.status-0</strong>
                                <strong translate *ngIf="item.status == 1">supplies.status-1</strong>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.suppliesId.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>maintenance-repair-item.suppliesQuantity</mat-label>
                        <input matInput formControlName="suppliesQuantity" placeholder="" type="number" min="0" max="100">
                        <mat-error *ngIf="form.controls.suppliesQuantity.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>maintenance-repair-item.descriptions</mat-label>
                        <textarea matInput formControlName="descriptions" placeholder="" maxlength="2000" rows="3"></textarea>
                        <mat-error *ngIf="form.controls.descriptions.hasError('maxlength')" translate [translateParams]="{n: '2000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <app-file-upload-attached #exportBillItems [viewPath]="maintenanceRepairsService.viewPath()" [params]="{ isPrivate: true }" [accept]="categoryData.imagesType" (outData)="getOutPut($event)" [multiple]="true" [apiUpload]="maintenanceRepairsService.uploadPath()" [curentFiles]="uploadFileOut"></app-file-upload-attached>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button  roles-is="185" *ngIf="data.maintenanceRepairItem.id > 0 && data.isEditer" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>

    <button  roles-is="185" *ngIf = "data.isEditer" type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>