<h1 mat-dialog-title><span translate>Cập nhật nhân viên/ctv chăm sóc khách hàng</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <span class="label-note">
                        <span translate>Thông tin quản lý phát triển khách hàng</span>
                    </span>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
                                <mat-label><span translate>Nhân viên VTS & Cộng tác viên VTS</span></mat-label>
                                <mat-select formControlName="userId" placeholder="Chọn">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="userKey" [placeholderLabel]="'Tìm kiếm theo mã, họ tên...'" [searching]="isProcess.subManagerUserSearching" [noEntriesFoundLabel]="'Không tìm thấy dữ liệu nào'"></ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option [value]="0">Chọn</mat-option>
                                    <mat-option *ngFor="let item of users; index as i;" [value]="item.id">
                                      <strong>Mã: {{item.code}}</strong> | Họ & tên: <strong>{{item.fullName}}</strong> | SĐT: {{item.phoneNumber}} | Quyền: {{item.roleName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>