﻿@{
    Layout = null;
}
<style>
    .allPage {
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }

        .allPage h1 {
        }
</style>
<div class="allPage">
    <h1>NẠP TIỀN THÀNH CÔNG</h1>
    <div>Click quay lại để về màn hình chính</div>
</div>

