﻿@inject Microsoft.Extensions.Options.IOptions<TN.Domain.Model.BaseSettings> _baseSettings
@{
    ViewData["Title"] = "Bản đồ";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<script src="https://maps.googleapis.com/maps/api/js?key=@_baseSettings.Value.GoogleMapKey&callback=initMap&libraries=places" async defer></script>
@section Scripts {
<script src="~/Content/Admin/js/map.js"></script>
}
<style>
    .panel-dock {
        position: relative;
    }

    #map {
        height: 850px;
    }

    .listStation {
    }

    .leftmenu {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 220px;
        background: #fff;
        z-index: 1;
        border-right: 1px solid #ddd;
        box-shadow: 3px -4px 3px #eee;
        opacity: 1;
    }

    .rightmap {
    }

    .headerListStation {
    }

    .leftmenu .badge-map-t {
        position: absolute;
        right: 1px;
        top: 0px;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 11px;
    }

    .leftmenu .list-group-item i {
        display: inline;
        float: left;
        font-size: 18px;
        margin-right: 10px;
    }

    .leftmenu .list-group-item {
        cursor: pointer;
    }

        .leftmenu .list-group-item:hover {
            background: #2196f3;
            color: #fff;
        }

        .leftmenu .list-group-item a {
            display: block;
            margin-left: 21px;
            cursor: pointer;
            color: #333;
        }

            .leftmenu .list-group-item a:hover {
                text-decoration: none;
                color: #0094ff;
            }

    .leftmenu .list-group-item {
        padding: 8px 8px;
        font-size: 13px;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid #eee;
        margin-bottom: 0px !important;
    }

    .headerListStation {
        padding: 8px 10px;
        font-weight: 500;
        background: #3f50b5;
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
    }

    .slimScrollDiv {
    }

    .bodyListStation {
        padding: 8px;
        overflow: hidden;
    }

    .slimStation {
        border: 1px solid #ddd;
    }

    .miniMenu {
        position: absolute;
        right: -24px;
        top: 0;
        background: #fff;
        cursor: pointer;
        padding: 6px 0 0 0;
        box-shadow: 1px 2px 7px #ddd;
    }

    .leftmenu.close .listStation {
        display: none;
    }

    .leftmenu.close {
        width: 0px;
    }

    .rightContent {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 220px;
        background: #fff;
        z-index: 1;
        border-right: 1px solid #ddd;
        box-shadow: 3px -4px 3px #eee;
        opacity: 1;
    }

        .rightContent .miniMenu {
            left: -24px;
            right: initial;
            box-shadow: -2px 2px 7px #ddd;
        }

        .rightContent.close .listStation {
            display: none;
        }

        .rightContent.close {
            width: 0px;
        }

    .rowinfo {
        margin-bottom: 5px;
        font-size: 13px;
    }

    .titleInfo {
        /*font-weight: 500;*/
    }

    .valueInfo {
        font-weight: 500;
    }

    .namedock {
        display: inline-block;
        /* padding: 4px 7px; */
        border-radius: 50px;
        color: #fff;
        font-size: 14px;
        width: 23px;
        line-height: 23px;
        text-align: center;
    }

    .panel-group .panel .panel-heading a {
        display: block;
        padding: 5px 9px;
    }

    .styledockname {
        font-size: 12px;
        font-weight: 500;
    }

    .namedock.off {
        background: red;
    }

    .namedock.on {
        background: green;
    }

    .styleimgbikein {
        position: absolute;
        right: 6px;
        top: 6px;
        height: 20px;
    }

    .formStationContent {
        overflow: hidden;
    }

    .icon-doc {
        position: relative;
        top: 3px;
    }

    .tenTram {
        margin: 0;
        font-size: 13px;
        font-weight: 500;
    }

    .labelGoogle {
        font-size: 20px;
        color: red;
    }

    .my-custom-class-for-label {
        width: 50px;
        height: 20px;
        border: 1px solid #eb3a44;
        border-radius: 5px;
        background: #fee1d7;
        text-align: center;
        line-height: 20px;
        font-weight: bold;
        font-size: 14px;
        color: #eb3a44;
    }

    .searchStation {
        padding: 10px;
    }
</style>
<div class="block-header">
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card card-t card-loading">
            <div class="body body-t" id="contentMap">
                <div class="leftmenu">
                    <div class="listStation">
                        <div class="headerListStation">
                            Danh sách trạm
                        </div>
                        <div class="searchStation" style="padding-bottom:5px;">
                            <div style="margin-bottom:5px;">
                                <input onchange="changeSearch()" name="key" id="key" class="form-control input-sm form-control-t" style="border-radius:0;" placeholder="Theo tên, serial, imei..." />
                            </div>
                            <select onchange="changeSearch()" id="connectionStatus" name="cnnStatis" class="form-control form-control-t">
                                <option value="">Tất cả trạng thái</option>
                                <option value="true">Trang thái kết nối</option>
                                <option value="false">Trạng thái mất kết nối</option>
                            </select>
                        </div>
                        <div class="bodyListStation">
                            <div class="slimStation">
                                <ul class="list-group" id="bindStation"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="miniMenu clickleftmenu">
                        <i title="Đóng lại" class="material-icons">chevron_left</i>
                    </div>
                </div>
                <div class="rightmap">
                    <div id="map"></div>
                </div>
                <div class="rightContent close">
                    <div class="listStation">
                        <div class="headerListStation">
                            Chi tiết trạm
                        </div>
                        <div class="formStationContent">
                            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                <li role="presentation" class="active"><a href="#tab1" data-toggle="tab">Dock</a></li>
                                <li role="presentation"><a href="#tab2" data-toggle="tab">Thông tin</a></li>
                            </ul>
                            <div class="tab-content" style="padding:10px;">
                                <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                                    <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">

                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="miniMenu clickrightmenu">
                        <i title="Đóng lại" class="material-icons">chevron_left</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
