﻿@model TN.Domain.Model.EmailSettings
@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, TN.UI
@{
    ViewData["Title"] = "Cấu hình hệ thống";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="block-header">
    <h2> <i class="material-icons">settings</i> Cấu hình hệ thống <span class="label label-danger label-t">Cấu hình email</span></h2>
    <ol class="breadcrumb breadcrumb-t">
        <li>
            <a href="/Admin">
                <i class="material-icons">home</i> Trang điều khiển
            </a>
        </li>
        <li class="active">
            Cấu hình hệ thống - Cấu hình email
        </li>
    </ol>
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card card-t card-loading">
            <div class="body body-tab">
                @{
                await Html.RenderPartialAsync("~/Areas/Base/Views/Settings/_Menu.cshtml");
                }
                <!-- Tab panes -->
                <div class="tab-content">
                    <form class="ajaxValidateForm usergroup">
                        @Html.AntiForgeryToken()
                        <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                            <div class="form-group">
                                <label class="form-label" asp-for="Email"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Email"></span>
                                <div class="controls">
                                    <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" asp-for="Password"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Password"></span>
                                <div class="controls">
                                    <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" asp-for="Port"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Port"></span>
                                <div class="controls">
                                    <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Port">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" asp-for="Host"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Host"></span>
                                <div class="controls">
                                    <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Host">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" asp-for="From"></label> <strong class="text-danger">*</strong> <span asp-validation-for="From"></span>
                                <div class="controls">
                                    <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="From">
                                </div>
                            </div>
                        </div>
                        <div id="divbutton">
                            <button data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" type="button" class="btn  btn-p-t  btn-icon bg-indigo waves-effect ajaxSubmit"><i class="material-icons">save</i> <span>Lưu thay đổi</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="canmotkhoang"></div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        initAjaxSubmit(function (rs, $this) {
            alertify.notify(rs.message, rs.type, 5);
            setTimeout(function () {
                $this.button('reset');
            }, 500);
        });
        setIsCapCha();
        $("#IsCapCha").on("change", function () {
            setIsCapCha();
        });
        function setIsCapCha() {
            var valCap = $("#IsCapCha").prop("checked");
            if (valCap) {
                $(".divIsCapCha").show();
            }
            else {
                $(".divIsCapCha").hide();
            }
        }
    </script>
}