﻿@model TN.Domain.Model.BaseSettings
@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, TN.UI
@{
    ViewData["Title"] = "Cấu hình hệ thống";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="block-header">
    <h2> <i class="material-icons">settings</i> Cấu hình hệ thống <span class="label label-danger label-t">Cấu hình chung</span></h2>
    <ol class="breadcrumb breadcrumb-t">
        <li>
            <a href="/Admin">
                <i class="material-icons">home</i> Trang điều khiển
            </a>
        </li>
        <li class="active">
            Cấu hình hệ thống - Cấu hình chung
        </li>
    </ol>
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card card-t card-loading">
            <div class="body body-tab">
               @{ 
                   await Html.RenderPartialAsync("~/Areas/Base/Views/Settings/_Menu.cshtml");
               }
                <!-- Tab panes -->
                <div class="tab-content">
                    <form class="ajaxValidateForm usergroup" asp-action="Index">
                        @Html.AntiForgeryToken()
                        <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                            <div class="form-group">
                                <label class="form-label" asp-for="DocumentsType"></label> <strong class="text-danger">*</strong> <span asp-validation-for="DocumentsType"></span>
                                <div class="controls">
                                    <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="DocumentsType">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" asp-for="DocumentsMaxSize"></label> <strong class="text-danger">*</strong> <span asp-validation-for="DocumentsMaxSize"></span>
                                <div class="controls">
                                    <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="DocumentsMaxSize">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" asp-for="ImagesType"></label> <strong class="text-danger">*</strong> <span asp-validation-for="ImagesType"></span>
                                <div class="controls">
                                    <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="ImagesType">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" asp-for="ImagesMaxSize"></label> <strong class="text-danger">*</strong> <span asp-validation-for="ImagesMaxSize"></span>
                                <div class="controls">
                                    <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="ImagesMaxSize">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" asp-for="GoogleMapKey"></label> <span asp-validation-for="GoogleMapKey"></span>
                                <div class="controls">
                                    <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="GoogleMapKey">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <input type="checkbox" asp-for="IsCapCha" class="filled-in chk-col-green">
                                    <label class="form-label" for="IsCapCha">Kích hoạt capcha khi đăng nhập hệ thống quản lý website</label>
                                </div>
                            </div>
                            <div class="form-group divIsCapCha">
                                <label class="form-label" asp-for="CapChaDataSitekey"></label>  <span asp-validation-for="CapChaDataSitekey"></span>
                                <div class="controls">
                                    <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="CapChaDataSitekey">
                                </div>
                            </div>
                            <div class="form-group divIsCapCha">
                                <label class="form-label" asp-for="CapChaSecret"></label>  <span asp-validation-for="CapChaSecret"></span>
                                <div class="controls">
                                    <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="CapChaSecret">
                                </div>
                            </div>
                        </div>
                        <div id="divbutton">
                            <button data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" type="button" class="btn  btn-p-t  btn-icon bg-indigo waves-effect ajaxSubmit"><i class="material-icons">save</i> <span>Lưu thay đổi</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="canmotkhoang"></div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        initAjaxSubmit(function (rs, $this) {
            alertify.notify(rs.message, rs.type, 5);
            setTimeout(function () {
                $this.button('reset');
            }, 500);
        });
        setIsCapCha();
        $("#IsCapCha").on("change", function () {
            setIsCapCha();
        });
        function setIsCapCha() {
            var valCap = $("#IsCapCha").prop("checked");
            if (valCap) {
                $(".divIsCapCha").show();
            }
            else {
                $(".divIsCapCha").hide();
            }
        }
    </script>
}