<h1 mat-dialog-title><span translate>NẠP ĐIỂM THỦ CÔNG</span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <span class="label-note" style="padding: 4px 10px;">
            <span translate>Nạp trực tiếp bằng mã</span>
        </span>
        <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
            <div class="row">
                <div class="col-md-8">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Nhập mã khuyến mãi</mat-label>
                        <input class="money-style" matInput formControlName="code" placeholder="" type="text" maxlength="200">
                        <mat-error *ngIf="form.controls.code.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.code.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.code.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
                        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
                        <span translate>Xác nhận nạp</span>
                    </button>
                </div>
            </div>
        </form>

        <span class="label-note" style="padding: 4px 10px;">
            <span translate>Mã giảm giá công khai</span>
        </span>
        <div style="height: 200px; overflow-x: auto;">
            <div  [class.active]="currentVoucherCode == item.id" title="Mã thuộc dự án: {{item.project?.name}}, áp dụng cho nhóm khách hàng: {{ item.customerGroup == null ? 'tất cả' : item.customerGroup?.name}}" (click)="form.get('code').setValue(item.code); currentVoucherCode = item.id;" class="select-option-data" *ngFor="let item of listData.voucherCodes">
                Nhập mã <span class="text-name">{{item.code}}</span> để nhận được <strong>{{appCommon.fMoney(item.point)}}</strong> điểm khuyến mãi
            </div>
        </div>

        <span  class="label-note" style="padding: 4px 10px;">
            <span translate>Quy đổi điểm tích chuyến đi</span>
        </span>

        <div class="text-right" style="margin-bottom: 10px;">Tổng số điểm tích lũy chuyến đi: <span class="text-info text-500">{{ appCommon.fMoney(listData.totalTripPoint)}}</span> </div>

        <div style="height: 200px; overflow-x: auto;">
            <div [class.active] = "currentRedeemPoint == item.id" (click)="currentRedeemPoint = item.id;" class="select-option-data"  *ngFor="let item of listData.redeemPoints">
                Đổi <span class="text-name">{{ appCommon.fMoney(item.tripPoint)}}</span> điểm chuyến đi sang <span class="text-danger text-500">{{ appCommon.fMoney(item.toPoint)}}</span> điểm khuyến mãi
                <button (click)="onSelectRedeemPoint(item)" title="Chọn" mat-raised-button color="green" class="m-1 btn-grid">
                    <mat-icon *ngIf="item.isProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                    <mat-icon *ngIf="!item.isProcess" class="icon-sm icon-btn">check</mat-icon>
                    <span translate> Quy đổi</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
</div>
<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>