<mat-form-field floatLabel="always" appearance="outline">
        <mat-label>{{ (label == null ? "Đính kèm" : label ) }}</mat-label>
        <textarea required matInput class="hide" type="text"></textarea>
        <div style="padding-bottom: 10px;">
                <button [disabled]="!uploadSuccess" style="width: 200px;" type="button" [style.display]="attribute.hidden?'none':'inherit'" (click)="uploadSuccess? (multiple ? file.click() : file2.click()) : false" title="Bấm để chọn ảnh từ máy của bạn" mat-raised-button color="accent" class="btn-grid">
                        <mat-icon *ngIf="uploadSuccess" class="icon-sm">cloud_upload</mat-icon>
                        <span *ngIf="uploadSuccess"> Chọn tệp đính kèm...</span>
                        <mat-icon *ngIf="!uploadSuccess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                        <span *ngIf="!uploadSuccess"> Đang xử lý {{percentDone}}%</span>
                </button>
        </div>

        <div *ngIf="curentFiles != null && curentFiles.length > 0" style="overflow-y: auto; max-height: 100px;">
                <ul>
                        <li style="font-size: 13px;margin-bottom: 4px;" *ngFor="let item of curentFiles">
                                <!-- <mat-icon title="Xem" class="icon-file-action text-info">search</mat-icon> -->
                                <!-- <mat-icon title="Tải về" class="icon-file-action text-warning">get_app</mat-icon> -->
                                <mat-icon (click)="removeFile(item)" title="Xóa" class="icon-file-action text-danger">clear</mat-icon>
                                <a style="cursor: pointer;" (click)="openView(item)" title="click để xem trước">{{item.fileName}}</a>
                        </li>
                </ul>
        </div>

        <div *ngIf="curentFiles == null || curentFiles.length == 0" style="font-size: 13px;">
                Hiện chưa có file nào đính kèm
        </div>
        <div class="hidden">
                <input accept="{{accept}}" [class.hidden]="multiple" (change)="upload($event.target.files)" #file type="file" multiple>
                <input accept="{{accept}}" [class.hidden]="!multiple" (change)="upload($event.target.files)" #file2 type="file">
        </div>
</mat-form-field>