<div class="header-t">
    <div fxLayout="row wrap">
        <div fxFlex="100" class="flex-p-15">
            <div class="breadcrumb_title"><span translate>user-profiles.title</span></div>
            <ol class="breadcrumb">
                <li><a routerLink="/"><span translate>base.home</span></a></li>
                <li class="active"><span translate>user-profiles.title-l</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="can-page">
    <div fxLayout="column">
        <div class="flex-p-15 fix-page">
            <div fxLayout="row wrap" fxLayoutAlign="center">
                <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="60" class="flex-p">
                    <mat-card class="list">
                        <mat-card-content>
                            <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                                <div class="rows">
                                       <div class="col-md-12">
                                        <div style="height: 10px;"></div>
                                        <h3 class="title-form-name text-center" translate>user-profiles.title-l</h3>
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>user.displayName</mat-label>
                                            <input required matInput formControlName="displayName" type="text" minlength="4" maxlength="30">
                                            <mat-error *ngIf="form.controls.displayName.errors?.required" translate>validate.required</mat-error>
                                            <mat-error *ngIf="form.controls.displayName.hasError('minlength')" translate [translateParams]="{n: '4'}">validate.minlength</mat-error>
                                            <mat-error *ngIf="form.controls.displayName.hasError('maxlength')" translate [translateParams]="{n: '30'}">validate.maxlength</mat-error>
                                        </mat-form-field>

                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>user.email</mat-label>
                                            <input required matInput autocomplete="new-password" formControlName="email"
                                                type="text">
                                            <mat-error *ngIf="form.controls.email.errors?.required" translate>validate.required
                                            </mat-error>
                                            <mat-error *ngIf="form.controls.email.errors?.email" translate>validate.format
                                            </mat-error>
                                            <mat-error *ngIf="form.controls.email.hasError('minlength')" translate
                                                [translateParams]="{n: '10'}">validate.minlength</mat-error>
                                            <mat-error *ngIf="form.controls.email.hasError('maxlength')" translate
                                                [translateParams]="{n: '50'}">validate.maxlength</mat-error>
                                        </mat-form-field>
                
                                        <mat-form-field floatLabel="always" appearance="outline">
                                            <mat-label translate>user.phoneNumber</mat-label>
                                            <input matInput autocomplete="off" formControlName="phoneNumber" type="text">
                                            <mat-error *ngIf="form.controls.phoneNumber.hasError('maxlength')" translate [translateParams]="{n: '50'}">validate.maxlength</mat-error>
                                        </mat-form-field>
                

                                        <div class="text-center">
                                            <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1"
                                            [disabled]="isProcess.saveProcess||!form.valid">
                                            <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
                                            <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
                                            <span translate>button.save</span>
                                        </button>
                                        </div>
                                    </div> 
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                  </div> 
            </div> 

     
        </div>
    </div>
</div>