﻿.badge
{
    font-size:11px;
}
.navbar-brand {
    height: 30px !important;
    padding: 7px 15px !important;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
}
.navbar
{
    min-height:40px !important;
}
.navbar-nav > li > a {
    margin-top: 6px;
}
.navbar-header {
    padding: 5px 7px !important;
}
.sidebar {
    top: 40px;
}
section.content
{
    margin-top:50px;
}
.navbar .navbar-toggle {
    margin-top: -14px;
}
.ls-closed .bars:after, .ls-closed .bars:before {
    top: 3px;
    left:10px;
}
.navbar-nav > li > a
{
    margin-top:1px;
}

@media (max-width: 767px) {
    .navbar .navbar-nav {
        margin-top: 6px;
        margin-bottom: 1px;
        margin-left: -7px;
    }
    .navbar .js-right-sidebar {
        margin-top: -3px;
    }
    .navbar-nav > li > a {
        margin-top: 0px;
    }
}
.num-t {
    font-size: 13px;
   margin-top:0;
   margin-bottom:0;
   margin-right:0;
    font-weight: 400;
}
.card-t .header {
    padding: 10px 20px;
    z-index:9;
}
.block-header h2 {
    font-size: 16px;
    color: #333 !important;
    text-transform: uppercase;
    font-weight: 600;
}
.container-fluid-t {
    padding-right: 10px;
    padding-left: 10px;
}
.card-t .header .header-dropdown {
    top: 12px;
    font-weight:500;
}
.num-t {
    font-weight: 400;
}
.card-t .body-t {
    padding: 0 !important;
}
.pg-t
{
    text-align:right !important;
}
.labelcheck {
    padding-left: 20px !important;
    height: 16px !important;
}
.trcheck
{
    width:30px;
}

.table-t tbody tr td, .table-t tbody tr th {
    vertical-align: inherit;
}
.mb0{
    margin-bottom:0 !important;
}
.sidebar
{
    width:220px;
}
section.content
{
    margin-left:235px;
}
.table tbody tr td, .table tbody tr th {
    padding: 5px 10px;
}
.iconcontrol {
    font-size: 14px !important
}
.trcheck label {
    padding-left: 21px;
    height: 21px;
    line-height: 22px;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 5px;
}

.p-0 {
    padding: 0px;
}

.p-3 {
    padding: 3px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-25 {
    padding: 25px;
}

.p-30 {
    padding: 30px;
}

.p-35 {
    padding: 35px;
}

.p-40 {
    padding: 40px;
}

.p-45 {
    padding: 45px;
}

.p-50 {
    padding: 50px;
}

.pt-0 {
    padding-top: 0px;
}

.pt-3 {
    padding-top: 3px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}

.pr-0 {
    padding-right: 0px;
}

.pr-3 {
    padding-right: 3px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-25 {
    padding-right: 25px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-35 {
    padding-right: 35px;
}

.pr-40 {
    padding-right: 40px;
}

.pr-45 {
    padding-right: 45px;
}

.pr-50 {
    padding-right: 50px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-3 {
    padding-bottom: 3px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pl-0 {
    padding-left: 0px;
}

.pl-3 {
    padding-left: 3px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-35 {
    padding-left: 35px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-45 {
    padding-left: 45px;
}

.pl-50 {
    padding-left: 50px;
}

.m-0 {
    margin: 0px;
}

.m-3 {
    margin: 3px;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.m-25 {
    margin: 25px;
}

.m-30 {
    margin: 30px;
}

.m-35 {
    margin: 35px;
}

.m-40 {
    margin: 40px;
}

.m-45 {
    margin: 45px;
}

.m-50 {
    margin: 50px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-3 {
    margin-top: 3px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mr-0 {
    margin-right: 0px;
}

.mr-3 {
    margin-right: 3px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-35 {
    margin-right: 35px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-45 {
    margin-right: 45px;
}

.mr-50 {
    margin-right: 50px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-3 {
    margin-bottom: 3px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-0 {
    margin-left: 0px;
}

.ml-3 {
    margin-left: 3px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-35 {
    margin-left: 35px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-45 {
    margin-left: 45px;
}

.ml-50 {
    margin-left: 50px;
}
.pagination
{
    margin:0;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    vertical-align: inherit;
    font-size:13px;
}

.input-group .btn-group-addon {
    padding: 0;
    color: #fff;
}
.input-group .btn-group-addon i {
   color:#fff !important;
}
.inputsearch {
    border: 1px solid #ccc !important;
    height: 33px;
    border-radius: 0;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.btn-group-addon .btn:hover, .btn-group-addon .btn:active, .btn-group-addon .btn:focus {
    color: #fff;
}
.btn-icon:hover, .btn-icon:active, .btn-icon:focus {
    color: #fff;
}
.btn-icon.btn-default:hover, .btn-icon.btn-default:active, .btn-icon.btn-default:focus {
    color: #333;
}
.btn-default
{
    color:#333;
}
.block-header {
    position: relative;
    margin-bottom: 10px;
}
.breadcrumb-t {
    display: inline-block;
    position: absolute;
    right: 0;
    top: -11px;
}
.label-t {
    position: relative;
    top: -11px;
    font-size: 11px;
    border-radius: 4px;
    text-transform: initial;
    font-weight: normal;
    font-weight: 500;
    padding: 2px 7px;
}
.header-dropdown-t {
    left: 10px;
    padding-left: 0;
    top: 8px !important;
}
.nav-tabs-gr-t {
    display: inline-block;
    position: absolute;
    right: 0;
    top: -10px;
}
    .nav-tabs-gr-t > li > a {
        padding: 6px 15px;
        font-size: 12px;
    }
    .nav-tabs-gr-t > li > i {
        padding: 6px 15px;
        font-size: 18px;
    }

/*.form-line {
    background: red !important;
}*/
.field-validation-error {
    border: 1px solid #ffe5e5;
    background: #c60909 !important;
    padding: 2px 10px !important;
    border-radius: 0 !important;
    position: absolute;
    display: inline-block !important;
    box-shadow: 3px 3px 7px #aaa;
    top: 13px;
    color: #fff;
    right: 5px;
    z-index: 9;
    white-space: nowrap;
    font-size: 12px;

}
    .field-validation-error:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid #c51244;
        position: absolute;
        bottom: -10px;
        right: 6px;
    }
.blabel {
    color: #333;
}

.divmodal {
    border: 1px solid #ddd;
    box-shadow: 0px 1px 3px #eee;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}
.ajaxValidateForm .modal-body {
    padding: 5px 10px !important;
}
.modal .modal-header {
    padding: 10px 25px 1px 25px;
}
.modal-content {
    background: #f5f5f5;
}
.modal .modal-header .modal-title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.btnpt {
    /* position: absolute; */
    /* bottom: 1px; */
    width: 100%;
    background: #fff;
    text-align: center;
    /* left: 0; */
    /* right: 0; */
    padding-top: 10px;
    padding-bottom: 8px;
    z-index: 999999;
    /* box-shadow: 2px 1px 9px #ddd; */
    /* border-top: 1px solid #eee; */
}
.form-control-t {
    border: 1px solid #ddd !important;
    padding: 5px 10px !important;
    font-size: 13px !important;
}
    .form-control-t:focus {
        border:1px solid #66afe9 !important ;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(177, 215, 245, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(177, 215, 245, 0.6);
    }
.form-group
{
    margin-bottom:10px !important;
    position:relative;
}
    .form-group label {
        font-size: 13px !important;
        color: #333;
        font-weight: 500;
        margin-bottom: 3px !important;
    }
.fb
{
    font-weight:500;
}
.tt
{
    text-transform:uppercase;
}
.divbtnback
{
    position:absolute;
    right:0;
    top:0;
}
#divbutton {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #fff;
    text-align: center;
    padding: 10px 0px;
    z-index: 9;
    box-shadow: 6px -1px 3px #ddd;
    
}
.sidebar {
    height: calc(103vh - 50px);
}
.canmotkhoang
{
    height:40px;
}
.header-dropdown-t2 {
    top: 7px !important;
}
.icon-spin {
    -webkit-animation: icon-spin 2s infinite linear;
    animation: icon-spin 2s infinite linear;
    width: 20px;
    height: 20px;
}
@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
.sidebar .menu .list a span {
    font-weight: 500 !important;
    font-size:13px;
}
.sidebar .menu .list a {
    padding: 5px 13px;
}
.sidebar .menu .list .ml-menu li a {
    font-size: 13px;
}
.sidebar .user-info .image {
    float: left !important;
    margin-right: 0px;
}
.sidebar .user-info .info-container {
  
    display: block;
    position: initial !important;
    margin-left: 45px;
    top: 0px;
    margin-top:3px;
}
.sidebar .user-info {
    height: 68px;
    padding: 13px 20px 12px 7px !important;
}
    .sidebar .user-info .info-container .user-helper-dropdown {
        right: 2px !important;
        bottom: 8px !important;
    }
.btn {
    font-weight: 500;
    padding: 4px 10px !important;
}
.input-group {
    margin-bottom: 15px;
}
.text-name {
    font-weight: 500;
    color: #3f50b5;
}
.jstree-default .jstree-anchor {
    line-height: 28px;
    height: 28px;
}
.jstree-default .jstree-clicked {
    border-radius: 0 !important;
     box-shadow: none !important; 
}
.jstree-default .jstree-anchor {
    line-height: 28px !important;
    height: 28px !important;
    /*font-weight:500;*/
}
.btn-p-t {
    padding-left: 12px !important;
    padding-right: 12px !important;
}
.jstree-container-ul>li>a
{
    text-transform:uppercase;
    font-weight:600;
}
.jstree-container-ul > li >ul>li>a
{
    font-weight:500;
    font-size:13px;
}

.jstree-container-ul > li > ul > li > ul > li > a {
    font-weight: 500;
    font-size: 13px;
}
.labelinfo-t {
    font-weight: 500;
    padding: 5px 5px 5px 10px;
    background: #efefef;
    width: 100%;
    display: block;
    border-left:2px solid #c60909;
    font-size: 13px;
    color:#333;
}
.avatar.imgfull {
    position: relative;
    box-sizing: border-box;
    list-style: outside none none;
}
    .avatar.imgfull .image {
        background: none repeat scroll 0 0 #f7f9fb;
        box-sizing: border-box;
        display: block;
        padding-bottom: 100%;
        position: relative;
        width: 100%;
    }
        .avatar.imgfull .image img {
            bottom: 0;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            max-height: 100%;
            max-width: 100%;
            width: 100%;
        }
.modal-title i {
    position: relative;
    top: 4px;
    display:none;
}
.form-control-t .dropdown-toggle {
    padding-bottom: 1px !important;
    padding-left: 0 !important;
    padding-top: 6px !important;
}
.form-control-t.show-tick {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.inputInfo {
    display: block;
    color: #6b6a6a;
    font-size: 12px;
    margin-top: 4px;
    font-style: italic;
}
.searchExtension {
    position: absolute;
    right: 62px;
    z-index: 999;
    cursor:pointer;
    top: 6px;
    color:#333;
    font-weight:bold;
}
.searchExtensionForm {
    width:100%;
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    background: #fff;
    padding: 15px;
    top: 33px;
    z-index: 99;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: 0;
}

.searchExtensionForm.open {
    display:block !important;
}
.navbar {
    z-index: 999;
}
.form-control-t
{
    width:100%;
}
.canBtnSe
{
    text-align:right;
}
.block-header i {
    position: relative;
    top: 5px;
}
.badge
{
    font-weight:normal;
}
.alertify-notifier 
{
    color:#fff;
}
    .alertify-notifier.ajs-right
    {
        right:-15px !important;
    }
.ajs-message {
    padding: 10px 10px 10px 10px !important;
    font-size:13px;
    border:1px solid #eee;
}
.sidebar .menu .list .ml-menu li a {
    padding-left: 50px !important;
}
.dtp
{
    z-index:99999 !important;
}
.input-validation-error {
    border-color: #c60909 !important;
}
.divcansearch
{
    position:relative;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 0px !important;
}
.searchExtension {
    height: 22px;
    display: inline-block;
}
    .searchExtension:hover, .searchExtension:focus, .searchExtension:active, .searchExtension:visited {
        color: #1f91f4;
        height: 22px;
        background:none !important;
    }
.searchExtension i{
overflow:hidden;
}
.table
{
    color:#333;
}
.inputsearch
{
    font-size:13px;
}
.input-group-addon-t .text-addonsearch {
    padding-left: 12px;
    font-weight: normal;
    font-size: 13px;
    font-weight: 500;
    position:relative;
    top:1px !important;
}
.input-group-addon-t {
    background: #fff !important;
    border: 1px solid #ccc !important;
    border-right: 0 !important;
    border-radius: 2px;
}
.btn-search {
    border-radius: 0px 2px 2px 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
@media(max-width:750px)
{
    .breadcrumb.breadcrumb-t
    {
        display:none !important;
    }
}
.theme-indigo .navbar {
    z-index: 999 !important;
}
.modal-dialog
{
    margin-top:45px !important;
}
.input-group-t
{

}
    .input-group-t .input-group-addon {
        font-size: 13px;
        font-weight: 500;
        background: #f5f5f5;
        padding-left: 15px;
        border: 1px solid #dddddd;
        border-radius: 0;
    }
    .input-group-t .form-control {
       
    }
.br-none {
    border-right: none !important;
}
.bl-none {
    border-left: none !important;
}
.blr-none {
    border-left: none !important;
    border-right: none !important;
}
.button-group-t {
    padding-top: 2px !important;
    padding-bottom: 3px !important;
}
.input-group
{
   
}
.modal-body-t {
    padding: 15px 15px !important;
}
.btnclose-t {
    display: inline-block !important;
    border: 1px solid #ccc !important;
    padding: 4px 9px !important;
    border-radius: 100px !important;
    background-color: #fff !important;
    position: absolute !important;
    top: -13px !important;
    right: -12px !important;
    opacity: 1 !important;
}
    .btnclose-t:hover {
        color: #ddd !important;
    }
.pac-container
{
    z-index:99999 !important;
}
.form-group .input-group-t {
    margin-bottom:0 !important;
}
@media(max-width:990px) {
}
.bs-searchbox .form-control {
    padding-left: 10px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
.dropdown-menu {
    margin-top: -29px !important;
}
.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle) {
    font-weight: 500;
    color: #333;
}
[type="checkbox"] + label {
    height: 20px !important;
    margin-bottom: 0 !important;
}
.dropdown-menu > li > a {
    padding: 3px 18px;
    font-size: 13px;
}

.headerListStation {
    padding: 10px 10px;
    font-weight: 500;
    background: #3f50b5;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}
.controlOrderBy .itemorder {
    float: right;
    margin-left: 10px;
}

.controlOrderBy {
    position: absolute;
    top: 2px;
    right: 6px;
}

.selectOrder .btn-group {
    background: transparent;
    border: none !important;
}

    .selectOrder .btn-group .btn {
        background-color: transparent !important;
        color: #fff;
        font-weight: 400;
    }

        .selectOrder .btn-group .btn i {
            font-size: 12px;
            position: relative;
            top: 1px;
        }
.fixpage {
    height: 32px !important;
}
.fixpage i
{
    position:relative;
    top:-2px;
}
.pagination li a {
    font-weight: 500;
    font-size: 13px;
}
.pagination li.active a {
    font-weight: 600;
    background-color: #3f50b5 !important;
}

.login-page {
    margin: 9% auto;
    background-color: #00bcd4;
    background-image: url('/content/admin/images/bacvn.jpg') !important;
}
.btncontrolgrid {
    padding: 2px 10px !important;
}
.table tbody tr td, .table tbody tr th {
    padding: 2px 10px;
}
.input-group .input-group-addon
{
    font-weight:500;
    font-size:13px;
}
.table-bordered thead tr th
{
    font-weight:500;
}
.table-bordered thead tr th {
    padding: 2px 10px;
}
.pagination .material-icons {
    font-size:20px;
}
.header-dropdown-t > li > a {
    position: relative;
    top: -1px;
}
.nav-tabs li a {
    font-size: 13px;
    font-weight: 500;
}
.nav > li > a {
    padding: 1px 10px 8px 10px;
}
.logoadmin {
    width: 34px;
    display: inline-block !important;
    position: relative;
    position: relative;
    top: -9px;
}
.textlogoadmin {
    position: relative;
    top: -11px;
    font-size: 15px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand
{
    padding-left:10px !important;
}
.form-line-pagesize .btn {
    top: 6px;
}
.form-detail-log .form-group {
    margin-bottom: 0 !important;
}
.form-control-static-t
{
    font-size:13px;
    color:#333;
}
@media(max-width: 767px)
{
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        padding-left: 20px !important;
    }
}
.ml-10
{
    margin-left:10px !important;
}
#btnChangeTypeMenu {
    position: relative;
    top: -4px;
    margin-right: 0px;
    cursor: pointer;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    padding-left: 5px !important;
}
#btnChangeTypeMenu:hover {
    color:#ccc;
}
.navbar-header .bars:hover {
    color: #ccc;
}
.textlogoadmin
{
    
}
@media(max-width: 1186px) {
    #btnChangeTypeMenu
    {
        display:inline-block;
        width:0px;
        overflow:hidden;
    }
    .textlogoadmin {
        top: -14px;
    }
}
.body-tab {
    padding-top: 0px !important;
}

.login-page {
    margin: 9% auto;
    background-color: #00bcd4;
    background-image: url(/content/admin/images/bacvn.jpg) !important;
    background-repeat: no-repeat;
    background-size: 100%;
}