<div class="tParentLoading">
  <div *ngIf="isProcess.listDataTable" class="tloading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
      <div class="loader">Loading...</div>
    </div>
  </div>
  <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
    <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
        <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
          {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>role-action.id</span></th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>role-action.name</span></th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      
      <ng-container matColumnDef="actionName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>role-action.actionName</span></th>
        <td mat-cell *matCellDef="let element"> <span class="text-name">{{element.actionName}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>role-action.order</span></th>
        <td mat-cell *matCellDef="let element"> {{element.order}} </td>
      </ng-container>

      <ng-container matColumnDef="isShow">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>role-action.isShow</span></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="text-success" *ngIf="element.isShow">check</mat-icon>
          <mat-icon class="text-danger" *ngIf="!element.isShow">close</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th width="110" mat-header-cell *matHeaderCellDef>
          <button (click)="search()" mat-raised-button class="m-1 btn-grid">
            <mat-icon class="icon-sm icon-btn">refresh</mat-icon>
          </button>
          <button (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-1 btn-grid">
            <mat-icon class="icon-sm icon-btn">add</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
            <mat-icon class="icon-sm">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div #paginator_rec>
    <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>