﻿@using static TN.UI.Extensions.DataUserInfo;
@{

}
@addTagHelper *, TN.UI
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link asp-append-version="true" href="~/Content/Admin/site.min.css" rel="stylesheet" />
    <style id="styleRole">
    </style>
    <style>
        .dtp {
            z-index: 99999 !important;
        }
    </style>
</head>
<body class="theme-indigo">
    <input type="hidden" id="menuTypeMini" value="@MenuType" />
    <input type="hidden" id="arrRole" value="@StringRoleActions" />
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div id="body">
        <form id="formLogout" method="post" asp-action="LogOut" asp-controller="Account" asp-area="User">
            @Html.AntiForgeryToken()
        </form>
        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="preloader">
                    <div class="spinner-layer pl-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p>Đang tải xin đợi...</p>
            </div>
        </div>
        <div class="overlay"></div>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                    <a href="javascript:void(0);" title="Đóng/Mở thanh menu" class="bars"></a>
                    <div class="navbar-brand"  style="min-width:480px;">
                        <span title="Thu gọn/Mở rộng thanh thực đơn" id="btnChangeTypeMenu" onclick="changeTypeMenu(this)">
                            <i class="material-icons">first_page</i>
                        </span>
                        <img src="/logo.png" style="height: 30px; position: relative; left: 0px; top: -11px; display:inline-block;" />
                        <span style="position: relative; left: 0px; text-transform: uppercase; font-weight: bold; font-size: 15px; top: -8px;" class="textlogoadmin"> Hệ thống quản lý dich vụ xe đạp đô thị TN.GO</span>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <i style="position: relative;top: 5px;" class="material-icons">notifications</i>
                                <span class="label-count">0</span>
                            </a>
                            @*<ul class="dropdown-menu">
                                    <li class="header">NOTIFICATIONS</li>
                                    <li class="body">
                                        <ul class="menu">
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="icon-circle bg-light-green">
                                                        <i class="material-icons">person_add</i>
                                                    </div>
                                                    <div class="menu-info">
                                                        <h4>12 new members joined</h4>
                                                        <p>
                                                            <i class="material-icons">access_time</i> 14 mins ago
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="icon-circle bg-cyan">
                                                        <i class="material-icons">add_shopping_cart</i>
                                                    </div>
                                                    <div class="menu-info">
                                                        <h4>4 sales made</h4>
                                                        <p>
                                                            <i class="material-icons">access_time</i> 22 mins ago
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="icon-circle bg-red">
                                                        <i class="material-icons">delete_forever</i>
                                                    </div>
                                                    <div class="menu-info">
                                                        <h4><b>Nancy Doe</b> deleted account</h4>
                                                        <p>
                                                            <i class="material-icons">access_time</i> 3 hours ago
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="icon-circle bg-orange">
                                                        <i class="material-icons">mode_edit</i>
                                                    </div>
                                                    <div class="menu-info">
                                                        <h4><b>Nancy</b> changed name</h4>
                                                        <p>
                                                            <i class="material-icons">access_time</i> 2 hours ago
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="icon-circle bg-blue-grey">
                                                        <i class="material-icons">comment</i>
                                                    </div>
                                                    <div class="menu-info">
                                                        <h4><b>John</b> commented your post</h4>
                                                        <p>
                                                            <i class="material-icons">access_time</i> 4 hours ago
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="icon-circle bg-light-green">
                                                        <i class="material-icons">cached</i>
                                                    </div>
                                                    <div class="menu-info">
                                                        <h4><b>John</b> updated status</h4>
                                                        <p>
                                                            <i class="material-icons">access_time</i> 3 hours ago
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="icon-circle bg-purple">
                                                        <i class="material-icons">settings</i>
                                                    </div>
                                                    <div class="menu-info">
                                                        <h4>Settings updated</h4>
                                                        <p>
                                                            <i class="material-icons">access_time</i> Yesterday
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer">
                                        <a href="javascript:void(0);">View All Notifications</a>
                                    </li>
                                </ul>*@
                        </li>
                        <!-- #END# Notifications -->
                        <!-- Tasks -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <i style="position: relative;top: 5px;" class="material-icons">flag</i>
                                <span class="label-count">0</span>
                            </a>
                            @*<ul class="dropdown-menu">
                                    <li class="header">TASKS</li>
                                    <li class="body">
                                        <ul class="menu tasks">
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <h4>
                                                        Footer display issue
                                                        <small>32%</small>
                                                    </h4>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-pink" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer">
                                        <a href="javascript:void(0);">View All Tasks</a>
                                    </li>
                                </ul>*@
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- #Top Bar -->
        <section>
            <!-- Left Sidebar -->
            <aside id="leftsidebar" class="sidebar">
                <!-- User Info -->
                <div class="user-info">
                    <div class="image">
                        <img src="@(Avatar??"#")" width="40" height="40" alt="User" onerror="this.onerror=null;this.src = '/Content/Admin/images/no-avatar.jpg';" />
                    </div>
                    <div class="info-container">
                        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@DisplayName</div>
                        <div class="email">@Email</div>
                        <div class="btn-group user-helper-dropdown">
                            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                            <ul class="dropdown-menu pull-right">
                                <li><a asp-action="Profile" asp-controller="Account" asp-area="User"><i class="material-icons">person</i>Thông tin</a></li>
                                <li><a asp-action="ChangePassword" asp-controller="Account" asp-area="User"><i class="material-icons">refresh</i>Đổi mật khẩu</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a onclick="logout()"><i class="material-icons">input</i>Thoát</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                @{
                    await Html.RenderPartialAsync("~/Views/Shared/_MenuAdmin.cshtml");
                }
            </aside>
        </section>
        <section class="content">
            <div class="row" id="canbtn">
            </div>
            <div class="container-fluid container-fluid-t">
                @RenderBody()
            </div>
        </section>
    </div>
</body>
</html>
<div class="modal fade" id="myModalChildrent1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" data-backdrop="static" data-keyboard="false">
        <div class="modal-content">
            <div class="modal-body modal-body-t">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalChildrent2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" data-backdrop="static" data-keyboard="false">
        <div class="modal-content">
            <div class="modal-body modal-body-t">
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Admin/js/jquery.min.js"></script>
<script src="~/Content/Admin/site.min.js"></script>
@RenderSection("Scripts", required: false)

