﻿<div class="menu">
    <ul class="list" id="menuleftadmin">
        <li class="header">ĐIỀU KHIỂN</li>
        <li data-checked data-role-18 class="cap1 isDasb">
            <a href="/Admin">
                <i class="material-icons">home</i>
                <span>Trang điều khiển</span>
            </a>
        </li>
        <li data-checked data-role-14 class="cap1">
            <a asp-action="Index" asp-controller="StationManager" asp-area="Bike">
                <i class="material-icons">account_balance</i>
                <span>Quản lý trạm</span>
            </a>
        </li>
        <li data-checked data-role-19 class="cap1">
            <a asp-action="Index" asp-controller="DockManager" asp-area="Bike">
                <i class="material-icons">storage</i>
                <span>Quản lý dock</span>
            </a>
        </li>
        <li data-checked data-role-10 class="cap1">
            <a asp-action="Index" asp-controller="BikeManager" asp-area="Bike">
                <i class="material-icons">directions_bike</i>
                <span>Quản lý xe</span>
            </a>
        </li>
        <li data-checked data-role-23 class="cap1">
            <a asp-action="Index" asp-controller="StationConfigManager" asp-area="Bike">
                <i class="material-icons">settings</i>
                <span>Quản lý cấu hình trạm</span>
            </a>
        </li>
        <li data-checked data-role-29 class="cap1">
            <a asp-action="Index" asp-controller="AccountManager" asp-area="Bike">
                <i class="material-icons">account_circle</i>
                <span>QL tài khoản khách hàng</span>
            </a>
        </li>
        <li data-checked data-role-2 data-role-27 data-role-5 class="header">HỆ THỐNG</li>
        <li data-checked data-role-2 data-role-27 data-role-5 data-role-33 class="cap1">
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">widgets</i>
                <span>Tài khoản quản trị</span>
            </a>
            <ul class="ml-menu">
                <li data-checked data-role-5 class="cap2">
                    <a asp-action="Index" asp-controller="UserManager" asp-area="User">Quản lý tài khoản</a>
                </li>
                <li data-checked data-role-2 class="cap2">
                    <a asp-action="Index" asp-controller="RoleManager" asp-area="User">Quản lý quyền tài khoản</a>
                </li>
            </ul>
        </li>
        <li data-checked data-role-27 class="cap2">
            <a asp-action="Index" asp-controller="LogManager" asp-area="Log">
                <i class="material-icons">update</i>
                <span>Log người dùng</span>
            </a>
        </li>
        <li  data-checked data-role-33 class="cap1">
            <a asp-action="Index" asp-controller="Settings" asp-area="Base">
                <i class="material-icons">settings</i>
                <span>Cấu hình hệ thống</span>
            </a>
        </li>
    </ul>
</div>