<h1 mat-dialog-title><span translate>Dịch vụ thu hồi xe khách hàng</span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Biển số</mat-label>
                            <input [disabled]="true" class="text-name text-500" matInput value="{{ data.bike?.plate }}">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>QR Code</mat-label>
                            <input [disabled]="true" class="text-danger text-500" matInput value="{{ data.bike?.dock?.serialNumber }}">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Tên khách hàng</mat-label>
                            <input [disabled]="true" matInput value="{{data.account?.fullName}}">
                        </mat-form-field>
                        
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Số dư tài khoản chính</mat-label>
                            <input class="money-style" [disabled]="true" matInput value="{{ appCommon.fMoney(data.wallet?.balance) }}">
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Mã giao dịch</mat-label>
                            <input [disabled]="true" class="text-500" style="color: #283593;" matInput value="{{ data.transactionCode }}">
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Thời bắt đầu chuyến đi</mat-label>
                            <input [disabled]="true" matInput value="{{ data.startTime | date: 'dd/MM/yyyy HH:mm:ss' }}">
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Chi phí thuê xe</mat-label>
                            <input class="money-style" [disabled]="true" matInput value="{{ appCommon.fMoney(data.totalPrice) }}">
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">

                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>SĐT</mat-label>
                            <input [disabled]="true" matInput value="{{data.account?.phone}}">
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Số dư tài khoản khuyến mãi</mat-label>
                            <input class="money-style" [disabled]="true" matInput value="{{ appCommon.fMoney(data.wallet?.subBalance) }}">
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Tổng số phút đi ước tính</mat-label>
                            <input [disabled]="true" matInput value="{{ data.totalMinutes }}">
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Chi phí thu hồi</mat-label>
                            <input class="money-style" [disabled]="true" matInput value="{{ appCommon.fMoney(data.vehicleRecallPrice) }} ({{ (data.km / 1000).toFixed(2) }}km)">
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label translate>Chi phí thuê xe + chi phí thu hồi</mat-label>
                            <input [disabled]="true" matInput class="money-style" value="{{ appCommon.fMoney(data.totalPrice + data.vehicleRecallPrice) }}">
                        </mat-form-field>
                    </div>
                </div>

                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>Lý do</mat-label>
                        <textarea required matInput rows="5" formControlName="feedback" placeholder="Lý do" maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.feedback.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.feedback.hasError('minlength')" translate [translateParams]="{n: '5'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.feedback.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <div class="can-checkbox-form">
                        <mat-checkbox matInput formControlName="checkCloseDock">
                            <span translate>Kiểm tra đóng khóa</span>
                        </mat-checkbox>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">lock_open</mat-icon>
        <span translate> Xác nhận thu hồi xe</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>