<div class="header-t">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>campaign.title</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>campaign.title-l</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh">
        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">
          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>campaign.projectId</mat-label>
              <mat-select [(ngModel)]="params.projectId" [(value)]="params.projectId" placeholder="Tất cả">
                <mat-option>
                  <span translate>base.all</span>
                </mat-option>
                <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id.toString()">
                  {{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>campaign.type</mat-label>
              <mat-select [(ngModel)]="params.type" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="'0'"><span translate>campaign.type-0</span></mat-option>
                <mat-option [value]="'1'"><span translate>campaign.type-1</span></mat-option>
                <mat-option [value]="'2'"><span translate>campaign.type-2</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>campaign.status</mat-label>
              <mat-select [(ngModel)]="params.status" placeholder="Tất cả">
                <mat-option value="">
                  <span translate>base.all</span>
                </mat-option>
                <mat-option [value]="'1'">Sử dụng</mat-option>
                <mat-option [value]="'0'">Không sử dụng</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>base.searchKey</mat-label>
              <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off"
                placeholder="Từ khóa tìm kiếm" type="text">
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="primary" (click)="search()" class="m-5px">
              <mat-icon class="icon-sm icon-btn">search</mat-icon>
            </button>
            <button roles-is="24" (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-5px">
              <mat-icon class="icon-sm icon-btn">add</mat-icon>
            </button>
            <button mat-raised-button color="warn" class="m-5px" (click)="export()" [disabled]="isProcess.export">
              <mat-icon *ngIf="isProcess.export" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
              <mat-icon *ngIf="!isProcess.export" class="icon-sm icon-btn">print</mat-icon>
            </button>
          </div>

        </div>
        <div class="tParentLoading">
          <div *ngIf="isProcess.listDataTable" class="tloading">
            <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
              <div class="loader">Loading...</div>
            </div>
          </div>
          <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
            <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData"
              (matSortChange)="handleSortData($event)">

              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span
                    translate>base.order</span></th>
                <td [class.td_success]="element.status" [class.td_danger]="!element.status" mat-cell
                  *matCellDef="let element; let i = index" style="text-align:center;">
                  {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="id">
                <th width="100" mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>campaign.id</span>
                </th>
                <td mat-cell *matCellDef="let element"> <strong class="text-info">{{ appCommon.pad(element.id, 9)
                    }}</strong> </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>campaign.name</span></th>
                <td mat-cell *matCellDef="let element"><span class="text-name">{{element.name}}</span> </td>
              </ng-container>

              <ng-container matColumnDef="projectId">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear>Đối tượng áp dụng</th>
                <td mat-cell *matCellDef="let element">
                  <span [class.text-success]="element.projectId == 0">{{ (element.projectId == 0 ? "Tất cả khách hàng
                    trong hệ thống" : appCommon.getObj(categoryData.projects, element.projectId)) }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>campaign.description</span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th width="120" mat-header-cell *matHeaderCellDef matSortDisableClear><span
                    translate>campaign.status</span></th>
                <td mat-cell *matCellDef="let element">
                  <span class="text-danger" *ngIf="element.status == 0">Không sử dụng</span>
                  <span class="text-success" *ngIf="element.status == 1">Sử dụng</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span translate>campaign.type</span></th>
                <td mat-cell *matCellDef="let element">
                  <span class="text-danger" *ngIf="element.type == 0"><span translate>campaign.type-0</span></span>
                  <span class="text-warning" *ngIf="element.type == 1"><span translate>campaign.type-1</span></span>
                  <span class="text-info" *ngIf="element.type == 2"><span translate>campaign.type-2</span></span>
                </td>
              </ng-container>

              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span>Hiệu lực từ ngày - hết ngày</span></th>
                <td mat-cell *matCellDef="let element"> {{element.startDate | date: 'dd/MM/yyyy'}} - {{element.endDate |
                  date: 'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="limit">
                <th mat-header-cell *matHeaderCellDef matSortDisableClear><span>Số lượng</span></th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="element.type == 0">
                    <span class="text-danger">{{appCommon.formatMoney(element.totalCurentLimit,0,3)}}</span>/<span
                      class="text-success">{{appCommon.formatMoney(element.totalLimit,0,3)}}</span>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>ticket-prepaid.createdUser</span></th>
                <td style="width: 140px;" mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.createdUserObject?.displayName}}</span></div>
                  <div><span class="">{{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="updatedDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span
                    translate>ticket-prepaid.updatedUser</span></th>
                <td style="width: 140px;" mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.updatedUserObject?.displayName}}</span></div>
                  <div><span class="">{{element.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th width="120" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
                <td mat-cell *matCellDef="let element">
                  <button roles-is="24" (click)="openEditDialog(element)" mat-raised-button color="warn"
                    class="m-1 btn-grid">
                    <mat-icon class="icon-sm">edit</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div #paginator_rec>
            <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)"
              [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>