﻿@model TN.Domain.Model.DockModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý dock";
    Layout = null;
}
<form class="ajaxValidateForm usergroup" asp-action="Edit">
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title"><i class="material-icons">edit</i> CẬP NHẬT THÔNG TIN DOCK</h4>
    </div>
    <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        <div class="divmodal">
            <div class="form-group">
                <label class="form-label" asp-for="IMEI"></label> <strong class="text-danger">*</strong> <span asp-validation-for="IMEI"></span>
                <div class="controls">
                    <input type="text" class="form-control input-sm form-control-t" placeholder="Số IMEI" asp-for="IMEI">
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="StationId"></label> <span asp-validation-for="StationId"> <strong class="text-danger">*</strong> </span>
                <select data-live-search="true" asp-for="StationId" asp-items="Model.StationSelectList" class="form-control input-sm form-control-t show-tick">
                    <option value="">Chọn trạm</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label" asp-for="Model"></label> <span asp-validation-for="Model"> <strong class="text-danger">*</strong> </span>
                        <div class="controls">
                            <input type="text" class="form-control input-sm form-control-t" placeholder="Model" asp-for="Model">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label" asp-for="SerialNumber"></label> <span asp-validation-for="SerialNumber"> <strong class="text-danger">*</strong> </span>
                        <div class="controls">
                            <input type="text" class="form-control input-sm form-control-t" placeholder="Số Serial" asp-for="SerialNumber">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label" asp-for="OrderNumber"></label> <span asp-validation-for="OrderNumber"></span>
                        <div class="controls">
                            <input type="number" class="form-control input-sm form-control-t" placeholder="Số thứ tự trong trạm" asp-for="OrderNumber">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Status"></label>
                <div class="controls">
                    <ul class="list-unstyled">
                        <li>
                            <input type="radio" class="with-gap radio-col-green" id="radio_1" asp-for="Status" value="@TN.Domain.Model.Dock.EStatus.Active">
                            <label for="radio_1">Sử dụng</label>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input type="radio" class="with-gap radio-col-orange" id="radio_0" asp-for="Status" value="@TN.Domain.Model.Dock.EStatus.Inactive">
                            <label for="radio_0">Không sử dụng</label>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input type="radio" class="with-gap radio-col-red" id="radio_2" asp-for="Status" value="@TN.Domain.Model.Dock.EStatus.Error">
                            <label for="radio_2">Lỗi</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a class="close" data-dismiss="modal" style="display:none;"></a>
        <a class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Đóng</span></a>
        <a data-checked data-role-22 data-action="@Url.Action("Delete",new { id = Model.Id})" data-returnurl="@TN.Extensions.Functions.FormatReturnUrl(Context.Request.Query["returnurl"], Url.Action("Index"))" class="btn btn-icon btn-danger waves-effect btndelete"><i class="material-icons">delete_forever</i> <span>Xóa</span></a>
        <a data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" class="btn btn-icon bg-indigo waves-effect ajaxSubmit"><i class="material-icons">save</i> <span>Lưu thay đổi</span></a>
    </div>
</form>

<script>
    initAjaxSubmit(function (rs) {
        alertify.notify(rs.message, rs.type, 5);
        if (rs.output == 1) {
            $(".close").click();
            reGetDataGrid();
        }
    });
    initAjaxDelete();
</script>

