﻿@model TN.Domain.Model.BaseSearchModel<List<TN.Domain.Model.Dock>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    int i = 1;
}
@if (Model.TotalRows == 0)
{
    <tr>
        <td colspan="999">Không tìm thấy bản ghi nào</td>
    </tr>
}
@foreach (var item in Model.Data)
{
    <tr>
        <td class="text-center trcheck"><input type="checkbox" id="item_@i" class="filled-in chk-col-indigo" /><label for="item_@i"></label></td>
        <td class="text-primary text-name">@item.IMEI</td>
        <td>@item.Model</td>


        <td>@item.SerialNumber</td>
        <td>@item.Station?.Name</td>
        <td>@item.OrderNumber</td>
        <td>
            @if (item.BikeAlarm == false)
            {
                <span class="badge bg-green">Có xe</span>
            }
            else
            {
                <span class="badge bg-red">Không có xe</span>
            }
        </td>
        <td>
            @if (item.LockStatus == false)
            {
                <i title="Đang mở" class="material-icons col-green">lock_open</i>
            }
            else
            {
                <i title="Đang khóa" class="material-icons col-red">lock_outline</i>
            }
        </td>
        <td>
            @if (item.Status == TN.Domain.Model.Dock.EStatus.Active)
            {
                <span class="badge bg-green">Sử dụng</span>
            }
            @if (item.Status == TN.Domain.Model.Dock.EStatus.Error)
            {
                <span class="badge bg-red">Lỗi</span>
            }
            @if (item.Status == TN.Domain.Model.Dock.EStatus.Inactive)
            {
                <span class="badge bg-grey">Không sử dụng</span>
            }
        </td>
        <td>
            <div class="btn-group">
                <div class="btn-group btn- group-sm" role="group">
                    <a data-namemodal="#myModal" data-checked data-role-21 asp-action="Edit" asp-route-id="@item.Id" title="Chỉnh sửa" class="btn bg-indigo waves-effect btnPopup btncontrolgrid"><i class="material-icons iconcontrol">edit</i></a>
                </div>
            </div>
        </td>
    </tr>
    i++;
}
<script>
    initPopup();
    bindPagination("#bindPagination", "getDataGrid", @Model.Page, @Model.TotalRows, @Model.Limit);
    bindNumRow("#showNumRow", @Model.Page, @Model.TotalRows, @Model.Limit);
</script>