<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>supplies.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>supplies.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>supplies.type</mat-label>
                        <mat-select required formControlName="type" [(value)]="data.type" placeholder="Chọn loại vật tư">
                            <mat-option [value]="0"><span translate>supplies.type-0</span></mat-option>
                            <mat-option [value]="1"><span translate>supplies.type-1</span></mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.type.errors?.required" translate>validate.required</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>supplies.code</mat-label>
                        <input required matInput formControlName="code" placeholder="" type="text" maxlength="1000">
                        <mat-error *ngIf="form.controls.code.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.code.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.code.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>supplies.name</mat-label>
                        <input required matInput formControlName="name" placeholder="" type="text" maxlength="1000">
                        <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>supplies.price</mat-label>
                        <input matInput currencyMask [options]="appCommon.moneyInputFormat()" class="money-style" formControlName="price" placeholder="" type="text" maxlength="1000000">
                        <mat-error *ngIf="form.controls.price.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.price.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>supplies.unit</mat-label>
                        <input matInput formControlName="unit" placeholder="Cái, Chiếc, Đôi, Cặp, Bộ..." type="text" maxlength="200">
                        <mat-error *ngIf="form.controls.unit.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.unit.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.unit.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                        <mat-error *ngIf="form.controls.unit.hasError('pattern')">Không đúng định dạng</mat-error>
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>supplies.descriptions</mat-label>
                        <textarea matInput formControlName="descriptions" rows="5" placeholder="" maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.descriptions.errors?.required" translate>validate.required
                        </mat-error>
                        <mat-error *ngIf="form.controls.descriptions.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.descriptions.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button roles-is="173" *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button roles-is="172" type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>