<div style="margin-bottom: 10px;font-weight: 500;text-align: right;">Tổng số lượng vật tư: <span class="text-danger">{{appCommon.fMoney(outData)}}</span></div>

<div class="tParentLoading">
  <div *ngIf="isProcess.listDataTable" class="tloading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
      <div class="loader">Loading...</div>
    </div>
  </div>
  <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
    <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
        <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
          {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
      </ng-container>
 
      <ng-container matColumnDef="bikeId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>maintenance-repair-item.bikeId</span></th>
        <td mat-cell *matCellDef="let element"> <span class="text-name">{{element.bike?.plate}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>maintenance-repair-item.type</span></th>
        <td mat-cell *matCellDef="let element"> <span translate>maintenance-repair-item.type-{{element.type}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="descriptions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>maintenance-repair-item.descriptions</span></th>
        <td mat-cell *matCellDef="let element"> {{element.descriptions}} </td>
      </ng-container>

      <ng-container matColumnDef="completeDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>maintenance-repair-item.completeDate</span></th>
        <td mat-cell *matCellDef="let element"> {{element.completeDate | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="suppliesId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>maintenance-repair-item.suppliesId</span></th>
        <td mat-cell *matCellDef="let element"> 
          <div *ngIf="element.suppliesId > 0">
            <strong>{{element.supplies?.code}}</strong> - <span translate>supplies.type-{{element.supplies?.type}}</span> - <span class="text-name">{{element.supplies?.name}} </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="suppliesQuantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>maintenance-repair-item.suppliesQuantity</span></th>
        <td mat-cell *matCellDef="let element"> {{element.suppliesQuantity}} </td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th width="110" mat-header-cell *matHeaderCellDef>
          <button (click)="search()" mat-raised-button class="m-1 btn-grid">
            <mat-icon class="icon-sm icon-btn">refresh</mat-icon>
          </button>
          <button  roles-is="185" *ngIf="isEditer" (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-1 btn-grid">
            <mat-icon class="icon-sm icon-btn">add</mat-icon>
          </button>
        </th>

        <td mat-cell *matCellDef="let element">
          <button  roles-is="185" (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
            <mat-icon *ngIf="isEditer" class="icon-sm">edit</mat-icon>
            <mat-icon *ngIf="!isEditer" class="icon-sm">search</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div #paginator_rec>
    <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>