<h1 mat-dialog-title><span translate>Cập nhật giao dịch thủ công</span></h1>
<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" class="user-form" role="form" role="form">

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>wallet-transaction.transactionCode</mat-label>
                        <input matInput formControlName="transactionCode" placeholder="Mã giao dịch chuyển khoản nếu có" type="text" maxlength="50">
                        <mat-error *ngIf="form.controls.transactionCode.hasError('maxlength')" translate [translateParams]="{n: '50'}">validate.maxlength</mat-error>
                    </mat-form-field>

                    <app-file-upload-attached [viewPath] = "walletTransactionsService.viewPath()" [params] ="{ isPrivate: true }" [accept]="categoryData.imagesType" (outData) = "getOutPut($event)" [multiple] = "true" [apiUpload]="walletTransactionsService.uploadPath()" [curentFiles] ="uploadFileOut"></app-file-upload-attached>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label translate>wallet-transaction.adminNote</mat-label>
                        <textarea rows="10" required matInput formControlName="adminNote" placeholder="Ghi chú thông tin bắt buộc" type="text" maxlength="1000"></textarea>
                        <mat-error *ngIf="form.controls.adminNote.errors?.required" translate>validate.required</mat-error>
                        <mat-error *ngIf="form.controls.adminNote.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                        <mat-error *ngIf="form.controls.adminNote.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                    </mat-form-field>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>