<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>campaign.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>campaign.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">
        <mat-tab-group [selectedIndex]="data.tabIndex" (selectedTabChange)="matTabGroupChange($event,chose,deposit,log,discount)">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">info</mat-icon> <span class="label-tab">Thông tin chung</span>
                </ng-template>
                <div style="height: 15px;"></div>
                <div class="row">
                    <div class="col-md-12">
                        <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>campaign.name</mat-label>
                                <input required matInput formControlName="name" placeholder="" type="text" maxlength="200">
                                <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.name.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>

                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>campaign.projectId</mat-label>
                                <mat-select required formControlName="projectId" [(value)]="data.projectId" placeholder="Tất cả khách hàng trong hệ thống">
                                    <mat-option [value]="0">Tất cả khách hàng trong hệ thống</mat-option>
                                    <mat-option *ngFor="let item of categoryData.projects; index as i;" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.projectId.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field floatLabel="always" appearance="outline">
                                        <mat-label translate>campaign.type</mat-label>
                                        <mat-select required formControlName="type" [(value)]="data.type">
                                            <mat-option [value]="0"><span translate>campaign.type-0</span></mat-option>
                                            <mat-option [value]="1"><span translate>campaign.type-1</span></mat-option>
                                            <mat-option [value]="2"><span translate>campaign.type-2</span></mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field floatLabel="always" appearance="outline">
                                        <mat-label translate>campaign.startDate</mat-label>
                                        <input required matInput formControlName="startDate" [matDatepicker]="pickerStartDate">
                                        <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerStartDate></mat-datepicker>
                                        <mat-error *ngIf="form.controls.startDate.errors?.required" translate>validate.required</mat-error>
                                    </mat-form-field>
                                </div>
        
                                <div class="col-md-4">
                                    <mat-form-field floatLabel="always" appearance="outline">
                                        <mat-label translate>campaign.endDate</mat-label>
                                        <input required matInput formControlName="endDate" [matDatepicker]="pickerEndDate">
                                        <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerEndDate></mat-datepicker>
                                        <mat-error *ngIf="form.controls.endDate.errors?.required" translate>validate.required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>campaign.description</mat-label>
                                <textarea matInput formControlName="description" rows="10" maxlength="4000"></textarea>
                                <mat-error *ngIf="form.controls.description.hasError('maxlength')" translate [translateParams]="{n: '4000'}">validate.maxlength</mat-error>
                            </mat-form-field>

                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>campaign.status</mat-label>
                                <mat-select formControlName="status" [(value)]="data.status">
                                    <mat-option [value]="1">Sử dụng</mat-option>
                                    <mat-option [value]="0">Không sử dụng</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </div>
                </div>
            </mat-tab>

            <mat-tab [disabled]="data.id == 0">
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">filter_none</mat-icon> 
                    <span *ngIf ="data.type == 0 || data.type == null" class="label-tab">Danh sách mã khuyến mại</span>
                    <span *ngIf ="data.type == 1" class="label-tab">Danh sách sự kiện nạp</span>
                    <span *ngIf ="data.type == 2" class="label-tab">Danh sách mã giảm giá</span>
                </ng-template>
                <div style="height: 15px;"></div>
                <div [class.hide] ="data.type != 0">
                    <app-voucher-codes #chose [campaign]="data"></app-voucher-codes>
                </div>
                <div [class.hide] ="data.type != 1">
                    <app-deposit-events #deposit [campaign]="data"></app-deposit-events>
                </div>
                <div [class.hide] ="data.type != 2">
                    <app-discount-codes #discount [campaign]="data"></app-discount-codes>
                </div>
            </mat-tab>

            <mat-tab [disabled]="data.id == 0">
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">event</mat-icon>
                    <span> Lịch sử cập nhật</span>
                </ng-template>
                <div style="height: 15px;"></div>
                <div id="fix_detail"></div>
                <div [style.height.px]="[heightScroll]" style="overflow:auto; overflow-x:hidden;">
                    <div>
                        <app-campaigns-log #log [campaign]="data"></app-campaigns-log>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div class="dialog-footer">
    <button roles-is="25" *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button roles-is="24" type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>