<div class="header-t">
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p-15">
      <div class="breadcrumb_title" translate>export-bill.title</div>
      <ol class="breadcrumb">
        <li><a routerLink="/" translate>base.home</a></li>
        <li class="active" translate>export-bill.title-l</li>
      </ol>
    </div>
  </div>
</div>

<div class="can-page">
  <div fxLayout="column">
    <div class="flex-p-15 fix-page">
      <div class="box-sh">

        <div class="form-search" fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap">

          <div fxFlex="40" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>export-bill.status</mat-label>
              <mat-select [(ngModel)]="params.status" [(value)]="params.status" placeholder="Tất cả">
                <mat-option value=""><span translate>base.all</span></mat-option>
                <mat-option value="0"><span translate>export-bill.status-0</span></mat-option>
                <mat-option value="1"><span translate>export-bill.status-1</span></mat-option>
                <mat-option value="2"><span translate>export-bill.status-2</span></mat-option>
                <mat-option value="3"><span translate>export-bill.status-3</span></mat-option>
                <mat-option value="4"><span translate>export-bill.status-4</span></mat-option>
                <mat-option value="6"><span translate>export-bill.status-6</span></mat-option>
                <mat-option value="7"><span translate>export-bill.status-7</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>export-bill.completeStatus</mat-label>
              <mat-select [(ngModel)]="params.completeStatus" [(value)]="params.completeStatus" placeholder="Tất cả">
                <mat-option value=""><span translate>base.all</span></mat-option>
                <mat-option value="0"><span translate>export-bill.completeStatus-0</span></mat-option>
                <mat-option value="1"><span translate>export-bill.completeStatus-1</span></mat-option>
                <mat-option value="2"><span translate>export-bill.completeStatus-2</span></mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Ngày lập phiếu từ</mat-label>
              <input [(ngModel)]="params.start" matInput [matDatepicker]="pickerFrom">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>Ngày lập phiếu đến</mat-label>
              <input [(ngModel)]="params.end" matInput [matDatepicker]="pickerTo">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>export-bill.warehouseId</mat-label>
              <mat-select [(ngModel)]="params.warehouseId" [(value)]="params.warehouseId" placeholder="Tất cả">
                <mat-option value=""><span translate>base.all</span></mat-option>
                <mat-option *ngFor="let item of warehousesT; index as i" [value]="item.id.toString()">{{ item.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>export-bill.toWarehouseId</mat-label>
              <mat-select [(ngModel)]="params.toWarehouseId" [(value)]="params.toWarehouseId" placeholder="Tất cả">
                <mat-option value=""><span translate>base.all</span></mat-option>
                <mat-option *ngFor="let item of warehousesDF; index as i" [value]="item.id.toString()">{{ item.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="50" fxLayoutAlign="start center" class="p-search">
            <mat-form-field floatLabel="always" appearance="outline" class="m-5px">
              <mat-label translate>base.searchKey</mat-label>
              <input matInput [(ngModel)]="params.key" (keyup.enter)="search()" autocomplete="off" placeholder="Từ khóa mã phiếu" type="text">
            </mat-form-field>
          </div>

          <div fxFlex="10" fxFlex.sm="100" fxLayoutAlign="start center" class="p-search">
            <button mat-raised-button color="primary" (click)="search()" class="m-5px">
              <mat-icon class="icon-sm icon-btn">search</mat-icon>
            </button>
            <button *ngIf="accountInfo.roleType == 6" roles-is="182" (click)="openEditDialog(null)" mat-raised-button color="blue" class="m-5px">
              <mat-icon class="icon-sm icon-btn">add</mat-icon>
            </button>
          </div>
        </div>

        <div class="tParentLoading">
          <div *ngIf="isProcess.listDataTable" class="tloading">
            <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner ">
              <div class="loader">Loading...</div>
            </div>
          </div>
          <div #fix_scroll_table_rec class="scroll-table" [style.height.px]="[heightTable]" style="overflow: auto;">
            <table mat-table matSort class="mat-table-style table-striped" [dataSource]="listData" (matSortChange)="handleSortData($event)">

              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef width="50" style="text-align:center;"><span translate>base.order</span></th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                  {{((paginator.pageIndex) * paginator.pageSize) + i + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>export-bill.code</span></th>
                <td mat-cell *matCellDef="let element">
                  <strong class="text-danger">{{element.code}}</strong>
                </td>
              </ng-container>

              <ng-container matColumnDef="dateBill">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>export-bill.dateBill</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-name">{{element.dateBill | date: 'dd/MM/yyyy'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>export-bill.total</span></th>
                <td mat-cell *matCellDef="let element">
                  <strong class="text-danger">{{appCommon.formatMoney(element.total,0,3)}}</strong>
                </td>
              </ng-container>

              <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>export-bill.count</span></th>
                <td mat-cell *matCellDef="let element">
                  <strong class="text-danger">{{appCommon.formatMoney(element.count,0,3)}}</strong>
                </td>
              </ng-container>

              <ng-container matColumnDef="warehouseId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>export-bill.warehouseId</span></th>
                <td mat-cell *matCellDef="let element">
                  {{ appCommon.getObj(categoryData.warehouses, element.warehouseId)}}
                </td>
              </ng-container>

              <ng-container matColumnDef="toWarehouseId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>export-bill.toWarehouseId</span></th>
                <td mat-cell *matCellDef="let element">
                  {{ appCommon.getObj(categoryData.warehouses, element.toWarehouseId)}}
                </td>
              </ng-container>

              <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef><span translate>export-bill.note</span></th>
                <td mat-cell *matCellDef="let element"> {{element.note}} </td>
              </ng-container>

              <ng-container matColumnDef="files">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>export-bill.files</span></th>
                <td mat-cell *matCellDef="let element"> {{element.files}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>export-bill.status</span></th>
                <td mat-cell *matCellDef="let element">
                  <span class="text-danger" *ngIf="element.status == 0" translate>export-bill.status-0</span>
                  <span class="text-warning" *ngIf="element.status == 1" translate>export-bill.status-1</span>
                  <span class="text-info" *ngIf="element.status == 2" translate>export-bill.status-2</span>
                  <span class="text-info" *ngIf="element.status == 3" translate>export-bill.status-3</span>
                  <span class="text-info" *ngIf="element.status == 4" translate>export-bill.status-4</span>
                  <span class="text-info" *ngIf="element.status == 6" translate>export-bill.status-6</span>
                  <span class="text-success" *ngIf="element.status == 7" translate>export-bill.status-7</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="completeStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>export-bill.completeStatus</span></th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="element.status == 7">
                    <span class="text-info" *ngIf="element.completeStatus == 0" translate>export-bill.completeStatus-0</span>
                    <span class="text-success" *ngIf="element.completeStatus == 1" translate>export-bill.completeStatus-1</span>
                    <span class="text-warning" *ngIf="element.completeStatus == 2" translate>export-bill.completeStatus-2</span>
                    <span class="text-danger" *ngIf="element.completeStatus == 3" translate>export-bill.completeStatus-3</span>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th width="180" mat-header-cell *matHeaderCellDef mat-sort-header matSortDisableClear><span translate>export-bill.createdUser</span></th>
                <td mat-cell *matCellDef="let element">
                  <div><span class="text-500">{{element.createdUserObject?.displayName}}</span></div>
                  <div><span class="">{{element.createdDate | date: 'dd/MM/yyyy HH:mm'}}</span> </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th width="90" mat-header-cell *matHeaderCellDef><span translate>base.action</span></th>
                <td mat-cell *matCellDef="let element">

                  <button *ngIf="initEditer(element)" (click)="openEditDialog(element)" mat-raised-button color="warn" class="m-1 btn-grid">
                    <mat-icon class="icon-sm">edit</mat-icon>
                  </button>

                  <button *ngIf="!initEditer(element)" (click)="openEditDialog(element)" mat-raised-button color="green" class="m-1 btn-grid">
                    <mat-icon class="icon-sm">search</mat-icon>
                  </button>

                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div #paginator_rec>
            <mat-paginator class="paginator-table" (page)="pageEvent = handlePage($event)" [pageSizeOptions]="[20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [class.hidden-loading]="!isProcess.dialogOpen" class="dialog-loading">
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <div class="loader">Loading...</div>
  </div>
</div>