<h1 *ngIf="data.id == null" mat-dialog-title><span translate>role-controller.modal-create</span></h1>
<h1 *ngIf="data.id != null" mat-dialog-title><span translate>role-controller.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>

<div mat-dialog-content>
    <div class="body-modal">
        <mat-tab-group [selectedIndex]="data.tabIndex" (selectedTabChange)="matTabGroupChange($event, roleAcction)">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">info</mat-icon> <span class="label-tab">Thông tin chung</span>
                </ng-template>
                <div style="height: 20px;"></div>
                <div class="row">
                    <div class="col-md-12">
                        <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>role-controller.groupId</mat-label>
                                <mat-select required formControlName="groupId" [(value)]="data.groupId" placeholder="Chọn">
                                    <mat-option *ngFor="let item of categoryData.roleGroups; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.groupId.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
        
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>role-controller.areaId</mat-label>
                                <mat-select required formControlName="areaId" [(value)]="data.areaId" placeholder="Chọn">
                                    <mat-option *ngFor="let item of categoryData.roleAres; index as i;" [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.areaId.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
        
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>role-controller.id</mat-label>
                                <input required matInput formControlName="id" placeholder="" type="text" maxlength="1000">
                                <mat-error *ngIf="form.controls.id.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.id.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.id.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>
        
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>role-controller.name</mat-label>
                                <input required matInput formControlName="name" placeholder="" type="text" maxlength="100">
                                <mat-error *ngIf="form.controls.name.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.name.hasError('minlength')" translate [translateParams]="{n: '1'}">validate.minlength</mat-error>
                                <mat-error *ngIf="form.controls.name.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
                            </mat-form-field>

                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>role-controller.icon</mat-label>
                                <input  matInput formControlName="icon" placeholder="" type="text" maxlength="100">
                            </mat-form-field>

                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>role-controller.routerLink</mat-label>
                                <input matInput formControlName="routerLink" placeholder="" type="text" maxlength="1000">
                            </mat-form-field>

                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>role-controller.href</mat-label>
                                <input  matInput formControlName="href" placeholder="" type="text" maxlength="1000">
                            </mat-form-field>
        
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>role-controller.order</mat-label>
                                <input matInput formControlName="order" placeholder="#" type="number" min="0" max="1">
                                <mat-error *ngIf="form.controls.order.errors?.required" translate>validate.required</mat-error>
                            </mat-form-field>
        
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label translate>role-controller.description</mat-label>
                                <textarea rows="5" matInput formControlName="description" placeholder="" maxlength="1000"></textarea>
                                <mat-error *ngIf="form.controls.description.errors?.required" translate>validate.required</mat-error>
                                <mat-error *ngIf="form.controls.description.hasError('maxlength')" translate [translateParams]="{n: '1000'}">validate.maxlength</mat-error>
                            </mat-form-field>
        
                            <div class="can-checkbox-form">
                                <mat-checkbox matInput formControlName="isShow" [value]="data.isShow"> <span translate>role-controller.isShow-label</span></mat-checkbox>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-tab>

            <mat-tab [disabled] ="data == null || data.id == 0">
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">info</mat-icon> <span class="label-tab">Danh sách hành động</span>
                </ng-template>
                <div style="height: 20px;"></div>
                <app-role-actions #roleAcction [roleController] = "data"></app-role-actions>
            </mat-tab>
        </mat-tab-group>
        
    </div>
</div>
<div class="dialog-footer">
    <button *ngIf="data.groupId > 0" type="button" (click)="delete()" mat-raised-button color="warn" class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1" [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <div class="loader">Loading...</div>
    </div>
</div>