﻿@model TN.Domain.Model.RoleManagerModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý nhóm quyền truy cập";
    Layout = null;
}
<form class="ajaxValidateForm usergroup" asp-action="Create">
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title" id="largeModalLabel"><i class="material-icons">group_add</i> THÊM MỚI NHÓM QUYỀN</h4>
    </div>
    <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        <div class="divmodal">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control input-sm form-control-t" placeholder="Từ 1 đến 100 ký tự">
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea type="text" rows="3" asp-for="Description" class="form-control input-sm form-control-t" placeholder="Từ 0 đến 1000 ký tự"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a class="close" data-dismiss="modal" style="display:none;"></a>
        <a class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Đóng</span></a>
        <a data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" class="btn btn-icon bg-indigo waves-effect ajaxSubmit"><i class="material-icons">save</i> <span>Lưu thay đổi</span></a>
    </div>
</form>
<script>
    initAjaxSubmit();
</script>