﻿@model TN.Domain.Model.RoleManagerModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý nhóm quyền truy cập";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<form class="ajaxValidateForm usergroup" asp-action="Edit">
    @Html.AntiForgeryToken()
    <div class="block-header">
        <h2><i class="material-icons">group</i> Nhóm quyền tài khoản <span class="label label-primary label-t">Cập nhật</span></h2>
        <ol class="breadcrumb breadcrumb-t">
            <li>
                <a href="/Admin">
                    <i class="material-icons">home</i> Trang điều khiển
                </a>
            </li>
            <li>
                <a href="@TN.Extensions.Functions.FormatReturnUrl(Context.Request.Query["returnurl"], Url.Action("Index"))">
                    Danh sách nhóm quyền
                </a>
            </li>
        </ol>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card card-t">
                <div class="header bg-indigo">
                    <h4 class="num-t m-l-20  fb tt">
                        Thông tin chung
                    </h4>
                    <ul class="header-dropdown m-r--5 header-dropdown-t">
                        <li class="dropdown">
                            <a href="javascript:void(0);">
                                <i class="material-icons">edit</i>
                            </a>
                        </li>
                    </ul>
                    <ul class="header-dropdown m-r--5 header-dropdown-t2">
                        <li class="dropdown">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1">
                                <i class="material-icons">import_export</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="in" id="collapse1">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input type="text" asp-for="Name" class="form-control input-sm form-control-t" placeholder="Từ 1 đến 100 ký tự">
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <textarea type="text" rows="3" asp-for="Description" class="form-control input-sm form-control-t" placeholder="Từ 0 đến 1000 ký tự"></textarea>
                            <span asp-validation-for="Description"></span>
                        </div>
                    </div>
                </div>
                <div class="header bg-red">
                    <h4 class="num-t m-l-20  fb tt">
                        Cấu hình quyền trong nhóm
                    </h4>
                    <ul class="header-dropdown m-r--5 header-dropdown-t">
                        <li class="dropdown">
                            <a href="javascript:void(0);">
                                <i class="material-icons">settings</i>
                            </a>
                        </li>
                    </ul>
                    <ul class="header-dropdown m-r--5 header-dropdown-t2">
                        <li class="dropdown">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse2">
                                <i class="material-icons">import_export</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="in" id="collapse2">
                        <div id="using_json_2" class="demo">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divbutton" style="width: 1286px;">
            <a href="@TN.Extensions.Functions.FormatReturnUrl(Context.Request.Query["returnurl"], Url.Action("Index"))" class="btn btn-icon btn-p-t btn-default waves-effect"><i class="material-icons">reply</i><span>Quay lại</span></a>
            <button data-returnurl="@TN.Extensions.Functions.FormatReturnUrl(Context.Request.Query["returnurl"], Url.Action("Index"))" data-action="@Url.Action("Delete",new { id = Model.Id})" data-checked data-role-2 data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Xóa</span>" type="button" class="btn btn-icon  btn-p-t  btn-danger waves-effect btndelete"><i class="material-icons">delete_forever</i> <span>Xóa</span></button>
            <button data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" type="button" class="btn  btn-p-t  btn-icon bg-indigo waves-effect ajaxSubmit"><i class="material-icons">save</i> <span>Lưu thay đổi</span></button>
        </div>
    </div>
    <div class="canmotkhoang">
    </div>
    <input type="hidden" name="ids" id="ids" />
    <input type="hidden" name="isChange" id="isChange" value="false" />
</form>
<style>
    .jstree-anchor
    {
        background:none !important;
    }
    .jstree-container-ul > li > a {
        color: #f44337 !important;
    }
        .jstree-container-ul > li > ul > li > a {
            color: #3f50b5 !important;
            text-transform:uppercase;
        }
</style>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/Content/Admin/plugins/jstree/jstree.min.js"></script>
    <link href="~/Content/Admin/plugins/jstree/themes/default/style.css" rel="stylesheet" />
    <link href="~/Content/Admin/plugins/jstree/themes/default-dark/style.css" rel="stylesheet" />
    <script>
        var num = 0;
        var data = @Html.Raw(Model.TreeData);
        initAjaxDelete();
        initAjaxSubmit(function (rs, $this) {
            this.num = 0;
            alertify.notify(rs.message, rs.type, 5);
            setTimeout(function () {
                $this.button('reset');
            }, 500);
        });
        $('#using_json_2').jstree({
            'check_callback': true,
            'core': {
                'data': data,
                "themes": {
                    "dots": true,
                    "icons": true
                }
            },
            "plugins": ["checkbox","changed"]
        }).on("changed.jstree", function (e, data) {
            $("#ids").val(data.selected.toString());
            });
    </script>
}
