﻿@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, TN.UI
@{
    ViewData["Title"] = "Quản lý nhóm quyền truy cập";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<form>
    <div class="block-header">
        <h2><i class="material-icons">group</i> Nhóm quyền tài khoản <span class="label label-danger label-t">Danh sách</span></h2>
        <ol class="breadcrumb breadcrumb-t">
            <li>
                <a href="/Admin">
                    <i class="material-icons">home</i> Trang điều khiển
                </a>
            </li>
            <li class="active">
                Danh sách nhóm quyền
            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" name="key" class="form-control inputsearch" placeholder="Tìm kiếm theo tên...">
                <span class="input-group-addon btn-group-addon">
                    <button onclick="getDataGrid(1)" type="button" class="btn bg-indigo waves-effect btn-search"><i class="material-icons">search</i></button>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <a data-namemodal="#myModal" data-checked data-role-2 asp-action="Create" class="btn btn-icon btn-primary btnPopup waves-effect"><i class="material-icons">group_add</i> <span>Thêm nhóm quyền</span></a>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card card-t card-loading">
                <div class="header bg-indigo">
                    <h4 class="num-t m-l-20" id="showNumRow">
                        Đang tải...
                    </h4>
                    <ul class="header-dropdown m-r--5 header-dropdown-t">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">apps</i>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                <li><a href="javascript:void(0);">Thoát</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="controlOrderBy">
                        <div style="width:110px;" class="itemorder selectOrder">
                            <select onchange="getDataGrid(1)" data-header="Loại sắp xếp" name="ordertype" class="form-control input-sm form-control-t show-tick">
                                <option data-icon="glyphicon-sort-by-attributes" value="asc">Tăng dần</option>
                                <option data-icon="glyphicon-sort-by-attributes-alt" value="desc">Giảm dần</option>
                            </select>
                        </div>
                        <div style="width:180px;" class="itemorder selectOrder">
                            <select onchange="getDataGrid(1)" data-header="Xắp xếp theo" name="orderby" class="form-control input-sm form-control-t show-tick">
                                <option data-icon="glyphicon glyphicon-sort" value="name">Xếp theo tên quyền</option>
                                <option data-icon="glyphicon glyphicon-sort" value="createddate">Xếp theo thời gian tạo</option>
                            </select>
                        </div>
                    </div>
                    </div>
                <div class="body body-t">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-t">
                            <thead>
                                <tr>
                                    <th class="trcheck text-center"><input onchange="onCheckAll(this,'.trcheck')" type="checkbox" id="checkAll" class="filled-in chk-col-indigo" /><label for="checkAll"></label></th>
                                    <th>Tên nhóm quyền</th>
                                    <th>Mô tả</th>
                                    <th style="width:100px;" data-checked data-role-3>Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="dataBindGrid" class="contenttbody"></tbody>
                        </table>
                    </div>
                    <div class="pl-20 pr-20">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="input-group m-b-0">
                                    <span class="input-group-addon">
                                        Bản ghi/trang
                                    </span>
                                    <div class="form-line form-line-pagesize">
                                        <select  name="limit" onchange="getDataGrid(1)" class="form-control show-tick">
                                            <option selected value="10">10</option>
                                            <option value="20">20</option>
                                            <option  value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <nav class="pg-t" id="bindPagination">
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        var _page = 1;
        $(function () {
            getDataGrid(1, true);
        });
        function getDataGrid(page, first = false) {
            _page = page;
            var data = {
                page: getQueryString(first, $.queryString.page, page),
                key: getQueryString(first, $.queryString.key, $("input[name='key']").val()),
                limit: getQueryString(first, $.queryString.limit, $("select[name='limit']").val()),
                ordertype: getQueryString(first, $.queryString.ordertype, $("select[name='ordertype']").val()), 
                orderby: getQueryString(first, $.queryString.orderby, $("select[name='orderby']").val()),
            }
            dataGridView(first, page, data, "@Url.Action("Index")", true, function (d) {
                $("input[name='key']").val(d.key);
                $("select[name='limit']").val(data.limit).selectpicker('refresh');
                $("select[name='ordertype']").val(data.limit).selectpicker('refresh');
                $("select[name='orderby']").val(data.limit).selectpicker('refresh');
            });
        }
        function reGetDataGrid() {
            getDataGrid(_page, false);
        }
    </script>
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>