﻿@model TN.Domain.Model.BaseSearchModel<List<TN.Domain.Model.ApplicationRole>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    int i = 1;
}

@if (Model.TotalRows == 0)
{
    <tr>
        <td colspan="999">Không tìm thấy bản ghi nào</td>
    </tr>
}
@foreach (var item in Model.Data)
{
    <tr>
        <td class="text-center trcheck"><input type="checkbox" id="item_@i" class="filled-in chk-col-indigo" /><label for="item_@i"></label></td>
        <td><span class="text-primary text-name">@item.Name</span> </td>
        <td>@item.Description</td>
        <td data-checked data-role-3>
            <div class="btn-group">
                <div class="btn-group btn- group-sm" role="group">
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-returnurl="@Model.ReturnUrl" title="Chỉnh sửa dữ liệu"  class="btn bg-indigo waves-effect btncontrolgrid"><i class="material-icons iconcontrol">edit</i></a>
                </div>
            </div>
        </td>
    </tr>
    i++;
}
<script>
    initPopup();
    bindPagination("#bindPagination", "getDataGrid", @Model.Page, @Model.TotalRows, @Model.Limit);
    bindNumRow("#showNumRow", @Model.Page, @Model.TotalRows, @Model.Limit);
</script>