<h1 *ngIf="data.id == 0" mat-dialog-title><span translate>account-black-list.modal-create</span></h1>
<h1 *ngIf="data.id > 0" mat-dialog-title><span translate>account-black-list.modal-edit</span></h1>

<a (click)="close()" title="close" class="close btnclose-t">
    <span aria-hidden="true">×</span>
</a>
<div mat-dialog-content>
    <div class="body-modal">

	 <div class="row">
            <div class="col-md-12">
			   <form [formGroup]="form" class="user-form" role="form" autocomplete="new-password" role="form">
						<mat-form-field floatLabel="always" appearance="outline">
   <mat-label translate>account-black-list.id</mat-label>
    <input matInput formControlName="id" placeholder="#" type="number" min="0" max="999999">
	<mat-error *ngIf="form.controls.id.errors?.required" translate>validate.required</mat-error>
</mat-form-field>
<mat-form-field floatLabel="always" appearance="outline">
   <mat-label translate>account-black-list.accountId</mat-label>
    <input matInput formControlName="accountId" placeholder="#" type="number" min="0" max="999999">
	<mat-error *ngIf="form.controls.accountId.errors?.required" translate>validate.required</mat-error>
</mat-form-field>
<mat-form-field floatLabel="always" appearance="outline">
   <mat-label translate>account-black-list.type</mat-label>
    <input matInput formControlName="type" placeholder="#" type="number" min="0" max="999999">
	<mat-error *ngIf="form.controls.type.errors?.required" translate>validate.required</mat-error>
</mat-form-field>
<mat-form-field floatLabel="always" appearance="outline">
    <mat-label translate>account-black-list.note</mat-label>
    <input  matInput formControlName="note" placeholder="#" type="text" maxlength="1000">

	<mat-error *ngIf="form.controls.note.errors?.required" translate>validate.required</mat-error>

	<mat-error *ngIf="form.controls.note.hasError('minlength')" translate [translateParams]="{n: '0'}">validate.minlength</mat-error>
	<mat-error *ngIf="form.controls.note.hasError('maxlength')" translate [translateParams]="{n: '200'}">validate.maxlength</mat-error>
</mat-form-field>
<mat-form-field floatLabel="always" appearance="outline">
    <mat-label translate>account-black-list.time</mat-label>
    <input matInput formControlName="time" [matDatepicker]="pickerTime">
    <mat-datepicker-toggle matSuffix [for]="pickerTime"></mat-datepicker-toggle>
    <mat-datepicker #pickerTime></mat-datepicker>
	<mat-error *ngIf="form.controls.time.errors?.required" translate>validate.required</mat-error>
</mat-form-field>
<mat-form-field floatLabel="always" appearance="outline">
   <mat-label translate>account-black-list.createdUser</mat-label>
    <input matInput formControlName="createdUser" placeholder="#" type="number" min="0" max="999999">
	<mat-error *ngIf="form.controls.createdUser.errors?.required" translate>validate.required</mat-error>
</mat-form-field>
<mat-form-field floatLabel="always" appearance="outline">
    <mat-label translate>account-black-list.createdDate</mat-label>
    <input matInput formControlName="createdDate" [matDatepicker]="pickerCreatedDate">
    <mat-datepicker-toggle matSuffix [for]="pickerCreatedDate"></mat-datepicker-toggle>
    <mat-datepicker #pickerCreatedDate></mat-datepicker>
	<mat-error *ngIf="form.controls.createdDate.errors?.required" translate>validate.required</mat-error>
</mat-form-field>
<mat-form-field floatLabel="always" appearance="outline">
   <mat-label translate>account-black-list.updatedUser</mat-label>
    <input matInput formControlName="updatedUser" placeholder="#" type="number" min="0" max="999999">
	<mat-error *ngIf="form.controls.updatedUser.errors?.required" translate>validate.required</mat-error>
</mat-form-field>
<mat-form-field floatLabel="always" appearance="outline">
    <mat-label translate>account-black-list.updatedDate</mat-label>
    <input matInput formControlName="updatedDate" [matDatepicker]="pickerUpdatedDate">
    <mat-datepicker-toggle matSuffix [for]="pickerUpdatedDate"></mat-datepicker-toggle>
    <mat-datepicker #pickerUpdatedDate></mat-datepicker>
	<mat-error *ngIf="form.controls.updatedDate.errors?.required" translate>validate.required</mat-error>
</mat-form-field>
		
			   </form>
			</div>
	 </div>
    </div>
</div>
<div class="dialog-footer">
    <button *ngIf="data.id > 0" type="button" (click)="delete()" mat-raised-button color="warn"
        class="m-1" [disabled]="isProcess.deleteProcess">
        <mat-icon *ngIf="isProcess.deleteProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.deleteProcess" class="icon-sm icon-btn">delete</mat-icon>
        <span translate>button.delete</span>
    </button>
    <button type="button" (click)="save()" mat-raised-button color="primary" class="m-1"
        [disabled]="isProcess.saveProcess||!form.valid">
        <mat-icon *ngIf="isProcess.saveProcess" class="icon-sm mat-icon icon-spin">autorenew</mat-icon>
        <mat-icon *ngIf="!isProcess.saveProcess" class="icon-sm icon-btn">save</mat-icon>
        <span translate>button.save</span>
    </button>
</div>

<div [class.hidden-loading]="!isProcess.initData" class="dialog-loading">
	<div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
		<div class="loader">Loading...</div>
	</div>
</div>